.theme_preview img,
img#theme_credits_preview {
    padding: 5px;
    margin: 10px;
    border: 1px solid #D9E0E6;
}

.theme_preview h4 {
    margin: 10px 0 0 0;
    padding: 0;
}

.marktooltip {
    border-bottom: 1px dashed #aaa;
    cursor: pointer;
    text-decoration: none;
}

div#theme_undefinedblockpositions {
    width: 85%;
}

div#theme_undefinedblockpositions p {
    display: inline;
    padding: 0;
    margin: 0;
}

div#theme_undefinedblockpositions ul {
    display: inline;
    list-style: none;
    padding: 0;
    margin: 0;
}

div#theme_undefinedblockpositions ul li {
    display: inline;
    padding: 0;
    margin: 0;
}

div#theme_undefinedblockpositions ul li:after {
    content: ", ";
}

div#theme_undefinedblockpositions ul li.last:after {
    content: ". ";
}

/* styles for the navigation filter on main page */
div#mthemes-alphafilter {
    font-size: xx-small;
}

img.theme_colorpicker_image {
    margin-left: 5px;
}

.z-indented {
    margin-left: 2.5em;
}

/* Theme list in user frontend */
#themes_list dl.theme_item {
    background: #FFFFFF;
    border-color: #D9E0E6 #C8CDD2 #C8CDD2 #D9E0E6;
    border-style: solid;
    border-width: 1px;
    float: left;
    margin: 1%;
    padding: 4px;
    text-align: center;
    min-width: 208px;
    width: 30%;
    overflow: hidden;
    color: #333;
}

#themes_list dl.theme_item a {
    color: #333;
}

#themes_list dl.theme_item:hover {
    border: 1px solid #aaa;
}

#themes_list dl.theme_item dt {
    font-size: 1.2em;
    padding: 0;
    margin: 0.5em 0;
}

#themes_list dl.theme_item dd {
    padding: 0;
    margin: 0;
}

.colorpicker {
    cursor: pointer;
}
