{% set policyUrl = getModVar(constant('Zikula\\LegalBundle\\Constant::MODNAME'), constant('Zikula\\LegalBundle\\Constant::MODVAR_ACCESSIBILITY_URL')) %}
{% if policyUrl == '' %}
    {% set policyUrl = path('zikulalegalbundle_user_accessibilitystatement') %}
{% endif %}
<a class="legal_inlinelink_accessibilitystatement" href="{{ policyUrl|e('html_attr') }}" target="{{ target|e('html_attr') }}">{% trans %}Accessibility statement{% endtrans %}</a>
