{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Create Group</h1>

    {% include 'AcmeAddressBookModule:Default:flash.html.twig' with {'scope': 'groups'} %}

    {% form_theme form 'AcmeAddressBookModule:Form:zikula-theme.html.twig' %}
    {{ form(form, { 'form_type': 'horizontal' }) }}

    <ul class="inline">
        <li><a href="{{ path('contacts') }}" class="btn"><i class="icon-list"></i> Back to the list</a></li>
    </ul>
{% endblock %}
