html {
    background: #eaeaea; /*non-CSS3 browsers*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#eaeaea'); /*IE*/
    background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#eaeaea) ) fixed; /*webkit*/
    background: -moz-linear-gradient(center top , #FAFAFA, #eaeaea) no-repeat scroll 0 0 #eaeaea; /*gecko*/
    background: linear-gradient(center top , #FAFAFA, #eaeaea) no-repeat scroll 0 0 #eaeaea; /*CSS3*/
    height: 100%;
}

body {
    font-family: Verdana, Arial, Helvetica, Sans-serif;
    font-size: 12px;
    line-height: 1.6em;
    color: #444;
    margin: 0;
    padding: 0;
}

#container {
    margin: 0 auto;
    width: 65%;
    min-width: 840px;
}

#content {
    background: #fafafa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, .5);
    -moz-box-shadow: 4px 4px 20px rgba(0, 0, 0, .5);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, .5);
    margin: 3% 1% 0;
    padding: 1% 0;
    border: 1px solid #42403E\9; /* IE6/7/8 */
}

a {
    color: #0092D0;
    border: none;
}

a:hover {
    text-decoration: none;
}

img {
    border: none;
}

#header h1 {
    background: url("../../images/logo_with_title.gif") no-repeat scroll 50% 50% transparent;
    font-size: 24px;
    line-height: 100px;
    height: 100px;
    margin: 0.5em 0;
    padding: 0;
    text-indent: -9000px;
}

#header h2 {
    color: #333333;
    font-size: 24px;
    letter-spacing: 3px;
    margin: 0.5em 0 1em;
    padding: 0;
    text-shadow: 1px 1px 1px rgba(128, 128, 128, 0.5);
    text-transform: uppercase;
}

#header {
    text-align: center;
}

#header a {
    text-decoration: none;
}

#header a:hover {
    text-decoration: underline;
}

#header p {
    margin: 1em 0;
}

#footer {
    text-align: center;
}

#footer ul {
    list-style: none;
    margin: 2% 1%;
    padding: 0;
}

#footer ul li {
    display: inline;
    padding: 0;
    margin: 5px;
}

#notice {
    color: #222;
    background:#E6E6FF;
    border:1px solid #999999;
    font-size:0.9em;
    margin: 2% 1%;
    padding:5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

#maincontent {
    margin: 1em auto;
    width: 80%;
}

#maincontent h2 {
    color: #444444;
    font-size: 18px;
    font-weight: bold;
    margin: 0.5em 0;
    padding: 5px 0;
    text-align: center;
}

.fa fa-ok-ok {
    background: url("../images/ok.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 18px;
}
.fa fa-nok-nok {
    background: url("../images/nok.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 18px;
}

ul#upgradelist,
ul.systemrequirements {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

ul#upgradelist li,
ul.systemrequirements li {
  background-position: left 2px;
  background-repeat: no-repeat;
  margin: 0.5em 0;
  padding-left: 25px;
}

ul#upgradelist li.passed,
ul.systemrequirements li.passed {
    background-image: url(../../images/icons/extrasmall/button_ok.png);
}

ul#upgradelist li.failed,
ul.systemrequirements li.failed {
    background-image: url(../../images/icons/extrasmall/button_cancel.png);
}

ul#upgradelist li.warning ,
ul.systemrequirements li.warning {
    background-image: url(../../images/icons/extrasmall/info.png);
}

.validationfailed {
    border-color: red;
}

#ZikulaOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #000000 url("../../images/ajax/zktimer_48px_black_rounded.gif") no-repeat scroll center center;
    padding: 0;
    margin: 0;
    border: 0;
    filter:alpha(opacity=60);
    -moz-opacity: 0.60;
    opacity: 0.60;
}

button{
    font-weight:normal;
}

fieldset{
    font-size:1.2em;
    line-height:1.2;
}

.alert-warning{
    font-size:1.4em;
    margin-top:10px;
}

.alert-danger{
    font-size:1.4em;
}

.footer li{
    font-size:1.2em;
}

.installguide{
    font-size:1.6em;
}

.wizard {
    margin-left: -50px;
}

.wizard a {
    color: black;    
}

.wizard li:first-child {
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.wizard .active {
    background: #0092D0;
    color: white;
    font-weight: bold;
}

.wizard .active > a {
    color: white;
}

.wizard li {
    display: inline-block;
    position: relative;
    margin-right: 5px;
    line-height: 18px;
    list-style: none;
    padding: 12px 17px 10px 30px;
    background: #efefef;
    zoom: 1;
}

.wizard li:first-child:before {
    border: 0;
}

.wizard li:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 0;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #FAFAFA;
    border-top: 20px inset transparent;
    content: "";
}

.wizard .active:after {
    border-left-color: #0092D0;
}
.wizard li:after {
    position: absolute;
    right: -20px;
    top: 0;
    height: 0;
    width: 0;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #efefef;
    border-top: 20px inset transparent;
    content: "";
    z-index: 2;
}

.fa fa-ok {
    color: #61B329;
}

.fa fa-remove, .red {
    color:red;
}

.fa fa-circle{
    color: #61B329;
}

@-webkit-keyframes shake {
	0%, 100% {-webkit-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}

@-moz-keyframes shake {
	0%, 100% {-moz-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-moz-transform: translateX(10px);}
}

@-ms-keyframes shake {
	0%, 100% {-ms-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-ms-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-ms-transform: translateX(10px);}
}

@-o-keyframes shake {
	0%, 100% {-o-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-o-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-o-transform: translateX(10px);}
}

@keyframes shake {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.shake {
	-webkit-animation-name: shake;
	-moz-animation-name: shake;
	-ms-animation-name: shake;
	-o-animation-name: shake;
	animation-name: shake;
}

.animate{
	-webkit-animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: shake;
    -webkit-animation-iteration-count: 1;
    
    animation-name: shake;
    animation-duration: 1s;
    animation-iteration-count: 1;

    -o-animation-name: shake;
    -o-animation-duration: 1s;
    -o-animation-iteration-count: 1;

    -moz-animation-name: shake;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: 1;
}