/*******************************************************************************
* Zikula.UI - Tooltips
******************************************************************************/

.z-tooltip {
    background: #ffffcc; /*non-CSS3 browsers*/
    border: solid 1px #cc9933;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    font-size: 0.9em;
    text-align: left;
    padding: 2px 5px;
    margin: 0;
    color: #333;
    font-weight: normal;
    max-width: 40em;
}

/******************************************************************************
* Zikula.UI - Windows and Dialogs
******************************************************************************/

.z-window {
    background-color: transparent;
    -moz-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5);
    padding: 0;
    text-align: left;
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size: 12px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    min-width: 200px;
    min-height: 100px;
    overflow: hidden;
}

.z-window:focus,
.z-window.focus {
    outline: none;
}

.z-window.z-modal {
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid #6A6A6A;
}
.z-window .z-window-body {
    background: #eee;
    padding: 10px;
    margin: -1px 0;
    overflow: auto;
    padding: 15px;
}

.z-window .z-window-body.iframe {
    padding: 0;
    overflow: visible;
}

.z-window .z-window-body.iframe iframe{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%
}

.z-window .z-window-header {
    background: #3F5969; /*non-CSS3 browsers*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7090B0', endColorstr='#3F5969'); /* for IE */
    background: -webkit-gradient(linear,left top, left bottom,from(#7090B0),to(#3F5969)); /*webkit*/
    background: -moz-linear-gradient(center top, #7090B0, #3F5969) repeat scroll 0 0 transparent; /*gecko*/
    background: linear-gradient(#7090B0, #3F5969); /*CSS3*/
    border-bottom: 1px solid #6b808d;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    height: 16px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-shadow:0 -1px 0 rgba(0,0,0,0.7);
}

.z-window .z-window-footer {
    background: #E1E1E1; /*non-CSS3 browsers*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1E1E1', endColorstr='#d0d0d0'); /* for IE */
    background: -webkit-gradient(linear,left top, left bottom,from(#E1E1E1),to(#d0d0d0)); /*webkit*/
    background: -moz-linear-gradient(center top, #E1E1E1, #d0d0d0) repeat scroll 0 0 transparent; /*gecko*/
    background: linear-gradient(#E1E1E1, #d0d0d0); /*CSS3*/
    border-top: 1px solid #BEBEBE;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    text-align: center;
    min-height: 12px;
    padding: 5px;
}

.z-window .z-window-title {
    font-size: 12px;
}

.z-window.z-draggable .z-window-title {
    cursor: move;
}

.z-window .z-window-control {
    display: block;
    position: absolute;
    top: 5px;
    height: 16px;
    width: 16px;
    background-position: 0 0;
    cursor: pointer;
}

.z-window .z-window-control:hover,
.z-window .z-window-control.hover {
    background-position: 80px 0;
}

.z-window .z-window-close {
    right: 10px;
    background-image: url("../../images/ui/window.close.png");
}

.z-window .z-window-maximize {
    right: 30px;
    background-image: url("../../images/ui/window.max.png");
}

.z-window .z-window-minimize {
    right: 50px;
    background-image: url("../../images/ui/window.min.png");
}

.z-window.z-minimized .z-window-minimize,
.z-window.z-maximized .z-window-maximize {
    background-image: url("../../images/ui/window.restore.png");
}

.z-window .resizable_handle {
    display: block;
    position: absolute;
    bottom: 4px;
    right: 5px;
    height: 13px;
    width: 13px;
    background-image: url("../../images/ui/window.resize.png");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    cursor: pointer;
    cursor: nw-resize;
}

.z-window .iframe-overlay,
.z-window .resizable_handle.onresize {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: auto;
    height: auto;
    position: absolute;
    z-index: 1000;
}

.z-window.z-minimized {
    height: auto !important;
    min-height:0 !important;
    position: fixed !important;
    bottom: 0 !important;
    top: auto !important;
}

.z-window.z-maximized {
    position: fixed !important;
    max-height: none !important;
    max-width: none !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: auto !important;
    height: auto !important;
}

.z-window.z-minimized .z-window-header {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position: static;
}

.z-window.z-minimized .z-window-body,
.z-window.z-minimized .z-window-footer,
.z-window.z-minimized .resizable_handle,
.z-window.z-maximized .resizable_handle {
    display: none;
}

.z-window .z-window-header,
.z-window .z-window-footer {
    position: absolute;
    left: 0;
    right: 0;
}

.z-window .z-window-header {
    top: 0;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.z-window .z-window-footer {
    bottom: 0;
}

.z-window .z-window-body {
    top: 26px;
    bottom: 26px;
    left: 0;
    right: 0;
}

.z-window.z-dialog .z-window-body {
    bottom: 35px;
}

.z-window-indicator {
    background: #fff url("../../images/ajax/large_square_white.gif") no-repeat 50% 50%;
    opacity: 0.8;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.z-alert .z-window-header {
    color: #F2503E;
}

.z-confirm .z-window-header {
    color: #EDE54E;
}

#control_overlay {
    background-color: #000;
}

/******************************************************************************
* Zikula.UI - SelectMultiple
******************************************************************************/

.z-select-multiple.z-form {
    padding: 0;
    margin: 0;
}

.z-select-multiple.z-form .z-formrow {
    margin: 2px 0;
    padding: 0;
}

.z-select-multiple.z-form .z-formrow.selected {
    background: #DCDCDC;
}

.z-select-multiple.z-form div.z-formrow label {
    width: 49%;
}

/******************************************************************************
* Zikula.UI - Tabs
******************************************************************************/

.z-tabs {
    background: url("../../images/ui/tab_bottom.png") repeat-x scroll center bottom transparent;
    margin:0 !important;
    padding:0 !important;
    list-style: none;
    width: 100%;
    overflow: hidden;
}

.z-tabs li {
    background-color: #F3F3F3;
    border: 1px solid #ccc;
    float: left;
    margin: 0 5px 0 0 !important;
    padding: 0 !important;
    z-index: 1000;
}

.z-tabs li > a {
    border-right: 1px solid transparent;
    color: #666666;
    float: left;
    font-weight: bold;
    outline: 0; /* remove Firefox border */
    padding: 5px;
    position: relative;
    text-decoration: none;
}

.z-tabs li > a:hover,
.z-tabs li > a.hover {
    background: #e3e3e3 !important;
    color: #000;
    text-decoration: none;
}

.z-tabs li.active {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #fff;
    z-index: 2000;
}

.z-tabs li.active a:hover,
.z-tabs li.active a.hover {
    background-color: #fff !important;
    border-right: 1px solid transparent;
}

.z-tabs-content {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    border-top: none;
    padding: 5px;
}

/******************************************************************************
* Zikula.UI - Accordion, Panels
******************************************************************************/

.z-accordion .z-acc-header,
.z-panels .z-panel-header {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: url("../../images/global/menubg_grey.png") repeat-x scroll 0 0 #dfdfdf; /*non-CSS3 browsers*/
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dfdfdf)); /*webkit*/
    background: -moz-linear-gradient(top, #ffffff, #dfdfdf); /*gecko*/
    background: linear-gradient(#FFFFFF, #dfdfdf); /*CSS3*/
    border: 1px solid #CCCCCC;
    cursor: pointer;
    margin: 0.2em 0 0;
    padding: 0.5em !important;
    display: block;
}

.z-accordion .z-acc-header:hover,
.z-accordion .z-acc-header.hover,
.z-panels .z-panel-header:hover,
.z-panels .z-panel-header.hover {
    background: #cfcfcf; /*non-CSS3 browsers*/
    background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#cfcfcf)); /*webkit*/
    background: -moz-linear-gradient(top, #fafafa, #cfcfcf); /*gecko*/
    background: linear-gradient(#fafafa, #cfcfcf); /*CSS3*/
}

.z-accordion .z-acc-content,
.z-panels .z-panel-content {
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    background: #fafafa;
    border: 1px solid #ccc;
    border-top: none;
    margin: 0 0 0.2em 0;
    padding: 0.5em;
}

.z-accordion .z-acc-header.z-acc-active,
.z-panels .z-panel-header.z-panel-active {
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    background: #CFCFCF; /*non-CSS3 browsers*/
    background: -webkit-gradient(linear,left top, left bottom,from(#fafafa),to(#CFCFCF)); /*webkit*/
    background: -moz-linear-gradient(top, #fafafa, #CFCFCF); /*gecko*/
    background: linear-gradient(#fafafa, #CFCFCF); /*CSS3*/
}

.z-panels .z-panel-indicator {
    background: url("../../images/global/arrow_right_black.png") no-repeat scroll 7px 50%;
    padding-left: 20px !important;
}
.z-panels .z-panel-indicator:hover {
    background: url("../../images/global/arrow_right_grey.png") no-repeat scroll 7px 50%;
}
.z-panels .z-panel-indicator.z-panel-active {
    background: url("../../images/global/arrow_down_black.png") no-repeat scroll 6px 50%;
}
.z-panels .z-panel-indicator.z-panel-active:hover {
    background: url("../../images/global/arrow_down_grey.png") no-repeat scroll 6px 50%;
}