/* main body style */
body {
    background: #FFFFFF;
    color: #000000;
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 10px;
}

/* styling for block elements */
td, th, div, select, textarea, input {
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 12px;
}

/* remove border from linked images */
a img {
    border: 0;
}

/* link classes
Note 1: we only specify anything that changes from the base class in
all other classes
Note 2: we only specify individual styles for the pseudo classes
e.g. (a:link, a:hover etc.) if styling these differently
*/
a {
    color: #0000FF;
    font-size: 13px;
    text-decoration: underline;
    background: none;
}
a.z-pagetitle,
h1 a {
    font-size: 16px;
    font-weight: bold;
}
a.z-title,
h2 a {
    font-size: 14px;
    font-weight: bold;
}
a.sub,
a.sub {
    font-size: 12px;
}
a.z-logo {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
    text-decoration: none;
}

/* specific classes */
.z-logo {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
}
.z-logo-small {
    font-size: 13px;
    font-weight: bold;
}
.z-pagetitle, h1 {
    font-size: 16px;
    font-weight: bold;
    text-align:center;
}
.z-title, h2 {
    font-size: 14px;
    font-weight: bold;
    text-align:center;
}
.alert alert-success {
    color: red;
    font-style: italic;
}
/* news styles */
.z-storytitle {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
}

/* styles for legacy opentable functions */
.box1 {
}
.box2 {
    text-align:center;
}

/* styling for lists */
ul {
    margin-left: 1em;
    padding-left: 1em;
    text-indent: 0;
}

/**************** generic clearfix solution ****************/
/**************** please include this in all ***************/
/******************** css based themes! ********************/

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {display: inline-table;}

/* Overflow-Method to clear float environments */
.z-floatbox {
    overflow:hidden;
}
