services:
    zikula_blocks_module.container.link_container:
        class: Zikula\BlocksModule\Container\LinkContainer
        arguments:
          - "@translator.default"
          - "@router"
          - "@zikula_permissions_module.api.permission"
        tags:
            - { name: zikula.link_container }

    zikula_blocks_module.block_position_repository:
        class: Zikula\BlocksModule\Entity\Repository\BlockPositionRepository
        factory: ["@doctrine.orm.default_entity_manager", getRepository]
        arguments: ["ZikulaBlocksModule:BlockPositionEntity"]

    zikula_blocks_module.block_repository:
        class: Zikula\BlocksModule\Entity\Repository\BlockRepository
        factory: ["@doctrine.orm.default_entity_manager", getRepository]
        arguments: ["ZikulaBlocksModule:BlockEntity"]

    zikula_blocks_module.api.block_factory:
        class: Zikula\BlocksModule\Api\BlockFactoryApi
        arguments: ["@service_container"]

    zikula_blocks_module.api.block:
        class: Zikula\BlocksModule\Api\BlockApi
        arguments:
          - "@zikula_blocks_module.block_position_repository"
          - "@zikula_blocks_module.api.block_factory"
          - "@zikula_extensions_module.api.extension"
          - "@zikula_extensions_module.extension_repository"
          - "@zikula_blocks_module.internal.block_collector"
          - "%kernel.root_dir%"

    zikula_blocks_module.api.block_filter:
        class: Zikula\BlocksModule\Api\BlockFilterApi
        arguments: ["@request_stack"]

    zikula_blocks_module.internal.block_collector:
        class: Zikula\BlocksModule\Collector\BlockCollector

    zikula_blocks_module.form.block_filter_type:
        class: Zikula\BlocksModule\Form\Type\BlockFilterType
        arguments: ["@zikula_blocks_module.api.block_filter"]
        tags:
            - { name: form.type }

    zikula_blocks_module.form.block_type:
        class: Zikula\BlocksModule\Form\Type\BlockType
        arguments:
          - "@zikula_blocks_module.api.block"
          - "@zikula_blocks_module.api.block_filter"
          - "@translator.default"
          - "@zikula_settings_module.locale_api"
        tags:
            - { name: form.type }

    twig.extension.zikula_blocks_module:
        class: Zikula\BlocksModule\Twig\Extension\BlocksExtension
        public: false
        arguments:
          - "@zikula_blocks_module.api.block"
          - "@zikula_blocks_module.api.block_filter"
          - "@zikula_core.common.theme_engine"
          - "@zikula_extensions_module.api.extension"
          - "@twig.loader"
        tags:
            - { name: twig.extension }

    zikula_blocks_module.listener.collapseable_block_listener:
        class: Zikula\BlocksModule\Listener\CollapseableBlockListener
        arguments:
          - "@zikula_core.common.theme.assets_js"
          - "@zikula_extensions_module.api.variable"
          - "@zikula_core.common.theme.asset_helper"
          - "%installed%"
          - "@=container.hasParameter('upgrading') ? parameter('upgrading') : false"
        tags:
            - { name: kernel.event_subscriber }

    zikula.blocks_module.hook_subscriber.ui_hook_subscriber:
        class: Zikula\BlocksModule\HookSubscriber\UiHooksSubscriber
        arguments:
          - "@translator.default"
        tags:
            - { name: zikula.hook_subscriber }