{# purpose of this template: admin area base layout #}
{% extends '@ZikulaRoutesModule/base.html.twig' %}
{% block appTitle %}{# empty on purpose #}{% endblock %}
{% block titleArea %}
    <h3><i class="fas fa-{% block admin_page_icon %}{% endblock %}"></i> {% block title %}{% endblock %}</h3>
{% endblock %}
