<!DOCTYPE html>
<html xml:lang="{{ app.request.locale }}" lang="{{ app.request.locale }}" dir="auto">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ pageGetVar('title') }}</title>
    <style>
        @page {
            margin: 0 2cm 1cm 1cm;
        }

        img {
            border-width: 0;
            vertical-align: middle;
        }
    </style>
</head>
<body>
