# ----------------------------------------------------------------------
# Purpose of file: block web access to not allowed files
#                  stored under the system/ directory
# ----------------------------------------------------------------------
deny from all
<FilesMatch "\.(css|js|jpg|gif|png)$">
order allow,deny
allow from all
</filesmatch>
