{{ moduleHeader('user', __('New account registration'), '', true) }}

<h3>{{ __('Sorry! New user registration is currently disabled.') }}</h3>
<div class="alert alert-warning">
    {{ getModVar('ZikulaUsersModule', 'reg_noregreasons')|safeHtml }}
</div>
