{% set templatetitle = __('New account registration') %}
{% include "User/menu.html.twig" %}

<h3>{{ __('Sorry! New user registration is currently disabled.') }}</h3>
<div class="alert alert-warning">
    {{ getModVar('ZikulaUsersModule', 'reg_noregreasons')|safeHtml }}
</div>
