/* Based on an open source xhtml/css website layout by Andreas Viklund (http://andreasviklund.com) called Andreas08 */
/* Free to use in any way and for any purpose as long as the proper credits are given to the original designer.     */
/**************** Body and tag styles ****************/
body {
    font: 76% Verdana, Tahoma, Arial, sans-serif;
    line-height: 1.4em;
    text-align: center;
    color: #303030;
    background: #e8eaec;
    margin: 0;
    padding: 0;
}

a {
    color: #467aa7;
    /*font-weight: bold;*/
    text-decoration: none;
}

a:hover {
    color: #2a5a8a;
    text-decoration: none;
}

hr {
    border-color: #ccc;
    border-style: solid;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
}

/**************** Headings ****************/
h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 13px;
}

h6 {
    font-size: 12px;
}

/**************** Spacing ****************/
p, hr, h1, h2, h3, h4, h5, h6, pre, table, address, fieldset {
    margin-bottom: 0.5em;
}

ol {
    list-style: decimal;
    margin: 1em 0 1em 0.5em;
}

ul {
    list-style: square;
    margin: 1em 0 1em 0.5em;
}

li {
    margin: 0 0 0.5em 1.5em;
}

dl {
    margin: 1em 0 1em 0.5em;
}

dt {
    font-weight: bold;
    margin: 0 0 0.5em 0;
}

dd {
    margin: 0 0 0.5em 1.5em;
}

/**************** Header and navigation styles ****************/
#theme_page_container {
    margin: 20px auto;
    padding: 1px 0;
    text-align: left;
    background: #ffffff;
    color: #303030;
    border: 2px solid #a0a0a0;
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

#theme_header {
    height: 110px;
    margin: 0 1px 1px 1px;
    background: #467aa7;
    overflow: hidden;
}

#theme_header h1 {
    padding: 35px 0 0 20px;
    font-size: 2.4em;
    color: #ffffff;
    letter-spacing: -2px;
}

#theme_header h1 a {
    color: #ffffff;
    font-weight: normal;
}

#theme_header h2 {
    font-size: 1.4em;
    font-weight: normal;
    background-color: inherit;
    color: #f0f2f4;
    letter-spacing: -1px;
    margin: 10px 0 0 40px;
}

#theme_navigation_bar {
    background: #578BB8;
    min-height: 26px;
    line-height: 26px;
    margin: 0 1px;
}

#theme_navigation_bar ul {
    margin: 0;
}

#theme_navigation_bar li {
    float: left;
    list-style-type: none;
    border-right: 1px solid #ffffff;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

#theme_navigation_bar li a {
    display: block;
    padding: 0 10px;
    font-size: 0.8em;
    min-height: 26px;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
    background-color: inherit;
    color: #ffffff;
}
* html #theme_navigation_bar a {
    width: 1%;
}
/* this hack targets IE<7 */
#theme_navigation_bar .selected, #theme_navigation_bar a:hover {
    background: #80b0da;
    color: #ffffff;
    text-decoration: none;
}

.z-blockposition-search #theme_search{
    background: #27587F;
    margin: 0;
    padding: 0;
    border-left: 1px solid #fff;
    min-height: 26px;
}

.z-blockposition-search #theme_search .theme_search_input {
    background: #27587F;
    border: none;
    color: #FFFFFF;
    float: left;
    font-size: 10px;
    margin: 0;
    padding: 7px;
    font-family: inherit;
    text-transform: uppercase;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}

.z-blockposition-search #theme_search:hover,
.z-blockposition-search #theme_search:focus,
.z-blockposition-search #theme_search:active {
    background: #15476D;
}

.z-blockposition-search #theme_search .theme_search_button {
    margin: 0 2px !important;
    padding: 1px 4px !important;
}

/**************** Content styles ****************/
#theme_content {
    margin-bottom: 10px;
    margin-top: 10px;
}

#theme_content h1 {
    display: block;
    font-size: 1.9em;
    font-weight: normal;
    letter-spacing: -1px;
    color: #505050;
    background-color: inherit;
    padding-top: 0.5em;
}

#theme_content h2 {
    display: block;
    font-size: 1.7em;
    font-weight: normal;
    letter-spacing: -1px;
    color: #505050;
    background-color: inherit;
    padding-top: 0.5em;
}

#theme_content h2 a {
    font-weight: normal;
}

#theme_content h3 {
    font-size: 1.4em;
    letter-spacing: -1px;
    padding-top: 0.5em;
}

#theme_content h4 {
    font-size: 1.3em;
    padding-top: 0.5em;
}

/**************** Footer styles ****************/
#theme_footer {
    text-align: center;
    clear: both;
    padding: 5px 0;
    margin: 0 1px;
    font-size: 0.9em;
    color: #f0f0f0;
    background: #467aa7;
}

#theme_footer p {
    padding: 0;
    margin: 0;
    text-align: center;
}

#theme_footer a {
    color: #f0f0f0;
    background-color: inherit;
    font-weight: bold;
}

#theme_footer a:hover {
    color: #ffffff;
    background-color: inherit;
    text-decoration: underline;
}

/**************** Misc classes and styles ****************/

#theme_content .z-block h3,
#theme_content .z-block h4 {
    padding-top: 0
}

.z-blockposition-center {
    font-size: 0.9em;
    background-color: #FAFBFC;
    border: 1px solid #E0E8EF;
    color: #505050;
    line-height: 1.5em;
    padding: 1em;
    margin-bottom: 1em;
}

.z-blockposition-left,
.z-blockposition-right {
    font-size: 0.9em;
    padding: 0.5em 0;
    margin-bottom: 1em;
}
.z-blockposition-right.z-bkey-html,
.z-blockposition-right.z-bkey-text {
    background: #EBF3FA;
    border: 1px solid #B1C9D9;
    padding: 0.5em;
}

#theme_content .users_loginblock_box {
    background-color: #FAFBFC;
    border:1px solid #E0E8EF;
    margin:0.5em 0;
    padding:1em;
}

#theme_content .users_loginblock_box h5 {
    margin: 0.5em 0 0 0;
    color:#555;
}

/**************** Menu and Extmenu blocks ****************/
ul.navlist {
    border-top: 1px solid #BBBBBB;
    list-style: none outside none;
    margin: 0;
}

ul.navlist li {
    margin: 0;
}

ul.navlist li a {
    border-bottom: 1px solid #B1C9D9;
    display: block;
    padding: 4px 10px;
}

ul.navlist li a:hover {
    background: #EBF3FA;
    color: #454545;
}

ul.navlist ul {
    list-style: none;
    margin: 0;
}

ul.navlist ul li a {
    padding-left: 30px;
}

/**************** Menutree blocks ****************/
ul.menutree {
    border-top: 1px solid #BBBBBB;
    list-style: none outside none;
    margin: 0;
}

ul.menutree li {
    margin: 0;
}

ul.menutree li a {
    background: #F5F5F5;
    border-bottom: 1px solid #B1C9D9;
    display: block;
    padding: 4px 10px;
}

ul.menutree li a:hover {
    background: #EBF3FA;
    color: #454545;
}

ul.menutree ul {
    list-style: none;
    margin: 0;
}

ul.menutree ul li a {
    background: #FAFAFA;
    padding-left: 20px;
}
