{% trans_default_domain 'mail' %}
{{ include('@ZikulaZAuthModule/Email/header.txt.twig')|nl2br }}
<p>{% trans with {'%site%': siteName(), '%url%': url('home')} %}Welcome to %site% (%url%)!{% endtrans %}</p>

<p>{% trans with {'%email%': user.email, '%site%': siteName(), '%url%': url('home')} %}Hello! This e-mail address ('%email%') has been used to register an account on '%site%' (%url%).{% endtrans %}</p>

<p>{% trans %}Your account details are as follows:{% endtrans %}</p>

<p>{% trans with {'%sub%': user.uname} %}User name: %sub%{% endtrans %}<br />
{% trans with {'%sub%': user.unHashedPass} %}Password:  %sub%{% endtrans %}</p>
{{ include('@ZikulaZAuthModule/Email/footer.txt.twig')|nl2br }}
