{{ include('@ZikulaZAuthModule/Email/header.txt.twig')|nl2br }}
<p>{% trans %}Hello!{% endtrans %}</p>

<p>{% trans with {'%username%': uname, '%sitename%': getModVar('ZConfig', 'sitename')} %}The user account \'%username%\' at %sitename% has this e-mail address associated with it.{% endtrans %}</p>

{% if requestedByAdmin %}
<p>{% trans with {'%sub%': getModVar('ZConfig', 'sitename')} %}The administrator at %sub% requested that you reset your password.{% endtrans %}</p>
{% else %}
<p>{% trans with {'%sub%': app.request.server.get('REMOTE_ADDR')} %}Someone with the IP address %sub% has just requested your account password to be reset.{% endtrans %}</p>
{% endif %}

<p>{% trans %}You can now create a new password by clicking on this link:{% endtrans %} <a href="{{ url('zikulazauthmodule_account_lostpasswordreset', {id: lostPasswordId}) }}">{% trans %}Reset My Password{% endtrans %}</a>.<br />
{% trans with {'%sub%': url('zikulazauthmodule_account_lostpasswordreset', {id: lostPasswordId}) } %}(If you cannot click on the link, you can copy this URL and paste it into your browser: %sub% ){% endtrans %}</p>

{% if validDays > 0 %}
    <p>{% trans with {'%amountOfDays%': validDays} %}This link expires in %amountOfDays% days.{% endtrans %}</p>
{% endif %}

<p>{% if not requestedByAdmin %}{% trans %}If the request was not made by you then you don\'t need to take any action.{% endtrans %} {% endif %}
    {% trans %}The password won\'t be changed unless you choose a new one using the link above, and you are the only recipient of this message.{% endtrans %}
    {% if not requestedByAdmin %} {% trans %}You can just delete the message and log-in with your existing password next time you visit the site.{% endtrans %}{% endif %}
</p>
{{ include('@ZikulaZAuthModule/Email/footer.txt.twig')|nl2br }}
