{% trans_default_domain 'mail' %}
{{ include('@ZikulaZAuthModule/Email/header.txt.twig')|nl2br }}
<p>{% trans %}Hello!{% endtrans %}</p>

{% if requestedByAdmin %}
<p>{% trans with {'%sub%': siteName()} %}The administrator at %sub% requested that you receive your user name via e-mail.{% endtrans %}</p>
{% else %}
<p>{% trans with {'%address%': app.request.server.get('REMOTE_ADDR'), '%site%': siteName()} %}Someone with the IP address %address% has just requested the account information at %site% associated with this e-mail address.{% endtrans %}</p>
{% endif %}

<p>{% trans with {'%user%': uname} %}The user name for your account is: %user%{% endtrans %}</p>

<p>
    {% if not requestedByAdmin %}{% trans %}If the request was not made by you then you don't need to worry.{% endtrans %} {% endif %}
    {% trans %}You are the only recipient of this message, and your user name has not been sent to any other e-mail address.{% endtrans %}
    {% if not requestedByAdmin %} {% trans %}You can just delete this message.{% endtrans %}{% endif %}
</p>
{{ include('@ZikulaZAuthModule/Email/footer.txt.twig')|nl2br }}
