{% trans_default_domain 'mail' %}
{{ include('@ZikulaZAuthModule/Email/header.txt.twig')|nl2br }}
<p>{% trans with {'%uname': uname, '%site': siteName(), '%email': email, '%newemail': newemail} %}Hello! You requested to change your e-mail address for user account \'%uname\' at %site from %email to %newemail.{% endtrans %}
   {% trans %}You must confirm this change before it will take effect.{% endtrans %}
{% set expireDays = getModVar('ZikulaZAuthModule', constant('Zikula\\ZAuthModule\\ZAuthConstant::MODVAR_EXPIRE_DAYS_CHANGE_EMAIL')) %}
{% if expireDays > 0 %}
{% trans with {'%sub%': expireDays} %}If you do not confirm this change within the %sub% day(s), the request will be deleted from our system.{% endtrans %}
{% endif %}
</p>

<p>{% trans %}You can confirm the e-mail address change by clicking on this link:{% endtrans %} <a href="{{ url }}">{% trans %}Verify my e-mail address change.{% endtrans %}</a></p>

<p>{% trans %}(If you cannot click on the link above, you can copy this URL into your browser:{% endtrans %} {{ url }}</p>

<p>{% trans %}If you did not make this request then you do not need to take any action.{% endtrans %} {% trans %}The e-mail address will not be changed unless the confirmation code is used, and you are the only recipient of this message. You can just delete this message.{% endtrans %}</p>
{{ include('@ZikulaZAuthModule/Email/footer.txt.twig')|nl2br }}
