framework:
    csrf_protection: ~
    #http_method_override: true

    form: ~
    assets:
        #base_path: '%router.request_context.base_url%'
        base_path: ''
        version: '%assets_version%'

    session:
        name: '%zikula.session.name%'
        handler_id: '%zikula.session.handler_id%'
        storage_id: '%zikula.session.storage_id%'
        save_path: '%zikula.session.save_path%'
        cookie_httponly: true
        cookie_secure: auto
        cookie_samesite: lax

    #esi: true
    #fragments: true
    php_errors:
        log: true
