framework:
    secret: '%env(APP_SECRET)%'
    csrf_protection: ~
    #http_method_override: true

    form: ~
    assets:
        #base_path: '%router.request_context.base_url%'
        base_path: ''
        version: '%assets_version%'

    #esi: true
    #fragments: true
    php_errors:
        log: true
