framework:
    router:
        utf8: true

        # Configure how to generate URLs in non-HTTP contexts, such as CLI commands.
        # See https://symfony.com/doc/current/routing.html#generating-urls-in-commands
        default_uri: '%env(DEFAULT_URI)%'
        #default_uri: http://localhost

when@prod:
    # In production environment you should know that the parameters for URL generation
    # always pass the requirements. Otherwise it would break your link (or even site with
    # strict_requirements = true). So we can disable the requirements check completely for
    # enhanced performance with strict_requirements = null.
    framework:
        router:
            strict_requirements: null
