<fieldset>
    <legend>{% trans %}Profile{% endtrans %}</legend>
    <p>{{ user.uname|profileLinkByUserName('', userAvatar(user.uid)) }}</p>
    {{ include('@ZikulaProfileModule/displayAttributes.html.twig', {context: 'hook'}) }}
</fieldset>
