/composer
/composer.phar
/bin/
/bin/*
!/bin/console
/config/packages/guite*.yaml*
/config/packages/zikula*.yaml
/config/reference.php
/config/routes/guite*.yaml
*.phpunit.result.cache
/migrations/Version*.php
/public/*
!/public/index.php
!/public/uploads/
!/public/*.ico
!/public/*.png
!/public/*.svg
!/public/browserconfig.xml
!/public/robots
!/public/site.webmanifest
/public/uploads/*
/src/extensions/*
!src/extensions/.gitignore
src/.preload.php
/templates/
!/templates/bundles/NucleosProfileBundle/*
!/templates/bundles/NucleosUserBundle/*
/translations/*
!/var/cache/.htaccess

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
