/composer
/composer.lock
/composer.phar
/bin/
/src/app/bootstrap.php.cache
/src/app/cache/
/src/app/config/custom_*.yml
/src/app/logs/
/src/config/personal_config.php
/src/config/multisites_config.php
/src/modules/*
!/src/modules/acme-example
!/src/modules/acme-addressbook
/src/themes/*
!/src/themes/Zikula
/src/app/Resources/locale/*
!/src/app/Resources/locale/en
!/src/app/Resources/locale/zikula.pot
!/src/app/Resources/locale/zikula_js.pot
/src/plugins/
/src/userdata/
/src/vendor/
/src/web/*
/src/ztemp/
