language: php

sudo: false

dist: bionic

php:
  - 7.2
  - 7.3
  - 7.4
  - nightly

matrix:
  fast_finish: true
  allow_failures:
    - php: nightly

services:
  - mysql

before_install:
    # disable xdebug
    - if [[ "$TRAVIS_PHP_VERSION" != "nightly" ]]; then phpenv config-rm xdebug.ini; fi;

    # load memcache.so
    #- pecl install -f memcached-3.1.3 && echo "extension = memcache.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
    # Set the COMPOSER_ROOT_VERSION to the right version according to the branch being built
    - if [ "$TRAVIS_BRANCH" = "master" ]; then export COMPOSER_ROOT_VERSION=dev-master; else export COMPOSER_ROOT_VERSION="$TRAVIS_BRANCH".x-dev; fi;

    - composer install -o --no-scripts
    - composer run-script post-autoload-dump
    - composer run-script post-install-cmd

    - php bin/console lint:container
    - php bin/console lint:yaml config/
    - php bin/console lint:yaml src/system/ --parse-tags
    - php bin/console lint:yaml src/themes/
    - php bin/console lint:yaml src/Zikula/ --parse-tags
    - php bin/console lint:twig --show-deprecations src/system/ src/Zikula/
    # twig linting in themes won't work because the themes are not active bundles

    - php bin/simple-phpunit

    # extract en translations
    - php bin/console translation:extract zikula en

install:
    # create test db
    - mysql -e 'create database zk_test;'
    # run the installer
    - php bin/console zikula:install:start -n --database_user=root --database_name=zk_test --password=12345678 --email=admin@example.com --router:request_context:host=localhost --router:request_context:base_url='/' -vvv
    - php bin/console zikula:install:finish -vvv
    # drop the test db
    - mysql -e 'drop database zk_test'

    # create an upgrade db for 143
    - mysql -e 'create database zk_test;'
    - mysql zk_test < ../tests/test_dbs/core143.sql
    # run the upgrade from the 143 db
    - 'sed -i -E "s/core_installed_version:(.*)/core_installed_version: ''1.4.3''/" ../config/services_custom.yaml'
    - php bin/console zikula:upgrade -n --username=admin --password=12345678 --locale=en --router:request_context:host=localhost --router:request_context:scheme=http --router:request_context:base_url='/' -vvv
    # drop the test db
    - mysql -e 'drop database zk_test'

    # create an upgrade db for 144
    - mysql -e 'create database zk_test;'
    - mysql zk_test < ../tests/test_dbs/core144.sql
    # run the upgrade from the 144 db
    - 'sed -i -E "s/core_installed_version:(.*)/core_installed_version: ''1.4.4''/" ../config/services_custom.yaml'
    - php bin/console zikula:upgrade -n --username=admin --password=12345678 --locale=en --router:request_context:host=localhost --router:request_context:scheme=http --router:request_context:base_url='/'
    # drop the test db
    - mysql -e 'drop database zk_test'

    # create an upgrade db for 145
    - mysql -e 'create database zk_test;'
    - mysql zk_test < ../tests/test_dbs/core145.sql
    # run the upgrade from the 145 db
    - 'sed -i -E "s/core_installed_version:(.*)/core_installed_version: ''1.4.5''/" ../config/services_custom.yaml'
    - php bin/console zikula:upgrade -n --username=admin --password=12345678 --locale=en --router:request_context:host=localhost --router:request_context:scheme=http --router:request_context:base_url='/'
    # drop the test db
    - mysql -e 'drop database zk_test'

    # create an upgrade db for 146
    - mysql -e 'create database zk_test;'
    - mysql zk_test < ../tests/test_dbs/core146.sql
    # run the upgrade from the 146 db
    - 'sed -i -E "s/core_installed_version:(.*)/core_installed_version: ''1.4.6''/" ../config/services_custom.yaml'
    - php bin/console zikula:upgrade -n --username=admin --password=12345678 --locale=en --router:request_context:host=localhost --router:request_context:scheme=http --router:request_context:base_url='/'
    # drop the test db
    - mysql -e 'drop database zk_test'

  # create an upgrade db for 1.5.9
    - mysql -e 'create database zk_test;'
    - mysql zk_test < ../tests/test_dbs/core159.sql
  # run the upgrade from the 1.5.9 db
    - 'sed -i -E "s/core_installed_version:(.*)/core_installed_version: ''1.5.9''/" ../config/services_custom.yaml'
    - php bin/console zikula:upgrade -n --username=admin --password=12345678 --locale=en --router:request_context:host=localhost --router:request_context:scheme=http --router:request_context:base_url='/'
  # drop the test db
    - mysql -e 'drop database zk_test'

  # create an upgrade db for 2.0.15
    - mysql -e 'create database zk_test;'
    - mysql zk_test < ../tests/test_dbs/core2015.sql
  # run the upgrade from the 2.0.15 db
    - 'sed -i -E "s/core_installed_version:(.*)/core_installed_version: ''2.0.15''/" ../config/services_custom.yaml'
    - php bin/console zikula:upgrade -n --username=admin --password=12345678 --locale=en --router:request_context:host=localhost --router:request_context:scheme=http --router:request_context:base_url='/'
  # drop the test db
    - mysql -e 'drop database zk_test'

script:
  # execute Symfony deprecation detector
  - git clone https://github.com/sensiolabs-de/deprecation-detector.git
  - cd deprecation-detector
  - composer install
  - ./bin/deprecation-detector check src vendor
