language: php

sudo: false

php:
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - hhvm
  - nightly

matrix:
  fast_finish: true
  allow_failures:
    - php: 7.0
    - php: 7.1
    - php: hhvm
    - php: nightly

services:
  - mysql

before_install:
    - if [[ "$TRAVIS_PHP_VERSION" != "nightly" ]] && [[ "$TRAVIS_PHP_VERSION" != "hhvm" ]]; then phpenv config-rm xdebug.ini; fi;
    - if [[ "$TRAVIS_PHP_VERSION" != "nightly" ]] && [[ "$TRAVIS_PHP_VERSION" != "hhvm" ]]; then echo "extension = mongo.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini; fi;
    - if [[ "$TRAVIS_PHP_VERSION" != "nightly" ]] && [[ "$TRAVIS_PHP_VERSION" != "hhvm" ]] && [ $(php -r "echo PHP_MINOR_VERSION;") -le 4 ]; then echo "extension = apc.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini; fi;
    - if [[ "$TRAVIS_PHP_VERSION" != "nightly" ]] && [[ "$TRAVIS_PHP_VERSION" != "hhvm" ]]; then (pecl install -f memcached-2.1.0 && echo "extension = memcache.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini) || echo "Let's continue without memcache extension"; fi;
    # - if [[ "$TRAVIS_PHP_VERSION" != "nightly" ]] && [[ "$TRAVIS_PHP_VERSION" != "hhvm" ]]; then php -i; fi;
    # Set the COMPOSER_ROOT_VERSION to the right version according to the branch being built
    - if [ "$TRAVIS_BRANCH" = "master" ]; then export COMPOSER_ROOT_VERSION=dev-master; else export COMPOSER_ROOT_VERSION="$TRAVIS_BRANCH".x-dev; fi;
    - mysql -e 'create database zk_test;'

install:
    - composer install -o
    - cd src

    # extract en translations
    - php -dmemory_limit=2G app/console translation:extract en --output-format=po --output-dir=app/Resources/translations --enable-extractor=jms_i18n_routing --dir=system --dir=lib/Zikula/Bundle

    # test the installer
    - php app/console zikula:install:start -n --database_user=root --database_name=zk_test --password=12345678 --email=admin@example.com --router:request_context:host=localhost
    - php app/console zikula:install:finish -vvv

    # drop the install test db
    - mysql -e 'drop database zk_test'
    # create an upgrade db for 1310
    - 'sed -i -E "s/core_installed_version:(.*)/core_installed_version: ''1.3.10''/" app/config/custom_parameters.yml'
    - mysql -e 'create database zk_test;'
    - mysql zk_test < ../test_dbs/core1310.sql
    # run the upgrade from the 1310 db
    - php app/console zikula:upgrade -n --username=admin --password=12345678 --router:request_context:host=localhost --router:request_context:scheme=http --router:request_context:base_url='/' -vvv

    # drop the install test db
    - mysql -e 'drop database zk_test'
    # create an upgrade db for 140
    - 'sed -i -E "s/core_installed_version:(.*)/core_installed_version: ''1.4.0''/" app/config/custom_parameters.yml'
    - mysql -e 'create database zk_test;'
    - mysql zk_test < ../test_dbs/core140.sql
    # run the upgrade from the 140 db
    - php app/console zikula:upgrade -n --username=admin --password=12345678 --router:request_context:host=localhost --router:request_context:scheme=http --router:request_context:base_url='/' -vvv

    # drop the install test db
    - mysql -e 'drop database zk_test'
    # create an upgrade db for 141
    - 'sed -i -E "s/core_installed_version:(.*)/core_installed_version: ''1.4.1''/" app/config/custom_parameters.yml'
    - mysql -e 'create database zk_test;'
    - mysql zk_test < ../test_dbs/core141.sql
    # run the upgrade from the 141 db
    - php app/console zikula:upgrade -n --username=admin --password=12345678 --router:request_context:host=localhost --router:request_context:scheme=http --router:request_context:base_url='/' -vvv

    # drop the install test db
    - mysql -e 'drop database zk_test'
    # create an upgrade db for 142
    - 'sed -i -E "s/core_installed_version:(.*)/core_installed_version: ''1.4.2''/" app/config/custom_parameters.yml'
    - mysql -e 'create database zk_test;'
    - mysql zk_test < ../test_dbs/core142.sql
    # run the upgrade from the 142 db
    - php app/console zikula:upgrade -n --username=admin --password=12345678 --router:request_context:host=localhost --router:request_context:scheme=http --router:request_context:base_url='/' -vvv

    # drop the install test db
    - mysql -e 'drop database zk_test'
    # create an upgrade db for 143
    - 'sed -i -E "s/core_installed_version:(.*)/core_installed_version: ''1.4.3''/" app/config/custom_parameters.yml'
    - mysql -e 'create database zk_test;'
    - mysql zk_test < ../test_dbs/core143.sql
    # run the upgrade from the 143 db
    - php app/console zikula:upgrade -n --username=admin --password=12345678 --router:request_context:host=localhost --router:request_context:scheme=http --router:request_context:base_url='/' -vvv

    # drop the install test db
    - mysql -e 'drop database zk_test'
    # create an upgrade db for 144
    - 'sed -i -E "s/core_installed_version:(.*)/core_installed_version: ''1.4.4''/" app/config/custom_parameters.yml'
    - mysql -e 'create database zk_test;'
    - mysql zk_test < ../test_dbs/core144.sql
    # run the upgrade from the 144 db
    - php app/console zikula:upgrade -n --username=admin --password=12345678 --router:request_context:host=localhost --router:request_context:scheme=http --router:request_context:base_url='/' -vvv

    # drop the install test db
    - mysql -e 'drop database zk_test'
    # create an upgrade db for 145
    - 'sed -i -E "s/core_installed_version:(.*)/core_installed_version: ''1.4.5''/" app/config/custom_parameters.yml'
    - mysql -e 'create database zk_test;'
    - mysql zk_test < ../test_dbs/core145.sql
    # run the upgrade from the 145 db
    - php app/console zikula:upgrade -n --username=admin --password=12345678 --router:request_context:host=localhost --router:request_context:scheme=http --router:request_context:base_url='/' -vvv

# We cannot install Apache2 for now, because this requires sudo mode in which composer takes too long to install the depencencies.
#before_script:
#    - sudo apt-get update
#    - sudo apt-get install apache2 libapache2-mod-fastcgi
#    # enable php-fpm
#    - sudo cp ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf.default ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf
#    - sudo a2enmod rewrite actions fastcgi alias
#    - echo "cgi.fix_pathinfo = 1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
#    - ~/.phpenv/versions/$(phpenv version-name)/sbin/php-fpm
#    # configure apache virtual hosts
#    - sudo cp -f travis-ci-apache /etc/apache2/sites-available/default
#    - sudo sed -e "s?%TRAVIS_BUILD_DIR%?$(pwd)?g" --in-place /etc/apache2/sites-available/default
#    - sudo service apache2 restart
#
script:
  - php app/console lint:yaml app/config/
  - php app/console lint:yaml system/
  - php app/console lint:yaml themes/
  - php app/console lint:yaml lib/Zikula/
  - php app/console lint:twig system/ lib/Zikula/
  # twig linting in themes won't work because the themes are not active bundles
  - cd ..
  - phpunit
#     - echo "Nothing to do.. yet!"
#    - wget -dO - localhost/src
