language: php

sudo: false

php:
  - 7.2
  - 7.3
  - nightly

matrix:
  fast_finish: true
  allow_failures:
    - php: nightly

services:
  - mysql

before_install:
    - phpenv config-rm xdebug.ini
    # load memcache.so
    #- pecl install -f memcached-3.1.3 && echo "extension = memcache.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
    # Set the COMPOSER_ROOT_VERSION to the right version according to the branch being built
    - if [ "$TRAVIS_BRANCH" = "master" ]; then export COMPOSER_ROOT_VERSION=dev-master; else export COMPOSER_ROOT_VERSION="$TRAVIS_BRANCH".x-dev; fi;

    - composer install -o --no-scripts
    - composer run-script post-autoload-dump
    - composer run-script post-install-cmd

    - cd src
    - php bin/console lint:yaml app/config/
    - php bin/console lint:yaml system/
    - php bin/console lint:yaml themes/
    - php bin/console lint:yaml lib/Zikula/
    - php bin/console lint:twig system/ lib/Zikula/
    # twig linting in themes won't work because the themes are not active bundles

    - cd ..
    - ./bin/simple-phpunit

    - cd src

    # extract en translations
    - php -dmemory_limit=2G bin/console translation:extract en --output-format=po --output-dir=app/Resources/translations --enable-extractor=jms_i18n_routing --dir=system --dir=lib/Zikula/Bundle

install:
    # create test db
    - mysql -e 'create database zk_test;'
    # run the installer
    - php bin/console zikula:install:start -n --database_user=root --database_name=zk_test --password=12345678 --email=admin@example.com --router:request_context:host=localhost
    - php bin/console zikula:install:finish
    # drop the test db
    - mysql -e 'drop database zk_test'

    # create an upgrade db for 143
    - mysql -e 'create database zk_test;'
    - mysql zk_test < ../test_dbs/core143.sql
    # run the upgrade from the 143 db
    - 'sed -i -E "s/core_installed_version:(.*)/core_installed_version: ''1.4.3''/" app/config/custom_parameters.yml'
    - php bin/console zikula:upgrade -n --username=admin --password=12345678 --router:request_context:host=localhost --router:request_context:scheme=http --router:request_context:base_url='/'
    # drop the test db
    - mysql -e 'drop database zk_test'

    # create an upgrade db for 144
    - mysql -e 'create database zk_test;'
    - mysql zk_test < ../test_dbs/core144.sql
    # run the upgrade from the 144 db
    - 'sed -i -E "s/core_installed_version:(.*)/core_installed_version: ''1.4.4''/" app/config/custom_parameters.yml'
    - php bin/console zikula:upgrade -n --username=admin --password=12345678 --router:request_context:host=localhost --router:request_context:scheme=http --router:request_context:base_url='/'
    # drop the test db
    - mysql -e 'drop database zk_test'

    # create an upgrade db for 145
    - mysql -e 'create database zk_test;'
    - mysql zk_test < ../test_dbs/core145.sql
    # run the upgrade from the 145 db
    - 'sed -i -E "s/core_installed_version:(.*)/core_installed_version: ''1.4.5''/" app/config/custom_parameters.yml'
    - php bin/console zikula:upgrade -n --username=admin --password=12345678 --router:request_context:host=localhost --router:request_context:scheme=http --router:request_context:base_url='/'
    # drop the test db
    - mysql -e 'drop database zk_test'

    # create an upgrade db for 146
    - mysql -e 'create database zk_test;'
    - mysql zk_test < ../test_dbs/core146.sql
    # run the upgrade from the 146 db
    - 'sed -i -E "s/core_installed_version:(.*)/core_installed_version: ''1.4.6''/" app/config/custom_parameters.yml'
    - php bin/console zikula:upgrade -n --username=admin --password=12345678 --router:request_context:host=localhost --router:request_context:scheme=http --router:request_context:base_url='/'
    # drop the test db
    - mysql -e 'drop database zk_test'

script:
  - cd ..
  # execute Symfony deprecation detector
  - git clone https://github.com/sensiolabs-de/deprecation-detector.git
  - cd deprecation-detector
  - composer install
  - ./bin/deprecation-detector check ../src ../src/vendor
