<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         executionOrder="depends,defects"
         forceCoversAnnotation="true"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="true">
    <php>
        <server name="KERNEL_CLASS" value="Kernel" />
        <!-- from https://github.com/symfony/recipes/blob/master/symfony/phpunit-bridge/3.3/phpunit.xml.dist -->
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
    </php>
    <testsuites>
        <testsuite name="Zikula Bundle Tests">
            <directory>./src/Zikula/*/Tests/</directory>
        </testsuite>
        <testsuite name="Zikula System Tests">
            <directory>./src/system/*/Tests/</directory>
            <!-- CategoriesTypeTest currently not functioning cah 2020/1/1 -->
            <exclude>./src/system/CategoriesModule/Tests/Form/Type/CategoriesTypeTest.php</exclude>
        </testsuite>
    </testsuites>
</phpunit>
