<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.3/phpunit.xsd"
         bootstrap="src/vendor/autoload.php"
         executionOrder="depends,defects"
         forceCoversAnnotation="true"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="true">
    <php>
        <server name="KERNEL_CLASS" value="ZikulaKernel" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled=1"/>
    </php>
    <testsuites>
        <testsuite name="Zikula Bundle Tests">
            <directory>./src/lib/Zikula/Bundle/*/Tests/</directory>
            <!-- The `switch` tests are not functional and too complicated to fix atm, so exclude them. -->
<!--            <exclude>./src/lib/Zikula/Bundle/CoreBundle/Tests/Twig/Node/SwitchNodeTest.php</exclude>-->
<!--            <exclude>./src/lib/Zikula/Bundle/CoreBundle/Tests/Twig/IntegrationTest.php</exclude>-->
            <exclude>./src/lib/Zikula/Bundle/CoreBundle/Tests/Functional/TranslationTest.php</exclude>
            <exclude>./src/lib/Zikula/Bundle/CoreBundle/Tests/Translation/JsFileExtractorTest.php</exclude>
            <exclude>./src/lib/Zikula/Bundle/CoreBundle/Tests/Translation/PhpFileExtractorTest.php</exclude>
            <exclude>./src/lib/Zikula/Bundle/CoreBundle/Tests/Translation/TwigFileExtractorTest.php</exclude>
        </testsuite>
        <testsuite name="Zikula Component Tests">
            <directory>./src/lib/Zikula/Component/*/Tests/</directory>
        </testsuite>
        <testsuite name="Zikula Core Tests">
            <directory>./src/lib/Zikula/Core/Tests/</directory>
        </testsuite>
        <testsuite name="Zikula System Tests">
            <directory>./src/system/*/Tests/</directory>
            <!-- CategoriesTypeTest currently not functioning cah 2020/1/1 -->
            <exclude>./src/system/CategoriesModule/Tests/Form/Type/CategoriesTypeTest.php</exclude>
        </testsuite>
    </testsuites>
</phpunit>
