<meta charset="{{ pagevars.meta.charset }}" />
<title>{{ pagevars.title }}</title>
<meta name="description" content="{{ pagevars.meta.description }}" />
<meta http-equiv="X-UA-Compatible" content="chrome=1" />
{{ pageAddAsset('stylesheet', zasset('@ZikulaSeaBreezeTheme:css/style.css')) }}
