ul.menutree_horizontal,
ul.menutree_horizontal ul {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    font-weight: bold;
    line-height: 2em;
    list-style: none;
    margin: 1em 0;
    padding: 0;
}

ul.menutree_horizontal li {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
}

ul.menutree_horizontal li:hover {
    background: #EEEEEE;
}

ul.menutree_horizontal li a,
ul.menutree_horizontal li span {
    border-right: 1px solid #CCCCCC;
    display: block;
    padding: 2px 10px;
    text-decoration: none;
}

ul.menutree_horizontal li.parent > a,
ul.menutree_horizontal li.parent > span {
    background: url('../../images/arrow_down_grey.png') no-repeat scroll 95% 50% transparent;
    padding-right: 18px;
}

ul.menutree_horizontal li.parent > a:hover,
ul.menutree_horizontal li.parent > span:hover {
    background: url('../../images/arrow_down_black.png') no-repeat scroll 95% 50% transparent;
}

ul.menutree_horizontal li ul {
    font-weight: normal;
    height: auto;
    left: -9999px;
    margin: 0;
    position: absolute;
    width: 15em;
}

ul.menutree_horizontal li li {
    width: 15em;
}

ul.menutree_horizontal li li a,
ul.menutree_horizontal li li span {
    border: none;
}

ul.menutree_horizontal li li.parent > a,
ul.menutree_horizontal li li.parent > span {
    background: url('../../images/arrow_right_grey.png') no-repeat scroll 95% 50% transparent;
    padding-right: 18px;
}

ul.menutree_horizontal li li.parent > a:hover,
ul.menutree_horizontal li li.parent > span:hover {
    background: url('../../images/arrow_right_black.png') no-repeat scroll 95% 50% transparent;
}

ul.menutree_horizontal li ul ul {
    margin: -1.75em 0 0 15.1em;
}

ul.menutree_horizontal li:hover ul ul,
ul.menutree_horizontal li:hover ul ul ul {
    left: -9999px;
}

ul.menutree_horizontal li:hover ul {
    left: -2px;
    position: absolute;
}

ul.menutree_horizontal li li:hover ul,
ul.menutree_horizontal li li li:hover ul {
    left: -1px;
    top: 1.75em;
}

ul.menutree_horizontal_controls {
    font-size: 0.8em;
    margin: 0.5em 0;
    list-style: none;
}

ul.menutree_horizontal_controls li {
    display: inline;
    margin: 0;
    padding: 0;
}
