ul.menutree_vertical_right,
ul.menutree_vertical_right ul {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-bottom: none;
    font-weight: bold;
    line-height: 2em;
    list-style: none;
    margin: 1em 0;
    padding: 0;
}

ul.menutree_vertical_right li {
    padding: 0;
    margin: 0;
    position: relative;
}

ul.menutree_vertical_right li:hover {
    background-color: #eeeeee;
}

ul.menutree_vertical_right li a,
ul.menutree_vertical_right li span {
    border-bottom: 1px solid #CCCCCC;
    display: block;
    padding: 2px 10px 2px 20px;
    text-decoration: none;
}

ul.menutree_vertical_right li.parent > a,
ul.menutree_vertical_right li.parent > span {
    background: url('../../images/arrow_left_grey.png') no-repeat scroll 3% 50% transparent;
}

ul.menutree_vertical_right li.parent > a:hover,
ul.menutree_vertical_right li.parent > span:hover {
    background: url('../../images/arrow_left_black.png') no-repeat scroll 3% 50% transparent;
}

ul.menutree_vertical_right ul,
ul.menutree_vertical_right ul ul,
ul.menutree_vertical_right ul ul ul,
ul.menutree_vertical_right ul ul ul ul {
    right: 100%;
    top: -45%;
    position: absolute;
    width: 100%;
}

ul.menutree_vertical_right ul,
ul.menutree_vertical_right li:hover ul ul,
ul.menutree_vertical_right ul ul,
ul.menutree_vertical_right ul li:hover ul ul,
ul.menutree_vertical_right ul ul ul,
ul.menutree_vertical_right ul ul li:hover ul ul,
ul.menutree_vertical_right ul ul ul ul,
ul.menutree_vertical_right ul ul ul li:hover ul ul {
    display: none;
}

ul.menutree_vertical_right li:hover ul,
ul.menutree_vertical_right ul li:hover ul,
ul.menutree_vertical_right ul ul li:hover ul,
ul.menutree_vertical_right ul ul ul li:hover ul {
    display: block;
    z-index: 1000;
}

.menutree_vertical_right_controls {
    font-size: 0.8em;
    margin: 0.5em 0;
}
