ul.menutree_vertical_left,
ul.menutree_vertical_left ul {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-bottom: none;
    font-weight: bold;
    line-height: 2em;
    list-style: none;
    margin: 1em 0;
    padding: 0;
}

ul.menutree_vertical_left li {
    padding: 0;
    margin: 0;
    position: relative;
}

ul.menutree_vertical_left li:hover {
    background-color: #eeeeee;
}

ul.menutree_vertical_left li a,
ul.menutree_vertical_left li span {
    border-bottom: 1px solid #CCCCCC;
    display: block;
    padding: 2px 10px;
    text-decoration: none;
}

ul.menutree_vertical_left li.parent > a,
ul.menutree_vertical_left li.parent > span {
    background: url('../../images/arrow_right_grey.png') no-repeat scroll 95% 50% transparent;
    padding-right: 18px;
}

ul.menutree_vertical_left li.parent > a:hover,
u.menutree_vertical_left li.parent > span:hover {
    background: url('../../images/arrow_right_black.png') no-repeat scroll 95% 50% transparent;
}

ul.menutree_vertical_left ul,
ul.menutree_vertical_left ul ul,
ul.menutree_vertical_left ul ul ul,
ul.menutree_vertical_left ul ul ul ul {
    left: 100%;
    position: absolute;
    top: -45%;
    width: 100%;
}

ul.menutree_vertical_left ul,
ul.menutree_vertical_left li:hover ul ul,
ul.menutree_vertical_left ul ul,
ul.menutree_vertical_left ul li:hover ul ul,
ul.menutree_vertical_left ul ul ul,
ul.menutree_vertical_left ul ul li:hover ul ul,
ul.menutree_vertical_left ul ul ul ul,
ul.menutree_vertical_left ul ul ul li:hover ul ul {
    display: none;
}

ul.menutree_vertical_left li:hover ul,
ul.menutree_vertical_left ul li:hover ul,
ul.menutree_vertical_left ul ul li:hover ul,
ul.menutree_vertical_left ul ul ul li:hover ul {
    display: block;
    z-index: 1000;
}

.menutree_vertical_left_controls {
    font-size: 0.8em;
    margin: 0.5em 0;
}
