/* view pages */
div#z-maincontent.z-module-routes table tbody tr td {
    vertical-align: top;
}

/* display pages */

.zikularoutesmodule-display div.col-sm-3 h3 {
    color: #333;
    font-weight: 400;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}

.zikularoutesmodule-display div.col-sm-3 p.managelink {
    margin-left: 18px;
}
/* validation */
div.form-group input:required, div.form-group textarea:required, div.form-group select:required {
    /*border: 1px solid #00a8e6;*/
    background-color: #ffffff;
}
div.form-group input:required:valid, div.form-group textarea:required:valid, div.form-group select:required:valid {
    /*border: 1px solid green;*/
}
div.form-group input:required:invalid, div.form-group textarea:required:invalid, div.form-group select:required:invalid {
    border: 1px solid red;
}
/** fix dropdown visibility inside responsive tables */
div.zikularoutesmodule-view .table-responsive {
    min-height: 300px;
}
div.zikularoutesmodule-view form.zikularoutesmodule-quicknav {
    margin: 10px 0;
    padding: 8px 12px;
    border: 1px solid #ccc;
}

div.zikularoutesmodule-view form.zikularoutesmodule-quicknav fieldset {
    padding: 3px 10px;
    margin-bottom: 0;
}

div.zikularoutesmodule-view form.zikularoutesmodule-quicknav fieldset h3 {
    margin-top: 0;
    display: none;
}

div.zikularoutesmodule-view form.zikularoutesmodule-quicknav fieldset #num {
    width: 50px;
    text-align: right;
}
