/* view pages */
div#z-maincontent.z-module-routes table tbody tr td {
    vertical-align: top;
}
.ui-state-highlight {
    height: 40px;
}

/* display pages */
.zikularoutesmodule-display p.managelink {
    margin: 18px 0 0 18px;
}


/* validation */
div.form-group input:required, div.form-group textarea:required, div.form-group select:required {
    /*border: 1px solid #00a8e6;*/
    background-color: #fff;
}
div.form-group input:required:valid, div.form-group textarea:required:valid, div.form-group select:required:valid {
    /*border: 1px solid green;*/
}
div.form-group input:required:invalid, div.form-group textarea:required:invalid, div.form-group select:required:invalid {
    border: 1px solid red;
}

/* hide legends if tabs are used as both contain the same labels */
div.routes-edit .tab-pane legend {
    display: none;
}

/** fix dropdown visibility inside responsive tables */
div.zikularoutesmodule-view .table-responsive {
    min-height: 300px;
}
div.zikularoutesmodule-view form.zikularoutesmodule-quicknav {
    margin: 10px 0;
    padding: 8px 12px;
    border: 1px solid #ccc;
}

div.zikularoutesmodule-view form.zikularoutesmodule-quicknav fieldset {
    padding: 3px 10px;
    margin-bottom: 0;
}

div.zikularoutesmodule-view form.zikularoutesmodule-quicknav fieldset h3 {
    margin-top: 0;
    display: none;
}

div.zikularoutesmodule-view form.zikularoutesmodule-quicknav fieldset label {
    margin-right: 5px;
}

div.zikularoutesmodule-view .avatar img {
    width: auto;
    max-height: 24px;
}
