{{ include('@ZikulaBootstrapTheme/Include/header.html.twig') }}
        <div id="bootstrap-theme-main-container">
            {{ include('@ZikulaBootstrapTheme/Include/admin_menu.html.twig') }}
            {{ include('@ZikulaBootstrapTheme/Body/' ~ themevars.admin ~ '.html.twig') }}
            {{ include('@ZikulaBootstrapTheme/Include/footer.html.twig') }}
        </div><!-- /bootstrap-theme-main-container -->
    </body>
</html>
