{% set policyUrl = getModVar(constant('Zikula\\LegalModule\\Constant::MODNAME'), constant('Zikula\\LegalModule\\Constant::MODVAR_LEGALNOTICE_URL')) %}
{% if policyUrl == '' %}
    {% set policyUrl = path('zikulalegalmodule_user_legalnotice') %}
{% endif %}
<a class="legal_inlinelink_legalnotice" href="{{ policyUrl|e('html_attr') }}" target="{{ target|e('html_attr') }}">{% trans %}Legal notice{% endtrans %}</a>
