# ----------------------------------------------------------------------
# Purpose of file: block web access to not allowed files
#                  stored under the modules/ directory
# ----------------------------------------------------------------------
deny from all
<FilesMatch "\.(css|js|jpg|gif|png|swf)$">
order allow,deny
allow from all
</filesmatch>
