# File: $Id$
# ----------------------------------------------------------------------
# Purpose of file: block any web access to files stored under
#                  the modules/ directory
# ----------------------------------------------------------------------
deny from all
<FilesMatch "\.(css|js|jpg|gif|png|swf)$">
order allow,deny
allow from all
</filesmatch>
