<div>
    <input type="checkbox" id="active_zikulausersmodule" name="active[ZikulaUsersModule]" value="1" {% if active %}checked="checked"{% endif %} />
    <label for="active_zikulausersmodule">{{ __('Registered users') }}</label>
</div>
