{{ form_row(form.displaySearchBtn) }}
<fieldset>
    <legend>{% trans %}Active modules{% endtrans %}</legend>
    {{ form_row(form.active) }}
    {% if form.active is empty %}
        <div class="col-md-9 offset-md-3 alert alert-danger">{{ __f('There are no active modules to search. Please activate at %link', {'%link': '<a href="' ~ path('zikulasearchmodule_config_config') ~ '">' ~ __('Search Config') ~ '</a>'})|raw }}</div>
    {% endif %}
</fieldset>
