# ----------------------------------------------------------------------
# Purpose of file: block any web access to files stored under
#                  the style/ directory
# ----------------------------------------------------------------------
deny from all
<FilesMatch "\.(css)$">
order allow,deny
allow from all
</filesmatch>
