services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false
        bind:
            $bundle: '@Zikula\CategoriesModule\ZikulaCategoriesModule'

    Zikula\CategoriesModule\:
        resource: '../../*'
        exclude: '../../{bootstrap.php,Tests,vendor}'

    Zikula\CategoriesModule\Helper\:
        resource: '../../Helper/*'
        lazy: true

    Zikula\CategoriesModule\Api\ApiInterface\CategoryPermissionApiInterface: '@Zikula\CategoriesModule\Api\CategoryPermissionApi'
    Zikula\CategoriesModule\Entity\RepositoryInterface\CategoryRegistryRepositoryInterface: '@Zikula\CategoriesModule\Entity\Repository\CategoryRegistryRepository'
    Zikula\CategoriesModule\Entity\RepositoryInterface\CategoryRepositoryInterface: '@Zikula\CategoriesModule\Entity\Repository\CategoryRepository'

    Zikula\CategoriesModule\Entity\Repository\CategoryRepository:
        factory: 'doctrine.orm.entity_manager:getRepository'
        arguments: ['ZikulaCategoriesModule:CategoryEntity']
