services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false
        bind:
            $extension: '@Zikula\CategoriesModule\ZikulaCategoriesModule'

    Zikula\CategoriesModule\:
        resource: '../../*'
        exclude: '../../{bootstrap.php,Tests,vendor}'

    Zikula\CategoriesModule\Helper\:
        resource: '../../Helper/*'
        lazy: true

    Zikula\CategoriesModule\Api\ApiInterface\CategoryPermissionApiInterface: '@Zikula\CategoriesModule\Api\CategoryPermissionApi'
    Zikula\CategoriesModule\Entity\RepositoryInterface\CategoryRegistryRepositoryInterface: '@Zikula\CategoriesModule\Entity\Repository\CategoryRegistryRepository'
    Zikula\CategoriesModule\Entity\RepositoryInterface\CategoryRepositoryInterface: '@Zikula\CategoriesModule\Entity\Repository\CategoryRepository'

    # public for BC as these are accessed in several installers using container
    Zikula\CategoriesModule\Api\CategoryPermissionApi:
        public: true
    Zikula\CategoriesModule\Entity\Repository\CategoryRegistryRepository:
        public: true
    Zikula\CategoriesModule\Entity\Repository\CategoryRepository:
        public: true
