#navi ul.menutree_horizontal,
#navi ul.menutree_horizontal ul {
    float: left;
    font-weight: bold;
    line-height: 2em;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

#navi ul.menutree_horizontal li {
    background: url("../../../images/navtabr.png") repeat-x scroll right top #53B021;
    border: medium none;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
}

#navi ul.menutree_horizontal li a:hover,
#navi ul.menutree_horizontal li span:hover {
    color: #F8981D;
}

#navi ul.menutree_horizontal > li {
    float: left;
    line-height: 30px;
    margin: 0 0 0 2px;
}

#navi ul.menutree_horizontal li a,
#navi ul.menutree_horizontal li span {
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: normal;
    padding: 8px;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

#navi ul.menutree_horizontal li.parent > a,
#navi ul.menutree_horizontal li.parent > span {
    background: url("/images/global/arrow_down_white.png") no-repeat scroll 95% 50% transparent;
    padding-right: 18px;
}

#navi ul.menutree_horizontal li.parent > a:hover,
#navi ul.menutree_horizontal li.parent > span:hover {
    background: url("/images/global/arrow_down_black.png") no-repeat scroll 95% 50% transparent;
}

#navi ul.menutree_horizontal li ul {
    border: 1px solid #F8981D;
    font-weight: normal;
    height: auto;
    left: -9999px;
    margin: 0;
    position: absolute;
    width: 15em;
    z-index: 9999;
}

#navi ul.menutree_horizontal li li {
    width: 15em;
    background: url("../../../images/navtabr.png") repeat-x scroll left -1px transparent;
}

#navi ul.menutree_horizontal li li a,
#navi ul.menutree_horizontal li li span {
    border: medium none;
    text-align: left;
    padding: 4px;
}

#navi ul.menutree_horizontal li li.parent > a,
#navi ul.menutree_horizontal li li.parent > span {
    background: url("/images/global/arrow_right_white.png") no-repeat scroll 95% 50% transparent;
    padding-right: 18px;
}

#navi ul.menutree_horizontal li li.parent > a:hover,
#navi ul.menutree_horizontal li li.parent > span:hover {
    background: url("/images/global/arrow_right_black.png") no-repeat scroll 95% 50% transparent;
}

#navi ul.menutree_horizontal li ul ul {
    margin: -1.75em 0 0 15.1em;
}

#navi ul.menutree_horizontal li:hover ul ul,
#navi ul.menutree_horizontal li:hover ul ul ul {
    left: -9999px;
}

#navi ul.menutree_horizontal li:hover ul {
    left: -1px;
    position: absolute;
    top: 30px;
    border-top: none;
}

#navi ul.menutree_horizontal li li:hover ul,
#navi ul.menutree_horizontal li li li:hover ul {
    left: -1px;
    top: 1.75em;
}

.menutree_horizontal_controls {
    display: none;
}
