{* $Id: pagerimage.html 18557 2006-04-03 11:56:53Z markwest $ *}

{assign var="separator" value=" "}
<div class="{$pagerPluginArray.class}">
    {if $pagerPluginArray.currentPage > 1}
		{gt text="First Page" assign="firstpage"}
        <a href="{$pagerPluginArray.firstUrl}" title="{$firstpage}">
            {img modname=core set=icons/extrasmall src="previousend.gif" __title=$firstpage __alt=$firstpage}
        </a>
        {$separator}
		{gt text="Previous Page" assign="previouspage"}
        <a href="{$pagerPluginArray.prevUrl}" title="{$previouspage}">
            {img modname=core set=icons/extrasmall src="previous.gif" __title=$previouspage __alt=$previouspage}
        </a> {$separator} 
    {/if}

    <span>
    {gt text="Page"} {$pagerPluginArray.currentPage} / {$pagerPluginArray.countPages} ({$pagerPluginArray.itemStart} - {$pagerPluginArray.itemEnd} {gt text="of"} {$pagerPluginArray.total} {gt text="Total"})
    </span>

    {if $pagerPluginArray.currentPage < $pagerPluginArray.countPages}
        {$separator}
		{gt text="Next Page" assign="nextpage"}
        <a href="{$pagerPluginArray.nextUrl}" title="{$nextpage}">
            {img modname=core set=icons/extrasmall src="next.gif" __title=$nextpage __alt=$nextpage}
        </a>
        {$separator}
		{gt text="Last Page" assign="lastpage"}
        <a href="{$pagerPluginArray.lastUrl}" title="{$lastpage}">
            {img modname=core set=icons/extrasmall src="nextend.gif" __title=$lastpage __alt=$lastpage}
        </a>
    {/if}
</div>
