<h3>
    <span class="fas fa-info-circle"></span>
    {% trans %}PHP configuration{% endtrans %}
    {{ pageSetVar('title', 'PHP configuration'|trans) }}
</h3>
<div id="phpinfo">
    {{ phpinfo|raw }}
</div>
{{ pageAddAsset('javascript', zasset('@ZikulaSettingsModule:js/ZikulaSettingsModule.Admin.Phpinfo.js')) }}
