<h1>{gt text="Site admin panel" domain="zikula"} ({version})</h1>

{include file=admin_admin_securityanalyzer.htm}
{include file=admin_admin_developernotices.htm}
{nocache}{include file=admin_admin_updatechecker.htm}{/nocache}
{insert name="getstatusmsg"}

<div class="admintabs-container" id="admintabs-container">
    <ul id="admintabs" class="z-clearfix">
        {section name=menuoption loop=$menuoptions}
        <li>
            {if $currentcat eq $menuoptions[menuoption].cid}
            <a id="C{$menuoptions[menuoption].cid}" class="active" href="{$menuoptions[menuoption].url|varprepfordisplay}" title="{$menuoptions[menuoption].description|varprepfordisplay}">{$menuoptions[menuoption].title|varprepfordisplay}</a>
            {else}
            <a id="C{$menuoptions[menuoption].cid}" href="{$menuoptions[menuoption].url|varprepfordisplay}" title="{$menuoptions[menuoption].description|varprepfordisplay}">{$menuoptions[menuoption].title|varprepfordisplay}</a>
            {/if}
        </li>
        {/section}
        <li id="addcat">
            <a href="{modurl modname=Admin type=admin func=new}" title="new" onclick='return newCategory(this);'>
                {img modname=core src=edit_add.gif set=icons/extrasmall __alt="New" __title="New" height="10px"}
            </a>
        </li>
    </ul>
    {adminonlinemanual}
    {include file=admin_admin_ajaxAddCategory.htm}
</div>

<div class="z-hide" id="none">
    <input type="hidden" name="authid" id="authid" value="{insert name="generateauthkey" module="Admin"}" />
</div>
