{% set templateTitle = __('No search plug-ins found') %}
{{ include('@ZikulaSearchModule/User/menu.html.twig') }}

<h3>{{ templateTitle }}</h3>

<p>{{ __('Error! Could not find any search plug-ins to use.') }}</p>
