services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false
        bind:
            $bundle: '@Zikula\GroupsModule\ZikulaGroupsModule'

    Zikula\GroupsModule\:
        resource: '../../*'
        exclude: '../../{bootstrap.php,Tests,vendor}'

    Zikula\GroupsModule\Helper\:
        resource: '../../Helper/*'
        lazy: true

    Zikula\GroupsModule\Entity\RepositoryInterface\GroupApplicationRepositoryInterface: '@Zikula\GroupsModule\Entity\Repository\GroupApplication'
    Zikula\GroupsModule\Entity\RepositoryInterface\GroupRepositoryInterface: '@Zikula\GroupsModule\Entity\Repository\GroupRepository'

    Zikula\GroupsModule\Entity\Repository\GroupRepository:
        calls:
            - [setTranslator, ['@Zikula\Common\Translator\Translator']]

    Zikula\GroupsModule\Menu\MenuBuilder:
        tags:
            - { name: knp_menu.menu_builder, method: createAdminMenu, alias: zikulaGroupsAdminMenu }
            - { name: knp_menu.menu_builder, method: createUserMenu, alias: zikulaGroupsUserMenu }
