services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    # alias interface to doctrine service
    Doctrine\Persistence\ManagerRegistry: '@doctrine'

    Zikula\CoreBundle\:
        resource: '../src/*'

    Zikula\CoreBundle\EventSubscriber\ClickjackProtectionSubscriber:
        arguments:
            $xFrameOptions: 'SAMEORIGIN'

    Symfony\Component\HttpKernel\Fragment\FragmentHandler: '@fragment.handler'
