/******************************************************************************
* Admin breadcrumbs
******************************************************************************/

#z-maincontent .z-admin-breadcrumbs {
    color: #777;
    font-size: 0.95em;
    margin-bottom: 1em;
}

#z-maincontent .z-admin-breadcrumbs a {
    color: #555;
}

#z-maincontent .z-admin-breadcrumbs .z-sub {
    color: #999;
}

#z-maincontent .z-admin-breadcrumbs .z-breadcrumb {
    padding: 0 0.2em;
}

/******************************************************************************
* Admin area (introduced in Core 1.3)
* This single container replaces the old 'z-adminbox' and 'z-admincontainer'
******************************************************************************/

#z-maincontent div.z-admin-content {
    background: #fff;
    color: #333;
    width: auto;
    border: 1px solid #ccc;
    border-top: none;
    padding: 5px 1%;
}

#z-maincontent div.z-admin-content .z-menulinks {
    margin: 0.5em 0;
}

/******************************************************************************
* Styling for all general headers in the entire admin box.
******************************************************************************/

#z-maincontent div.z-admincontainer h2, /* BC */
#z-maincontent div.z-admincontainer h3, /* BC */
#z-maincontent div.z-admin-content h2,
#z-maincontent div.z-admin-content h3 {
    background: none;
    color: #333;
    text-align: left;
    border-bottom: 1px solid #eee;
    margin-top: 0px;
    padding-top: 0.5em;
}

/******************************************************************************
* Module- and pageheaders (icon+header)
******************************************************************************/

#z-maincontent div.z-admin-content-modtitle {
    padding: 5px 0;
}

#z-maincontent div.z-admin-content-modtitle:after,
#z-maincontent div.z-admin-content-pagetitle:after {
    /* clearfix */
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#z-maincontent div.z-admin-content-modtitle img {
    float: left;
    margin-right: 10px;
}

#z-maincontent div.z-admin-content-pagetitle img {
    float: left;
    margin-right: 5px;
}

#z-maincontent div.z-admin-content-modtitle h2 {
    background: none;
    border: none;
    color: #333;
    font-size: 24px;
    font-weight: normal;
    line-height: 36px;
    margin: 0;
    padding: 0;
    text-align: left;
}

#z-maincontent div.z-admin-content-pagetitle {
    padding: 10px 0;
}

#z-maincontent div.z-admin-content-pagetitle h3 {
    background: none;
    color: #333;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    margin: 0;
    padding: 0;
    text-align: left;
    border-bottom: 1px solid #eee;
}

/******************************************************************************
* Styling for module icon list in the admin panel
******************************************************************************/

#z-adminiconlist {
    margin: 5px;
}

#z-adminiconlist .z-adminfloat {
    float: left;
}

#z-adminiconlist .z-adminiconcontainer {
    float: left;
    padding: 0.75em 0;
}

#z-adminiconlist .z-adminmodtitle {
    font-weight: bold;
    overflow: hidden;
}

#z-adminiconlist .z-adminiconrow .z-adminiconcontainer .z-adminicon {
    /* only for admin_admin_adminpanel_inc1.tpl */
    margin-right: 5px;
}

#z-adminiconlist .z-adminiconcontainer .z-adminicon img {
    background: inherit;
    border-color: #D9E0E6 #C8CDD2 #C8CDD2 #D9E0E6;
    border-style: solid;
    border-width: 1px;
    padding: 4px;
}

#z-adminiconlist .z-adminiconcontainer .z-adminicon img:hover {
    border: 1px solid #aaa;
}

#z-adminiconlist .z-adminlinkheader {
    white-space: nowrap;
}

#z-adminiconlist .z-adminlinkheader img {
    vertical-align: middle;
}

#z-adminiconlist .z-dragicon {
    cursor: move;
}

.z-pointericon {
    background: url("../../../images/global/arrow_down_grey.png") no-repeat scroll 50% 50% transparent;
    border: 1px solid transparent;
    cursor: pointer;
    height: 1em;
    margin-left: 0;
    padding: 0 5px;
    width: 1em;
}

.z-pointericon:hover {
    background: url("../../../images/global/arrow_down_black.png") no-repeat scroll 50% 50% transparent;
    border: 1px solid #999;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

/******************************************************************************
* Styling for status security analyzer, update checker and more
******************************************************************************/

#z-maincontent #admin-systemnotices div+div {
    margin-top: -1.15em;
}

#z-maincontent div#z-securityanalyzer,
#z-maincontent div#z-updatechecker,
#z-maincontent div#z-adminwarning,
#z-maincontent div#z-developernotices {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 0 20px 0 0;
    margin: 1em auto;
    min-height: 1em;
    width: 75%;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #444;
}

/* styling for security checks */
#z-maincontent div#z-securityanalyzer {
    background: url("../../../images/icons/extrasmall/bell.png") #FFF6BF 99% 0.35em no-repeat; /*non-CSS3 browsers*/
    background: url("../../../images/icons/extrasmall/bell.png") 99% 0.35em no-repeat, -moz-linear-gradient(top, #FEFEF3, #FFF6BF) repeat scroll 0 0 transparent; /*gecko*/
    background: url("../../../images/icons/extrasmall/bell.png") 99% 0.35em no-repeat, -webkit-gradient(linear, left top, left bottom, from(#FEFEF3), to(#FFF6BF)) repeat scroll 0 0 transparent; /*webkit*/
    background: url("../../../images/icons/extrasmall/bell.png") 99% 0.35em no-repeat, linear-gradient(#FEFEF3, #FFF6BF); /*CSS3*/
    border: 2px solid #ffd324;
}

/* styling for status update checker */
#z-maincontent div#z-updatechecker {
    background: url("../../../images/icons/extrasmall/agt_update-product.png") #C4E6BD 99% 0.35em no-repeat; /*non-CSS3 browsers*/
    background: url("../../../images/icons/extrasmall/agt_update-product.png") 99% 0.35em no-repeat, -moz-linear-gradient(top, #F1FEF4, #C4E6BD) repeat scroll 0 0 transparent; /*gecko*/
    background: url("../../../images/icons/extrasmall/agt_update-product.png") 99% 0.35em no-repeat, -webkit-gradient(linear, left top, left bottom, from(#F1FEF4), to(#C4E6BD)) repeat scroll 0 0 transparent; /*webkit*/
    background: url("../../../images/icons/extrasmall/agt_update-product.png") 99% 0.35em no-repeat, linear-gradient(#F1FEF4, #C4E6BD); /*CSS3*/
    border: 2px solid #7Ec573;
}

/* styles for the warning message shown if any of the install directory, install.php or zrc.php are found */
#z-maincontent div#z-adminwarning {
    background: url("../../../images/icons/extrasmall/error.png") #FFCBCA 99% 0.35em no-repeat; /*non-CSS3 browsers*/
    background: url("../../../images/icons/extrasmall/error.png") 99% 0.35em no-repeat, -moz-linear-gradient(top, #F7DCDC, #FFCBCA) repeat scroll 0 0 transparent; /*gecko*/
    background: url("../../../images/icons/extrasmall/error.png") 99% 0.35em no-repeat, -webkit-gradient(linear, left top, left bottom, from(#F7DCDC), to(#FFCBCA)) repeat scroll 0 0 transparent; /*webkit*/
    background: url("../../../images/icons/extrasmall/error.png") 99% 0.35em no-repeat, linear-gradient(#F7DCDC, #FFCBCA); /*CSS3*/
    border: 2px solid #990000;
}

/* styling for developer notices */
#z-maincontent div#z-developernotices {
    background: url("../../../images/icons/extrasmall/run.png") #C5E8F1 99% 0.35em no-repeat; /*non-CSS3 browsers*/
    background: url("../../../images/icons/extrasmall/run.png") 99% 0.35em no-repeat, -moz-linear-gradient(top, #EAF5FA, #C5E8F1) repeat scroll 0 0 transparent; /*gecko*/
    background: url("../../../images/icons/extrasmall/run.png") 99% 0.35em no-repeat, -webkit-gradient(linear, left top, left bottom, from(#EAF5FA), to(#C5E8F1)) repeat scroll 0 0 transparent; /*webkit*/
    background: url("../../../images/icons/extrasmall/run.png") 99% 0.35em no-repeat, linear-gradient(#EAF5FA, #C5E8F1); /*CSS3*/
    border: 2px solid #95C9EF;
}

div#z-developernotices strong,
div#z-securityanalyzer strong,
div#z-updatechecker strong {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    padding: 0.25em;
}

div#z-developernotices strong:hover,
div#z-securityanalyzer strong:hover,
div#z-updatechecker strong:hover {
    text-decoration: underline;
}

div#z-developernotices a,
div#z-adminwarning a,
div#z-updatechecker a,
div#z-securityanalyzer a {
    color: #444;
    padding: 0;
    margin: 0;
}

div#z-developernotices a:hover,
div#z-adminwarning a:hover,
div#z-updatechecker a:hover,
div#z-securityanalyzer a:hover {
    color: #000;
    text-decoration: underline;
}

div#z-developernotices ul,
div#z-adminwarning ul,
div#z-updatechecker ul,
div#z-securityanalyzer ul {
    list-style-position: outside;
    list-style-type: disc;
    margin: 0 1em;
    padding: 0 1em;
}

div#z-updatechecker p {
    margin: 0 1em 0.5em;
    padding: 0 0 0 1em;
}

/* Used to style the cancel delete button when asking for a confirmation */
div.canceldelete-container {
    margin: 0 auto;
    color: inherit;
    background-color: #ffffea;
    width: 30%;
    text-align: center;
    border: 1px solid #cccccc;
    padding: 10px 0px 10px 0px;
}

div.canceldelete-container h2 {
    color: gray;
    background-color: inherit;
    display: inline;
}

div.canceldelete-container img {
    float: left;
}

/******************************************************************************
* Admin category description
******************************************************************************/

div.z-admincategorydescription {
    text-align: left;
    margin-bottom: 12px;
}

/******************************************************************************
* Styling for core version
******************************************************************************/

#z-maincontent .z-admin-coreversion {
    color: #999;
    font-size: 0.9em;
    margin: 0 0 1.25em;
}

/******************************************************************************
* Disabled admin function links
******************************************************************************/

div.z-admincontainer a.z-disabledadminlink, /* BC */
div.z-adminbox a.z-disabledadminlink,       /* BC */
div.z-admin-content a.z-disabledadminlink {
    text-decoration: line-through;
}

/******************************************************************************
* Styling for noscript category propertly selector label
******************************************************************************/

div.property_selector_noscript {
    display: inline;
}

/******************************************************************************
* Backwards compatibility for Zikula 1.2 modules: Header area
******************************************************************************/

#z-maincontent div.z-adminbox>img {
    float: left;
    margin-right: 10px;
}

#z-maincontent div.z-adminbox h1 {
    background: none;
    color: #333;
    font-size: 24px;
    font-weight: normal;
    line-height: 36px;
    margin: 0;
    padding: 0;
    text-align: left;
}

#z-maincontent div.z-adminbox h1:after {
    /* clearfix */
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#z-maincontent div.z-adminpageicon {
    padding-bottom: 10px;
}

#z-maincontent div.z-adminpageicon img {
    float: left;
    margin-right: 5px;
    max-height: 22px;
    max-width: 22px;
    padding-top: 12px;
}

#z-maincontent div.z-adminpageicon+h2 {
    background: none;
    border-bottom: 1px solid #EEEEEE;
    color: #333333;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    margin: 0 0 10px;
    padding: 0 0 1px;
    text-align: left;
}

#z-maincontent div.z-admincontainer h2+* {
    clear: both;
}

/******************************************************************************
* Backwards compatibility for Zikula 1.2 modules:
* Upper half of the admin box: For immediate template under the tab menu.
******************************************************************************/

div.z-adminbox {
    background: #fff;
    color: #333;
    width: auto;
    border: none;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 10px 1% 5px 1%;
}

#z-maincontent div.z-adminbox .z-menulinks,
#z-maincontent div.z-adminbox .z-menu {
    margin: 0.5em 0 0;
}

/******************************************************************************
* Backwards compatibility for Zikula 1.2 modules:
* Lower half of the admin box: For immediate template under the admin menu.
******************************************************************************/

div.z-admincontainer {
    background: #fff;
    color: #333;
    width: auto;
    margin-bottom: 1.25em;
    border: 1px solid #ccc;
    border-top: none;
    padding: 0px 1% 5px 1%;
}

/******************************************************************************
* Admin tabs
******************************************************************************/

ul#admintabs {
    background: url("../images/tab_bottom.gif") repeat-x scroll center bottom transparent;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    list-style: none outside none !important;
}

ul#admintabs li {
    background: none repeat scroll 0 0 #F3F3F3 !important;
    border: 1px solid #CCCCCC;
    float: left;
    margin: 0 5px 0 0;
    padding: 0;
    z-index: 1000;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

ul#admintabs li > a {
    border-right: 1px solid transparent;
    color: #666666;
    float: left;
    font-weight: bold;
    padding: 5px;
    position: relative;
    text-decoration: none !important;
}

ul#admintabs li > a:hover {
    background: #FFFFFF !important;
    border-right: 1px solid #ccc;
    color: #000;
    text-decoration: none !important;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
    border-radius: 5px 0 0 0;
}

ul#admintabs li.active {
    background: none repeat scroll 0 0 #fff !important;
    border-bottom: 1px solid #fff;
    z-index: 2000;
}

ul#admintabs li.active a:hover {
    border-right: 1px solid transparent;
}

ul#admintabs li#addcat > a:hover {
    border-right: 1px solid transparent;
}

ul#admintabs li#addcat #addcatlink {
    background: url("../../../images/icons/extrasmall/edit_add.png") no-repeat scroll 50% 50% transparent;
    width: 20px;
}

ul#admintabs li#addcat a#addcatlink:hover {
    background: url("../../../images/icons/extrasmall/edit_add.png") no-repeat scroll 50% 50% #FFF !important;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

ul#admintabs li > .z-admindrop {
    background: url("../../../images/global/arrow_down_grey.png") no-repeat scroll 50% 50% transparent;
    border-left: 1px solid transparent;
    cursor: pointer;
    float: left;
    padding: 5px 4px;
    position: relative;
    width: 7px;
}

ul#admintabs li > .z-admindrop:hover {
    background: url("../../../images/global/arrow_down_black.png") no-repeat scroll 50% 50% #FFFFFF;
    border-left: 1px solid #CCCCCC;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    border-radius: 0 5px 0 0;
}

ul#admintabs li.active > .z-admindrop:hover {
    background: url("../../../images/global/arrow_down_black.png") no-repeat scroll 50% 50% transparent;
    border-left: 1px solid transparent;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    border-radius: 0 5px 0 0;
}

ul#admintabs li a.ajaxhover {
    background: #FFFFB2 !important;
    border-right: 1px solid #ccc;
    color: #000;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
    border-radius: 5px 0 0 0;
}

ul#admintabs #ajaxNewCatForm {
    background-color: #FFFFB2;
    display: block;
    float: left;
    font-weight: bold;
    padding: 5px;
    position: relative;
    text-decoration: none;
    z-index: 1000;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

ul#admintabs #ajaxNewCatForm input.ajaxNewCat {
    background-color: #fff;
    border: none;
    color: #333;
    float: left;
    font-weight: bold;
    margin: 0;
    max-width: 8em;
    padding: 0;
}

ul#admintabs #ajaxNewCatForm a.ajaxCatImage {
    background-color: transparent;
    border: medium none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

ul#admintabs #ajaxNewCatForm a.ajaxCatImage img {
    background-color: transparent;
    border: medium none;
    margin-left: 3px;
    padding: 0;
    text-decoration: none;
}

form.inplaceeditor-form {
    background-color: #FFFFB2;
    border-right: 1px solid #ccc;
    color: #666666;
    display: block;
    float: left;
    margin-right: 0.5em;
    padding: 5px 10px;
    text-decoration: none;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
    border-radius: 5px 0 0 0;
}

form.inplaceeditor-form input[type="text"] {
    font-weight: bold;
    background-color: #FFF;
    border: none;
    color: #333;
    margin: 0 !important;
    padding: 0 !important;
    max-width: 8em;
    outline: medium none;
}
