/******************************************************************************
* Hacks for Internet Explorer
*
* Comprehensive List of Browser-Specific CSS Hacks
* http://paulirish.com/2009/browser-specific-css-hacks/
*******************************************************************************/


/* IE-Patches for clearfix */
.z-clearfix {
    display: inline-block;
}
/* Hides from IE-mac \*/
* html .z-clearfix {
    height: 1px;
}
.z-clearfix {
    display: block;
}
/* End hide from IE-mac */

/* Overflow-Method to clear float environments */
.z-floatbox {
    width: 100%;
}

/******************************************************************************
* Generic Form Style: z-form
*******************************************************************************/

.z-form {
    padding-top: 0;
    overflow: hidden;
    zoom: 1;
}

.z-form fieldset,
.z-form .z-fieldset {
    overflow: hidden;
    padding: 0 5px;
    padding-top:1em;
    padding-bottom:0.5em;
    overflow: visible;
    margin-top: 1.5em;
    zoom: 1;
    position: relative;
    -pie-background: linear-gradient(#fafafa, #f2f2f2); /*PIE*/
    behavior: url("/styles/PIE.php");
}

.z-form legend {
    position:absolute;
    top:-.5em;
    *left: 0;
}

div.z-formrow,
div.z-formbuttons {
    overflow: hidden;
    zoom: 1;
}

div.z-formlist {
    overflow: hidden;
}

/* Adjust width for IE 5 and IE6 */
* html .z-form div.z-formrow input,
* html .z-form div.z-formrow textarea,
* html .z-form div.z-formrow select {
    width: auto;
}

/******************************************************************************
* IE-fixes for Fieldset/Legend
*******************************************************************************/

/* IE5.x, IE6, IE7 */
.z-form legend {
    *padding: 0 5px;
}
.z-form fieldset {
    *padding-top:1.5em;
}
/* IE5.x, IE6 */
* html .z-form {
    padding-top: 10px;
}

/******************************************************************************
* Fixes offset of Ajax Autocompleter popup box (e.g. Users module)
*******************************************************************************/

#liveusersearch fieldset {
    position: static\9; /* IE6, IE7, IE8 */
    *position: relative; /* IE6, IE7 */
    *padding-top: 0.5em; /* we don't need to fix the offset of LEGEND here */
}

/******************************************************************************
* CSS3PIE problems with z-index (disappearing backgrounds)
* http://css3pie.com/documentation/known-issues/
*******************************************************************************/

.z-button,
.z-buttons a,
.z-buttons input,
.z-buttons button {
    position: relative;
    z-index: 1000;
    -pie-background: linear-gradient(#F5F5F5, #dedede); /*PIE*/
    behavior: url("/styles/PIE.php");
}

.z-buttons button {
    padding: 4px 10px 3px 10px; /* IE6 */
}

*:first-child+html button[type] {
    padding: 4px 10px 3px 10px; /* IE7 */
}

.z-button:hover,
.z-buttons a:hover,
.z-buttons input:hover,
.z-buttons button:hover {
    -pie-background: linear-gradient(#dedede, #F5F5F5); /*PIE*/
    behavior: url("/styles/PIE.php");
}

.z-button:active,
.z-buttons a:active,
.z-buttons input:active,
.z-buttons button:active {
    -pie-background: linear-gradient(#d0d0d0, #f0f0f0); /*PIE*/
    behavior: url("/styles/PIE.php");
}

.z-buttons input.z-bt-ok {
    -pie-background: url("../images/icons/extrasmall/button_ok.gif") 10px 50% no-repeat, linear-gradient(#F5F5F5, #DEDEDE); /*PIE*/
    behavior: url("/styles/PIE.php");
}
.z-buttons input.z-bt-ok:hover {
    -pie-background: url("../images/icons/extrasmall/button_ok.gif") 10px 50% no-repeat, linear-gradient(#dedede, #F5F5F5); /*PIE*/
    behavior: url("/styles/PIE.php");
}

.z-buttons input.z-bt-ok:active {
    -pie-background: url("../images/icons/extrasmall/button_ok.gif") 10px 50% no-repeat, linear-gradient(#d0d0d0, #f0f0f0); /*PIE*/
    behavior: url("/styles/PIE.php");
}
