div.ContextMenu {
    position: absolute;
    z-index: 100;
    font-family: Tahoma;
    font-size: 11px;
    color: #000000;
    text-align: left;
}
div.ContextMenu * {
    margin: 0;
    padding: 0;
}
div.ContextMenu ul {
    border: 1px solid #9D9DA1;
    background: #FFFFFF;
    padding: 2px;
    width: 180px;
    list-style: none;
    margin: 0;
}
div.ContextMenu ul span {
    padding: 1px 0pt 2px 22px;
    line-height: 19px;
    background-repeat: no-repeat;
    background-position: 2px 0;
}

div.ContextMenu ul li {
    background-color: #FFFFFF;
    cursor: pointer;
}

div.ContextMenu ul li.disabled {
    color: #BBBBBB;
    cursor: default;
}

div.ContextMenu ul li.more {
    background-color: #FFFFFF;
    background-image: url('../../images/menutree/menu/withc.gif');
    background-repeat: no-repeat;
    background-position: 100% 0;
    position: relative;
}

div.ContextMenu ul li:hover {
    background-color: #B2B4BF;
}

div.ContextMenu ul li.more:hover {
    background-color: #B2B4BF;
    background-image: url('../../images/menutree/menu/withc-hover.gif');
}

div.ContextMenu ul li ul {
    display: none;
}

div.ContextMenu ul.show {
    display: block;
}

div.ContextMenu ul ul, div.ContextMenu ul ul ul, div.ContextMenu ul ul ul ul, div.ContextMenu ul ul ul ul ul {
    position: absolute;
    top: -3px;
    left: 100%;
    width: 100%;
}

div.ContextMenu ul {
    z-index: 102;
}

div.ContextMenu ul ul {
    z-index: 103;
}

div.ContextMenu ul ul ul {
    z-index: 104;
}

div.ContextMenu ul ul ul ul {
    z-index: 105;
}

div.ContextMenu ul ul ul ul ul {
    z-index: 106;
}

div.ContextMenu li.separator {
    background: #9D9DA1 none repeat scroll 0%;
    border-bottom: 1px solid #FFFFFF;
    margin: 4px 1px 0px;
    *margin-top: 0px;
    cursor: auto;
    height: 1px;
    padding: 0;
    overflow: hidden;
    display: block;
    font-size: 1px;
}

div.ContextMenu iframe {
    padding: 1px;
    z-index: -1;
}

.isfocused {
    border: 1px solid #DCDCDC;
    background: #E1E1E1;
}
