/******************************************************************************
* Backward Compatibility
* Can be removed in Zikula 1.4.0
******************************************************************************/

@import url('style.css');
