/******************************************************************************
* Backward Compatibility
* 
* This file is required until the update of the admin module to v1.9.1
* Can be removed in Zikula 1.4.0
******************************************************************************/

@import url('style.css');
