/******************************************************************************
* Admin area (introduced in Core 1.3)
* This single container replaces the old 'z-adminbox' and 'z-admincontainer'
******************************************************************************/

#z-maincontent div.z-admin-content {
    background: #fff;
    color: #333;
    width: auto;
    border: 1px solid #ccc;
    border-top: none;
    padding: 5px 1%;
}

#z-maincontent div.z-admin-content .navbar .navbar-default {
    margin: 0.5em 0;
}

/******************************************************************************
* Styling for all general headers in the entire admin box.
******************************************************************************/

#z-maincontent div.z-admincontainer h2, /* BC */
#z-maincontent div.z-admincontainer h3, /* BC */
#z-maincontent div.z-admin-content h2,
#z-maincontent div.z-admin-content h3 {
    background: none;
    color: #333;
    text-align: left;
    border-bottom: 1px solid #eee;
    margin-top: 0;
    padding-top: 0.5em;
}

/******************************************************************************
* Module- and pageheaders (iconheader)
******************************************************************************/

#z-maincontent div.z-admin-content-modtitle {
    padding: 5px 0;
}

#z-maincontent div.z-admin-content-modtitle:after,
#z-maincontent div.z-admin-content-pagetitle:after {
    /* clearfix */
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#z-maincontent div.z-admin-content-modtitle img {
    float: left;
    margin-right: 10px;
}

#z-maincontent div.z-admin-content-pagetitle img {
    float: left;
    margin-right: 5px;
}

#z-maincontent div.z-admin-content-modtitle h2 {
    background: none;
    border: none;
    color: #333;
    font-size: 24px;
    font-weight: normal;
    line-height: 36px;
    margin: 0;
    padding: 0;
    text-align: left;
}

#z-maincontent div.z-admin-content-pagetitle {
    padding: 10px 0;
}

#z-maincontent div.z-admin-content-pagetitle h3 {
    background: none;
    color: #333;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    margin: 0;
    padding: 0;
    text-align: left;
    border-bottom: 1px solid #eee;
}

/******************************************************************************
* Styling for status security analyzer, update checker and more
******************************************************************************/

/*#z-maincontent #admin-systemnotices div div {
    margin-top: -1.15em;
}*/

/* styles for the warning message shown if any of the install directory, install.php or zrc.php are found */
#z-maincontent div#z-adminwarning {
    background: url("../../../../../../../images/icons/extrasmall/error.png") #FFCBCA 99% 0.35em no-repeat; /*non-CSS3 browsers*/
    background: url("../../../../../../../images/icons/extrasmall/error.png") 99% 0.35em no-repeat, -moz-linear-gradient(top, #F7DCDC, #FFCBCA) repeat scroll 0 0 transparent; /*gecko*/
    background: url("../../../../../../../images/icons/extrasmall/error.png") 99% 0.35em no-repeat, -webkit-gradient(linear, left top, left bottom, from(#F7DCDC), to(#FFCBCA)) repeat scroll 0 0 transparent; /*webkit*/
    background: url("../../../../../../../images/icons/extrasmall/error.png") 99% 0.35em no-repeat, linear-gradient(#F7DCDC, #FFCBCA); /*CSS3*/
    border: 2px solid #990000;
}

div#z-developernotices strong:hover,
div#z-developernotices span:hover,
div#z-securityanalyzer strong:hover,
div#z-updatechecker strong:hover {
    text-decoration: underline;
    cursor: pointer;
}

div#z-developernotices a,
div#z-adminwarning a,
div#z-updatechecker a,
div#z-securityanalyzer a {
    color: #444;
    padding: 0;
    margin: 0;
}

div#z-developernotices a:hover,
div#z-adminwarning a:hover,
div#z-updatechecker a:hover,
div#z-securityanalyzer a:hover {
    color: #000;
    text-decoration: underline;
}

div#z-developernotices ul,
div#z-adminwarning ul,
div#z-updatechecker ul,
div#z-securityanalyzer ul {
    list-style-position: outside;
    list-style-type: disc;
    margin: 0 1em;
    padding: 0 1em;
}

/**
 * This centers the close icon.
 */
div#z-developernotices > i.close,
div#z-securityanalyzer > i.close,
div#z-updatechecker > i.close {
   margin-top: -2px;
}

/* Used to style the cancel delete button when asking for a confirmation */
div.canceldelete-container {
    margin: 0 auto;
    color: inherit;
    background-color: #ffffea;
    width: 30%;
    text-align: center;
    border: 1px solid #cccccc;
    padding: 10px 0px 10px 0px;
}

div.canceldelete-container h2 {
    color: gray;
    background-color: inherit;
    display: inline;
}

div.canceldelete-container img {
    float: left;
}

/******************************************************************************
* Admin category description
******************************************************************************/

div.z-admincategorydescription {
    text-align: left;
    margin-bottom: 12px;
}

/******************************************************************************
* Styling for core version
******************************************************************************/

#z-maincontent .z-admin-coreversion {
    color: #999;
    font-size: 0.9em;
    margin: 0 0 1.25em;
    text-align: right;
}

/******************************************************************************
* Disabled admin function links
******************************************************************************/

div.z-admincontainer a.z-disabledadminlink, /* BC */
div.z-adminbox a.z-disabledadminlink,       /* BC */
div.z-admin-content a.z-disabledadminlink {
    text-decoration: line-through;
}

/******************************************************************************
* Styling for noscript category propertly selector label
******************************************************************************/

div.property_selector_noscript {
    display: inline;
}

/******************************************************************************
* Backwards compatibility for Zikula 1.2 modules: Header area
******************************************************************************/

#z-maincontent div.z-adminbox>img {
    float: left;
    margin-right: 10px;
}

#z-maincontent div.z-adminbox h1 {
    background: none;
    color: #333;
    font-size: 24px;
    font-weight: normal;
    line-height: 36px;
    margin: 0;
    padding: 0;
    text-align: left;
}

#z-maincontent div.z-adminbox h1:after {
    /* clearfix */
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#z-maincontent div.z-adminpageicon {
    padding-bottom: 10px;
}

#z-maincontent div.z-adminpageicon img {
    float: left;
    margin-right: 5px;
    max-height: 22px;
    max-width: 22px;
    padding-top: 12px;
}

#z-maincontent div.z-adminpageiconh2 {
    background: none;
    border-bottom: 1px solid #EEEEEE;
    color: #333333;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    margin: 0 0 10px;
    padding: 0 0 1px;
    text-align: left;
}

#z-maincontent div.z-admincontainer h2* {
    clear: both;
}

/******************************************************************************
* Backwards compatibility for Zikula 1.2 modules:
* Upper half of the admin box: For immediate template under the tab menu.
******************************************************************************/

div.z-adminbox {
    background: #fff;
    color: #333;
    width: auto;
    border: none;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 10px 1% 5px 1%;
}

#z-maincontent div.z-adminbox .navbar .navbar-default,
#z-maincontent div.z-adminbox .z-menu {
    margin: 0.5em 0 0;
}

/******************************************************************************
* Backwards compatibility for Zikula 1.2 modules:
* Lower half of the admin box: For immediate template under the admin menu.
******************************************************************************/

div.z-admincontainer {
    background: #fff;
    color: #333;
    width: auto;
    margin-bottom: 1.25em;
    border: 1px solid #ccc;
    border-top: none;
    padding: 0px 1% 5px 1%;
}

/******************************************************************************
* Admin tab
******************************************************************************/

.nav-tabs-admin > li > a {
    padding: 5px 10px;
    color: black;
}

.nav-tabs-admin > li {
    margin: 0 2px -1px 0;
}

.nav-tabs-admin > .active {
    font-weight: bold;
}


.nav-tabs-admin .popover {
    width:300px;
}

#admintabs {
    margin: 0;
}

.admintabs-dropover {
    background-color: orange!important
}

.admintabs-lock {
    display: none!important
}

li.admintabs-add {
    float: right;
}

#admintabs-locker {
    float: right;
    margin-right: -2px;
}

#admintabs .dropdown-menu {
    margin: 0;
    padding: 0;
    font-size: 95%;
    z-index: 1002; /* modulelinks */
}

#admintabs .dropdown-menu > li {
    margin: 0px;
}

#admintabs .dropdown-menu > li > a {
    margin: 0px;
    padding: 7px;
}

#admintabs .dropdown-menu .icon {
    padding:0 17px 0 3px
}

/******************************************************************************
* Module list
******************************************************************************/

#modulelist {
  padding-left: 0;
  padding-bottom: 0px;
  margin-bottom: 20px;
  list-style: none;
}

#modulelist > li {
  float: left;
  width: 100%;
  padding: 10px;
  margin: 0 -1px 10px 0;
  font-size: 12px;
  line-height: 1.4;
}

#modulelist img {
    float: left;
    background: inherit;
    border-color: #D9E0E6 #C8CDD2 #C8CDD2 #D9E0E6;
    border-style: solid;
    border-width: 1px;
    padding: 4px;
}

#modulelist > li > div {
    margin-left: 68px;
    text-align: left;
}

#modulelist .dropdown-menu {
    margin: 0;
    padding: 0;
    font-size: 95%;
}


@media (min-width: 550px) {
  #modulelist > li {
    width: 50%;
  }
}

@media (min-width: 950px) {
  #modulelist > li {
    width: 33%;
  }
}
