#theme_navigation_bar ul.menutree_horizontal,
#theme_navigation_bar ul.menutree_horizontal ul {
    background: #578BB8;
    font-weight: bold;
    line-height: 2em;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    float: left;
}

#theme_navigation_bar ul.menutree_horizontal li {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    border: none;
}

#theme_navigation_bar ul.menutree_horizontal li:hover {
    background: #80b0da;
}

#theme_navigation_bar ul.menutree_horizontal > li {
    border-right: 1px solid #FFFFFF;
}

#theme_navigation_bar ul.menutree_horizontal li a,
#theme_navigation_bar ul.menutree_horizontal li span {
    display: block;
    padding: 1px 10px;
    text-decoration: none;
}

#theme_navigation_bar ul.menutree_horizontal li.parent > a,
#theme_navigation_bar ul.menutree_horizontal li.parent > span {
    background: url("/images/global/arrow_down_white.png") no-repeat scroll 95% 50% transparent;
    padding-right: 18px;
}

#theme_navigation_bar ul.menutree_horizontal li.parent > a:hover,
#theme_navigation_bar ul.menutree_horizontal li.parent > span:hover {
    background: url("/images/global/arrow_down_black.png") no-repeat scroll 95% 50% transparent;
}

#theme_navigation_bar ul.menutree_horizontal li ul {
    font-weight: normal;
    height: auto;
    left: -9999px;
    margin: 0;
    position: absolute;
    width: 15em;
    border: 1px solid #444;
}

#theme_navigation_bar ul.menutree_horizontal li li {
    width: 15em;
}

#theme_navigation_bar ul.menutree_horizontal li li a,
#theme_navigation_bar ul.menutree_horizontal li li span {
    border: none;
}

#theme_navigation_bar ul.menutree_horizontal li li.parent > a,
#theme_navigation_bar ul.menutree_horizontal li li.parent > span {
    background: url("/images/global/arrow_right_white.png") no-repeat scroll 95% 50% transparent;
    padding-right: 18px;
}

#theme_navigation_bar ul.menutree_horizontal li li.parent > a:hover,
#theme_navigation_bar ul.menutree_horizontal li li.parent > span:hover {
    background: url("/images/global/arrow_right_black.png") no-repeat scroll 95% 50% transparent;
}

#theme_navigation_bar ul.menutree_horizontal li ul ul {
    margin: -1.75em 0 0 15.1em;
}

#theme_navigation_bar ul.menutree_horizontal li:hover ul ul,
#theme_navigation_bar ul.menutree_horizontal li:hover ul ul ul {
    left: -9999px;
}

#theme_navigation_bar ul.menutree_horizontal li:hover ul {
    left: -1px;
    position: absolute;
}

#theme_navigation_bar ul.menutree_horizontal li li:hover ul,
#theme_navigation_bar ul.menutree_horizontal li li li:hover ul {
    left: -1px;
    top: 1.75em;
}

.menutree_horizontal_controls {
    font-size: 0.8em;
    margin: 0.5em 0;
}

.menutree_horizontal_controls img {
  vertical-align: middle;
}
