<div id="ajaxNewCatHidden" class="hide">
    <form id="ajaxNewCatForm" class="clearfix" action="#">
        <div>
            <input type="text" class="ajaxNewCat" name="name" id="ajaxNewCat" />&nbsp;
            <a href="#" class="ajaxCatImage save"><span class="fa fa-check fa-green"></span></a>
            <a href="#" class="ajaxCatImage cancel"><span class="fa fa-times fa-red"></span></a>
        </div>
    </form>
</div>
