{{ pageAddAsset('javascript', zasset('@ZikulaAdminModule:js/ZikulaAdminModule.SystemNotices.js')) }}
<div id="admin-systemnotices" class="hidden-sm">
    {{ adminSecurityAnalyzer() }}
    {{ adminUpdateCheck() }}
</div>
