{{ pageAddAsset('javascript', zasset('@ZikulaAdminModule:js/ZikulaAdminModule.SystemNotices.js')) }}
<div class="d-none d-md-block">
    {{ adminSecurityAnalyzer() }}
    {{ adminUpdateCheck() }}
</div>
