{{ pageAddAsset('javascript', zasset('@ZikulaAdminModule:js/ZikulaAdminModule.SystemNotices.js')) }}

<div id="admin-systemnotices" class="hidden-xs">
{{ adminSecurityAnalyzer() }}
{{ adminDeveloperNotices() }}
{{ adminUpdateCheck() }}
</div>
