{{ pageAddAsset('javascript', zasset('@ZikulaAdminModule:js/admin_admin_systemnotices.js')) }}

<div id="admin-systemnotices" class="hidden-xs">
{{ adminSecurityAnalyzer() }}
{{ adminDeveloperNotices() }}
{{ adminUpdateCheck() }}
</div>
