/******************************************************************************
* Hypertext
******************************************************************************/

a {
    cursor: pointer;
}

a > i,
a.fas {
    text-decoration: none !important;
}

iframe + p,
p + iframe {
    margin-top: 1em;
}

/******************************************************************************
* Module links navbar bootstrap.css overrides
******************************************************************************/
.nav-modulelinks {
    padding: 3px;
    z-index: inherit;
    margin-left: 0;
    background-color: #e9ecef;
    border-radius: 5px;
}

.nav-modulelinks > li {
    border-right: 1px solid #aaa;
    display: inline;
    padding: 0;
}

.nav-modulelinks > li:last-child {
    border-right-style: none;
}

.nav-modulelinks > li > a.active {
    font-weight: 700;
}

.nav-modulelinks .open > a,
.nav-modulelinks .open > a:hover,
.nav-modulelinks .open > a:focus {
    background-color: transparent;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.nav-modulelinks a,
.nav-modulelinks a:hover,
.nav-modulelinks a:focus {
    padding: 5px 10px;
}

.nav-modulelinks li > .dropdown-menu {
    margin-top: 3px;
    font-size: 95%;
}

/******************************************************************************
* Form
******************************************************************************/
fieldset {
    border: 1px #ddd solid;
    margin: 0 0 1em 0;
    padding: 0.5em 1em;
    color: #333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #fafafa;
}

legend {
    width: auto;
    padding: 0 .2em;
    font-size: 1.25em;
    font-weight: normal;
    color: #000;
    background: transparent;
    border: 0;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.8);
}

#admintabs-container .nav-tabs > li > a {
    background-color: #e9ecef;
    margin-right: 5px;
}
#admintabs-container .nav-tabs > li > a:hover,
#admintabs-container .nav-tabs > li > a:focus,
#admintabs-container .nav-tabs > li > a:active,
#admintabs-container .nav-tabs > li > a.active {
    background-color: #fafafa;
}

#admintabs-container .nav-tabs > li {
    margin: 0 0 -1px 0;
}

/******************************************************************************
* General table styles
******************************************************************************/

table > thead > tr > th,
.table > thead > tr > th {
    vertical-align: top;
}

/******************************************************************************
* Action buttons in tables
******************************************************************************/

td.actions {
    text-align: right !important;
    white-space: nowrap !important;
    width: 1px;
}

td.actions .tooltip {
    white-space: normal !important;
}

td.actions ul.list-inline {
    display: flex;
    justify-content: flex-end;
}
td.actions .fas {
    font-size: 1.2em;
    padding-left: 4px;
    color: #555;
}

td.actions .fa-trash-alt {
    color: #C30;
}

td.actions .fa-check,
td.actions .fa-gear {
    color: #61B329;
}

td.actions a:hover {
    text-decoration: none;
}

/******************************************************************************
* Icon colors
******************************************************************************/

.text-more-muted {
    color: #eeeeee;
}

.fa-green {
    color: #61B329;
}

.fa-red {
    color: #C30;
}

.fa-orange {
    color: darkorange;
}

.fa-yellow {
    color: yellow;
}

.fa-blue {
    color: #00f;
}

.fa-bluelight {
    color: #50A6C2;
}

.fa-black {
    color: #000;
}

.fa-bluedark a {
    color: #003366;
}

/******************************************************************************
* Icon positioning
* use fa-overlay classes in combination with fa-stack-base for first layer,
*   then add overlay class to top layer
******************************************************************************/

.fa-overlay-lower-right {
    bottom: -0.4em;
    right: -0.4em;
}
.fa-overlay-upper-left {
    top: -0.4em;
    left: -0.4em;
}

.z-admin-content-pagetitle .icon:after {
    content: "\00a0";
}

label.required:after {
    content: " \002A";
    color: red;
}
label.required.custom-control-label:after {
    content: "";
}

/**
 * bootstrap tab container mods
 */
.zikula-bootstrap-tab-container .tab-content {
    padding: 1.5em 1em 0;
    border: 1px solid #ddd;
    border-top: 0;
    margin-bottom: 1.5em;
    background-color: #fff;
}

.sorted-desc:after,
.sorted-asc:after,
.unsorted:after {
    font-family: 'Font Awesome 5 Free';
}
.sorted-asc:after {
    content: "\A0\f0de";
}
.sorted-desc:after {
    content: "\A0\f0dd";
}
.unsorted:after {
    content: "\A0\f0dc"
}

/**
 * mmenu customisation (max width 325 instead of 440 pixels)
 */
body .mm-menu_offcanvas,
body .mm-menu_columns-1 {
    max-width: 325px;
}
@media all and (min-width: 550px) {
    body.mm-wrapper_opening .mm-menu_offcanvas ~ .mm-slideout,
    body.mm-wrapper_opening .mm-menu_columns-1 ~ .mm-slideout {
        -webkit-transform: translate3d(325px, 0, 0);
        transform:translate3d(325px, 0, 0);
    }
    body.mm-wrapper_opening .mm-menu_columns-1.mm-menu_position-right.mm-menu_opened ~ .mm-slideout,
    body.mm-wrapper_opening .mm-menu_position-right.mm-menu_opened ~ .mm-slideout {
        -webkit-transform: translate3d(-325px, 0, 0);
        transform: translate3d(-325px, 0, 0);
    }
}
:root {
    --mm-sidebar-expanded-size: 325px !important;
}
body .mm-wrapper_sidebar-expanded .mm-menu_sidebar-expanded {
    width: 325px;
}
body .mm-wrapper_sidebar-expanded:not(.mm-wrapper_sidebar-closed) .mm-menu_sidebar-expanded.mm-menu_opened ~ .mm-slideout {
    width: calc(100% - 325px);
    -webkit-transform: translate3d(325px, 0, 0);
    transform: translate3d(325px, 0, 0);
}
