{% if hasPermission('ZikulaAdminModule::', '::', 'ACCESS_ADMIN') %}
    {% if update_show %}
        <div id="updatecheck" class="alert alert-success">
            <div class="row">
                <div class="col-md-12">
                    <i class="close" data-dismiss="alert">&times;</i>    
                    <a class="text-success" data-toggle="collapse" href="#updatecheck_full" aria-expanded="false" aria-controls="updatecheck_full"> 
                        <strong><i class="fa fa-caret-right fa-fw"></i>{{  __('Upgrade found!') }}</a></strong>
                </div>
                <div class="collapse" id="updatecheck_full">  
                    <div class="col-md-6">
                        <p>{{  __('A new version of the Zikula core is available. Please download the new Zikula core') }}</p>
                        <a class="text-success" href="http://zikula.org/">
                            <i class="fa fa-cloud-download fa-3x"></i>
                            <strong class="fa-2x">{{ update_version }}</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}