<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="../../lib/bootstrap.php"
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    syntaxCheck="true"
>
    <testsuites>
        <testsuite name="ZikulaRoutesModule Test Suite">
            <directory>./Tests</directory>
            <exclude>./Tests/Entity/*/Repository</exclude>
            <exclude>./vendor</exclude>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Resources</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
