#phpinfo table {
    table-layout: fixed;
}
#phpinfo table td {
    word-wrap: break-word;
}
#phpinfo td.e {
    font-weight: bold;
}
#phpinfo a > img {
    float: left;
    margin-right: 20px;
}
.zikulasettings-tab-container .tab-content {
    padding: 1.5em 1em 0 0;
    border: 1px solid #ddd;
    border-top: 0;
    margin-bottom: 1.5em;
    background-color: #fff;
}
.zikulasettings-tab-container .nav-tabs li {
    margin: 0 0 -1px 0;
}
