<div class="table-responsive">
<table class="table table-bordered table-striped table-hover table-sm">
    <colgroup>
        <col id="cComponent" />
        <col id="cInstance" />
    </colgroup>
    <thead>
    <tr>
        <th id="hComponent" scope="col">{% trans %}Registered component{% endtrans %}</th>
        <th id="hInstance" scope="col">{% trans %}Instance template{% endtrans %}</th>
    </tr>
    </thead>
    <tbody>
    {% for component, instance in schema %}
        <tr>
            <td headers="hComponent">{{ component }}</td>
            <td headers="hInstance">{{ instance }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
