<table class="table table-bordered table-striped">
    <colgroup>
        <col id="cComponent" />
        <col id="cInstance" />
    </colgroup>
    <thead>
    <tr>
        <th id="hComponent" scope="col">{{ __('Registered component') }}</th>
        <th id="hInstance" scope="col">{{ __('Instance template') }}</th>
    </tr>
    </thead>
    <tbody>
    {% for component, instance in schema %}
        <tr>
            <td headers="hComponent">{{ component }}</td>
            <td headers="hInstance">{{ instance }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
