services:
    zikula_users_module.user_listener:
        class: Zikula\UsersModule\Listener\UserEventListener
        arguments: ["@session", "@request_stack", "@router"]
        tags:
            - { name: kernel.event_subscriber }

    zikula_users_module.pending_content_listener:
        class: Zikula\UsersModule\Listener\PendingContentListener
        arguments:
          - "@zikula_permissions_module.api.permission"
          - "@zikula_users_module.user_repository"
          - "@translator.default"
        tags:
            - { name: kernel.event_subscriber }

    zikula_users_module.registration_events_listener:
        class: Zikula\UsersModule\Listener\RegistrationEventsListener
        arguments: ["@session", "@zikula_users_module.helper.mail_helper"]
        tags:
            - { name: kernel.event_subscriber }

    zikula_users_module.user_repository:
        class: Zikula\UsersModule\Entity\Repository\UserRepository
        factory: ["@doctrine.orm.default_entity_manager", getRepository]
        arguments: ["ZikulaUsersModule:UserEntity"]

    zikula_users_module.user_session_repository:
        class: Zikula\UsersModule\Entity\Repository\UserSessionRepository
        factory: ["@doctrine.orm.default_entity_manager", getRepository]
        arguments: ["ZikulaUsersModule:UserSessionEntity"]

    zikula_users_module.current_user:
        class: Zikula\UsersModule\Api\CurrentUserApi
        arguments: ["@session", "@zikula_users_module.user_repository"]

    zikula_users_module.container.link_container:
        class: Zikula\UsersModule\Container\LinkContainer
        arguments:
          - "@translator.default"
          - "@router"
          - "@zikula_permissions_module.api.permission"
          - "@zikula_extensions_module.api.variable"
          - "@zikula_users_module.helper.registration_helper"
          - "@zikula_users_module.current_user"
          - "@zikula_settings_module.locale_api"
        tags:
            - { name: zikula.link_container }

    zikula_users_module.internal.profile_module_collector:
        class: Zikula\UsersModule\Collector\ProfileModuleCollector
        arguments:
          - "@zikula_users_module.user_repository"
          - "@zikula_users_module.current_user"
          - "@zikula_extensions_module.api.variable"

    zikula_users_module.internal.message_module_collector:
        class: Zikula\UsersModule\Collector\MessageModuleCollector
        arguments: ["@zikula_extensions_module.api.variable"]
