/* $Id$ */

div.group-membership-alphanav {
    text-align:center;
}

.z-groupinfo {
    text-align: center;
    font-weight: bold;
    color: red;
}

h2.userheader {
    background: transparent url(../pnimages/admin.gif) no-repeat 0 50%;
    padding-left:60px;
    line-height:50px;
}

#appendajax {
    background: url(../../../images/icons/extrasmall/insert_table_row.gif) no-repeat 0 50%;
    float: left;
    margin:0 0 1em;
    padding: 2px 0 2px 19px;
}
