img.contextMenu {
    vertical-align: middle;
    cursor: pointer;
}

div.contextMenu {
    background-color: #FFF;
    border: 1px solid #777;
    background-image: url('contextMenuBackground.gif');
    background-repeat: repeat-y;
    background-position: left;
}

div.contextMenu ul {
    padding: 0px !important;
    margin: 0px !important;
    list-style-type: none !important;
}

div.contextMenu ul li {
    background-repeat: no-repeat !important;
    background-position: 4px center !important;
    margin: 0 !important;
    text-align: left !important;
}

div.contextMenu ul li.separator {
    /* Trying desparately to get IE to render this li-item as a single line (but fails) */
    height: 1px;
    line-height: 0px;
    padding: 0px;
    margin: 0px;
    display: block;
    border-top: 1px solid black;
}

div.contextMenu ul a {
    display: block;
    width: auto;
    height: 18px; /* Needed to avoid white space bug in IE */
    margin: 0px 0px 0px 24px;
    padding: 2px 4px;
    text-decoration: none;
}

div.contextMenu ul a:hover {
    background-color: #DDD;
    margin: 1px 1px 1px 25px;
    padding: 0px 2px;
    border: 1px solid #444;
    text-decoration: none !important;
}

/* Tabs */
div.linktabs {
    float: left;
    width: 100%;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
}

div.linktabs ul {
    margin: 0px !important;
    padding: 0px 0px 0px 10px !important;
    list-style: none !important;
}

div.linktabs li {
    float: left !important;
    list-style-image: none !important;
    list-style-position: outside !important;
    list-style-type: none !important;
    margin: 0px !important;
    padding: 0px !important;
}

div.linktabs li.linktab {
    text-align: center;
    border: 1px solid #000;
    border-bottom: none;
    background-color: #FFF;
}

div.linktabs li.selected {
}

div.linktabs a {
    display: block;
    position: relative;
    top: 1px;
    text-decoration: none;
    border-bottom: 1px solid #000;
    padding: 2px 4px;
    margin: 0px;
}

div.linktabs a:hover {
    text-decoration: none;
}

div.linktabs li.selected a {
    border-bottom: 1px solid #FFF;
}

div.checkboxlistitem {
    float: left;
    padding-right: 10px;
}
