{*  $Id$  *}

<p>{gt text='Hello! The user account \'%1$s\' at %2$s has this e-mail address associated with it.' tag1=$uname tag2=$sitename}</p>

<p>{gt text="Someone with the IP address %s has just requested that a password be sent." tag1=$hostname}</p>
<p>{gt text="The new password is: %s" tag1=$password}</p>

<p>{gt text="It can be changed after logging-in here: %s" tag1=$url}</p>
<p>{gt text="If the request was not made by yourself then you don't need to take any action."}{gt text="This message was not sent to any other recipient than you, so you are the only person who knows the new password. When you next visit the site, please just log-in with this new password."}</p>
