{*  $Id$  *}
{gt text='Lost password reminder' assign='templatetitle'}
{modulelinks modname='Users' type='user'}
{include file='users_user_menu.htm'}

<p>{gt text='Your user name is:'} <span class="z-bold">{$lostpassword_uname}</span></p>
<p>{gt text='Your password reminder is:'} <span class="z-bold">{$password_reminder}</span></p>

<p>{gt text="Please select one of the following:"}</p>

<ul>
    <li><a href="{modurl modname='Users' type='user' func='loginscreen'}">{gt text="I remember my password now. I would like to log in."}</a></li>
</ul>
<ul>
    {securityutil_generateauthkey module='Users' assign='authid'}
    <li><a href="{modurl modname='Users' type='user' func='mailpassword' uname=$lostpassword_uname code=$lostpassword_code authid=$authid}">{gt text="I still do not remember my password. I would like to have it reset."}</a></li>
</ul>
