{* $Id$ *}
{gt text='Password changer' assign='templatetitle'}
{include file='users_user_menu.htm'}

<p class="z-informationmsg">{gt text="To change your password, please enter your current password, and then enter a new password (you must enter it twice identically, to ensure that you have entered it correctly)."}</p>

<form id="changepassword" class="z-form" action="{modurl modname="Users" type="user" func="updatepassword"}" method="post">
    <input type="hidden" id="changepasswordauthid" name="authid" value="{insert name="generateauthkey" module="Users"}" />
    <fieldset>
        <legend>{gt text="Change password"}</legend>
        <div class="z-formrow">
            <label for="oldpassword">{gt text="Current password"}</label>
            <input type="password" id="oldpassword" name="oldpassword" value="" />
        </div><input name="usernamehidden" id="usernamehidden" value="{user}" type="hidden" />
        <div class="z-formrow">
            <label for="newpassword">{gt text="New password"}</label>
            {if $use_password_strength_meter eq 1}
                {pageaddvar name='javascript' value='system/Users/javascript/passwordStrengthMeter/jquery.js'}
                {pageaddvar name='javascript' value='system/Users/javascript/passwordStrengthMeter/passwordStrengthMeter.js'}

                <script type="text/javascript">

                    var shortPass = '{{gt text="Too Short Password"}}';
                    var badPass = '{{gt text="Weak, Use letters & numbers"}}';
                    var goodPass = '{{gt text="Medium, Use special characters"}}';
                    var strongPass = '{{gt text="Strong Password"}}';
                    var sameAsUsername = '{{gt text="Password can not match the username, choose a different password."}}';

                </script>
                {pageaddvar name='javascript' value='system/Users/javascript/passwordStrengthMeter_changepassword.js'}

                <input name="newpassword" id="newpassword" type="password" value="" />
                <div id="colorbar" class="z-formnote"></div>
                <span id="percent" class="z-formnote">0%</span><span id="result">&nbsp;&nbsp;{gt text='Enter your new password'}</span>
        {else}
            <input type="password" id="newpassword" name="newpassword" value="" />
            {/if}
        </div>
        <div class="z-formrow">
            <label for="newpasswordconfirm">{gt text="New password (repeat for verification)"}</label>
            <input type="password" id="newpasswordconfirm" name="newpasswordconfirm" value="" />
        </div>
        <div class="z-formrow">
            <label for="passreminder">{gt text="New password reminder"}</label>
            <input type="text" id="passreminder" name="passreminder" value="" size="25" maxlength="128" />
            <div class="z-sub z-formnote">{gt text="Enter a word or a phrase that will remind you of your password."}</div>
            <div class="z-formnote z-warningmsg">{gt text="Notice: Do not use a word or phrase that will allow others to guess your password! Do not include your password or any part of your password here!"}</div>
        </div>
    </fieldset>
    <div class="z-buttons z-formbuttons">
        {button src='button_ok.gif' set='icons/small' __alt='Save' __title='Save' __text='Save'}
        <a href="{modurl modname='Users' type='user' func='main'}">{img modname='core' src='button_cancel.gif' set='icons/small' __alt='Cancel' __title='Cancel}{gt text='Cancel'}</a>
    </div>
</form>
