{*  $Id$  *}
{* NOTE: This is the HTML version of this e-mail. If this is modified, ensure that users_userapi_passwordmail.txt is also modified! *}

<p>{gt text='Hello! The user account \'%1$s\' at %2$s has this e-mail address associated with it.' tag1=$uname tag2=$sitename}</p>

<p>{gt text="Someone with the IP address %s has just requested that a password be sent." tag1=$hostname}</p>

<p>{gt text="The new password is: %s" tag1=$password}</p>

<p>{gt text="You can use this new password to log into your account here:"} <a href="{$url}">{gt text="Log in to your account"}</a><br>
<p>{gt text="(If you cannot click on the link, you can copy this URL and paste it into your browser: %s" tag1=$url}</p>

{if !$recovery_forcepwdchg}
<p>{gt text="It is recommended that you change this new password to something you can more easily remember, once you have logged in successfully."}</p>
{else}
<p>{gt text="When you attempt to log into your account with this password, you will be asked to change it to something you can more easily remember. You will be logged into your account only after you have successfully changed this password."}</p>
{/if}

<p>{gt text="If the request was not made by yourself then you don't need to take any action."} {gt text="This message was not sent to any other recipient than you, so you are the only person who knows the new password. When you next visit the site, please just log-in with this new password."}</p>
