parameters:
    zikula_admin_module.container.link_container.class: Zikula\AdminModule\Container\LinkContainer
    twig.extension.zikula_admin_module.class: Zikula\AdminModule\Twig\Extension\AdminExtension
    zikula_admin_module.module_event_listener.class: Zikula\AdminModule\Listener\ModuleEventListener
    zikula_admin_module.update_check_helper.class: Zikula\AdminModule\Helper\UpdateCheckHelper
    zikula_admin_module.admin_module_repository.class: Zikula\AdminModule\Entity\Repository\AdminModuleRepository
    zikula_admin_module.helper.admin_module_helper.class: Zikula\AdminModule\Helper\AdminModuleHelper

services:
    zikula_admin_module.container.link_container:
        class: %zikula_admin_module.container.link_container.class%
        arguments: ["@translator.default", "@jms_i18n_routing.router", "@zikula_permissions_module.api.permission"]
        tags:
            - { name: zikula.link_container }

    twig.extension.zikula_admin_module:
        class: %twig.extension.zikula_admin_module.class%
        public: true
        arguments: ["@fragment.handler", "@zikula_permissions_module.api.permission"]
        tags:
            - { name: twig.extension }

    zikula_admin_module.module_event_listener:
        class: %zikula_admin_module.module_event_listener.class%
        arguments: ["@zikula_extensions_module.api.variable"]
        tags:
            - { name: kernel.event_subscriber }

    zikula_admin_module.module_event_listener:
        class: %zikula_admin_module.module_event_listener.class%
        arguments: ["@zikula_extensions_module.api.variable"]
        tags:
            - { name: kernel.event_subscriber }
    zikulaadminmodule.module_event_listener:
        alias: zikula_admin_module.module_event_listener
        deprecated: The "%service_id%" service is deprecated since 1.4.3 and will be removed in 2.0.

    zikula_admin_module.update_check_helper:
        class: %zikula_admin_module.update_check_helper.class%
        public: true
        arguments: ["@zikula_extensions_module.api.variable", "@request_stack"]

    zikula_admin_module.update_check_helper:
        class: %zikula_admin_module.update_check_helper.class%
        arguments: ["@zikula_extensions_module.api.variable", "@request_stack"]
    zikulaadminmodule.update_check_helper:
        alias: zikula_admin_module.update_check_helper
        deprecated: The "%service_id%" service is deprecated since 1.4.3 and will be removed in 2.0.

    zikula_admin_module.admin_module_repository:
        class: %zikula_admin_module.admin_module_repository.class%
        factory: ["@doctrine.orm.default_entity_manager", getRepository]
        arguments: ["Zikula\AdminModule\Entity\AdminModuleEntity"]

    zikula_admin_module.helper.admin_module_helper:
        class: %zikula_admin_module.helper.admin_module_helper.class%
        arguments: ["@zikula_admin_module.admin_module_repository"]
