{# error.html.twig #}
{% extends 'CoreBundle:Exception:base.html.twig' %}

{% block body %}
    <pre>app/Resources/TwigBundle/views/Exception/error.html.twig</pre>
    <h1>Oops! An Error Occurred</h1>
    <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>

    <div>
        Something is broken. Please let us know what you were doing when this error occurred.
        We will fix it as soon as possible. Sorry for any inconvenience caused.
    </div>
    {% use "WebfactoryExceptionsBundle:Exception:blocks.html.twig" %}

    {% block myMainContentContainer %}
        {{ block('webfactory_exceptions_standardExceptionPage') }}
    {% endblock %}
{% endblock %}