# File: $Id$
# ----------------------------------------------------------------------
# Purpose of file: block any web access to files stored under
#                  the config/ directory
# ----------------------------------------------------------------------
deny from all
<FilesMatch "\.(css|js)$">
order allow,deny
allow from all
</filesmatch>
