       <div class="container">
            <hr />
            <footer>
                <p id="poweredBy">{{ __('Powered by') }} <a href="https://ziku.la">Zikula</a></p>
            </footer>
        </div>
    </div>
</body>
</html>
