       <div class="container">
            <hr />
            <footer>
                {{ include('@ZikulaBootstrapTheme/Include/styleSwitcher.html.twig') }}
                <p id="poweredBy">{% trans %}Powered by{% endtrans %} <a href="https://ziku.la">Zikula</a></p>
            </footer>
        </div>
    </div>
</body>
</html>
