       <div class="container">
            <hr />
            <footer>
                <p>{{ __('Powered by') }} <a href="http://zikula.org">Zikula</a></p>

            </footer>
        </div> <!-- /container -->
    </body>
</html>
