<!DOCTYPE html>
<html lang="{{ app.request.locale }}" dir="auto">
    <head>
        <meta charset="{{ pagevars.meta.charset }}" />
        <title>{{ pagevars.title }}</title>
        <meta name="description" content="{{ pagevars.meta.description }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
