{% if getModVar('ZikulaBootstrapTheme', 'allow_style_change', false) == true %}
    <div class="clearfix mb-3">
        {% set currentStyle = app.request.hasSession ? app.request.session.get('currentBootstrapStyle', '') : '' %}
        {% set currentStyle = currentStyle ? currentStyle : getModVar('ZikulaBootstrapTheme', 'theme_style', 'cerulean') %}
        <form id="themeStyleSwitcher" class="form-inline float-right">
            <label for="themeStyle" class="mr-2"><i class="fa fa-palette"></i>&nbsp;{% trans %}Change style{% endtrans %}</label>
            <select id="themeStyle" name="themeStyle" class="custom-select">
                {% for styleName, styleCode in getStyleChoices() %}
                    <option value="{{ styleCode }}"{{ styleCode == currentStyle ? ' selected="selected"' : '' }}>{{ styleName }}</option>
                {% endfor %}
            </select>
        </form>
    </div>
    {{ pageAddAsset('javascript', zasset('@ZikulaBootstrapTheme:js/ZikulaBootstrapTheme.StyleSwitcher.js')) }}
{% endif %}
