# ----------------------------------------------------------------------
# Purpose of file: block web access to not allowed files
#                  stored under the themes/ directory
# ----------------------------------------------------------------------
<FilesMatch "\.(php|ini|yml|tpl)$">
order allow,deny
deny from all
</filesmatch>
