# ----------------------------------------------------------------------
# Purpose of file: block web access to not allowed files
#                  stored under the themes/ directory
# ----------------------------------------------------------------------
deny from all
<FilesMatch "\.(css|js|png|gif|jpg|ico|swf|flv|eot|woff|ttf|svg)$">
order allow,deny
allow from all
</filesmatch>
