{{ adminHeader() }}
<h3>
    <span class="fa fa-list"></span>
    {{ __('Permission rule information') }}
</h3>

{{ include('@ZikulaPermissionsModule/Admin/instanceinfo.html.twig') }}

{{ adminFooter() }}
