<div>
    <ul>
        {% for adminCategory in adminCategories if adminCategory.url is not empty '' %}
            <li><a href="{{ adminCategory.url|e('html_attr') }}">{{ adminCategory.title }}</a></li>
            <li class="list-unstyled">
                <ul>
                    {% for adminModule in adminCategory.modules %}
                        <li><a href="{{ adminModule.menuTextUrl|e('html_attr') }}">{{ adminModule.menuTextTitle }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>
