.z-sub {
    color: #777;
    font-size: 75%;
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    margin-top: 0px;
}

h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}


.ui-page {
    background-image: url(../images/low_contrast_linen.png);
}

.post {
    background-color: #FFFFFF;
    border: 1px solid #B1B1B1;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    margin-bottom: 12px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    position: relative;
    z-index: 0;
}

.calendar {
    background-clip: padding-box;
    border: 1px solid #C9C9C9;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 7px;
    box-shadow: 1px 1px 3px #C6C6C6;
    float: left;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-top: 0;
    position: relative;
    text-align: center;
    top: 3px;
}
.cal-month {
    border-top-left-radius: 6px;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0;
    padding: 3px 10px;
    text-transform: uppercase;
}
.cal-date {
    background-color: #E9E9E9;
    border: 1px solid #FFFFFF;
    border-bottom-right-radius: 6px;
    color: #222222;
    font: bold 21px Helvetica,"Arial Rounded MT Bold",Geneva,sans-serif;
    letter-spacing: -2px;
    padding: 1px 4px 2px 0;
    text-align: center;
    text-shadow: -1px -1px 1px white;
}
.month-01 {
    background-color: #767C8F;
}
.month-02 {
    background-color: #345ABE;
}
.month-03 {
    background-color: #37838D;
}
.month-04 {
    background-color: #55B06C;
}
.month-05 {
    background-color: #409AD5;
}
.month-06 {
    background-color: #BE63C5;
}
.month-07 {
    background-color: #F79445;
}
.month-08 {
    background-color: #4E1E00;
}
.month-09 {
    background-color: #A04262;
}
.month-10 {
    background-color: #284461;
}
.month-11 {
    background-color: #4D1D77;
}
.month-12 {
    background-color: #AF1919;
}
.post-author {
    color: #555555;
    float: left;
    font-size: 9px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 13px;
    padding-bottom: 1px;
    padding-top: 2px;
    position: relative;
    text-align: left;
    width: 72%;
}
.post-author span.lead {
    font-style: normal;
    font-weight: normal;
}
.post .sticky-icon {
    background: url("../images/sticky.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 16px;
    left: 43px;
    position: absolute;
    top: 5px;
    width: 16px;
    z-index: 1;
}
.post .sticky-icon-none {
    background: url("../images/sticky.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 16px;
    left: 43px;
    margin-left: -22px;
    margin-top: -12px;
    position: absolute;
    top: 5px;
    width: 16px;
    z-index: 1;
}

.clearer {
    clear: both;
}

a.post-arrow {
    -moz-transform: scale(1) rotate(0deg);
    -moz-transition-duration: 0.6s;
    background: url("../images/post-arrow.png") no-repeat scroll center 8px #F4F4F4;
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    float: right;
    height: 21px;
    margin-top: 1px;
    padding: 0;
    width: 22px;
}
a.post-arrow-down {
    -moz-transform: scale(1) rotate(180deg);
    -moz-transition-duration: 0.6s;
    background: url("../images/post-arrow.png") no-repeat scroll center -12px #DFE3E3;
    border: 1px solid #B8B8B8;
}
