{% set templateTitle = __('Site unsearchable') %}
{{ moduleHeader('user', templateTitle, true, true) }}

<h3>{{ templateTitle }}</h3>

<p class="alert alert-info">{{ __('The site administrator has not configured any data as searchable.') }}</p>
