{{ pageSetVar('title', 'Accessibility statement for %s%'|trans({ '%s%': siteName() })) }}
<h2>{{ 'Accessibility statement for %s%'|trans({ '%s%': siteName() }) }}</h2>

{{ include('@ZikulaLegal/' ~ app.request.locale ~ '/accessibilityStatement.html.twig') }}
