{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title 'Policy not available'|trans %}
{% block main %}
    <p>{% trans %}The selected policy is not available.{% endtrans %}</p>
{% endblock %}
