.z-img-medium {
   background: url(csssprite-medium.gif) no-repeat top left;
}

.z-img-medium-1downarrow { background-position: 0 0; width: 32px; height: 32px; } 
.z-img-medium-1leftarrow { background-position: 0 -42px; width: 32px; height: 32px; } 
.z-img-medium-1rightarrow { background-position: 0 -84px; width: 32px; height: 32px; } 
.z-img-medium-1uparrow { background-position: 0 -126px; width: 32px; height: 32px; } 
.z-img-medium-2downarrow { background-position: 0 -168px; width: 32px; height: 32px; } 
.z-img-medium-2leftarrow { background-position: 0 -210px; width: 32px; height: 32px; } 
.z-img-medium-2rightarrow { background-position: 0 -252px; width: 32px; height: 32px; } 
.z-img-medium-2uparrow { background-position: 0 -294px; width: 32px; height: 32px; } 
.z-img-medium-3d { background-position: 0 -336px; width: 32px; height: 32px; } 
.z-img-medium-add { background-position: 0 -378px; width: 32px; height: 32px; } 
.z-img-medium-add_new { background-position: 0 -420px; width: 22px; height: 22px; } 
.z-img-medium-admintab { background-position: 0 -452px; width: 32px; height: 32px; } 
.z-img-medium-admintab { background-position: 0 -494px; width: 32px; height: 32px; } 
.z-img-medium-agt_Multimedia { background-position: 0 -536px; width: 32px; height: 32px; } 
.z-img-medium-agt_Utilities { background-position: 0 -578px; width: 32px; height: 32px; } 
.z-img-medium-agt_aisles { background-position: 0 -620px; width: 32px; height: 32px; } 
.z-img-medium-agt_announcements { background-position: 0 -662px; width: 32px; height: 32px; } 
.z-img-medium-agt_back { background-position: 0 -704px; width: 32px; height: 32px; } 
.z-img-medium-agt_business { background-position: 0 -746px; width: 32px; height: 32px; } 
.z-img-medium-agt_desktop_enhancements { background-position: 0 -788px; width: 32px; height: 32px; } 
.z-img-medium-agt_family-off { background-position: 0 -830px; width: 32px; height: 32px; } 
.z-img-medium-agt_family { background-position: 0 -872px; width: 32px; height: 32px; } 
.z-img-medium-agt_forum { background-position: 0 -914px; width: 32px; height: 32px; } 
.z-img-medium-agt_forward { background-position: 0 -956px; width: 32px; height: 32px; } 
.z-img-medium-agt_games { background-position: 0 -998px; width: 32px; height: 32px; } 
.z-img-medium-agt_home { background-position: 0 -1040px; width: 32px; height: 32px; } 
.z-img-medium-agt_internet { background-position: 0 -1082px; width: 32px; height: 32px; } 
.z-img-medium-agt_login { background-position: 0 -1124px; width: 32px; height: 32px; } 
.z-img-medium-agt_mp3 { background-position: 0 -1166px; width: 32px; height: 32px; } 
.z-img-medium-agt_pause-queue { background-position: 0 -1208px; width: 32px; height: 32px; } 
.z-img-medium-agt_reload { background-position: 0 -1250px; width: 32px; height: 32px; } 
.z-img-medium-agt_resume { background-position: 0 -1292px; width: 32px; height: 32px; } 
.z-img-medium-agt_runit { background-position: 0 -1334px; width: 32px; height: 32px; } 
.z-img-medium-agt_softwareD { background-position: 0 -1376px; width: 32px; height: 32px; } 
.z-img-medium-agt_start_here { background-position: 0 -1418px; width: 32px; height: 32px; } 
.z-img-medium-agt_stop { background-position: 0 -1460px; width: 32px; height: 32px; } 
.z-img-medium-agt_support { background-position: 0 -1502px; width: 32px; height: 32px; } 
.z-img-medium-agt_uninstall-product { background-position: 0 -1544px; width: 32px; height: 32px; } 
.z-img-medium-agt_update-product { background-position: 0 -1586px; width: 32px; height: 32px; } 
.z-img-medium-agt_update_drivers { background-position: 0 -1628px; width: 32px; height: 32px; } 
.z-img-medium-agt_update_misc { background-position: 0 -1670px; width: 32px; height: 32px; } 
.z-img-medium-agt_update_recommended { background-position: 0 -1712px; width: 32px; height: 32px; } 
.z-img-medium-bell { background-position: 0 -1754px; width: 32px; height: 32px; } 
.z-img-medium-blockdevice { background-position: 0 -1796px; width: 32px; height: 32px; } 
.z-img-medium-bug { background-position: 0 -1838px; width: 32px; height: 32px; } 
.z-img-medium-button_cancel { background-position: 0 -1880px; width: 32px; height: 32px; } 
.z-img-medium-button_ok { background-position: 0 -1922px; width: 32px; height: 32px; } 
.z-img-medium-cache { background-position: 0 -1964px; width: 32px; height: 32px; } 
.z-img-medium-clock { background-position: -42px 0; width: 32px; height: 32px; } 
.z-img-medium-colors { background-position: -42px -42px; width: 32px; height: 32px; } 
.z-img-medium-configure { background-position: -42px -84px; width: 32px; height: 32px; } 
.z-img-medium-database { background-position: -42px -126px; width: 32px; height: 32px; } 
.z-img-medium-db_add { background-position: -42px -168px; width: 32px; height: 32px; } 
.z-img-medium-db_comit { background-position: -42px -210px; width: 32px; height: 32px; } 
.z-img-medium-db_remove { background-position: -42px -252px; width: 32px; height: 32px; } 
.z-img-medium-db_status { background-position: -42px -294px; width: 32px; height: 32px; } 
.z-img-medium-db_update { background-position: -42px -336px; width: 32px; height: 32px; } 
.z-img-medium-decrypted { background-position: -42px -378px; width: 32px; height: 32px; } 
.z-img-medium-delete { background-position: -42px -420px; width: 22px; height: 22px; } 
.z-img-medium-demo { background-position: -42px -452px; width: 32px; height: 32px; } 
.z-img-medium-easymoblog { background-position: -42px -494px; width: 32px; height: 32px; } 
.z-img-medium-edit { background-position: -42px -536px; width: 32px; height: 32px; } 
.z-img-medium-edit_add { background-position: -42px -578px; width: 32px; height: 32px; } 
.z-img-medium-edit_remove { background-position: -42px -620px; width: 32px; height: 32px; } 
.z-img-medium-editcopy { background-position: -42px -662px; width: 32px; height: 32px; } 
.z-img-medium-editcut { background-position: -42px -704px; width: 32px; height: 32px; } 
.z-img-medium-editdelete { background-position: -42px -746px; width: 32px; height: 32px; } 
.z-img-medium-editpaste { background-position: -42px -788px; width: 32px; height: 32px; } 
.z-img-medium-encrypted { background-position: -42px -830px; width: 32px; height: 32px; } 
.z-img-medium-error { background-position: -42px -872px; width: 32px; height: 32px; } 
.z-img-medium-exec { background-position: -42px -914px; width: 32px; height: 32px; } 
.z-img-medium-exit { background-position: -42px -956px; width: 32px; height: 32px; } 
.z-img-medium-favorites { background-position: -42px -998px; width: 32px; height: 32px; } 
.z-img-medium-file_important { background-position: -42px -1040px; width: 32px; height: 32px; } 
.z-img-medium-file_locked { background-position: -42px -1082px; width: 32px; height: 32px; } 
.z-img-medium-file_temporary { background-position: -42px -1124px; width: 32px; height: 32px; } 
.z-img-medium-fileclose { background-position: -42px -1166px; width: 32px; height: 32px; } 
.z-img-medium-filenew { background-position: -42px -1208px; width: 32px; height: 32px; } 
.z-img-medium-fileprint { background-position: -42px -1250px; width: 32px; height: 32px; } 
.z-img-medium-flag { background-position: -42px -1292px; width: 32px; height: 32px; } 
.z-img-medium-flash { background-position: -42px -1334px; width: 32px; height: 32px; } 
.z-img-medium-folder { background-position: -42px -1376px; width: 32px; height: 32px; } 
.z-img-medium-folder_blue { background-position: -42px -1418px; width: 32px; height: 32px; } 
.z-img-medium-folder_documents { background-position: -42px -1460px; width: 32px; height: 32px; } 
.z-img-medium-folder_favorites { background-position: -42px -1502px; width: 32px; height: 32px; } 
.z-img-medium-folder_green { background-position: -42px -1544px; width: 32px; height: 32px; } 
.z-img-medium-folder_grey { background-position: -42px -1586px; width: 32px; height: 32px; } 
.z-img-medium-folder_home { background-position: -42px -1628px; width: 32px; height: 32px; } 
.z-img-medium-folder_home2 { background-position: -42px -1670px; width: 32px; height: 32px; } 
.z-img-medium-folder_home3 { background-position: -42px -1712px; width: 32px; height: 32px; } 
.z-img-medium-folder_html { background-position: -42px -1754px; width: 32px; height: 32px; } 
.z-img-medium-folder_image { background-position: -42px -1796px; width: 32px; height: 32px; } 
.z-img-medium-folder_inbox { background-position: -42px -1838px; width: 32px; height: 32px; } 
.z-img-medium-folder_music { background-position: -42px -1880px; width: 32px; height: 32px; } 
.z-img-medium-folder_outbox { background-position: -42px -1922px; width: 32px; height: 32px; } 
.z-img-medium-folder_print { background-position: -42px -1964px; width: 32px; height: 32px; } 
.z-img-medium-folder_public { background-position: -84px 0; width: 32px; height: 32px; } 
.z-img-medium-folder_sound { background-position: -84px -42px; width: 32px; height: 32px; } 
.z-img-medium-folder_tar { background-position: -84px -84px; width: 32px; height: 32px; } 
.z-img-medium-folder_txt { background-position: -84px -126px; width: 32px; height: 32px; } 
.z-img-medium-folder_video { background-position: -84px -168px; width: 32px; height: 32px; } 
.z-img-medium-folder_yellow { background-position: -84px -210px; width: 32px; height: 32px; } 
.z-img-medium-fonts { background-position: -84px -252px; width: 32px; height: 32px; } 
.z-img-medium-help { background-position: -84px -294px; width: 22px; height: 22px; } 
.z-img-medium-home { background-position: -84px -326px; width: 32px; height: 32px; } 
.z-img-medium-inbox { background-position: -84px -368px; width: 32px; height: 32px; } 
.z-img-medium-info { background-position: -84px -410px; width: 32px; height: 32px; } 
.z-img-medium-kcmdf { background-position: -84px -452px; width: 32px; height: 32px; } 
.z-img-medium-lists { background-position: -84px -494px; width: 32px; height: 32px; } 
.z-img-medium-locked { background-position: -84px -536px; width: 32px; height: 32px; } 
.z-img-medium-mac { background-position: -84px -578px; width: 32px; height: 32px; } 
.z-img-medium-mail { background-position: -84px -620px; width: 32px; height: 32px; } 
.z-img-medium-main { background-position: -84px -662px; width: 22px; height: 22px; } 
.z-img-medium-modify { background-position: -84px -694px; width: 32px; height: 32px; } 
.z-img-medium-mp3 { background-position: -84px -736px; width: 32px; height: 32px; } 
.z-img-medium-mydocuments { background-position: -84px -778px; width: 32px; height: 32px; } 
.z-img-medium-package { background-position: -84px -820px; width: 32px; height: 32px; } 
.z-img-medium-package_applications { background-position: -84px -862px; width: 32px; height: 32px; } 
.z-img-medium-package_editors { background-position: -84px -904px; width: 32px; height: 32px; } 
.z-img-medium-package_favourite { background-position: -84px -946px; width: 32px; height: 32px; } 
.z-img-medium-package_games_strategy { background-position: -84px -988px; width: 32px; height: 32px; } 
.z-img-medium-package_graphics { background-position: -84px -1030px; width: 32px; height: 32px; } 
.z-img-medium-package_settings { background-position: -84px -1072px; width: 32px; height: 32px; } 
.z-img-medium-package_system { background-position: -84px -1114px; width: 32px; height: 32px; } 
.z-img-medium-package_utilities { background-position: -84px -1156px; width: 32px; height: 32px; } 
.z-img-medium-package_wordprocessing { background-position: -84px -1198px; width: 32px; height: 32px; } 
.z-img-medium-password { background-position: -84px -1240px; width: 32px; height: 32px; } 
.z-img-medium-personal { background-position: -84px -1282px; width: 32px; height: 32px; } 
.z-img-medium-printer1 { background-position: -84px -1324px; width: 32px; height: 32px; } 
.z-img-medium-reload { background-position: -84px -1366px; width: 32px; height: 32px; } 
.z-img-medium-reminders { background-position: -84px -1408px; width: 32px; height: 32px; } 
.z-img-medium-run { background-position: -84px -1450px; width: 32px; height: 32px; } 
.z-img-medium-server { background-position: -84px -1492px; width: 32px; height: 32px; } 
.z-img-medium-services { background-position: -84px -1534px; width: 32px; height: 32px; } 
.z-img-medium-spellcheck { background-position: -84px -1576px; width: 32px; height: 32px; } 
.z-img-medium-terminal { background-position: -84px -1618px; width: 32px; height: 32px; } 
.z-img-medium-unlocked { background-position: -84px -1660px; width: 32px; height: 32px; } 
.z-img-medium-utilities { background-position: -84px -1702px; width: 32px; height: 32px; } 
.z-img-medium-vcalendar { background-position: -84px -1744px; width: 32px; height: 32px; } 
.z-img-medium-voice-support { background-position: -84px -1786px; width: 32px; height: 32px; } 
.z-img-medium-window_list { background-position: -84px -1828px; width: 32px; height: 32px; } 
.z-img-medium-windowlist { background-position: -84px -1870px; width: 32px; height: 32px; } 
.z-img-medium-windows_list { background-position: -84px -1912px; width: 32px; height: 32px; } 
.z-img-medium-xedit { background-position: -84px -1954px; width: 32px; height: 32px; } 
.z-img-medium-xfmail { background-position: -126px 0; width: 32px; height: 32px; } 
.z-img-medium-xine { background-position: -126px -42px; width: 32px; height: 32px; } 
