.z-img-extrasmall {
   background: url(csssprite-extrasmall.gif) no-repeat top left;
}

.z-img-extrasmall-14_layer_deletelayer { background-position: 0 0; width: 16px; height: 16px; } 
.z-img-extrasmall-14_layer_lowerlayer { background-position: 0 -26px; width: 16px; height: 16px; } 
.z-img-extrasmall-14_layer_raiselayer { background-position: 0 -52px; width: 16px; height: 16px; } 
.z-img-extrasmall-14_layer_visible { background-position: 0 -78px; width: 16px; height: 16px; } 
.z-img-extrasmall-1downarrow { background-position: 0 -104px; width: 16px; height: 16px; } 
.z-img-extrasmall-1leftarrow { background-position: 0 -130px; width: 16px; height: 16px; } 
.z-img-extrasmall-1rightarrow { background-position: 0 -156px; width: 16px; height: 16px; } 
.z-img-extrasmall-1uparrow { background-position: 0 -182px; width: 16px; height: 16px; } 
.z-img-extrasmall-2downarrow { background-position: 0 -208px; width: 16px; height: 16px; } 
.z-img-extrasmall-2leftarrow { background-position: 0 -234px; width: 16px; height: 16px; } 
.z-img-extrasmall-2rightarrow { background-position: 0 -260px; width: 16px; height: 16px; } 
.z-img-extrasmall-2uparrow { background-position: 0 -286px; width: 16px; height: 16px; } 
.z-img-extrasmall-3d { background-position: 0 -312px; width: 16px; height: 16px; } 
.z-img-extrasmall-Community-Help { background-position: 0 -338px; width: 16px; height: 16px; } 
.z-img-extrasmall-add_group { background-position: 0 -364px; width: 16px; height: 16px; } 
.z-img-extrasmall-add_user { background-position: 0 -390px; width: 16px; height: 16px; } 
.z-img-extrasmall-agt_Multimedia { background-position: 0 -416px; width: 16px; height: 16px; } 
.z-img-extrasmall-agt_Utilities { background-position: 0 -442px; width: 16px; height: 16px; } 
.z-img-extrasmall-agt_aisles { background-position: 0 -468px; width: 16px; height: 16px; } 
.z-img-extrasmall-agt_announcements { background-position: 0 -494px; width: 16px; height: 16px; } 
.z-img-extrasmall-agt_back { background-position: 0 -520px; width: 16px; height: 16px; } 
.z-img-extrasmall-agt_business { background-position: 0 -546px; width: 16px; height: 16px; } 
.z-img-extrasmall-agt_desktop_enhancements { background-position: 0 -572px; width: 16px; height: 16px; } 
.z-img-extrasmall-agt_family-off { background-position: 0 -598px; width: 16px; height: 16px; } 
.z-img-extrasmall-agt_family { background-position: 0 -624px; width: 16px; height: 16px; } 
.z-img-extrasmall-agt_forum { background-position: 0 -650px; width: 16px; height: 16px; } 
.z-img-extrasmall-agt_forward { background-position: 0 -676px; width: 16px; height: 16px; } 
.z-img-extrasmall-agt_games { background-position: 0 -702px; width: 16px; height: 16px; } 
.z-img-extrasmall-agt_home { background-position: 0 -728px; width: 16px; height: 16px; } 
.z-img-extrasmall-agt_internet { background-position: 0 -754px; width: 16px; height: 16px; } 
.z-img-extrasmall-agt_login { background-position: 0 -780px; width: 16px; height: 16px; } 
.z-img-extrasmall-agt_mp3 { background-position: 0 -806px; width: 16px; height: 16px; } 
.z-img-extrasmall-agt_pause-queue { background-position: 0 -832px; width: 16px; height: 16px; } 
.z-img-extrasmall-agt_reload { background-position: 0 -858px; width: 16px; height: 16px; } 
.z-img-extrasmall-agt_resume { background-position: 0 -884px; width: 16px; height: 16px; } 
.z-img-extrasmall-agt_runit { background-position: 0 -910px; width: 16px; height: 16px; } 
.z-img-extrasmall-agt_softwareD { background-position: 0 -936px; width: 16px; height: 16px; } 
.z-img-extrasmall-agt_start_here { background-position: 0 -962px; width: 16px; height: 16px; } 
.z-img-extrasmall-agt_stop { background-position: 0 -988px; width: 16px; height: 16px; } 
.z-img-extrasmall-agt_support { background-position: 0 -1014px; width: 16px; height: 16px; } 
.z-img-extrasmall-agt_uninstall-product { background-position: 0 -1040px; width: 16px; height: 16px; } 
.z-img-extrasmall-agt_update-product { background-position: 0 -1066px; width: 16px; height: 16px; } 
.z-img-extrasmall-agt_update_drivers { background-position: 0 -1092px; width: 16px; height: 16px; } 
.z-img-extrasmall-agt_update_misc { background-position: 0 -1118px; width: 16px; height: 16px; } 
.z-img-extrasmall-agt_update_recommended { background-position: 0 -1144px; width: 16px; height: 16px; } 
.z-img-extrasmall-attach { background-position: 0 -1170px; width: 16px; height: 16px; } 
.z-img-extrasmall-bell { background-position: 0 -1196px; width: 16px; height: 16px; } 
.z-img-extrasmall-blockdevice { background-position: 0 -1222px; width: 16px; height: 16px; } 
.z-img-extrasmall-border_all { background-position: 0 -1248px; width: 16px; height: 16px; } 
.z-img-extrasmall-border_bottom { background-position: 0 -1274px; width: 16px; height: 16px; } 
.z-img-extrasmall-border_fall { background-position: 0 -1300px; width: 16px; height: 16px; } 
.z-img-extrasmall-border_horizontal { background-position: 0 -1326px; width: 16px; height: 16px; } 
.z-img-extrasmall-border_inside { background-position: 0 -1352px; width: 16px; height: 16px; } 
.z-img-extrasmall-border_left { background-position: 0 -1378px; width: 16px; height: 16px; } 
.z-img-extrasmall-border_outline { background-position: 0 -1404px; width: 16px; height: 16px; } 
.z-img-extrasmall-border_remove { background-position: 0 -1430px; width: 16px; height: 16px; } 
.z-img-extrasmall-border_top { background-position: 0 -1456px; width: 16px; height: 16px; } 
.z-img-extrasmall-border_up { background-position: 0 -1482px; width: 16px; height: 16px; } 
.z-img-extrasmall-border_vertical { background-position: 0 -1508px; width: 16px; height: 16px; } 
.z-img-extrasmall-borderoutline { background-position: 0 -1534px; width: 16px; height: 16px; } 
.z-img-extrasmall-bug { background-position: 0 -1560px; width: 16px; height: 16px; } 
.z-img-extrasmall-button_cancel { background-position: 0 -1586px; width: 16px; height: 16px; } 
.z-img-extrasmall-button_ok { background-position: 0 -1612px; width: 16px; height: 16px; } 
.z-img-extrasmall-cache { background-position: 0 -1638px; width: 16px; height: 16px; } 
.z-img-extrasmall-cancel { background-position: 0 -1664px; width: 16px; height: 16px; } 
.z-img-extrasmall-clock { background-position: 0 -1690px; width: 16px; height: 16px; } 
.z-img-extrasmall-colors { background-position: 0 -1716px; width: 16px; height: 16px; } 
.z-img-extrasmall-comment { background-position: 0 -1742px; width: 16px; height: 16px; } 
.z-img-extrasmall-configure { background-position: 0 -1768px; width: 16px; height: 16px; } 
.z-img-extrasmall-configure_shortcuts { background-position: 0 -1794px; width: 18px; height: 18px; } 
.z-img-extrasmall-configure_toolbars { background-position: 0 -1822px; width: 18px; height: 18px; } 
.z-img-extrasmall-cookie { background-position: 0 -1850px; width: 16px; height: 16px; } 
.z-img-extrasmall-database { background-position: 0 -1876px; width: 16px; height: 16px; } 
.z-img-extrasmall-db { background-position: 0 -1902px; width: 17px; height: 18px; } 
.z-img-extrasmall-db_add { background-position: 0 -1930px; width: 16px; height: 16px; } 
.z-img-extrasmall-db_comit { background-position: 0 -1956px; width: 16px; height: 16px; } 
.z-img-extrasmall-db_remove { background-position: 0 -1982px; width: 16px; height: 16px; } 
.z-img-extrasmall-db_status { background-position: -28px 0; width: 16px; height: 16px; } 
.z-img-extrasmall-db_update { background-position: -28px -26px; width: 16px; height: 16px; } 
.z-img-extrasmall-decrypted { background-position: -28px -52px; width: 16px; height: 16px; } 
.z-img-extrasmall-delete_group { background-position: -28px -78px; width: 16px; height: 16px; } 
.z-img-extrasmall-delete_table { background-position: -28px -104px; width: 16px; height: 16px; } 
.z-img-extrasmall-delete_table_col { background-position: -28px -130px; width: 16px; height: 16px; } 
.z-img-extrasmall-delete_table_row { background-position: -28px -156px; width: 16px; height: 16px; } 
.z-img-extrasmall-delete_user { background-position: -28px -182px; width: 16px; height: 16px; } 
.z-img-extrasmall-deletecell { background-position: -28px -208px; width: 16px; height: 16px; } 
.z-img-extrasmall-demo { background-position: -28px -234px; width: 16px; height: 16px; } 
.z-img-extrasmall-dissociatecell { background-position: -28px -260px; width: 16px; height: 16px; } 
.z-img-extrasmall-documentinfo { background-position: -28px -286px; width: 16px; height: 16px; } 
.z-img-extrasmall-easymoblog { background-position: -28px -312px; width: 16px; height: 16px; } 
.z-img-extrasmall-edit { background-position: -28px -338px; width: 16px; height: 16px; } 
.z-img-extrasmall-edit_add { background-position: -28px -364px; width: 16px; height: 16px; } 
.z-img-extrasmall-edit_group { background-position: -28px -390px; width: 16px; height: 16px; } 
.z-img-extrasmall-edit_remove { background-position: -28px -416px; width: 16px; height: 16px; } 
.z-img-extrasmall-edit_user { background-position: -28px -442px; width: 16px; height: 16px; } 
.z-img-extrasmall-editclear { background-position: -28px -468px; width: 17px; height: 16px; } 
.z-img-extrasmall-editcopy { background-position: -28px -494px; width: 16px; height: 16px; } 
.z-img-extrasmall-editcut { background-position: -28px -520px; width: 16px; height: 16px; } 
.z-img-extrasmall-editdelete { background-position: -28px -546px; width: 16px; height: 16px; } 
.z-img-extrasmall-editpaste { background-position: -28px -572px; width: 16px; height: 16px; } 
.z-img-extrasmall-encrypted { background-position: -28px -598px; width: 16px; height: 16px; } 
.z-img-extrasmall-enumList { background-position: -28px -624px; width: 16px; height: 16px; } 
.z-img-extrasmall-error { background-position: -28px -650px; width: 16px; height: 16px; } 
.z-img-extrasmall-exec { background-position: -28px -676px; width: 16px; height: 16px; } 
.z-img-extrasmall-exit { background-position: -28px -702px; width: 16px; height: 16px; } 
.z-img-extrasmall-favorites { background-position: -28px -728px; width: 16px; height: 16px; } 
.z-img-extrasmall-file_important { background-position: -28px -754px; width: 16px; height: 16px; } 
.z-img-extrasmall-file_locked { background-position: -28px -780px; width: 16px; height: 16px; } 
.z-img-extrasmall-file_temporary { background-position: -28px -806px; width: 16px; height: 16px; } 
.z-img-extrasmall-fileclose { background-position: -28px -832px; width: 16px; height: 16px; } 
.z-img-extrasmall-fileimport { background-position: -28px -858px; width: 16px; height: 16px; } 
.z-img-extrasmall-filenew { background-position: -28px -884px; width: 16px; height: 16px; } 
.z-img-extrasmall-fileopen { background-position: -28px -910px; width: 16px; height: 16px; } 
.z-img-extrasmall-fileprint { background-position: -28px -936px; width: 16px; height: 16px; } 
.z-img-extrasmall-filesave { background-position: -28px -962px; width: 16px; height: 16px; } 
.z-img-extrasmall-filesaveas { background-position: -28px -988px; width: 16px; height: 16px; } 
.z-img-extrasmall-fileshare { background-position: -28px -1014px; width: 16px; height: 16px; } 
.z-img-extrasmall-flag { background-position: -28px -1040px; width: 16px; height: 16px; } 
.z-img-extrasmall-flash { background-position: -28px -1066px; width: 16px; height: 16px; } 
.z-img-extrasmall-folder { background-position: -28px -1092px; width: 16px; height: 16px; } 
.z-img-extrasmall-folder_blank { background-position: -28px -1118px; width: 16px; height: 16px; } 
.z-img-extrasmall-folder_blue { background-position: -28px -1144px; width: 16px; height: 16px; } 
.z-img-extrasmall-folder_documents { background-position: -28px -1170px; width: 16px; height: 16px; } 
.z-img-extrasmall-folder_doments { background-position: -28px -1196px; width: 16px; height: 16px; } 
.z-img-extrasmall-folder_favorites { background-position: -28px -1222px; width: 16px; height: 16px; } 
.z-img-extrasmall-folder_green { background-position: -28px -1248px; width: 16px; height: 16px; } 
.z-img-extrasmall-folder_grey { background-position: -28px -1274px; width: 16px; height: 16px; } 
.z-img-extrasmall-folder_home { background-position: -28px -1300px; width: 16px; height: 16px; } 
.z-img-extrasmall-folder_home2 { background-position: -28px -1326px; width: 16px; height: 16px; } 
.z-img-extrasmall-folder_home3 { background-position: -28px -1352px; width: 16px; height: 16px; } 
.z-img-extrasmall-folder_html { background-position: -28px -1378px; width: 16px; height: 16px; } 
.z-img-extrasmall-folder_image { background-position: -28px -1404px; width: 16px; height: 16px; } 
.z-img-extrasmall-folder_inbox { background-position: -28px -1430px; width: 16px; height: 16px; } 
.z-img-extrasmall-folder_music { background-position: -28px -1456px; width: 16px; height: 16px; } 
.z-img-extrasmall-folder_new { background-position: -28px -1482px; width: 18px; height: 18px; } 
.z-img-extrasmall-folder_open { background-position: -28px -1510px; width: 16px; height: 16px; } 
.z-img-extrasmall-folder_outbox { background-position: -28px -1536px; width: 16px; height: 16px; } 
.z-img-extrasmall-folder_print { background-position: -28px -1562px; width: 16px; height: 16px; } 
.z-img-extrasmall-folder_public { background-position: -28px -1588px; width: 16px; height: 16px; } 
.z-img-extrasmall-folder_red { background-position: -28px -1614px; width: 16px; height: 16px; } 
.z-img-extrasmall-folder_sent_mail { background-position: -28px -1640px; width: 16px; height: 16px; } 
.z-img-extrasmall-folder_sound { background-position: -28px -1666px; width: 16px; height: 16px; } 
.z-img-extrasmall-folder_tar { background-position: -28px -1692px; width: 16px; height: 16px; } 
.z-img-extrasmall-folder_txt { background-position: -28px -1718px; width: 16px; height: 16px; } 
.z-img-extrasmall-folder_video { background-position: -28px -1744px; width: 16px; height: 16px; } 
.z-img-extrasmall-folder_yellow { background-position: -28px -1770px; width: 16px; height: 16px; } 
.z-img-extrasmall-fonts { background-position: -28px -1796px; width: 16px; height: 16px; } 
.z-img-extrasmall-fontsizedown { background-position: -28px -1822px; width: 16px; height: 16px; } 
.z-img-extrasmall-fontsizeup { background-position: -28px -1848px; width: 16px; height: 16px; } 
.z-img-extrasmall-format_decreaseindent { background-position: -28px -1874px; width: 16px; height: 16px; } 
.z-img-extrasmall-format_increaseindent { background-position: -28px -1900px; width: 16px; height: 16px; } 
.z-img-extrasmall-frame_edit { background-position: -28px -1926px; width: 16px; height: 16px; } 
.z-img-extrasmall-frame_formula { background-position: -28px -1952px; width: 16px; height: 16px; } 
.z-img-extrasmall-frame_image { background-position: -28px -1978px; width: 17px; height: 18px; } 
.z-img-extrasmall-frame_query { background-position: -56px 0; width: 16px; height: 16px; } 
.z-img-extrasmall-frame_spreadsheet { background-position: -56px -26px; width: 16px; height: 16px; } 
.z-img-extrasmall-frame_text { background-position: -56px -52px; width: 16px; height: 16px; } 
.z-img-extrasmall-free_icon { background-position: -56px -78px; width: 12px; height: 12px; } 
.z-img-extrasmall-gg_connecting { background-position: -56px -100px; width: 16px; height: 16px; } 
.z-img-extrasmall-greenled { background-position: -56px -126px; width: 14px; height: 14px; } 
.z-img-extrasmall-halfencrypted { background-position: -56px -150px; width: 16px; height: 16px; } 
.z-img-extrasmall-help { background-position: -56px -176px; width: 16px; height: 16px; } 
.z-img-extrasmall-home { background-position: -56px -202px; width: 16px; height: 16px; } 
.z-img-extrasmall-idea { background-position: -56px -228px; width: 16px; height: 16px; } 
.z-img-extrasmall-inbox { background-position: -56px -254px; width: 16px; height: 16px; } 
.z-img-extrasmall-indicator_circle { background-position: -56px -280px; width: 16px; height: 16px; } 
.z-img-extrasmall-info { background-position: -56px -306px; width: 16px; height: 16px; } 
.z-img-extrasmall-inline_image { background-position: -56px -332px; width: 19px; height: 18px; } 
.z-img-extrasmall-inline_table { background-position: -56px -360px; width: 19px; height: 18px; } 
.z-img-extrasmall-insert_table_col { background-position: -56px -388px; width: 16px; height: 16px; } 
.z-img-extrasmall-insert_table_row { background-position: -56px -414px; width: 16px; height: 16px; } 
.z-img-extrasmall-insert_table_row_above { background-position: -56px -440px; width: 16px; height: 16px; } 
.z-img-extrasmall-insertcell { background-position: -56px -466px; width: 16px; height: 16px; } 
.z-img-extrasmall-insertcellcopy { background-position: -56px -492px; width: 16px; height: 16px; } 
.z-img-extrasmall-inserttable { background-position: -56px -518px; width: 16px; height: 16px; } 
.z-img-extrasmall-jabber_online { background-position: -56px -544px; width: 16px; height: 16px; } 
.z-img-extrasmall-kcmdf { background-position: -56px -570px; width: 16px; height: 16px; } 
.z-img-extrasmall-list { background-position: -56px -596px; width: 16px; height: 16px; } 
.z-img-extrasmall-lists { background-position: -56px -622px; width: 16px; height: 16px; } 
.z-img-extrasmall-locked { background-position: -56px -648px; width: 16px; height: 16px; } 
.z-img-extrasmall-locked { background-position: -56px -674px; width: 16px; height: 16px; } 
.z-img-extrasmall-mac { background-position: -56px -700px; width: 16px; height: 16px; } 
.z-img-extrasmall-mail { background-position: -56px -726px; width: 16px; height: 16px; } 
.z-img-extrasmall-mail_delete { background-position: -56px -752px; width: 16px; height: 16px; } 
.z-img-extrasmall-mail_find { background-position: -56px -778px; width: 16px; height: 16px; } 
.z-img-extrasmall-mail_forward { background-position: -56px -804px; width: 16px; height: 16px; } 
.z-img-extrasmall-mail_generic { background-position: -56px -830px; width: 16px; height: 16px; } 
.z-img-extrasmall-mail_get { background-position: -56px -856px; width: 16px; height: 16px; } 
.z-img-extrasmall-mail_new { background-position: -56px -882px; width: 16px; height: 16px; } 
.z-img-extrasmall-mail_post_to { background-position: -56px -908px; width: 16px; height: 16px; } 
.z-img-extrasmall-mail_replay { background-position: -56px -934px; width: 16px; height: 16px; } 
.z-img-extrasmall-mail_replayall { background-position: -56px -960px; width: 16px; height: 16px; } 
.z-img-extrasmall-mail_reply { background-position: -56px -986px; width: 16px; height: 16px; } 
.z-img-extrasmall-mail_replyall { background-position: -56px -1012px; width: 16px; height: 16px; } 
.z-img-extrasmall-mail_replylist { background-position: -56px -1038px; width: 16px; height: 16px; } 
.z-img-extrasmall-mail_send { background-position: -56px -1064px; width: 16px; height: 16px; } 
.z-img-extrasmall-mailappt { background-position: -56px -1090px; width: 16px; height: 16px; } 
.z-img-extrasmall-mergecell { background-position: -56px -1116px; width: 16px; height: 16px; } 
.z-img-extrasmall-move { background-position: -56px -1142px; width: 16px; height: 16px; } 
.z-img-extrasmall-mp3 { background-position: -56px -1168px; width: 16px; height: 16px; } 
.z-img-extrasmall-mydocuments { background-position: -56px -1194px; width: 16px; height: 16px; } 
.z-img-extrasmall-network { background-position: -56px -1220px; width: 16px; height: 16px; } 
.z-img-extrasmall-next { background-position: -56px -1246px; width: 16px; height: 16px; } 
.z-img-extrasmall-nextend { background-position: -56px -1272px; width: 20px; height: 16px; } 
.z-img-extrasmall-nextinactive { background-position: -56px -1298px; width: 16px; height: 16px; } 
.z-img-extrasmall-ok { background-position: -56px -1324px; width: 16px; height: 16px; } 
.z-img-extrasmall-oscilloscope { background-position: -56px -1350px; width: 16px; height: 16px; } 
.z-img-extrasmall-package { background-position: -56px -1376px; width: 16px; height: 16px; } 
.z-img-extrasmall-package_application { background-position: -56px -1402px; width: 18px; height: 18px; } 
.z-img-extrasmall-package_applications { background-position: -56px -1430px; width: 16px; height: 16px; } 
.z-img-extrasmall-package_editors { background-position: -56px -1456px; width: 16px; height: 16px; } 
.z-img-extrasmall-package_favourite { background-position: -56px -1482px; width: 16px; height: 16px; } 
.z-img-extrasmall-package_games_strategy { background-position: -56px -1508px; width: 16px; height: 16px; } 
.z-img-extrasmall-package_graphics { background-position: -56px -1534px; width: 16px; height: 16px; } 
.z-img-extrasmall-package_programs { background-position: -56px -1560px; width: 16px; height: 16px; } 
.z-img-extrasmall-package_settings { background-position: -56px -1586px; width: 16px; height: 16px; } 
.z-img-extrasmall-package_system { background-position: -56px -1612px; width: 16px; height: 16px; } 
.z-img-extrasmall-package_utilities { background-position: -56px -1638px; width: 16px; height: 16px; } 
.z-img-extrasmall-package_wordprocessing { background-position: -56px -1664px; width: 16px; height: 16px; } 
.z-img-extrasmall-panel { background-position: -56px -1690px; width: 17px; height: 17px; } 
.z-img-extrasmall-panel_settings { background-position: -56px -1717px; width: 17px; height: 17px; } 
.z-img-extrasmall-password { background-position: -56px -1744px; width: 16px; height: 16px; } 
.z-img-extrasmall-personal { background-position: -56px -1770px; width: 16px; height: 16px; } 
.z-img-extrasmall-previous { background-position: -56px -1796px; width: 16px; height: 16px; } 
.z-img-extrasmall-previousend { background-position: -56px -1822px; width: 20px; height: 16px; } 
.z-img-extrasmall-previousinactive { background-position: -56px -1848px; width: 16px; height: 16px; } 
.z-img-extrasmall-printer1 { background-position: -56px -1874px; width: 16px; height: 16px; } 
.z-img-extrasmall-queue { background-position: -56px -1900px; width: 16px; height: 16px; } 
.z-img-extrasmall-recur { background-position: -56px -1926px; width: 15px; height: 15px; } 
.z-img-extrasmall-redled { background-position: -56px -1951px; width: 14px; height: 14px; } 
.z-img-extrasmall-redo { background-position: -56px -1975px; width: 16px; height: 16px; } 
.z-img-extrasmall-reload { background-position: -86px 0; width: 16px; height: 16px; } 
.z-img-extrasmall-reload_all_tabs { background-position: -86px -26px; width: 16px; height: 16px; } 
.z-img-extrasmall-reload_page { background-position: -86px -52px; width: 22px; height: 22px; } 
.z-img-extrasmall-reminders { background-position: -86px -84px; width: 16px; height: 16px; } 
.z-img-extrasmall-remove { background-position: -86px -110px; width: 16px; height: 16px; } 
.z-img-extrasmall-removecell { background-position: -86px -136px; width: 16px; height: 16px; } 
.z-img-extrasmall-removecomment { background-position: -86px -162px; width: 16px; height: 16px; } 
.z-img-extrasmall-resizecol { background-position: -86px -188px; width: 16px; height: 16px; } 
.z-img-extrasmall-resizerow { background-position: -86px -214px; width: 16px; height: 16px; } 
.z-img-extrasmall-revert { background-position: -86px -240px; width: 16px; height: 16px; } 
.z-img-extrasmall-rotate { background-position: -86px -266px; width: 16px; height: 16px; } 
.z-img-extrasmall-rotate_ccw { background-position: -86px -292px; width: 16px; height: 16px; } 
.z-img-extrasmall-rotate_cw { background-position: -86px -318px; width: 16px; height: 16px; } 
.z-img-extrasmall-run { background-position: -86px -344px; width: 16px; height: 16px; } 
.z-img-extrasmall-runprog { background-position: -86px -370px; width: 16px; height: 16px; } 
.z-img-extrasmall-save_all { background-position: -86px -396px; width: 18px; height: 18px; } 
.z-img-extrasmall-search { background-position: -86px -424px; width: 16px; height: 16px; } 
.z-img-extrasmall-server { background-position: -86px -450px; width: 16px; height: 16px; } 
.z-img-extrasmall-services { background-position: -86px -476px; width: 16px; height: 16px; } 
.z-img-extrasmall-services_flag { background-position: -86px -502px; width: 17px; height: 18px; } 
.z-img-extrasmall-show_table_row { background-position: -86px -530px; width: 16px; height: 16px; } 
.z-img-extrasmall-signature { background-position: -86px -556px; width: 16px; height: 16px; } 
.z-img-extrasmall-smallcal { background-position: -86px -582px; width: 14px; height: 14px; } 
.z-img-extrasmall-smallclock { background-position: -86px -606px; width: 9px; height: 9px; } 
.z-img-extrasmall-sort_decrease { background-position: -86px -625px; width: 16px; height: 16px; } 
.z-img-extrasmall-sort_incr { background-position: -86px -651px; width: 16px; height: 16px; } 
.z-img-extrasmall-spellcheck { background-position: -86px -677px; width: 16px; height: 16px; } 
.z-img-extrasmall-status_unknown { background-position: -86px -703px; width: 16px; height: 16px; } 
.z-img-extrasmall-tab_first { background-position: -86px -729px; width: 16px; height: 16px; } 
.z-img-extrasmall-tab_last { background-position: -86px -755px; width: 16px; height: 16px; } 
.z-img-extrasmall-tab_left { background-position: -86px -781px; width: 16px; height: 16px; } 
.z-img-extrasmall-tab_right { background-position: -86px -807px; width: 16px; height: 16px; } 
.z-img-extrasmall-terminal { background-position: -86px -833px; width: 16px; height: 16px; } 
.z-img-extrasmall-testbed_protocol { background-position: -86px -859px; width: 16px; height: 16px; } 
.z-img-extrasmall-text_block { background-position: -86px -885px; width: 16px; height: 16px; } 
.z-img-extrasmall-text_bottom { background-position: -86px -911px; width: 16px; height: 16px; } 
.z-img-extrasmall-text_center { background-position: -86px -937px; width: 16px; height: 16px; } 
.z-img-extrasmall-text_left { background-position: -86px -963px; width: 16px; height: 16px; } 
.z-img-extrasmall-text_right { background-position: -86px -989px; width: 16px; height: 16px; } 
.z-img-extrasmall-undo { background-position: -86px -1015px; width: 16px; height: 16px; } 
.z-img-extrasmall-unlock { background-position: -86px -1041px; width: 16px; height: 16px; } 
.z-img-extrasmall-unlocked { background-position: -86px -1067px; width: 16px; height: 16px; } 
.z-img-extrasmall-unlocked { background-position: -86px -1093px; width: 16px; height: 16px; } 
.z-img-extrasmall-utilities { background-position: -86px -1119px; width: 16px; height: 16px; } 
.z-img-extrasmall-vcalendar { background-position: -86px -1145px; width: 16px; height: 16px; } 
.z-img-extrasmall-voice-support { background-position: -86px -1171px; width: 16px; height: 16px; } 
.z-img-extrasmall-window_list { background-position: -86px -1197px; width: 16px; height: 16px; } 
.z-img-extrasmall-windowlist { background-position: -86px -1223px; width: 16px; height: 16px; } 
.z-img-extrasmall-windows_list { background-position: -86px -1249px; width: 16px; height: 16px; } 
.z-img-extrasmall-wizard { background-position: -86px -1275px; width: 18px; height: 18px; } 
.z-img-extrasmall-xedit { background-position: -86px -1303px; width: 16px; height: 16px; } 
.z-img-extrasmall-xfmail { background-position: -86px -1329px; width: 16px; height: 16px; } 
.z-img-extrasmall-xine { background-position: -86px -1355px; width: 16px; height: 16px; } 
.z-img-extrasmall-yellowled { background-position: -86px -1381px; width: 14px; height: 14px; } 
