.z-img-small {
   background: url(csssprite-small.gif) no-repeat top left;
}

.z-img-small-1downarrow { background-position: 0 0; width: 22px; height: 22px; } 
.z-img-small-1leftarrow { background-position: 0 -32px; width: 22px; height: 22px; } 
.z-img-small-1rightarrow { background-position: 0 -64px; width: 22px; height: 22px; } 
.z-img-small-1uparrow { background-position: 0 -96px; width: 22px; height: 22px; } 
.z-img-small-2downarrow { background-position: 0 -128px; width: 22px; height: 22px; } 
.z-img-small-2leftarrow { background-position: 0 -160px; width: 22px; height: 22px; } 
.z-img-small-2rightarrow { background-position: 0 -192px; width: 22px; height: 22px; } 
.z-img-small-2uparrow { background-position: 0 -224px; width: 22px; height: 22px; } 
.z-img-small-add { background-position: 0 -256px; width: 32px; height: 32px; } 
.z-img-small-add_group { background-position: 0 -298px; width: 22px; height: 22px; } 
.z-img-small-add_user { background-position: 0 -330px; width: 22px; height: 22px; } 
.z-img-small-admintab { background-position: 0 -362px; width: 32px; height: 32px; } 
.z-img-small-agt_Multimedia { background-position: 0 -404px; width: 22px; height: 22px; } 
.z-img-small-agt_Utilities { background-position: 0 -436px; width: 22px; height: 22px; } 
.z-img-small-agt_aisles { background-position: 0 -468px; width: 22px; height: 22px; } 
.z-img-small-agt_announcements { background-position: 0 -500px; width: 22px; height: 22px; } 
.z-img-small-agt_back { background-position: 0 -532px; width: 22px; height: 22px; } 
.z-img-small-agt_business { background-position: 0 -564px; width: 22px; height: 22px; } 
.z-img-small-agt_desktop_enhancements { background-position: 0 -596px; width: 22px; height: 22px; } 
.z-img-small-agt_family-off { background-position: 0 -628px; width: 22px; height: 22px; } 
.z-img-small-agt_family { background-position: 0 -660px; width: 22px; height: 22px; } 
.z-img-small-agt_forum { background-position: 0 -692px; width: 22px; height: 22px; } 
.z-img-small-agt_forward { background-position: 0 -724px; width: 22px; height: 22px; } 
.z-img-small-agt_games { background-position: 0 -756px; width: 22px; height: 22px; } 
.z-img-small-agt_home { background-position: 0 -788px; width: 22px; height: 22px; } 
.z-img-small-agt_internet { background-position: 0 -820px; width: 22px; height: 22px; } 
.z-img-small-agt_login { background-position: 0 -852px; width: 22px; height: 22px; } 
.z-img-small-agt_mp3 { background-position: 0 -884px; width: 22px; height: 22px; } 
.z-img-small-agt_pause-queue { background-position: 0 -916px; width: 22px; height: 22px; } 
.z-img-small-agt_reload { background-position: 0 -948px; width: 22px; height: 22px; } 
.z-img-small-agt_resume { background-position: 0 -980px; width: 22px; height: 22px; } 
.z-img-small-agt_runit { background-position: 0 -1012px; width: 22px; height: 22px; } 
.z-img-small-agt_softwareD { background-position: 0 -1044px; width: 22px; height: 22px; } 
.z-img-small-agt_start_here { background-position: 0 -1076px; width: 22px; height: 22px; } 
.z-img-small-agt_stop { background-position: 0 -1108px; width: 22px; height: 22px; } 
.z-img-small-agt_support { background-position: 0 -1140px; width: 22px; height: 22px; } 
.z-img-small-agt_uninstall-product { background-position: 0 -1172px; width: 22px; height: 22px; } 
.z-img-small-agt_update-product { background-position: 0 -1204px; width: 22px; height: 22px; } 
.z-img-small-agt_update_drivers { background-position: 0 -1236px; width: 22px; height: 22px; } 
.z-img-small-agt_update_misc { background-position: 0 -1268px; width: 22px; height: 22px; } 
.z-img-small-agt_update_recommended { background-position: 0 -1300px; width: 22px; height: 22px; } 
.z-img-small-attach { background-position: 0 -1332px; width: 22px; height: 22px; } 
.z-img-small-bell { background-position: 0 -1364px; width: 22px; height: 22px; } 
.z-img-small-border_all { background-position: 0 -1396px; width: 22px; height: 22px; } 
.z-img-small-border_bottom { background-position: 0 -1428px; width: 22px; height: 22px; } 
.z-img-small-border_fall { background-position: 0 -1460px; width: 22px; height: 22px; } 
.z-img-small-border_horizontal { background-position: 0 -1492px; width: 22px; height: 22px; } 
.z-img-small-border_inside { background-position: 0 -1524px; width: 22px; height: 22px; } 
.z-img-small-border_left { background-position: 0 -1556px; width: 22px; height: 22px; } 
.z-img-small-border_outline { background-position: 0 -1588px; width: 22px; height: 22px; } 
.z-img-small-border_remove { background-position: 0 -1620px; width: 22px; height: 22px; } 
.z-img-small-border_top { background-position: 0 -1652px; width: 22px; height: 22px; } 
.z-img-small-border_up { background-position: 0 -1684px; width: 22px; height: 22px; } 
.z-img-small-border_vertical { background-position: 0 -1716px; width: 22px; height: 22px; } 
.z-img-small-borderoutline { background-position: 0 -1748px; width: 22px; height: 22px; } 
.z-img-small-button_cancel { background-position: 0 -1780px; width: 22px; height: 22px; } 
.z-img-small-button_ok { background-position: 0 -1812px; width: 22px; height: 22px; } 
.z-img-small-cache { background-position: 0 -1844px; width: 22px; height: 22px; } 
.z-img-small-cancel { background-position: 0 -1876px; width: 22px; height: 22px; } 
.z-img-small-clock { background-position: 0 -1908px; width: 22px; height: 22px; } 
.z-img-small-colors { background-position: 0 -1940px; width: 22px; height: 22px; } 
.z-img-small-configure { background-position: 0 -1972px; width: 22px; height: 22px; } 
.z-img-small-database { background-position: -42px 0; width: 22px; height: 22px; } 
.z-img-small-db_add { background-position: -42px -32px; width: 22px; height: 22px; } 
.z-img-small-db_comit { background-position: -42px -64px; width: 22px; height: 22px; } 
.z-img-small-db_remove { background-position: -42px -96px; width: 22px; height: 22px; } 
.z-img-small-db_status { background-position: -42px -128px; width: 22px; height: 22px; } 
.z-img-small-db_update { background-position: -42px -160px; width: 22px; height: 22px; } 
.z-img-small-decrypted { background-position: -42px -192px; width: 22px; height: 22px; } 
.z-img-small-delete_group { background-position: -42px -224px; width: 22px; height: 22px; } 
.z-img-small-delete_table_col { background-position: -42px -256px; width: 22px; height: 22px; } 
.z-img-small-delete_table_row { background-position: -42px -288px; width: 22px; height: 22px; } 
.z-img-small-delete_user { background-position: -42px -320px; width: 22px; height: 22px; } 
.z-img-small-demo { background-position: -42px -352px; width: 22px; height: 22px; } 
.z-img-small-easymoblog { background-position: -42px -384px; width: 22px; height: 22px; } 
.z-img-small-edit { background-position: -42px -416px; width: 22px; height: 22px; } 
.z-img-small-edit_add { background-position: -42px -448px; width: 22px; height: 22px; } 
.z-img-small-edit_group { background-position: -42px -480px; width: 22px; height: 22px; } 
.z-img-small-edit_remove { background-position: -42px -512px; width: 22px; height: 22px; } 
.z-img-small-edit_user { background-position: -42px -544px; width: 22px; height: 22px; } 
.z-img-small-editclear { background-position: -42px -576px; width: 22px; height: 22px; } 
.z-img-small-editcopy { background-position: -42px -608px; width: 22px; height: 22px; } 
.z-img-small-editcut { background-position: -42px -640px; width: 22px; height: 22px; } 
.z-img-small-editdelete { background-position: -42px -672px; width: 24px; height: 24px; } 
.z-img-small-editpaste { background-position: -42px -706px; width: 22px; height: 22px; } 
.z-img-small-encrypted { background-position: -42px -738px; width: 22px; height: 22px; } 
.z-img-small-enumList { background-position: -42px -770px; width: 22px; height: 22px; } 
.z-img-small-error { background-position: -42px -802px; width: 22px; height: 22px; } 
.z-img-small-exec { background-position: -42px -834px; width: 22px; height: 22px; } 
.z-img-small-exit { background-position: -42px -866px; width: 22px; height: 22px; } 
.z-img-small-file_important { background-position: -42px -898px; width: 22px; height: 22px; } 
.z-img-small-file_locked { background-position: -42px -930px; width: 22px; height: 22px; } 
.z-img-small-file_temporary { background-position: -42px -962px; width: 22px; height: 22px; } 
.z-img-small-fileclose { background-position: -42px -994px; width: 22px; height: 22px; } 
.z-img-small-fileimport { background-position: -42px -1026px; width: 22px; height: 22px; } 
.z-img-small-filenew { background-position: -42px -1058px; width: 22px; height: 22px; } 
.z-img-small-fileopen { background-position: -42px -1090px; width: 22px; height: 22px; } 
.z-img-small-fileprint { background-position: -42px -1122px; width: 22px; height: 22px; } 
.z-img-small-filesave { background-position: -42px -1154px; width: 22px; height: 22px; } 
.z-img-small-filesaveas { background-position: -42px -1186px; width: 22px; height: 22px; } 
.z-img-small-flag { background-position: -42px -1218px; width: 22px; height: 22px; } 
.z-img-small-flash { background-position: -42px -1250px; width: 22px; height: 22px; } 
.z-img-small-folder { background-position: -42px -1282px; width: 22px; height: 22px; } 
.z-img-small-folder_blank { background-position: -42px -1314px; width: 22px; height: 22px; } 
.z-img-small-folder_blue { background-position: -42px -1346px; width: 22px; height: 22px; } 
.z-img-small-folder_documents { background-position: -42px -1378px; width: 22px; height: 22px; } 
.z-img-small-folder_doments { background-position: -42px -1410px; width: 24px; height: 24px; } 
.z-img-small-folder_favorites { background-position: -42px -1444px; width: 22px; height: 22px; } 
.z-img-small-folder_green { background-position: -42px -1476px; width: 22px; height: 22px; } 
.z-img-small-folder_grey { background-position: -42px -1508px; width: 22px; height: 22px; } 
.z-img-small-folder_home { background-position: -42px -1540px; width: 22px; height: 22px; } 
.z-img-small-folder_home2 { background-position: -42px -1572px; width: 22px; height: 22px; } 
.z-img-small-folder_home3 { background-position: -42px -1604px; width: 22px; height: 22px; } 
.z-img-small-folder_html { background-position: -42px -1636px; width: 22px; height: 22px; } 
.z-img-small-folder_image { background-position: -42px -1668px; width: 22px; height: 22px; } 
.z-img-small-folder_music { background-position: -42px -1700px; width: 22px; height: 22px; } 
.z-img-small-folder_new { background-position: -42px -1732px; width: 22px; height: 22px; } 
.z-img-small-folder_print { background-position: -42px -1764px; width: 22px; height: 22px; } 
.z-img-small-folder_public { background-position: -42px -1796px; width: 22px; height: 22px; } 
.z-img-small-folder_red { background-position: -42px -1828px; width: 22px; height: 22px; } 
.z-img-small-folder_sound { background-position: -42px -1860px; width: 22px; height: 22px; } 
.z-img-small-folder_tar { background-position: -42px -1892px; width: 22px; height: 22px; } 
.z-img-small-folder_txt { background-position: -42px -1924px; width: 22px; height: 22px; } 
.z-img-small-folder_video { background-position: -42px -1956px; width: 22px; height: 22px; } 
.z-img-small-folder_yellow { background-position: -42px -1988px; width: 22px; height: 22px; } 
.z-img-small-fonts { background-position: -84px 0; width: 22px; height: 22px; } 
.z-img-small-fontsizedown { background-position: -84px -32px; width: 22px; height: 22px; } 
.z-img-small-fontsizeup { background-position: -84px -64px; width: 22px; height: 22px; } 
.z-img-small-format_decreaseindent { background-position: -84px -96px; width: 22px; height: 22px; } 
.z-img-small-format_increaseindent { background-position: -84px -128px; width: 22px; height: 22px; } 
.z-img-small-frame_edit { background-position: -84px -160px; width: 22px; height: 22px; } 
.z-img-small-frame_formula { background-position: -84px -192px; width: 22px; height: 22px; } 
.z-img-small-frame_image { background-position: -84px -224px; width: 22px; height: 22px; } 
.z-img-small-frame_query { background-position: -84px -256px; width: 22px; height: 22px; } 
.z-img-small-frame_spreadsheet { background-position: -84px -288px; width: 22px; height: 22px; } 
.z-img-small-frame_text { background-position: -84px -320px; width: 22px; height: 22px; } 
.z-img-small-halfencrypted { background-position: -84px -352px; width: 22px; height: 22px; } 
.z-img-small-help { background-position: -84px -384px; width: 22px; height: 22px; } 
.z-img-small-home { background-position: -84px -416px; width: 22px; height: 22px; } 
.z-img-small-idea { background-position: -84px -448px; width: 22px; height: 22px; } 
.z-img-small-inbox { background-position: -84px -480px; width: 22px; height: 22px; } 
.z-img-small-info { background-position: -84px -512px; width: 22px; height: 22px; } 
.z-img-small-inline_image { background-position: -84px -544px; width: 22px; height: 22px; } 
.z-img-small-inline_table { background-position: -84px -576px; width: 22px; height: 22px; } 
.z-img-small-insert_table_col { background-position: -84px -608px; width: 22px; height: 22px; } 
.z-img-small-insert_table_row { background-position: -84px -640px; width: 22px; height: 22px; } 
.z-img-small-kcmdf { background-position: -84px -672px; width: 22px; height: 22px; } 
.z-img-small-list { background-position: -84px -704px; width: 22px; height: 22px; } 
.z-img-small-lists { background-position: -84px -736px; width: 22px; height: 22px; } 
.z-img-small-locked { background-position: -84px -768px; width: 22px; height: 22px; } 
.z-img-small-mac { background-position: -84px -800px; width: 22px; height: 22px; } 
.z-img-small-mail { background-position: -84px -832px; width: 22px; height: 22px; } 
.z-img-small-mail_delete { background-position: -84px -864px; width: 22px; height: 22px; } 
.z-img-small-mail_find { background-position: -84px -896px; width: 22px; height: 22px; } 
.z-img-small-mail_forward { background-position: -84px -928px; width: 22px; height: 22px; } 
.z-img-small-mail_generic { background-position: -84px -960px; width: 22px; height: 22px; } 
.z-img-small-mail_get { background-position: -84px -992px; width: 22px; height: 22px; } 
.z-img-small-mail_new { background-position: -84px -1024px; width: 22px; height: 22px; } 
.z-img-small-mail_post_to { background-position: -84px -1056px; width: 22px; height: 22px; } 
.z-img-small-mail_replay { background-position: -84px -1088px; width: 22px; height: 22px; } 
.z-img-small-mail_replayall { background-position: -84px -1120px; width: 22px; height: 22px; } 
.z-img-small-mail_reply { background-position: -84px -1152px; width: 22px; height: 22px; } 
.z-img-small-mail_replyall { background-position: -84px -1184px; width: 22px; height: 22px; } 
.z-img-small-mail_replylist { background-position: -84px -1216px; width: 22px; height: 22px; } 
.z-img-small-mail_send { background-position: -84px -1248px; width: 22px; height: 22px; } 
.z-img-small-mp3 { background-position: -84px -1280px; width: 22px; height: 22px; } 
.z-img-small-mydocuments { background-position: -84px -1312px; width: 22px; height: 22px; } 
.z-img-small-ok { background-position: -84px -1344px; width: 22px; height: 22px; } 
.z-img-small-package_favourite { background-position: -84px -1376px; width: 22px; height: 22px; } 
.z-img-small-package_games_strategy { background-position: -84px -1408px; width: 22px; height: 22px; } 
.z-img-small-package_graphics { background-position: -84px -1440px; width: 22px; height: 22px; } 
.z-img-small-package_settings { background-position: -84px -1472px; width: 22px; height: 22px; } 
.z-img-small-package_utilities { background-position: -84px -1504px; width: 22px; height: 22px; } 
.z-img-small-package_wordprocessing { background-position: -84px -1536px; width: 22px; height: 22px; } 
.z-img-small-password { background-position: -84px -1568px; width: 22px; height: 22px; } 
.z-img-small-personal { background-position: -84px -1600px; width: 22px; height: 22px; } 
.z-img-small-previous { background-position: -84px -1632px; width: 24px; height: 24px; } 
.z-img-small-printer1 { background-position: -84px -1666px; width: 22px; height: 22px; } 
.z-img-small-queue { background-position: -84px -1698px; width: 22px; height: 22px; } 
.z-img-small-redo { background-position: -84px -1730px; width: 22px; height: 22px; } 
.z-img-small-reload { background-position: -84px -1762px; width: 22px; height: 22px; } 
.z-img-small-reload_page { background-position: -84px -1794px; width: 22px; height: 22px; } 
.z-img-small-reminders { background-position: -84px -1826px; width: 22px; height: 22px; } 
.z-img-small-revert { background-position: -84px -1858px; width: 22px; height: 22px; } 
.z-img-small-run { background-position: -84px -1890px; width: 22px; height: 22px; } 
.z-img-small-save_all { background-position: -84px -1922px; width: 22px; height: 22px; } 
.z-img-small-search { background-position: -84px -1954px; width: 22px; height: 22px; } 
.z-img-small-server { background-position: -84px -1986px; width: 22px; height: 22px; } 
.z-img-small-services { background-position: -126px 0; width: 22px; height: 22px; } 
.z-img-small-signature { background-position: -126px -32px; width: 24px; height: 24px; } 
.z-img-small-spellcheck { background-position: -126px -66px; width: 22px; height: 22px; } 
.z-img-small-terminal { background-position: -126px -98px; width: 22px; height: 22px; } 
.z-img-small-text_block { background-position: -126px -130px; width: 22px; height: 22px; } 
.z-img-small-text_center { background-position: -126px -162px; width: 22px; height: 22px; } 
.z-img-small-text_left { background-position: -126px -194px; width: 22px; height: 22px; } 
.z-img-small-text_right { background-position: -126px -226px; width: 22px; height: 22px; } 
.z-img-small-undo { background-position: -126px -258px; width: 22px; height: 22px; } 
.z-img-small-unlock { background-position: -126px -290px; width: 22px; height: 22px; } 
.z-img-small-unlocked { background-position: -126px -322px; width: 22px; height: 22px; } 
.z-img-small-utilities { background-position: -126px -354px; width: 22px; height: 22px; } 
.z-img-small-vcalendar { background-position: -126px -386px; width: 22px; height: 22px; } 
.z-img-small-voice-support { background-position: -126px -418px; width: 22px; height: 22px; } 
.z-img-small-windowlist { background-position: -126px -450px; width: 22px; height: 22px; } 
.z-img-small-xine { background-position: -126px -482px; width: 22px; height: 22px; } 
