.z-img-large {
   background: url(csssprite-large.gif) no-repeat top left;
}

.z-img-large-1downarrow { background-position: 0 0; width: 48px; height: 48px; } 
.z-img-large-1leftarrow { background-position: 0 -58px; width: 48px; height: 48px; } 
.z-img-large-1rightarrow { background-position: 0 -116px; width: 48px; height: 48px; } 
.z-img-large-1uparrow { background-position: 0 -174px; width: 48px; height: 48px; } 
.z-img-large-2downarrow { background-position: 0 -232px; width: 48px; height: 48px; } 
.z-img-large-2leftarrow { background-position: 0 -290px; width: 48px; height: 48px; } 
.z-img-large-2rightarrow { background-position: 0 -348px; width: 48px; height: 48px; } 
.z-img-large-2uparrow { background-position: 0 -406px; width: 48px; height: 48px; } 
.z-img-large-3d { background-position: 0 -464px; width: 48px; height: 48px; } 
.z-img-large-agt_Multimedia { background-position: 0 -522px; width: 48px; height: 48px; } 
.z-img-large-agt_Utilities { background-position: 0 -580px; width: 48px; height: 48px; } 
.z-img-large-agt_aisles { background-position: 0 -638px; width: 48px; height: 48px; } 
.z-img-large-agt_announcements { background-position: 0 -696px; width: 48px; height: 48px; } 
.z-img-large-agt_back { background-position: 0 -754px; width: 48px; height: 48px; } 
.z-img-large-agt_business { background-position: 0 -812px; width: 48px; height: 48px; } 
.z-img-large-agt_desktop_enhancements { background-position: 0 -870px; width: 48px; height: 48px; } 
.z-img-large-agt_family-off { background-position: 0 -928px; width: 48px; height: 48px; } 
.z-img-large-agt_family { background-position: 0 -986px; width: 48px; height: 48px; } 
.z-img-large-agt_forum { background-position: 0 -1044px; width: 48px; height: 48px; } 
.z-img-large-agt_forward { background-position: 0 -1102px; width: 48px; height: 48px; } 
.z-img-large-agt_games { background-position: 0 -1160px; width: 48px; height: 48px; } 
.z-img-large-agt_home { background-position: 0 -1218px; width: 48px; height: 48px; } 
.z-img-large-agt_internet { background-position: 0 -1276px; width: 48px; height: 48px; } 
.z-img-large-agt_login { background-position: 0 -1334px; width: 48px; height: 48px; } 
.z-img-large-agt_mp3 { background-position: 0 -1392px; width: 48px; height: 48px; } 
.z-img-large-agt_pause-queue { background-position: 0 -1450px; width: 48px; height: 48px; } 
.z-img-large-agt_reload { background-position: 0 -1508px; width: 48px; height: 48px; } 
.z-img-large-agt_resume { background-position: 0 -1566px; width: 48px; height: 48px; } 
.z-img-large-agt_runit { background-position: 0 -1624px; width: 48px; height: 48px; } 
.z-img-large-agt_softwareD { background-position: 0 -1682px; width: 48px; height: 48px; } 
.z-img-large-agt_start_here { background-position: 0 -1740px; width: 48px; height: 48px; } 
.z-img-large-agt_stop { background-position: 0 -1798px; width: 48px; height: 48px; } 
.z-img-large-agt_support { background-position: 0 -1856px; width: 48px; height: 48px; } 
.z-img-large-agt_uninstall-product { background-position: 0 -1914px; width: 48px; height: 48px; } 
.z-img-large-agt_update-product { background-position: 0 -1972px; width: 48px; height: 48px; } 
.z-img-large-agt_update_drivers { background-position: -58px 0; width: 48px; height: 48px; } 
.z-img-large-agt_update_misc { background-position: -58px -58px; width: 48px; height: 48px; } 
.z-img-large-agt_update_recommended { background-position: -58px -116px; width: 48px; height: 48px; } 
.z-img-large-bell { background-position: -58px -174px; width: 48px; height: 48px; } 
.z-img-large-blockdevice { background-position: -58px -232px; width: 48px; height: 48px; } 
.z-img-large-bug { background-position: -58px -290px; width: 48px; height: 48px; } 
.z-img-large-button_cancel { background-position: -58px -348px; width: 48px; height: 48px; } 
.z-img-large-button_ok { background-position: -58px -406px; width: 48px; height: 48px; } 
.z-img-large-cache { background-position: -58px -464px; width: 48px; height: 48px; } 
.z-img-large-clock { background-position: -58px -522px; width: 48px; height: 48px; } 
.z-img-large-colors { background-position: -58px -580px; width: 48px; height: 48px; } 
.z-img-large-configure { background-position: -58px -638px; width: 48px; height: 48px; } 
.z-img-large-database { background-position: -58px -696px; width: 48px; height: 48px; } 
.z-img-large-db_add { background-position: -58px -754px; width: 48px; height: 48px; } 
.z-img-large-db_comit { background-position: -58px -812px; width: 48px; height: 48px; } 
.z-img-large-db_remove { background-position: -58px -870px; width: 48px; height: 48px; } 
.z-img-large-db_status { background-position: -58px -928px; width: 48px; height: 48px; } 
.z-img-large-db_update { background-position: -58px -986px; width: 48px; height: 48px; } 
.z-img-large-decrypted { background-position: -58px -1044px; width: 48px; height: 48px; } 
.z-img-large-demo { background-position: -58px -1102px; width: 48px; height: 48px; } 
.z-img-large-easymoblog { background-position: -58px -1160px; width: 48px; height: 48px; } 
.z-img-large-edit { background-position: -58px -1218px; width: 48px; height: 48px; } 
.z-img-large-edit_add { background-position: -58px -1276px; width: 48px; height: 48px; } 
.z-img-large-edit_remove { background-position: -58px -1334px; width: 48px; height: 48px; } 
.z-img-large-editcopy { background-position: -58px -1392px; width: 48px; height: 48px; } 
.z-img-large-editcut { background-position: -58px -1450px; width: 48px; height: 48px; } 
.z-img-large-editdelete { background-position: -58px -1508px; width: 48px; height: 48px; } 
.z-img-large-editpaste { background-position: -58px -1566px; width: 48px; height: 48px; } 
.z-img-large-encrypted { background-position: -58px -1624px; width: 48px; height: 48px; } 
.z-img-large-error { background-position: -58px -1682px; width: 48px; height: 48px; } 
.z-img-large-exec { background-position: -58px -1740px; width: 48px; height: 48px; } 
.z-img-large-exit { background-position: -58px -1798px; width: 48px; height: 48px; } 
.z-img-large-favorites { background-position: -58px -1856px; width: 48px; height: 48px; } 
.z-img-large-file_important { background-position: -58px -1914px; width: 48px; height: 48px; } 
.z-img-large-file_locked { background-position: -58px -1972px; width: 48px; height: 48px; } 
.z-img-large-file_temporary { background-position: -116px 0; width: 48px; height: 48px; } 
.z-img-large-fileclose { background-position: -116px -58px; width: 48px; height: 48px; } 
.z-img-large-filenew { background-position: -116px -116px; width: 48px; height: 48px; } 
.z-img-large-fileprint { background-position: -116px -174px; width: 48px; height: 48px; } 
.z-img-large-flag { background-position: -116px -232px; width: 48px; height: 48px; } 
.z-img-large-flash { background-position: -116px -290px; width: 48px; height: 48px; } 
.z-img-large-folder { background-position: -116px -348px; width: 48px; height: 48px; } 
.z-img-large-folder_blue { background-position: -116px -406px; width: 48px; height: 48px; } 
.z-img-large-folder_documents { background-position: -116px -464px; width: 48px; height: 48px; } 
.z-img-large-folder_favorites { background-position: -116px -522px; width: 48px; height: 48px; } 
.z-img-large-folder_green { background-position: -116px -580px; width: 48px; height: 48px; } 
.z-img-large-folder_grey { background-position: -116px -638px; width: 48px; height: 48px; } 
.z-img-large-folder_home { background-position: -116px -696px; width: 48px; height: 48px; } 
.z-img-large-folder_home2 { background-position: -116px -754px; width: 48px; height: 48px; } 
.z-img-large-folder_home3 { background-position: -116px -812px; width: 48px; height: 48px; } 
.z-img-large-folder_html { background-position: -116px -870px; width: 48px; height: 48px; } 
.z-img-large-folder_image { background-position: -116px -928px; width: 48px; height: 48px; } 
.z-img-large-folder_inbox { background-position: -116px -986px; width: 48px; height: 48px; } 
.z-img-large-folder_music { background-position: -116px -1044px; width: 48px; height: 48px; } 
.z-img-large-folder_outbox { background-position: -116px -1102px; width: 48px; height: 48px; } 
.z-img-large-folder_print { background-position: -116px -1160px; width: 48px; height: 48px; } 
.z-img-large-folder_public { background-position: -116px -1218px; width: 48px; height: 48px; } 
.z-img-large-folder_sound { background-position: -116px -1276px; width: 48px; height: 48px; } 
.z-img-large-folder_tar { background-position: -116px -1334px; width: 48px; height: 48px; } 
.z-img-large-folder_txt { background-position: -116px -1392px; width: 48px; height: 48px; } 
.z-img-large-folder_video { background-position: -116px -1450px; width: 48px; height: 48px; } 
.z-img-large-folder_yellow { background-position: -116px -1508px; width: 48px; height: 48px; } 
.z-img-large-fonts { background-position: -116px -1566px; width: 48px; height: 48px; } 
.z-img-large-home { background-position: -116px -1624px; width: 48px; height: 48px; } 
.z-img-large-inbox { background-position: -116px -1682px; width: 48px; height: 48px; } 
.z-img-large-info { background-position: -116px -1740px; width: 48px; height: 48px; } 
.z-img-large-kcmdf { background-position: -116px -1798px; width: 48px; height: 48px; } 
.z-img-large-lists { background-position: -116px -1856px; width: 48px; height: 48px; } 
.z-img-large-locked { background-position: -116px -1914px; width: 48px; height: 48px; } 
.z-img-large-mac { background-position: -116px -1972px; width: 48px; height: 48px; } 
.z-img-large-mail { background-position: -174px 0; width: 48px; height: 48px; } 
.z-img-large-mp3 { background-position: -174px -58px; width: 48px; height: 48px; } 
.z-img-large-mydocuments { background-position: -174px -116px; width: 48px; height: 48px; } 
.z-img-large-package { background-position: -174px -174px; width: 48px; height: 48px; } 
.z-img-large-package_applications { background-position: -174px -232px; width: 48px; height: 48px; } 
.z-img-large-package_editors { background-position: -174px -290px; width: 48px; height: 48px; } 
.z-img-large-package_favourite { background-position: -174px -348px; width: 48px; height: 48px; } 
.z-img-large-package_games_strategy { background-position: -174px -406px; width: 48px; height: 48px; } 
.z-img-large-package_graphics { background-position: -174px -464px; width: 48px; height: 48px; } 
.z-img-large-package_settings { background-position: -174px -522px; width: 48px; height: 48px; } 
.z-img-large-package_system { background-position: -174px -580px; width: 48px; height: 48px; } 
.z-img-large-package_utilities { background-position: -174px -638px; width: 48px; height: 48px; } 
.z-img-large-package_wordprocessing { background-position: -174px -696px; width: 48px; height: 48px; } 
.z-img-large-password { background-position: -174px -754px; width: 48px; height: 48px; } 
.z-img-large-personal { background-position: -174px -812px; width: 48px; height: 48px; } 
.z-img-large-printer1 { background-position: -174px -870px; width: 48px; height: 48px; } 
.z-img-large-reload { background-position: -174px -928px; width: 48px; height: 48px; } 
.z-img-large-reminders { background-position: -174px -986px; width: 48px; height: 48px; } 
.z-img-large-run { background-position: -174px -1044px; width: 48px; height: 48px; } 
.z-img-large-server { background-position: -174px -1102px; width: 48px; height: 48px; } 
.z-img-large-services { background-position: -174px -1160px; width: 48px; height: 48px; } 
.z-img-large-spellcheck { background-position: -174px -1218px; width: 48px; height: 48px; } 
.z-img-large-terminal { background-position: -174px -1276px; width: 48px; height: 48px; } 
.z-img-large-unlocked { background-position: -174px -1334px; width: 48px; height: 48px; } 
.z-img-large-utilities { background-position: -174px -1392px; width: 48px; height: 48px; } 
.z-img-large-vcalendar { background-position: -174px -1450px; width: 48px; height: 48px; } 
.z-img-large-voice-support { background-position: -174px -1508px; width: 48px; height: 48px; } 
.z-img-large-window_list { background-position: -174px -1566px; width: 48px; height: 48px; } 
.z-img-large-windowlist { background-position: -174px -1624px; width: 48px; height: 48px; } 
.z-img-large-windows_list { background-position: -174px -1682px; width: 48px; height: 48px; } 
.z-img-large-xedit { background-position: -174px -1740px; width: 48px; height: 48px; } 
.z-img-large-xfmail { background-position: -174px -1798px; width: 48px; height: 48px; } 
.z-img-large-xine { background-position: -174px -1856px; width: 48px; height: 48px; } 
