<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="robots" content="noindex,nofollow">
        <title>{% block title 'Zikula Core Installer' %}</title>

        {# always load bootstrap #}
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}" type="text/css" />
        {# always load font-awesome #}
        <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.css') }}" type="text/css" />
        {# allow child templates to load additional stylesheets #}
        {% block stylesheets '' %}

        {# always load bootstrap #}
        <script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
        {# allow child templates to load additional scripts #}
        {% block javascripts '' %}

        {# allow child templates to add items to head #}
        {% block head '' %}

    </head>
    <body>
        {% block body '' %}
    </body>
</html>
