{% extends '@ZikulaCoreInstaller/theme.html.twig' %}

{% block title 'Zikula Core Installer :: System Requirements Check' %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <strong>PHP</strong>
        </div>
        <div class="card-body">
            <ul class="systemrequirements text-left">
                {% if checks.phpsatisfied %}
                <li><span class="fas fa-fw fa-check text-success"></span> {% trans with {'%s': checks.phpversion } %}Your PHP version is %s.{% endtrans %}</li>
                {% else %}
                <li><span class="fas fa-fw fa-times text-danger"></span> {% trans with {'%s': checks.phpversion, '%phpmin': checks.phpcoreminversion } %}You have got a problem! Your PHP version is %s, which does not satisfy the Zikula system requirement of version %phpmin or later.{% endtrans %}</li>
                {% endif %}

                {% if checks.pdo %}
                <li><span class="fas fa-fw fa-check text-success"></span> {% trans %}PDO extension loaded.{% endtrans %}</li>
                {% else %}
                <li><span class="fas fa-fw fa-times text-danger"></span> {% trans %}Your PHP installation doesn't have the PDO extension loaded.{% endtrans %}</li>
                {% endif %}

                {% if checks.pcreUnicodePropertiesEnabled %}
                <li><span class="fas fa-fw fa-check text-success"></span> {% trans %}Your PHP installation's PCRE library has Unicode property support enabled.{% endtrans %}</li>
                {% else %}
                <li><span class="fas fa-fw fa-times text-danger"></span> {% trans %}Your PHP installation's PCRE library does not have Unicode property support enabled. Zikula needs this to handle multi-byte character sets in regular expressions. The PCRE library used with PHP must be compiled with the '--enable-unicode-properties' option.{% endtrans %}</li>
                {% endif %}
            </ul>
        </div>

        {# Use the current path as the link here, because this template is used both in the installer and the upgrader with a different route. #}
        <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" class="btn btn-danger btn-lg"><i class="fas fa-fw fa-redo-alt"></i> {% trans %}Check requirements again{% endtrans %}</a>
    </div>
{% endblock %}
