<div class="container 2col">
    <div class="row">
        <div id="themeLeftColumn" class="col-md-3">
            {{ showblockposition('left') }}
        </div>
        <div id="themeMainContent" class="col-md-9">
            {{ showflashes() }}
            {{ maincontent|raw }}
        </div>
    </div>
</div>
