<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-sm-4">
            {{ showblockposition('left') }}
        </div>
        <div class="col-sm-4">
            {{ showflashes() }}
            {{ maincontent|raw }}
        </div>
        <div class="col-sm-4">
            {{ showblockposition('right') }}
        </div>
    </div>
</div>
