.navcontainer { 
    /* dont remove me */
}

.navcontainer ul {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
}

.navcontainer a {
	display: block;
	padding: 3px;
	background-color: #036;
	border-bottom: 1px solid #eee;
}

.navcontainer a:link, .navlist a:visited {
	color: #EEE;
	text-decoration: none;
}

.navcontainer a:hover {
	background-color: #369;
	color: #fff;
}
