.invisible { visibility: hidden !important; }
.visible { visibility: inherit !important; }
.top { vertical-align: top !important; }
.middle { vertical-align: middle !important; }
.bottom { vertical-align: bottom !important; }
.center { text-align: center !important; }
.left { text-align: left !important; }
.right { text-align: right !important; }
.nowrap { white-space: nowrap !important; }
.italic { font-style: italic !important; }
.bold { font-weight: bold !important; }
.underline { text-decoration: underline !important; }
.line-through { text-decoration: line-through !important; }
.normal { font-weight: normal !important; font-style: normal !important; }
.floatleft { float: left; }
.floatright { float: right; }
.gap { margin: 1em 0 !important; padding: 1em 0 !important; }
.sub { color: #777; font-size: 0.9em;}
.pointer { cursor: pointer !important;}

/******************************************************************************
* Icon styles (es=extrasmall) - Equivalent with /images/icons/config.php
******************************************************************************/

.smallicon {
    padding: 2px 0 2px 20px;
}

.smallicon-add {
    background: url("../images/icons/extrasmall/edit_add.png") no-repeat scroll 0 50% transparent;
}
.smallicon-back {
    background: url("../images/icons/extrasmall/agt_back.png") no-repeat scroll 0 50% transparent;
}
.smallicon-cancel {
    background: url("../images/icons/extrasmall/button_cancel.png") no-repeat scroll 0 50% transparent;
}
.smallicon-config {
    background: url("../images/icons/extrasmall/configure.png") no-repeat scroll 0 50% transparent;
}
.smallicon-copy {
    background: url("../images/icons/extrasmall/editcopy.png") no-repeat scroll 0 50% transparent;
}
.smallicon-cubes {
    background: url("../images/icons/extrasmall/kcmdf.png") no-repeat scroll 0 50% transparent;
}
.smallicon-cut {
    background: url("../images/icons/extrasmall/editcut.png") no-repeat scroll 0 50% transparent;
}
.smallicon-delete {
    background: url("../images/icons/extrasmall/14_layer_deletelayer.png") no-repeat scroll 0 50% transparent;
    
}
.smallicon-display {
    background: url("../images/icons/extrasmall/kview.png") no-repeat scroll 0 50% transparent;
}
.smallicon-edit {
    background: url("../images/icons/extrasmall/xedit.png") no-repeat scroll 0 50% transparent;
}
.smallicon-error {
    background: url("../images/icons/extrasmall/error.png") no-repeat scroll 0 50% transparent;
}
.smallicon-export {
    background: url("../images/icons/extrasmall/fileexport.png") no-repeat scroll 0 50% transparent;
}
.smallicon-gears {
    background: url("../images/icons/extrasmall/run.png") no-repeat scroll 0 50% transparent;
}
.smallicon-filter {
    background: url("../images/icons/extrasmall/filter.png") no-repeat scroll 0 50% transparent;
}
.smallicon-group {
    background: url("../images/icons/extrasmall/group.png") no-repeat scroll 0 50% transparent;
}
.smallicon-help {
    background: url("../images/icons/extrasmall/help.png") no-repeat scroll 0 50% transparent;
}
.smallicon-home {
    background: url("../images/icons/extrasmall/folder_home.png") no-repeat scroll 0 50% transparent;
}
.smallicon-hook {
    background: url("../images/icons/extrasmall/attach.png") no-repeat scroll 0 50% transparent;
}
.smallicon-import {
    background: url("../images/icons/extrasmall/fileimport.png") no-repeat scroll 0 50% transparent;
}
.smallicon-info {
    background: url("../images/icons/extrasmall/documentinfo.png") no-repeat scroll 0 50% transparent;
}
.smallicon-locale {
    background: url("../images/icons/extrasmall/locale.png") no-repeat scroll 0 50% transparent;
}
.smallicon-locked {
    background: url("../images/icons/extrasmall/encrypted.png") no-repeat scroll 0 50% transparent;
}
.smallicon-log {
    background: url("../images/icons/extrasmall/lists.png") no-repeat scroll 0 50% transparent;
}
.smallicon-mail {
    background: url("../images/icons/extrasmall/mail_generic.png") no-repeat scroll 0 50% transparent;
}
.smallicon-new {
    background: url("../images/icons/extrasmall/filenew.png") no-repeat scroll 0 50% transparent;
}
.smallicon-ok {
    background: url("../images/icons/extrasmall/button_ok.png") no-repeat scroll 0 50% transparent;
}
.smallicon-options {
    background: url("../images/icons/extrasmall/servicemanager.png") no-repeat scroll 0 50% transparent;
}
.smallicon-preview {
    background: url("../images/icons/extrasmall/demo.png") no-repeat scroll 0 50% transparent;
}
.smallicon-print {
    background: url("../images/icons/extrasmall/printer.png") no-repeat scroll 0 50% transparent;
}
.smallicon-profile {
    background: url("../images/icons/extrasmall/personal.png") no-repeat scroll 0 50% transparent;
}
.smallicon-regenerate {
    background: url("../images/icons/extrasmall/agt_update-product.png") no-repeat scroll 0 50% transparent;
}
.smallicon-remove {
    background: url("../images/icons/extrasmall/edit_remove.png") no-repeat scroll 0 50% transparent;
    
}
.smallicon-save {
    background: url("../images/icons/extrasmall/filesave.png") no-repeat scroll 0 50% transparent;
}
.smallicon-saveas {
    background: url("../images/icons/extrasmall/filesaveas.png") no-repeat scroll 0 50% transparent;
}
.smallicon-search {
    background: url("../images/icons/extrasmall/search.png") no-repeat scroll 0 50% transparent;
}
.smallicon-url {
    background: url("../images/icons/extrasmall/web.png") no-repeat scroll 0 50% transparent;
}
.smallicon-user {
    background: url("../images/icons/extrasmall/user.png") no-repeat scroll 0 50% transparent;  
}
.smallicon-view {
    background: url("../images/icons/extrasmall/windowlist.png") no-repeat scroll 0 50% transparent;
}
.smallicon-warning {
    background: url("../images/icons/extrasmall/bell.png") no-repeat scroll 0 50% transparent;
}
.smallicon-rss {
    background: url("../images/feeds/feed-icon-16x16.png") no-repeat scroll 0 50% transparent;
}


ul.navbar li {
    background: none;
    border-right:1px solid #aaa;
    display:inline;
    line-height: 22px;
    padding:0 10px;
    margin:0;
}

.navbar {
    min-height: inherit;
}

.form-horizontal fieldset,
.form-inline fieldset {
    border: 1px #ddd solid;
    margin: 0 0 1em 0;
    padding: 0.5em 1em;
    color: #333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fafafa; /*non-CSS3 browsers*/
    background: -webkit-gradient(linear,left top, left bottom,from(#fafafa),to(#f2f2f2)); /*webkit*/
    background: -moz-linear-gradient(top, #fafafa, #f2f2f2); /*gecko*/
    background: linear-gradient(#fafafa, #f2f2f2); /*CSS3*/
}

.form-horizontal legend {
    font-size: 1.25em;
    font-weight: normal;
    color: #000;
    background: transparent;
    border: 0;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.8);
}

#admintab {
    margin: 0;
}

.breadcrumb > li  li:before {
    content: "\00bb";
    padding: 0 4px 0 0;
    
}

.breadcrumb li {
    margin: 0px;
}

.breadcrumb li a {
    color: #555;
}

.breadcrumb li a:hover {
    text-decoration: underline;
}

.breadcrumb {
    background-color: transparent;
}

.breadcrumb span {
    color: #999;
}


.dropdown-menu {
    margin: 0;
    padding: 0;
    font-size: 95%;
    z-index: 1001;
}

.dropdown-menu > li {
    margin: 0px;
}

.dropdown-menu > li > a {
    margin: 0px;
    padding: 7px;
}

.nav-tabs > li > a {
    background-color: #dddddd;
}


.nav-tabs > li {
    margin: 0 0 -1px 0;
}


.table > thead > tr > th, .table > thead > tr > td {
    background: linear-gradient(#fafafa, #CFCFCF);
    font-size: 0.9em;
    padding: 7px 5px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    border-width: 0px;
    vertical-align: middle;
    text-align: left;
}

/* Glyphicon Color Swatches */

.glyphicon-green{
    color: #61B329;
}

.glyphicon-red{
    color: #C30;
}

glyphicon16{
    zoom: 1.1;
    -moz-transform: scale(1.1); 
}

.glyphicon18{
    zoom: 1.2;
    -moz-transform: scale(1.2); 
}

.glyphicon22{
  zoom: 1.3;
    -moz-transform: scale(1.3);   
}

.glyphicon24{
    zoom: 1.4;
      -moz-transform: scale(1.4); 
}

.glyphicon26{
    zoom: 1.5;
    -moz-transform: scale(1.5); 
}

.glyphicon28{
    zoom: 1.6;
    -moz-transform: scale(1.6); 
}

.glyphiconnav{
    padding-right:-8px;
    font-size:14px;
    width:auto;
}


.glyphicon-bluedark{
    color: #003366;
}

.glyphicon-bluelight{
    color: #50A6C2;
}

.glyphicon-black{
    color: #000;
}

td.actions {
    text-align: right !important;
    white-space: nowrap !important;
}

td.actions .glyphicon-trash {
    color: #C30;
}

td.actions .glyphicon-ok {
    color: #61B329;
}