/******************************************************************************
* Hypertext
******************************************************************************/

a {
    cursor: pointer;
}

a > i,
a.fa {
    text-decoration: none !important;
}

iframe + p {
    margin-top: 1em;
}

p + iframe {
    margin-top: 1em;
}

/******************************************************************************
* Generic styles
******************************************************************************/

.invisible { visibility: hidden !important; }
.visible { visibility: inherit !important; }
.top { vertical-align: top !important; }
.middle { vertical-align: middle !important; }
.bottom { vertical-align: bottom !important; }
.nowrap { white-space: nowrap !important; }
.italic { font-style: italic !important; }
.bold { font-weight: bold !important; }
.underline { text-decoration: underline !important; }
.line-through { text-decoration: line-through !important; }
.normal { font-weight: normal !important; font-style: normal !important; }
.gap { margin: 1em 0 !important; padding: 1em 0 !important; }
.sub { color: #777; font-size: 0.9em;}
.pointer { cursor: pointer !important;}

/******************************************************************************
* Module links navbar bootstrap.css overrides
******************************************************************************/

.navbar-modulelinks {
    min-height: inherit;
}

.navbar-modulelinks > ul > li {
    border-right: 1px solid #aaa;
    display: inline;
    padding: 0;
    margin: 0;
}

.navbar-modulelinks > ul > li:last-child {
    border-right-style: none;
}

.navbar-modulelinks > ul {
    padding: 3px;
    z-index: inherit;
    margin-left: 0;
}

ul.navbar > li.active > a {
    font-weight: bold;
}

.navbar-modulelinks .navbar-nav > .open > a,
.navbar-modulelinks .navbar-nav > .open > a:hover,
.navbar-modulelinks .navbar-nav > .open > a:focus {
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.navbar-modulelinks .navbar-nav a,
.navbar-modulelinks .navbar-nav a:hover,
.navbar-modulelinks .navbar-nav a:focus {
    padding: 5px 10px;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 3px;
}

.navbar-nav > li > .dropdown-menu li {
    margin: 0;
    padding: 0;
}

.navbar-modulelinks-main {
    z-index: 1001;
}

/******************************************************************************
* Form
******************************************************************************/

.form-horizontal fieldset,
.form-inline fieldset {
    border: 1px #ddd solid;
    margin: 0 0 1em 0;
    padding: 0.5em 1em;
    color: #333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fafafa; /*non-CSS3 browsers*/
    background: -webkit-gradient(linear,left top, left bottom,from(#fafafa),to(#f2f2f2)); /*webkit*/
    background: -moz-linear-gradient(top, #fafafa, #f2f2f2); /*gecko*/
    background: linear-gradient(#fafafa, #f2f2f2); /*CSS3*/
}

.form-horizontal legend,
.form-inline legend {
    width: auto;
    padding: 0 .2em;
    font-size: 1.25em;
    font-weight: normal;
    color: #000;
    background: transparent;
    border: 0;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.8);
}

#admintabs-container .nav-tabs > li > a {
    background-color: #dddddd;
}

#admintabs-container .nav-tabs > li {
    margin: 0 0 -1px 0;
}

.table > thead > tr > th, .table > thead > tr > td {
    background: linear-gradient(#fafafa, #CFCFCF);
    font-size: 0.9em;
    padding: 7px 5px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    border-width: 0;
    vertical-align: middle;
    text-align: left;
}

/******************************************************************************
* Action buttons in tables
******************************************************************************/

td.actions {
    text-align: right !important;
    white-space: nowrap !important;
    width: 1px;
}

td.actions .tooltip {
    white-space: normal !important;
}

td.actions .fa {
    font-size: 1.3em;
    padding-left: 4px;
    color: #555
}

td.actions .fa-trash-o {
    color: #C30;
}

td.actions .fa-check,
td.actions .fa-gear {
    color: #61B329;
}

td.actions a:hover {
    text-decoration: none;
}

/******************************************************************************
* Icon colors
******************************************************************************/

.text-more-muted {
    color: #eeeeee;
}

.fa-green {
    color: #61B329;
}

.fa-red {
    color: #C30;
}

.fa-orange {
    color: darkorange;
}

.fa-yellow {
    color: yellow;
}

.fa-blue {
    color: #0000ff;
}

.fa-bluelight {
    color: #50A6C2;
}

.fa-black {
    color: #000;
}

.fa-bluedark a {
    color: #003366;
}

/******************************************************************************
* Icon positioning
* use fa-overlay classes in combination with fa-stack-base for first layer,
*   then add overlay class to top layer
******************************************************************************/

.fa-overlay-lower-right {
    bottom: -0.4em;
    right: -0.4em;
}
.fa-overlay-upper-left {
    top: -0.4em;
    left: -0.4em;
}

.z-admin-content-pagetitle .icon:after {
    content: "\00a0";
}


input:invalid, select:invalid, textarea:invalid, .form-error {
    background: #ffe1da;
    border: 1px solid #f34f4f;
}

.required:after {
    content: "\002A";
    color: red;
}
