/******************************************************************************
* Hacks for Internet Explorer
*
* Comprehensive List of Browser-Specific CSS Hacks
* http://paulirish.com/2009/browser-specific-css-hacks/
******************************************************************************/


/******************************************************************************
* Zikula general clearfix solution
* http://perishablepress.com/press/2009/12/06/new-clearfix-hack/
******************************************************************************/

.z-clearfix {
    display: block;
}

/******************************************************************************
* Overflow-Method to clear float environments
******************************************************************************/

.z-floatbox {
    width: 100%;
}

/******************************************************************************
* Integrated clearfix solution for z-formrow and z-formbuttons
******************************************************************************/

div.z-formrow,
div.z-formbuttons {
    display: block;
}

/******************************************************************************
* Generic Form Style: z-form
******************************************************************************/

.z-form {
    padding-top: 0;
    overflow: hidden;
    zoom: 1;
}

.z-form fieldset,
.z-form .z-fieldset {
    padding-top: 1em;
    padding-bottom: 0.5em;
    margin-top: 1.5em;
    zoom: 1;
    position: relative;
}

.z-form legend {
    position: absolute;
    top: -.5em;
}

div.z-formrow,
div.z-formbuttons {
    overflow: hidden;
    zoom: 1;
    position: relative;
}

div.z-formlist {
    overflow: hidden;
}

/******************************************************************************
* Fixes offset of Ajax Autocompleter popup box (e.g. Users module)
******************************************************************************/

#liveusersearch fieldset {
    position: static\9; /* IE8 */
}
