/******************************************************************************
* Generic styles
******************************************************************************/

.z-hide { display: none !important; }
.z-show { display: inherit !important; }
.z-invisible { visibility: hidden !important; }
.z-visible { visibility: inherit !important; }
.z-top { vertical-align: top !important; }
.z-middle { vertical-align: middle !important; }
.z-bottom { vertical-align: bottom !important; }
.z-center { text-align: center !important; }
.z-left { text-align: left !important; }
.z-right { text-align: right !important; }
.z-nowrap { white-space: nowrap !important; }
.z-italic { font-style: italic !important; }
.z-bold { font-weight: bold !important; }
.z-underline { text-decoration: underline !important; }
.z-line-through { text-decoration: line-through !important; }
.z-normal { font-weight: normal !important; font-style: normal !important; }
.z-floatleft { float: left; }
.z-floatright { float: right; }
.z-gap { margin: 1em 0 !important; padding: 1em 0 !important; }

/******************************************************************************
* Styles for the old module menus based on the SPAN tag
******************************************************************************/

.z-menu {
    color: #aaa;
    text-align: left;
    width: 100%;
    margin-bottom: 1.5em;
}

.z-menuitem-title {
    background: url("../images/global/menubg_grey.png") repeat-x scroll 0 0 #E6E6E6;
    border: 1px solid #ccc;
    display: block;
    height: auto !important;
    line-height: 22px;
    min-height: 22px;
    padding:0 5px;
}

.z-menu a {
    padding: 3px;
}

/******************************************************************************
* Styles for z-menulinks
******************************************************************************/

#z-maincontent ul.z-menulinks {
    background: url("../images/global/menubg_grey.png") repeat-x scroll 0 0 #E6E6E6; /*non-CSS3 browsers*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#E6E6E6'); /*IE*/
    background: -webkit-gradient(linear,left top, left bottom,from(#fefefe), to(#E6E6E6)); /*webkit*/
    background: -moz-linear-gradient(top, #fefefe, #E6E6E6); /*gecko*/
    background: linear-gradient(#fefefe, #E6E6E6); /*CSS3*/
    border: 1px solid #ccc;
    color: #aaa;
    height: auto;
    line-height: 22px;
    list-style: none;
    margin: 1em 0;
    min-height: 22px;
    padding:0 5px;
}

#z-maincontent ul.z-menulinks li {
    background: none;
    border-right:1px solid #aaa;
    display:inline;
    line-height: 22px;
    padding:0 10px;
    margin:0;
}

#z-maincontent ul.z-menulinks li:first-child {
    padding-left:5px;
}

#z-maincontent ul.z-menulinks li a.z-iconlink {
    margin-left:-3px;
}

#z-maincontent ul.z-menulinks li.z-ml-disabled a,
#z-maincontent ul.z-menulinks li.z-ml-disabled a:hover,
#z-maincontent ul.z-menulinks li.z-ml-disabled a.hover{
    text-decoration:line-through;
}

/******************************************************************************
* CSS Based Messages
******************************************************************************/

.z-errormsg {
    background: #F7CBCA url("../images/icons/extrasmall/error.png") 13px 50% no-repeat !important;
    border: 1px solid #CC0000 !important;
    color: #880000 !important;
    margin: 5px 0 10px !important;
    padding: 5px 5px 5px 36px !important;
}
.z-errormsg p,
.z-errormsg h1,
.z-errormsg h2,
.z-errormsg h3 {
    color:#880000 !important;
    margin:0.5em 0 !important;
    padding:0 !important;
}
.z-errormsg ul {
    list-style: none;
    margin:0 !important;
    padding:0 !important;
}
.z-informationmsg {
    background: #e6e6ff url('../images/icons/extrasmall/info.png') 13px 50% no-repeat !important;
    border: 1px solid #9bb8d9 !important;
    color: #27427D !important;
    margin: 5px 0 10px !important;
    padding: 5px 5px 5px 36px !important;
}
.z-informationmsg p,
.z-informationmsg h1,
.z-informationmsg h2,
.z-informationmsg h3 {
    color: #27427D !important;
    margin:0.5em 0 !important;
    padding:0 !important;
}
.z-statusmsg {
    background: #DFF2BF url('../images/icons/extrasmall/button_ok.png') 13px 50% no-repeat !important;
    border: 1px solid #99CC99 !important;
    color: #264409 !important;
    margin: 5px 0 10px !important;
    padding: 5px 5px 5px 36px !important;
}
.z-statusmsg p,
.z-statusmsg h1,
.z-statusmsg h2,
.z-statusmsg h3 {
    color: #264409 !important;
    margin: 0.5em 0 !important;
    padding: 0 !important;
}
.z-warningmsg {
    background: #FEEFB3 url('../images/icons/extrasmall/bell.png') 13px 50% no-repeat !important;
    border: 1px solid #EED324 !important;
    color: #514721 !important;
    margin: 5px 0 10px !important;
    padding: 5px 5px 5px 36px !important;
}
.z-warningmsg p,
.z-warningmsg h1,
.z-warningmsg h2,
.z-warningmsg h3 {
    color: #514721 !important;
    margin: 0.5em 0 !important;
    padding: 0 !important;
}



/******************************************************************************
* User-Frontend-Tables: z-datatable
* 'z-admintable' is deprecated since 1.3.0
******************************************************************************/

table.z-datatable,
table.z-admintable {
    border:1px solid #CCCCCC;
    border-spacing:1px 0;
    color:inherit;
    margin:0 0 1em;
    padding:0;
    width:100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

table.z-datatable caption,
table.z-admintable caption {
    background-color: #f3f3f3;
    font-weight: bold;
    border-bottom: 2px solid #CFCFCF;
    text-transform: uppercase;
    padding:10px;
}

table.z-datatable thead,
table.z-admintable thead {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

table.z-datatable thead tr,
table.z-admintable thead tr {
    background-color: #CFCFCF;
}

table.z-datatable td,
table.z-datatable th,
table.z-admintable td,
table.z-admintable th {
    padding: 5px;
    border-width: 0px;
    vertical-align: middle;
}

table.z-datatable thead th,
table.z-admintable thead th {
    background: #CFCFCF; /*non-CSS3 browsers*/
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#CFCFCF'); /*IE*/
    background: -webkit-gradient(linear,left top, left bottom,from(#fafafa),to(#CFCFCF)); /*webkit*/
    background: -moz-linear-gradient(top, #fafafa, #CFCFCF); /*gecko*/
    background: linear-gradient(#fafafa, #CFCFCF); /*CSS3*/
    font-size: 0.9em;
    padding: 7px 5px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

table.z-datatable tr.z-datatableempty,
table.z-admintable tr.z-admintableempty {
    background-color:#F3F3F3;
    font-size:0.9em;
    font-weight:bold;
    text-align:center;
    text-shadow:0 1px 0 rgba(255, 255, 255, 0.8);
}

table.z-datatable tbody tr.z-defaulttablerow,
table.z-admintable tbody tr.z-defaulttablerow {
    background-color: #C2FFBF;
    color: #055F00;
}

table.z-datatable tbody tr:hover,
table.z-datatable tbody tr.hover {
    background-color: #eee;
    color: #000;
}

table.z-datatable ul,
table.z-admintable ul {
    list-style: disc inside none;
    margin: 0;
    padding: 0;
}

table.z-datatable ul li,
table.z-admintable ul li {
    margin: 0;
    padding: 0;
}

/******************************************************************************
* Generic Form Style: z-form
******************************************************************************/

.z-form {
    margin: 0;
    padding: 0;
}

.z-form fieldset,
.z-form .z-fieldset {
    border: 1px #ddd solid;
    margin: 0 0 1em 0;
    padding: 0.5em 1em;
    color: #333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fafafa; /*non-CSS3 browsers*/
    background: -webkit-gradient(linear,left top, left bottom,from(#fafafa),to(#f2f2f2)); /*webkit*/
    background: -moz-linear-gradient(top, #fafafa, #f2f2f2); /*gecko*/
    background: linear-gradient(#fafafa, #f2f2f2); /*CSS3*/
}

.z-form legend {
    font-size: 1.25em;
    font-weight: normal;
    color: #000;
    background: transparent;
    border: 0;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.8);
}

.z-form .z-formrow input,
.z-form .z-formrow textarea,
.z-form .z-formrow select,
.z-form fieldset input[type="text"],
.z-form fieldset select,
.z-form .z-datatable input[type="text"],
.z-form .z-datatable textarea,
.z-form .z-datatable select {
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    border: 1px solid #ddd;
    font-size: 1em;
    margin: 0;
    /* max-width: none; */
}

.z-form .z-formrow input[type=checkbox] {
    display: inline;
    margin: 0.5em 0.5em 0.5em 0;
    width: auto;
}

.z-form .z-formrow input[type=radio] {
	margin-right: 0.5em;
    width: auto;
    border: 1px solid #fafafa;
}

.z-form div.z-formrow input[type=file]{
    display:inline;
    cursor: pointer;
    -webkit-appearance:none;
}

.z-form div.z-formrow input[type=file]::-webkit-file-upload-button{
    -webkit-appearance: none;
    cursor: pointer;
    color: #444;
    border-color: #CCCCCC #B9B9B9 #B9B9B9 #CCCCCC;
    border-style: solid;
    border-width: 1px;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dfdfdf)); /*webkit*/
    -webkit-border-radius: 3px;
}

.z-form .z-formrow select optgroup {
    font-style: normal;
    font-weight: bold;
}

.z-form div.z-formrow input:focus,
.z-form div.z-formrow select:focus,
.z-form div.z-formrow textarea:focus,
.z-form div.z-formrow input:hover,
.z-form div.z-formrow select:hover,
.z-form div.z-formrow textarea:hover,
.z-form div.z-formrow input:active,
.z-form div.z-formrow select:active,
.z-form div.z-formrow textarea:active
.z-form div.z-formrow input.focus,
.z-form div.z-formrow select.focus,
.z-form div.z-formrow textarea.focus,
.z-form div.z-formrow input.hover,
.z-form div.z-formrow select.hover,
.z-form div.z-formrow textarea.hover,
.z-form div.z-formrow input.active,
.z-form div.z-formrow select.active,
.z-form div.z-formrow textarea.active {
    border: 1px solid #aaa;
    background: #fff;
}

/* hide hidden fields (firefox) */
.z-form input[type=hidden] {
    display: none !important;
}

div.z-formrow,
div.z-buttonrow,
div.z-formbuttons {
    padding: 0.5em 0;
    min-height: 2em;
}

div.z-formlist label {
    display: inline;
}

.filteractive {
    border: 1px solid #99CC99 !important;
    background: #DFF2BF !important;
}

/******************************************************************************
* Integrated clearfix solution for z-formrow and z-formbuttons
******************************************************************************/

div.z-formrow:after,
div.z-formbuttons:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/******************************************************************************
* Styles for the buttons in(!) a z-form
******************************************************************************/

.z-formbuttons {
    text-align: left;
    display: block;
    margin-left: 29%;
}

.z-formbuttons input,
.z-formbuttons img {
    text-align: center;
    margin: 5px;
    width: auto;
    cursor: pointer;
}

button.z-imagebutton, /* Buttons in inline 'ajax' forms */
.z-formbuttons button {
    border: 0px;
    padding: 0px;
    background-color: transparent;
    width: auto;
    cursor: pointer;
}

/******************************************************************************
* Form styles (Two-column-view = default)
******************************************************************************/

.z-form label {
    cursor: pointer;
}

.z-form div.z-formrow .z-label,
.z-form div.z-formrow label {
    display: block;
    float: left;
    padding: 0.3em 1% 0.3em 0;
    text-align: right;
    width: 28%;
    font-weight: normal;
    color: #333;
    /* overflow: hidden; Causes hidden labels after BlindUp/Down in Chrome */
}

.z-form .z-formlist {
    margin-left: 29%;
}

.z-form .z-formnote {
    display: block;
    margin-left: 29% !important;
}

.z-form div.z-formrow input,
.z-form div.z-formrow textarea {
    padding: 0.3em 0.3em;
    width: 67.8%;
    display: block;
    position: relative;
}

.z-form div.z-formrow select {
    padding: 0.3em 2px 0.3em 1px;
    cursor: pointer;
    width: 68.6%;
    display: inline-block;
    position: relative;
}

.z-form div.z-formlist input {
    width: auto;
}

.z-form div.z-formrow .z-listselector {
    list-style: none;
}

.z-form div.z-formrow > span,
.z-form div.z-formrow > div {
    display: block;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
}

.z-form div.z-formrow span label,
.z-form div.z-formrow div label {
    display: inline;
    float: none;
    padding: 0 1em;
    width: auto;
}

.z-form div.z-formrow span input,
.z-form div.z-formrow span textarea,
.z-form div.z-formrow span select,
.z-form div.z-formrow div input,
.z-form div.z-formrow div textarea,
.z-form div.z-formrow div select {
    display: inline;
    width: auto;
}

.z-form fieldset select {
    padding: 0.2em 1px;
}

.z-form fieldset input[type="text"],
.z-form .z-datatable input[type="text"],
.z-form .z-datatable textarea {
    padding: 0.3em 0.3em;
}

.z-form .z-datatable select {
    padding: 0.3em 2px 0.3em 1px;
}

/******************************************************************************
* Form styles (linearize elements / use additional class 'z-linear')
******************************************************************************/

.z-linear div.z-formrow .z-label,
.z-linear div.z-formrow label {
    float: none;
    width: auto;
    display: block;
    padding: 0.3em 0;
    text-align: left;
}

.z-linear div.z-formrow input,
.z-linear div.z-formrow textarea {
    display: block;
    width: 96%;
    padding: 0.3em;
}

.z-linear div.z-formrow .z-listselector,
.z-linear div.z-formrow .z-listselector li {
    margin-left: 0;
}

.z-linear div.z-formrow select {
    display: block;
    width: 97%;
}

.z-linear .z-formnote,
.z-linear .z-formlist {
    margin: 0 !important;
}

.z-linear .z-formbuttons {
    padding: 0;
    margin: 0;
}

/******************************************************************************
* Special styles for the Zikula Form Handler
******************************************************************************/

.z-form .z-formrow .z-mandatorysym, /* mandatorysym will be removed in future version */
.z-form-mandatory-flag {
    color: #f00;
    font-weight: bold;
    padding-left: 3px;
    display: inline;
}

.z-form div.z-formrow input[type=text].z-form-mandatory,
.z-form div.z-formrow select.z-form-mandatory,
.z-form div.z-formrow textarea.z-form-mandatory {
    width: 66%;
}

.z-form .z-formrow input.z-form-float,
.z-form .z-formrow input.z-form-int {
    text-align: right;
    max-width: 15%;
    display: inline;
}

.z-form .z-formrow .z-form-readonly {
    background: #FAFAFA;
    color: #AAAAAA;
    cursor: not-allowed;
}

.z-form .z-formrow .z-form-error {
    background: #ffe1da;
    border: 1px solid #f34f4f;
}

.z-form .z-formrow input[type=checkbox].z-form-error {
    /* border does not work in most browsers. Use outline instead. */
    outline: 1px solid #f34f4f;
    border: none;
}

.z-form-validationSummary label {
    cursor: pointer;
}

/******************************************************************************
* Form alternative styles
******************************************************************************/

.z-form-light fieldset,
.z-form-light .z-fieldset {
    background: none;
    border: none;
    color: #333;
    padding: 0 0 0.5em;
}

.z-form div.z-formrow .z-form-text-big {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-size: 1.7em;
    line-height: 100%;
    outline: medium none;
}


/******************************************************************************
* Buttons styles
******************************************************************************/

.z-button,
.z-buttons a,
.z-buttons input,
.z-buttons button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    line-height: 130%;
    font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    text-decoration: none !important;
    text-align: center;
    font-weight: bold;
    margin: 0 5px 0 0;
    padding: 5px 10px 6px 10px;
    color: #444;
    border-color: #CCCCCC #B9B9B9 #B9B9B9 #CCCCCC;
    border-style: solid;
    border-width: 1px;
    background: #dfdfdf; /*non-CSS3 browsers*/
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dfdfdf)); /*webkit*/
    background: -moz-linear-gradient(top, #ffffff, #dfdfdf); /*gecko*/
    background: linear-gradient(#FFFFFF, #dfdfdf); /*CSS3*/
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.z-buttons a:link,
.z-buttons a:visited {
    font-size: 1em;
    font-weight: bold;
    color: #444;
    border-color: #CCCCCC #B9B9B9 #B9B9B9 #CCCCCC;
    border-style: solid;
    border-width: 1px;
}

.z-buttons .z-bt-small,
.z-button.z-bt-small {
    margin: 0 1px 0 0;
    padding: 3px 8px 4px 8px !important;
}

.z-buttons button[type] {
    padding: 4px 10px 5px 10px; /* Firefox */
    line-height: 17px; /* Safari */
}

.z-buttons button {
    width: auto;
    overflow: visible;
}

.z-button:hover,
.z-button.hover,
.z-buttons a:hover,
.z-buttons a.hover,
.z-buttons input:hover,
.z-buttons input.hover,
.z-buttons button:hover,
.z-buttons button.hover {
    color: #222;
    text-decoration: none !important;
    background: #cfcfcf; /*non-CSS3 browsers*/
    background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#cfcfcf)); /*webkit*/
    background: -moz-linear-gradient(top, #fafafa, #cfcfcf); /*gecko*/
    background: linear-gradient(#fafafa, #cfcfcf); /*CSS3*/
}

.z-button:active,
.z-buttons a:active,
.z-buttons input:active,
.z-buttons button:active,
.z-button.active,
.z-buttons a.active,
.z-buttons input.active,
.z-buttons button.active {
    color: #000;
    background: #fafafa; /*non-CSS3 browsers*/
    background: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#fafafa)); /*webkit*/
    background: -moz-linear-gradient(top, #cfcfcf, #fafafa); /*gecko*/
    background: linear-gradient(#cfcfcf, #fafafa); /*CSS3*/
}

.z-button img,
.z-buttons button img,
.z-buttons a img {
    margin: 0 3px -3px 0 !important;
    padding: 0;
    border: none;
    height: 16px;
    width: 16px;
}

/******************************************************************************
* Colored button: Red
******************************************************************************/

.z-buttons .z-btred,
.z-buttons .z-btred:link,
.z-buttons .z-btred:visited {
    color: #d12f19;
}
.z-buttons .z-btred:hover,
.z-buttons .z-btred.hover {
    color: #d12f19;
    border: 1px solid #EF7868;
    background: #fbc2c4;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbc2c4), to(#fbe3e4));
    background: -moz-linear-gradient(top, #fbc2c4, #fbe3e4);
    background: linear-gradient(#fbc2c4, #fbe3e4);
}
.z-buttons .z-btred:active,
.z-buttons .z-btred.active {
    color: #d12f19;
    border: 1px solid #EF7868;
    background: #EFA4A7;
    background: -webkit-gradient(linear, left top, left bottom, from(#EFA4A7), to(#EFC2C5));
    background: -moz-linear-gradient(top, #EFA4A7, #EFC2C5);
    background: linear-gradient(#EFA4A7, #EFC2C5);
}

/******************************************************************************
* Colored button: Blue
******************************************************************************/

.z-buttons .z-btblue,
.z-buttons .z-btblue:link,
.z-buttons .z-btblue:visited {
    color: #336699;
}
.z-buttons .z-btblue:hover,
.z-buttons .z-btblue.hover {
    color: #336699;
    border: 1px solid #6FA7DF;
    background: #c2e1ef;
    background: -webkit-gradient(linear, left top, left bottom, from(#c2e1ef), to(#dff4ff));
    background: -moz-linear-gradient(top, #c2e1ef, #dff4ff);
    background: linear-gradient(#c2e1ef, #dff4ff);
}
.z-buttons .z-btblue:active,
.z-buttons .z-btblue.active {
    color: #336699;
    border: 1px solid #6FA7DF;
    background: #A7CEDF;
    background: -webkit-gradient(linear, left top, left bottom, from(#A7CEDF), to(#C2E0EF));
    background: -moz-linear-gradient(top, #A7CEDF, #C2E0EF);
    background: linear-gradient(#A7CEDF, #C2E0EF);
}

/******************************************************************************
* Colored button: Green
******************************************************************************/

.z-buttons .z-btgreen,
.z-buttons .z-btgreen:link,
.z-buttons .z-btgreen:visited {
    color: #529214;
}
.z-buttons .z-btgreen:hover,
.z-buttons .z-btgreen.hover {
    color: #529214;
    border: 1px solid #A0DF61;
    background: #D1EFD2;
    background: -webkit-gradient(linear, left top, left bottom, from(#D1EFD2), to(#EFFFEF));
    background: -moz-linear-gradient(top, #D1EFD2, #EFFFEF);
    background: linear-gradient(#D1EFD2, #EFFFEF);
}
.z-buttons .z-btgreen:active,
.z-buttons .z-btgreen.active {
    color: #529214;
    border: 1px solid #A0DF61;
    background-color:#C2EFC3;
    background: -webkit-gradient(linear, left top, left bottom, from(#C2EFC3), to(#D1EFD1));
    background: -moz-linear-gradient(top, #C2EFC3, #D1EFD1);
    background: linear-gradient(#C2EFC3, #D1EFD1);
}

/******************************************************************************
* Buttons based on HTML tag: Input
******************************************************************************/

.z-buttons .z-bt-icon,
.z-buttons .z-bt-ok,
.z-buttons .z-bt-cancel,
.z-buttons .z-bt-preview,
.z-buttons .z-bt-new,
.z-buttons .z-bt-save,
.z-buttons .z-bt-edit,
.z-buttons .z-bt-archive,
.z-buttons .z-bt-delete,
.z-buttons .z-bt-filter {
    padding: 5px 7px 5px 32px !important;
}

.z-buttons .z-bt-icon.z-bt-small,
.z-buttons .z-bt-ok.z-bt-small,
.z-buttons .z-bt-cancel.z-bt-small,
.z-buttons .z-bt-preview.z-bt-small,
.z-buttons .z-bt-new.z-bt-small,
.z-buttons .z-bt-save.z-bt-small,
.z-buttons .z-bt-edit.z-bt-small,
.z-buttons .z-bt-archive.z-bt-small,
.z-buttons .z-bt-delete.z-bt-small,
.z-buttons .z-bt-filter.z-bt-small {
    margin: 0 1px 0 0;
    padding: 3px 8px 4px 27px !important;
}

.z-buttons .z-bt-ok {
    background: url("../images/icons/extrasmall/button_ok.png") #dfdfdf 10px 50% no-repeat; /*non-CSS3 browsers*/
    background: url("../images/icons/extrasmall/button_ok.png") 10px 50% no-repeat, -moz-linear-gradient(center top , #ffffff, #dfdfdf) repeat scroll 0 0 transparent; /*gecko*/
    background: url("../images/icons/extrasmall/button_ok.png") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dfdfdf)) repeat scroll 0 0 transparent; /*webkit*/
    background: url("../images/icons/extrasmall/button_ok.png") 10px 50% no-repeat, linear-gradient(#ffffff, #dfdfdf); /*CSS3*/
}
.z-buttons .z-bt-ok:hover,
.z-buttons .z-bt-ok.hover {
    background: url("../images/icons/extrasmall/button_ok.png") #cfcfcf 10px 50% no-repeat; /*non-CSS3 browsers*/
    background: url("../images/icons/extrasmall/button_ok.png") 10px 50% no-repeat, -moz-linear-gradient(top,  #fafafa, #cfcfcf) repeat scroll 0 0 transparent; /*gecko*/
    background: url("../images/icons/extrasmall/button_ok.png") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#cfcfcf)) repeat scroll 0 0 transparent; /*webkit*/
    background: url("../images/icons/extrasmall/button_ok.png") 10px 50% no-repeat, linear-gradient(#fafafa, #cfcfcf); /*CSS3*/
}

.z-buttons .z-bt-ok:active,
.z-buttons .z-bt-ok.active {
    background: url("../images/icons/extrasmall/button_ok.png") #fafafa 10px 50% no-repeat; /*non-CSS3 browsers*/
    background: url("../images/icons/extrasmall/button_ok.png") 10px 50% no-repeat, -moz-linear-gradient(top,  #cfcfcf, #fafafa) repeat scroll 0 0 transparent; /*gecko*/
    background: url("../images/icons/extrasmall/button_ok.png") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#fafafa)) repeat scroll 0 0 transparent; /*webkit*/
    background: url("../images/icons/extrasmall/button_ok.png") 10px 50% no-repeat, linear-gradient(#cfcfcf, #fafafa); /*CSS3*/
}

.z-buttons .z-bt-cancel {
    background: url("../images/icons/extrasmall/button_cancel.png") #dfdfdf 10px 50% no-repeat; /*non-CSS3 browsers*/
    background: url("../images/icons/extrasmall/button_cancel.png") 10px 50% no-repeat, -moz-linear-gradient(center top , #ffffff, #dfdfdf) repeat scroll 0 0 transparent; /*gecko*/
    background: url("../images/icons/extrasmall/button_cancel.png") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dfdfdf)) repeat scroll 0 0 transparent; /*webkit*/
    background: url("../images/icons/extrasmall/button_cancel.png") 10px 50% no-repeat, linear-gradient(#ffffff, #dfdfdf); /*CSS3*/
}

.z-buttons .z-bt-cancel:hover,
.z-buttons .z-bt-cancel.hover {
    background: url("../images/icons/extrasmall/button_cancel.png") #cfcfcf 10px 50% no-repeat; /*non-CSS3 browsers*/
    background: url("../images/icons/extrasmall/button_cancel.png") 10px 50% no-repeat, -moz-linear-gradient(top,  #fafafa, #cfcfcf) repeat scroll 0 0 transparent; /*gecko*/
    background: url("../images/icons/extrasmall/button_cancel.png") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#cfcfcf)) repeat scroll 0 0 transparent; /*webkit*/
    background: url("../images/icons/extrasmall/button_cancel.png") 10px 50% no-repeat, linear-gradient(#fafafa, #cfcfcf); /*CSS3*/
}

.z-buttons .z-bt-cancel:active,
.z-buttons .z-bt-cancel.active {
    background: url("../images/icons/extrasmall/button_cancel.png") #fafafa 10px 50% no-repeat; /*non-CSS3 browsers*/
    background: url("../images/icons/extrasmall/button_cancel.png") 10px 50% no-repeat, -moz-linear-gradient(top,  #cfcfcf, #fafafa) repeat scroll 0 0 transparent; /*gecko*/
    background: url("../images/icons/extrasmall/button_cancel.png") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#fafafa)) repeat scroll 0 0 transparent; /*webkit*/
    background: url("../images/icons/extrasmall/button_cancel.png") 10px 50% no-repeat, linear-gradient(#cfcfcf, #fafafa); /*CSS3*/
}

.z-buttons .z-bt-preview {
    background: url("../images/icons/extrasmall/14_layer_novisible.png") #dfdfdf 10px 50% no-repeat; /*non-CSS3 browsers*/
    background: url("../images/icons/extrasmall/14_layer_novisible.png") 10px 50% no-repeat, -moz-linear-gradient(center top , #ffffff, #dfdfdf) repeat scroll 0 0 transparent; /*gecko*/
    background: url("../images/icons/extrasmall/14_layer_novisible.png") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dfdfdf)) repeat scroll 0 0 transparent; /*webkit*/
    background: url("../images/icons/extrasmall/14_layer_novisible.png") 10px 50% no-repeat, linear-gradient(#ffffff, #dfdfdf); /*CSS3*/
}

.z-buttons .z-bt-preview:hover,
.z-buttons .z-bt-preview.hover {
    background: url("../images/icons/extrasmall/14_layer_novisible.png") #cfcfcf 10px 50% no-repeat; /*non-CSS3 browsers*/
    background: url("../images/icons/extrasmall/14_layer_novisible.png") 10px 50% no-repeat, -moz-linear-gradient(top,  #fafafa, #cfcfcf) repeat scroll 0 0 transparent; /*gecko*/
    background: url("../images/icons/extrasmall/14_layer_novisible.png") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#cfcfcf)) repeat scroll 0 0 transparent; /*webkit*/
    background: url("../images/icons/extrasmall/14_layer_novisible.png") 10px 50% no-repeat, linear-gradient(#fafafa, #cfcfcf); /*CSS3*/
}

.z-buttons .z-bt-preview:active,
.z-buttons .z-bt-preview.active {
    background: url("../images/icons/extrasmall/14_layer_novisible.png") #fafafa 10px 50% no-repeat; /*non-CSS3 browsers*/
    background: url("../images/icons/extrasmall/14_layer_novisible.png") 10px 50% no-repeat, -moz-linear-gradient(top,  #cfcfcf, #fafafa) repeat scroll 0 0 transparent; /*gecko*/
    background: url("../images/icons/extrasmall/14_layer_novisible.png") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#fafafa)) repeat scroll 0 0 transparent; /*webkit*/
    background: url("../images/icons/extrasmall/14_layer_novisible.png") 10px 50% no-repeat, linear-gradient(#cfcfcf, #fafafa); /*CSS3*/
}

.z-buttons .z-bt-new {
    background: url("../images/icons/extrasmall/filenew.png") #dfdfdf 10px 50% no-repeat; /*non-CSS3 browsers*/
    background: url("../images/icons/extrasmall/filenew.png") 10px 50% no-repeat, -moz-linear-gradient(center top , #ffffff, #dfdfdf) repeat scroll 0 0 transparent; /*gecko*/
    background: url("../images/icons/extrasmall/filenew.png") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dfdfdf)) repeat scroll 0 0 transparent; /*webkit*/
    background: url("../images/icons/extrasmall/filenew.png") 10px 50% no-repeat, linear-gradient(#ffffff, #dfdfdf); /*CSS3*/
}

.z-buttons .z-bt-new:hover,
.z-buttons .z-bt-new.hover {
    background: url("../images/icons/extrasmall/filenew.png") #cfcfcf 10px 50% no-repeat; /*non-CSS3 browsers*/
    background: url("../images/icons/extrasmall/filenew.png") 10px 50% no-repeat, -moz-linear-gradient(top,  #fafafa, #cfcfcf) repeat scroll 0 0 transparent; /*gecko*/
    background: url("../images/icons/extrasmall/filenew.png") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#cfcfcf)) repeat scroll 0 0 transparent; /*webkit*/
    background: url("../images/icons/extrasmall/filenew.png") 10px 50% no-repeat, linear-gradient(#fafafa, #cfcfcf); /*CSS3*/
}

.z-buttons .z-bt-new:active,
.z-buttons .z-bt-new.active {
    background: url("../images/icons/extrasmall/filenew.png") #fafafa 10px 50% no-repeat; /*non-CSS3 browsers*/
    background: url("../images/icons/extrasmall/filenew.png") 10px 50% no-repeat, -moz-linear-gradient(top,  #cfcfcf, #fafafa) repeat scroll 0 0 transparent; /*gecko*/
    background: url("../images/icons/extrasmall/filenew.png") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#fafafa)) repeat scroll 0 0 transparent; /*webkit*/
    background: url("../images/icons/extrasmall/filenew.png") 10px 50% no-repeat, linear-gradient(#cfcfcf, #fafafa); /*CSS3*/
}

.z-buttons .z-bt-save {
    background: url("../images/icons/extrasmall/filesave.png") #dfdfdf 10px 50% no-repeat; /*non-CSS3 browsers*/
    background: url("../images/icons/extrasmall/filesave.png") 10px 50% no-repeat, -moz-linear-gradient(center top , #ffffff, #dfdfdf) repeat scroll 0 0 transparent; /*gecko*/
    background: url("../images/icons/extrasmall/filesave.png") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dfdfdf)) repeat scroll 0 0 transparent; /*webkit*/
    background: url("../images/icons/extrasmall/filesave.png") 10px 50% no-repeat, linear-gradient(#ffffff, #dfdfdf); /*CSS3*/
}

.z-buttons .z-bt-save:hover {
    background: url("../images/icons/extrasmall/filesave.png") #cfcfcf 10px 50% no-repeat; /*non-CSS3 browsers*/
    background: url("../images/icons/extrasmall/filesave.png") 10px 50% no-repeat, -moz-linear-gradient(top,  #fafafa, #cfcfcf) repeat scroll 0 0 transparent; /*gecko*/
    background: url("../images/icons/extrasmall/filesave.png") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#cfcfcf)) repeat scroll 0 0 transparent; /*webkit*/
    background: url("../images/icons/extrasmall/filesave.png") 10px 50% no-repeat, linear-gradient(#fafafa, #cfcfcf); /*CSS3*/
}

.z-buttons .z-bt-save:active,
.z-buttons .z-bt-save.active {
    background: url("../images/icons/extrasmall/filesave.png") #fafafa 10px 50% no-repeat; /*non-CSS3 browsers*/
    background: url("../images/icons/extrasmall/filesave.png") 10px 50% no-repeat, -moz-linear-gradient(top,  #cfcfcf, #fafafa) repeat scroll 0 0 transparent; /*gecko*/
    background: url("../images/icons/extrasmall/filesave.png") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#fafafa)) repeat scroll 0 0 transparent; /*webkit*/
    background: url("../images/icons/extrasmall/filesave.png") 10px 50% no-repeat, linear-gradient(#cfcfcf, #fafafa); /*CSS3*/
}

.z-buttons .z-bt-edit {
    background: url("../images/icons/extrasmall/edit.png") #dfdfdf 10px 50% no-repeat; /*non-CSS3 browsers*/
    background: url("../images/icons/extrasmall/edit.png") 10px 50% no-repeat, -moz-linear-gradient(center top , #ffffff, #dfdfdf) repeat scroll 0 0 transparent; /*gecko*/
    background: url("../images/icons/extrasmall/edit.png") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dfdfdf)) repeat scroll 0 0 transparent; /*webkit*/
    background: url("../images/icons/extrasmall/edit.png") 10px 50% no-repeat, linear-gradient(#ffffff, #dfdfdf); /*CSS3*/
}

.z-buttons .z-bt-edit:hover,
.z-buttons .z-bt-edit.hover {
    background: url("../images/icons/extrasmall/edit.png") #cfcfcf 10px 50% no-repeat; /*non-CSS3 browsers*/
    background: url("../images/icons/extrasmall/edit.png") 10px 50% no-repeat, -moz-linear-gradient(top,  #fafafa, #cfcfcf) repeat scroll 0 0 transparent; /*gecko*/
    background: url("../images/icons/extrasmall/edit.png") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#cfcfcf)) repeat scroll 0 0 transparent; /*webkit*/
    background: url("../images/icons/extrasmall/edit.png") 10px 50% no-repeat, linear-gradient(#fafafa, #cfcfcf); /*CSS3*/
}

.z-buttons .z-bt-edit:active,
.z-buttons .z-bt-edit.active {
    background: url("../images/icons/extrasmall/edit.png") #fafafa 10px 50% no-repeat; /*non-CSS3 browsers*/
    background: url("../images/icons/extrasmall/edit.png") 10px 50% no-repeat, -moz-linear-gradient(top,  #cfcfcf, #fafafa) repeat scroll 0 0 transparent; /*gecko*/
    background: url("../images/icons/extrasmall/edit.png") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#fafafa)) repeat scroll 0 0 transparent; /*webkit*/
    background: url("../images/icons/extrasmall/edit.png") 10px 50% no-repeat, linear-gradient(#cfcfcf, #fafafa); /*CSS3*/
}

.z-buttons .z-bt-archive {
    background: url("../images/icons/extrasmall/folder.png") #dfdfdf 10px 50% no-repeat; /*non-CSS3 browsers*/
    background: url("../images/icons/extrasmall/folder.png") 10px 50% no-repeat, -moz-linear-gradient(center top , #ffffff, #dfdfdf) repeat scroll 0 0 transparent; /*gecko*/
    background: url("../images/icons/extrasmall/folder.png") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dfdfdf)) repeat scroll 0 0 transparent; /*webkit*/
    background: url("../images/icons/extrasmall/folder.png") 10px 50% no-repeat, linear-gradient(#ffffff, #dfdfdf); /*CSS3*/
}

.z-buttons .z-bt-archive:hover,
.z-buttons .z-bt-archive.hover {
    background: url("../images/icons/extrasmall/folder.png") #cfcfcf 10px 50% no-repeat; /*non-CSS3 browsers*/
    background: url("../images/icons/extrasmall/folder.png") 10px 50% no-repeat, -moz-linear-gradient(top,  #fafafa, #cfcfcf) repeat scroll 0 0 transparent; /*gecko*/
    background: url("../images/icons/extrasmall/folder.png") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#cfcfcf)) repeat scroll 0 0 transparent; /*webkit*/
    background: url("../images/icons/extrasmall/folder.png") 10px 50% no-repeat, linear-gradient(#fafafa, #cfcfcf); /*CSS3*/
}

.z-buttons .z-bt-archive:active,
.z-buttons .z-bt-archive.active {
    background: url("../images/icons/extrasmall/folder.png") #fafafa 10px 50% no-repeat; /*non-CSS3 browsers*/
    background: url("../images/icons/extrasmall/folder.png") 10px 50% no-repeat, -moz-linear-gradient(top,  #cfcfcf, #fafafa) repeat scroll 0 0 transparent; /*gecko*/
    background: url("../images/icons/extrasmall/folder.png") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#fafafa)) repeat scroll 0 0 transparent; /*webkit*/
    background: url("../images/icons/extrasmall/folder.png") 10px 50% no-repeat, linear-gradient(#cfcfcf, #fafafa); /*CSS3*/
}

.z-buttons .z-bt-delete {
    background: url("../images/icons/extrasmall/14_layer_deletelayer.png") #dfdfdf 10px 50% no-repeat; /*non-CSS3 browsers*/
    background: url("../images/icons/extrasmall/14_layer_deletelayer.png") 10px 50% no-repeat, -moz-linear-gradient(center top , #ffffff, #dfdfdf) repeat scroll 0 0 transparent; /*gecko*/
    background: url("../images/icons/extrasmall/14_layer_deletelayer.png") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dfdfdf)) repeat scroll 0 0 transparent; /*webkit*/
    background: url("../images/icons/extrasmall/14_layer_deletelayer.png") 10px 50% no-repeat, linear-gradient(#ffffff, #dfdfdf); /*CSS3*/
}

.z-buttons .z-bt-delete:hover,
.z-buttons .z-bt-delete.hover {
    background: url("../images/icons/extrasmall/14_layer_deletelayer.png") #cfcfcf 10px 50% no-repeat; /*non-CSS3 browsers*/
    background: url("../images/icons/extrasmall/14_layer_deletelayer.png") 10px 50% no-repeat, -moz-linear-gradient(top,  #fafafa, #cfcfcf) repeat scroll 0 0 transparent; /*gecko*/
    background: url("../images/icons/extrasmall/14_layer_deletelayer.png") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#cfcfcf)) repeat scroll 0 0 transparent; /*webkit*/
    background: url("../images/icons/extrasmall/14_layer_deletelayer.png") 10px 50% no-repeat, linear-gradient(#fafafa, #cfcfcf); /*CSS3*/
}

.z-buttons .z-bt-delete:active,
.z-buttons .z-bt-delete.active {
    background: url("../images/icons/extrasmall/14_layer_deletelayer.png") #fafafa 10px 50% no-repeat; /*non-CSS3 browsers*/
    background: url("../images/icons/extrasmall/14_layer_deletelayer.png") 10px 50% no-repeat, -moz-linear-gradient(top,  #cfcfcf, #fafafa) repeat scroll 0 0 transparent; /*gecko*/
    background: url("../images/icons/extrasmall/14_layer_deletelayer.png") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#fafafa)) repeat scroll 0 0 transparent; /*webkit*/
    background: url("../images/icons/extrasmall/14_layer_deletelayer.png") 10px 50% no-repeat, linear-gradient(#cfcfcf, #fafafa); /*CSS3*/
}

.z-buttons .z-bt-filter {
    background: url("../images/icons/extrasmall/filter.png") #dfdfdf 10px 50% no-repeat; /*non-CSS3 browsers*/
    background: url("../images/icons/extrasmall/filter.png") 10px 50% no-repeat, -moz-linear-gradient(center top , #ffffff, #dfdfdf) repeat scroll 0 0 transparent; /*gecko*/
    background: url("../images/icons/extrasmall/filter.png") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dfdfdf)) repeat scroll 0 0 transparent; /*webkit*/
    background: url("../images/icons/extrasmall/filter.png") 10px 50% no-repeat, linear-gradient(#ffffff, #dfdfdf); /*CSS3*/
}
.z-buttons .z-bt-filter:hover,
.z-buttons .z-bt-filter.hover {
    background: url("../images/icons/extrasmall/filter.png") #cfcfcf 10px 50% no-repeat; /*non-CSS3 browsers*/
    background: url("../images/icons/extrasmall/filter.png") 10px 50% no-repeat, -moz-linear-gradient(top,  #fafafa, #cfcfcf) repeat scroll 0 0 transparent; /*gecko*/
    background: url("../images/icons/extrasmall/filter.png") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#cfcfcf)) repeat scroll 0 0 transparent; /*webkit*/
    background: url("../images/icons/extrasmall/filter.png") 10px 50% no-repeat, linear-gradient(#fafafa, #cfcfcf); /*CSS3*/
}
.z-buttons .z-bt-filter:active,
.z-buttons .z-bt-filter.active {
    background: url("../images/icons/extrasmall/filter.png") #fafafa 10px 50% no-repeat; /*non-CSS3 browsers*/
    background: url("../images/icons/extrasmall/filter.png") 10px 50% no-repeat, -moz-linear-gradient(top,  #cfcfcf, #fafafa) repeat scroll 0 0 transparent; /*gecko*/
    background: url("../images/icons/extrasmall/filter.png") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#fafafa)) repeat scroll 0 0 transparent; /*webkit*/
    background: url("../images/icons/extrasmall/filter.png") 10px 50% no-repeat, linear-gradient(#cfcfcf, #fafafa); /*CSS3*/
}

/* Old input image buttons. Backward compatibility < Zikula 1.3 */

.z-buttons input[type=image] {
    float: left;
}







/******************************************************************************
* IMG Float styles, e.g. for the positioning of images in articles
******************************************************************************/

img.z-floatleft {
    display: inline;
    float: left;
    margin-bottom: 0.15em;
    margin-right: 1em;
}

img.z-floatright {
    display: inline;
    float: right;
    margin-bottom: 0.15em;
    margin-left: 1em;
}

/******************************************************************************
* Zikula general clearfix solution
* http://perishablepress.com/press/2009/12/06/new-clearfix-hack/
******************************************************************************/

.z-clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/******************************************************************************
* Overflow-Method to clear float environments, Generic clearer
******************************************************************************/

.z-floatbox { overflow: hidden; }
.z-clearer { clear: both; }

/******************************************************************************
* Miscellaneous, Generic secondary text
******************************************************************************/

.z-sub {
    color: #777;
    font-size: 0.9em;
}

.z-pointer {
    cursor: pointer !important;
}

.z-calendarimg { background-color: transparent; }
.z-calendarimg:hover,
.z-calendarimg.hover {
    background-color: blue;
}

.z-menutexttitle {
    word-wrap: break-word;
    margin-left: 63px;
    margin-right: 5px;
}



/******************************************************************************
* Widths styles
******************************************************************************/

.z-w90 { width: 90%; }
.z-w85 { width: 85%; }
.z-w80 { width: 80%; }
.z-w75 { width: 75%; }
.z-w70 { width: 70%; }
.z-w66 { width: 66%; }
.z-w60 { width: 60%; }
.z-w50 { width: 50%; }
.z-w49 { width: 49%; }
.z-w45 { width: 45%; }
.z-w40 { width: 40%; }
.z-w35 { width: 35%; }
.z-w33 { width: 33%; }
.z-w30 { width: 30%; }
.z-w25 { width: 25%; }
.z-w22 { width: 22%; }
.z-w20 { width: 20%; }
.z-w15 { width: 15%; }
.z-w10 { width: 10%; }
.z-w08 { width: 8%; }
.z-w07 { width: 7%; }
.z-w06 { width: 6%; }
.z-w05 { width: 5%; }
.z-w04 { width: 4%; }
.z-w02 { width: 2%; }


/******************************************************************************
* Order styles
******************************************************************************/

.z-order-asc {
    background: url("../images/global/arrow_up_grey.png") transparent 100% 50% no-repeat;
    padding-right: 12px;
}
.z-order-asc:hover,
.z-order-asc.hover {
    background: url("../images/global/arrow_up_black.png") transparent 100% 50% no-repeat;
}
.z-order-desc {
    background: url("../images/global/arrow_down_grey.png") transparent 100% 50% no-repeat;
    padding-right: 12px;
}
.z-order-desc:hover,
.z-order-desc.hover {
    background: url("../images/global/arrow_down_black.png") transparent 100% 50% no-repeat;
}
.z-order-unsorted {
    padding-right: 12px;
}

/******************************************************************************
* Toggle styles
******************************************************************************/

.z-toggle {
    display: block;
    background-image: url("../images/global/toggle-bl.png");
    background-repeat: no-repeat;
    background-position: 0px;
    border: 0pt none;
    margin: 0pt;
    padding: 0pt;
    width: 27px;
    height: 25px;
}
.z-toggle-open,
.z-toggle-open:link,
.z-toggle-open:visited {
    background-position: 0pt -16px;
    height: 25px;
    width: 27px;
}
.z-toggle-link,
.z-toggle-link:link,
.z-toggle-link:visited {
    background-image: url("../images/global/toggle-bl.png");
    background-repeat: no-repeat;
    background-position: right 2px;
    padding-right: 20px;
    border: 0pt none;
}
.z-toggle-link-open,
.z-toggle-link-open:link,
.z-toggle-link-open:visited {
    background-position: right -15px;
}

/******************************************************************************
* Styles for pager plugins
* TODO: Do we still need this? (herr.vorragend)
******************************************************************************/

.z-pager {
    color: #999;
    line-height: 2.2em;
    padding: 0 4px 5px;
    text-align: center;
}
/* style for the selected item of the pager abc plugin */
.z-pager a.z-pagerselected {
    font-weight: bold;
    text-decoration: underline;
}
/* style for the selected item of the pager plugin */
.z-pager span.z-pagerselected {
    font-weight: bold;
}




/******************************************************************************
* Drop-Down
******************************************************************************/

.z-drop {
    background: url("../images/global/arrow_down_grey.png") no-repeat scroll 100% 50% transparent;
    cursor: pointer;
    padding-left: 8px;
    position: relative;
}

.z-drop:hover,
.z-drop.hover {
    background: url("../images/global/arrow_down_black.png") no-repeat scroll 100% 50% transparent;
}

/******************************************************************************
* Icon styles (es=extrasmall) - Equivalent with /images/icons/config.php
******************************************************************************/


.z-icon-es-add {
    background: url("../images/icons/extrasmall/edit_add.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}
.z-icon-es-back {
    background: url("../images/icons/extrasmall/agt_back.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}
.z-icon-es-cancel {
    background: url("../images/icons/extrasmall/button_cancel.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}
.z-icon-es-config {
    background: url("../images/icons/extrasmall/configure.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}
.z-icon-es-copy {
    background: url("../images/icons/extrasmall/editcopy.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}
.z-icon-es-cubes {
    background: url("../images/icons/extrasmall/kcmdf.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}
.z-icon-es-cut {
    background: url("../images/icons/extrasmall/editcut.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}
.z-icon-es-delete {
    background: url("../images/icons/extrasmall/14_layer_deletelayer.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}
.z-icon-es-display {
    background: url("../images/icons/extrasmall/kview.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}
.z-icon-es-edit {
    background: url("../images/icons/extrasmall/xedit.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}
.z-icon-es-error {
    background: url("../images/icons/extrasmall/error.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}
.z-icon-es-export {
    background: url("../images/icons/extrasmall/fileexport.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}
.z-icon-es-gears {
    background: url("../images/icons/extrasmall/run.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}
.z-icon-es-filter {
    background: url("../images/icons/extrasmall/filter.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}
.z-icon-es-group {
    background: url("../images/icons/extrasmall/group.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}
.z-icon-es-help {
    background: url("../images/icons/extrasmall/help.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}
.z-icon-es-home {
    background: url("../images/icons/extrasmall/folder_home.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}
.z-icon-es-hook {
    background: url("../images/icons/extrasmall/attach.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}
.z-icon-es-import {
    background: url("../images/icons/extrasmall/fileimport.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}
.z-icon-es-info {
    background: url("../images/icons/extrasmall/documentinfo.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}
.z-icon-es-locale {
    background: url("../images/icons/extrasmall/locale.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}
.z-icon-es-locked {
    background: url("../images/icons/extrasmall/encrypted.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}
.z-icon-es-log {
    background: url("../images/icons/extrasmall/lists.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}
.z-icon-es-mail {
    background: url("../images/icons/extrasmall/mail_generic.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}
.z-icon-es-new {
    background: url("../images/icons/extrasmall/filenew.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}
.z-icon-es-ok {
    background: url("../images/icons/extrasmall/button_ok.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}
.z-icon-es-options {
    background: url("../images/icons/extrasmall/servicemanager.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}
.z-icon-es-preview {
    background: url("../images/icons/extrasmall/demo.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}
.z-icon-es-print {
    background: url("../images/icons/extrasmall/printer.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}
.z-icon-es-profile {
    background: url("../images/icons/extrasmall/personal.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}
.z-icon-es-regenerate {
    background: url("../images/icons/extrasmall/agt_update-product.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}
.z-icon-es-remove {
    background: url("../images/icons/extrasmall/edit_remove.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}
.z-icon-es-save {
    background: url("../images/icons/extrasmall/filesave.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}
.z-icon-es-saveas {
    background: url("../images/icons/extrasmall/filesaveas.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}
.z-icon-es-search {
    background: url("../images/icons/extrasmall/search.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}
.z-icon-es-url {
    background: url("../images/icons/extrasmall/web.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}
.z-icon-es-user {
    background: url("../images/icons/extrasmall/user.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}
.z-icon-es-view {
    background: url("../images/icons/extrasmall/windowlist.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}
.z-icon-es-warning {
    background: url("../images/icons/extrasmall/bell.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}
.z-icon-es-rss {
    background: url("../images/feeds/feed-icon-16x16.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}
.z-icon-es-add, .z-icon-es-back, .z-icon-es-cancel, .z-icon-es-config, .z-icon-es-copy, .z-icon-es-cubes, .z-icon-es-cut, .z-icon-es-delete, .z-icon-es-display, .z-icon-es-edit,
.z-icon-es-error, .z-icon-es-export, .z-icon-es-gears, .z-icon-es-filter, .z-icon-es-group, .z-icon-es-help, .z-icon-es-home, .z-icon-es-hook, .z-icon-es-import, .z-icon-es-info,
.z-icon-es-locale, .z-icon-es-locked, .z-icon-es-log, .z-icon-es-mail, .z-icon-es-new, .z-icon-es-ok, .z-icon-es-options, .z-icon-es-preview, .z-icon-es-print, .z-icon-es-profile,
.z-icon-es-regenerate, .z-icon-es-remove, .z-icon-es-save, .z-icon-es-saveas, .z-icon-es-search, .z-icon-es-url, .z-icon-es-user, .z-icon-es-view, .z-icon-es-warning, .z-icon-es-rss {
    padding-left: 20px !important;
}