/* CSS navtabs technique from http://www.simplebits.com/bits/css_tabs.html */
.minitabs-container {
    width: 100%;
    padding: 0px;
    margin-top: 1em;
    border: 0px solid #ccc;
}

ul#minitabs,
ul.minitabs {
    width: 100%;
    height: 20px;
    margin: 0 !important;
    padding: 0 !important;
    background: url('../web/modules/zikulaadmin/images/tab_bottom.gif') repeat-x bottom;
}

ul#minitabs li,
ul.minitabs li {
    margin: 0;
    padding: 0;
    display: inline;
    list-style-type: none;
}

ul#minitabs a:link,
ul#minitabs a:visited,
ul.minitabs a:link,
ul.minitabs a:visited {
    float: left;
    background: #f3f3f3;
    font-size: 10px;
    line-height: 14px;
    font-weight: bold;
    padding: 2px 10px 2px 10px;
    margin-right: 4px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #666;
}

ul#minitabs a:link.active,
ul#minitabs a:visited.active,
ul.minitabs a:link.active,
ul.minitabs a:visited.active {
    border-bottom: 1px solid #fff;
    background: #fff;
    color: #000;
}

ul#minitabs a:hover,
ul.minitabs a:hover {
    background: #fff;
}
