.z-pagercss {
    text-align: center;
    margin: 0 auto;
}

.z-pagercss span, .z-pagercss a {
    font-weight: normal;
    display: inline;
    padding: 2px 5px;
    border-color: #CCCCCC #B9B9B9 #B9B9B9 #CCCCCC;
    border-style: solid;
    border-width: 1px;
    background: #f5f5f5; /*non-CSS3 browsers*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5F5F5', endColorstr='#dedede'); /*IE*/
    background: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#dedede)); /*webkit*/
    background: -moz-linear-gradient(top,  #F5F5F5, #dedede); /*gecko*/
    background: linear-gradient(top,  #F5F5F5,  #dedede); /*CSS3*/
}

.z-pagercss span {
    color: #888;
}

.z-pagercss a {
    text-decoration:none !important;
    color: #444;
}

.z-pagercss span:hover,
.z-pagercss a:hover {
    text-decoration: none !important;
    border: 1px solid #6FA7DF;
    background: #c2e1ef; /*non-CSS3 browsers*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c2e1ef', endColorstr='#dff4ff'); /*IE*/
    background: -webkit-gradient(linear, left top, left bottom, from(#c2e1ef), to(#dff4ff)); /*webkit*/
    background: -moz-linear-gradient(top,  #c2e1ef, #dff4ff); /*gecko*/
    background: linear-gradient(top,  #c2e1ef,  #dff4ff); /*CSS3*/
}

.z-pagercss span.z-pagercss-current {
    color: #444;
    font-weight: bold;
    border: 1px solid #6FA7DF;
    background: #c2e1ef; /*non-CSS3 browsers*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c2e1ef', endColorstr='#dff4ff'); /*IE*/
    background: -webkit-gradient(linear, left top, left bottom, from(#c2e1ef), to(#dff4ff)); /*webkit*/
    background: -moz-linear-gradient(top,  #c2e1ef, #dff4ff); /*gecko*/
    background: linear-gradient(top,  #c2e1ef,  #dff4ff); /*CSS3*/
}

