{% set templatetitle = __('My account') %}
{% include 'User/menu.html.twig' %}

<ul class="list-group">
{% for accountLink in accountLinks %}
    <li class="list-group-item">
        <a href="{{ accountLink.url }}">
            <div class="media">
                <div class="media-left">
                {% if modvars.ZikulaUsersModule.accountdisplaygraphics == 1 %}
                    {% if accountLink.set is defined and accountLink.set is not empty %}
                        {% set iconset = accountLink.set %}
                    {% else %}
                        {% set iconset = 'null' %}
                    {% endif %}
                    {img src=$accountLink.icon modname=$accountLink.module set=$iconset class="media-object"}
                {% endif %}
                </div>
                <div class="media-body">
                    <h4><strong>{{ accountLink.title }}</strong></h4>
                </div>
            </div>
        </a>
    </li>
{% endfor %}
</ul>
