<h2>{{ __('Choose a login authentication method') }}</h2>
<ul>
{% for method in collector.activeKeys %}
    <li><a href="{{ path(path, {"authenticationMethod": method}) }}">{{ collector.get(method).DisplayName }}</a></li>
{% endfor %}
</ul>
