<form id="theme_search" method="post" action="{% set modvariables} = path('search_hidden_search}>', {"":"","<div>":"","<input":"","id":"block_search_q","name":"{name|safetext}","size":"20","maxlength":"255","results":"10","autosave":"Search","class":"theme_search_button","\/>":"","{%":"","if":"","vars.displaySearchBtn":"","1":"","%}":"","value":"{value|safetext}","text":"Search","domain":"zikula}","endif":"","<div":"","style":"display:","none;\">":"","for":"","plugin,":"","plugin_option":"","in":"","plugin_options":"","{{":"","}}":"","endfor":"","<\/div>":"","{searchvartofieldnames":"","data":"modvars.ZikulaSearchModule","prefix":"modvar","name,":"","modvariables":"","%":""}) %}{# @todo probably an incorrect path #}
    </div>
</form>

