<ul>
    {% for line in content %}
    <li><a href="{{ line.link }}">{{ line.description }} <span class="badge">{{ line.number }}</span></a></li>
    {% else %}
    <li><em>{% trans %}There is currently no pending content.{% endtrans %}</em></li>
    {% endfor %}
</ul>
