<ul>
    {% for collection in pendingCollection %}
        {% for item in collection|filter(item => item is pendingContentCollectible) %}
        <li><a href="{{ item.link|default }}">{{ item.description|default('items'|trans) }} <span class="badge">{{ item.number|default(0) }}</span></a></li>
        {% else %}
        <li><em>{% trans %}There is currently no pending content.{% endtrans %}</em></li>
        {% endfor %}
    {% endfor %}
</ul>
