#users_register_email,
#users_register_emailagain,
#users_register_uname {
    text-transform: lowercase;
}

.newuserinfo {
    margin-top: 5px;
    margin-bottom: 5px;
    color: red;
    font-weight: 700;
}

.newuserinfook {
    color: green;
}

#users_newuser label.errorrequired, #users_newuser label:hover.errorrequired {
    border-bottom: 1px red solid;
}

#users_newuser input.errorrequired, #users_newuser input:hover.errorrequired {
    border: 1px red solid;
}

div.z-accountlink {
    text-align: center;
    float: left;
    height: 9em;
}

div.z-accountlink img {
    border: none;
}

div.authentication_module_list {
    overflow: auto;
    width: 100%;
    margin-top: 1.5em;
    margin-bottom: 2em;
}

table.z-datatable td.users_activated {
    padding: 5px 0;
    text-align: center;
}

table.z-datatable td.users_action {
    text-align: center;
    padding: 5px 0;

}
