#users_register_email {
    text-transform: lowercase;
}

#users_register_emailagain {
    text-transform: lowercase;
}

#users_register_uname {
    text-transform: lowercase;
}

.newuserinfo {
    margin-top: 5px;
    margin-bottom: 5px;
    color: red;
    font-weight: bold;
}

.newuserinfook {
    color: green;
}

#users_newuser label.errorrequired, #users_newuser label:hover.errorrequired {
    border-bottom: 1px red solid;
}

#users_newuser input.errorrequired, #users_newuser input:hover.errorrequired {
    border: 1px red solid;
}

div.z-accountlink {
    text-align: center;
    float: left;
    height: 9em;
}

div.z-accountlink  img {
    border: none;
}

#percent {
    margin-top: 0px;
    float: left;
}

#result {
    color: green;
    float: left;
}

.user-icon-adduser {
    background: transparent url("../../../../../../../images/icons/extrasmall/add_user.png") no-repeat scroll center left;
    padding: 2px 0 2px 20px;
}
.user-icon-lostusername {
    background: transparent url("../../../../../../../images/icons/extrasmall/lostusername.png") no-repeat scroll center left;
    padding: 2px 0 2px 20px;
}

#users_loginblock_loginform {
    margin:0;
    padding:0;
}

.users_loginblock_box {
    margin:1em 0 0;
    padding:0 1em 1em 0;
}

.users_loginblock_box h5 {
    font-size:1em;
    font-weight:bold;
    margin: 1em 0 0 0;
    padding:0 0 0.5em;
    text-decoration:underline;
}

#users_loginblock_loginform ul#user-block-login-tools {
    list-style: none;
    margin: 0;
    padding: 0;
}

#users_loginblock_loginform ul#user-block-login-tools li {
    margin: 0.5em 0;
    padding: 0;
}

div.authentication_module_list {
    overflow: auto;
    width: 100%;
    margin-top: 1.5em;
    margin-bottom: 2em;
}

table.z-datatable td.users_activated {
    padding: 5px 0px 5px 0px;
    text-align: center;
}

table.z-datatable td.users_action {
    text-align: center;
    padding: 5px 0px 5px 0px;

}

.zikulausersmodule-authentication-select-method-image {
    max-height: 36px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#zikulausersmodule-login-hooks {
    margin-bottom: 10px;
}

#zikulausersmodule-login-event-display {
    margin-bottom: 10px;
}
