.search_toogle {
    margin-bottom: 1em;
}

form#search_form ul {
    list-style: none;
}

label#search_q_label {
    font-size: 140%;
}
input#search_q {
    font-size: 140%;
    font-weight: 700;
    padding: 5px 2px;
}
dl.search_results div.search_created {
    font-style: italic;
}

dl.search_results strong.highlight1 {
    color: #000;
    background-color: #FF0;
}

dl.search_results strong.highlight2 {
    color: #000;
    background-color: #0FF;
}

dl.search_results strong.highlight3 {
    color: #000;
    background-color: #9F9;
}

dl.search_results strong.highlight4 {
    color: #000;
    background-color: #F99;
}

dl.search_results strong.highlight5 {
    color: #000;
    background-color: #F6F;
}

dl.search_results strong.highlight6 {
    color: #FFF;
    background-color: #800;
}

dl.search_results strong.highlight7 {
    color: #FFF;
    background-color: #0A0;
}

dl.search_results strong.highlight8 {
    color: #FFF;
    background-color: #886800;
}

dl.search_results strong.highlight9 {
    color: #FFF;
    background-color: #004699;
}

dl.search_results strong.highlight0 {
    color: #FFF;
    background-color: #909;
}
