{{ include('@ZikulaUsersModule/Email/header.txt.twig')|nl2br }}
{% if not reginfo.isApproved %}
    {% set heading = __('New registration pending approval') %}
{% elseif not isVerified %}
    {% set heading = __('New registration pending e-mail verification') %}
{% else %}
    {% set heading = __('New user activated') %}
{% endif %}
<h3>{{ heading }}</h3>

<p>
{% set siteLink = '<a href="%1$s">%2$s</a>'|replace({'%1$s': url('home'), '%2$s': getModVar('ZConfig', 'sitename')}) %}
{% if not reginfo.isApproved %}
    {% trans with {'%s': siteLink} %}A new user account has been created but not yet activated on %s.{% endtrans %}
{% else %}
    {% trans with {'%s': siteLink} %}A new user account has been activated on %s.{% endtrans %}
{% endif %}
{% if createdByAdmin %}{% trans %}It was created by an administrator or sub-administrator.{% endtrans %}{% endif %}
{% trans %}The account details are as follows:{% endtrans %}
</p>

<p>{% trans %}User name{% endtrans %}: '{{ reginfo.uname }}'</p>
{{ include('@ZikulaUsersModule/Email/footer.txt.twig')|nl2br }}
