{{ pageSetVar('title', 'New account registration'|trans) }}
<h2>{{ 'New account registration'|trans }}</h2>
{{ showflashes() }}

<h3>{% trans %}Sorry! New user registration is currently disabled.{% endtrans %}</h3>
{% if reason %}
    <p class="alert alert-warning">
        {{ reason }}
    </p>
{% endif %}
