/******************************************************************************
* Formatting
******************************************************************************/

body {
    font: 12px/ 140% Verdana, Tahoma, Arial, Helvetica, sans-serif;
    color: #333333;
    background: #FFFFFF;
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4 {
    font-weight:bold;
    margin: 14px 0;
    padding: 0;
    line-height: 130%;
}

h1 {
    color: #F8981D;
    font-size: 22px;
    letter-spacing: 1pt;
}

h2 {
    color: #555555;
    font-size: 18px;
}

h3 {
    color: #656565;
    font-size: 16px;
}

h4 {
    color: #8DC741;
    font-size: 14px;
}

h5 {
    color: #545454;
    font-size: 12px;
}

a img, img {
    border: 0px;
}

a:link, a:visited {
    color: #4C5EA8;
    text-decoration: none;
}

a:hover, a:active {
    color: #8CC63F;
}

p {
    line-height: 160%;
    margin: 12px 0;
}

ul {
    margin: 14px 0 14px 7px;
    padding: 0;
    list-style: square;
}

ol {
    margin: 14px 0 14px 7px;
    padding: 0;
    list-style: decimal;
}

li {
    margin: 0 0 7px 21px;
    padding: 0;
}

dl {
    margin: 14px 0 14px 7px;
    padding: 0;
}

dt {
    font-weight: bold;
    margin: 0 0 7px 0;
    padding: 0;
}

dd {
    margin: 0 0 7px 21px;
    padding: 0;
}

/******************************************************************************
* Theme styling for forms and input
******************************************************************************/

.button {
    font-size: 11px;
    background-color: #D7E5F2;
    color: #102132;
    margin-left: 12px;
    margin-top: 3px;
    margin-bottom: 2px;
}

select {
    background-color: #f3f3f3;
    color: #999999;
}

select:focus {
    background: #f3f3f3;
    border-color: #53B021;
}

textarea {
    background: #ffffff url(../images/input.png) repeat-x top;
    color: #000000;
    border: 0;
    padding: 3px;
    margin-top: 5px;
}

input {
    background: #FFFFFF url(../images/input.png) repeat-x top;
    color: #000000;
    border: 0;
    padding: 3px;
    border: 1px solid #999999;
}

input,
textarea {
    margin: 5px 0;
    padding: 1px 6px;
}

input:hover,
select:hover,
textarea:hover {
    border-color: #cccccc;
}

input:focus,
textarea:focus {
    background: #ffffff url(../images/input.png) repeat-x top;
    border-color: #8DC741;
}

/******************************************************************************
* Page Layout
*******************************************************************************/

#pagewidth {
    width: 100%;
    text-align: left;
    margin: 0 auto;
    background-image: url(../images/fc_left.png);
    background-position: 20% 0;
    background-repeat: repeat-y;
}

#wrapper {
    background-image: url(../images/fc_right.png);
    background-position: 80% 0;
    background-repeat: repeat-y;
    padding-bottom: 20px;
}

#leftcol {
    float: left;
    position: relative;
    width: 20%;
}

#rightcol {
    float: right;
    position: relative;
    width: 20%;
}

#maincol {
    display: inline;
    float: left;
    margin-bottom: 20px;
    margin-left: 1%;
    position: relative;
    width: 58%;
}

.onecol #pagewidth,
.onecol #wrapper,
.noleftcol #pagewidth,
.norightcol #wrapper {
    background-image: none;
}

.noleftcol #maincol,
.norightcol #maincol {
    width: 78%;
}

.onecol #maincol {
    display:block;
    float:none;
    margin:1%;
    width:auto;
}

/******************************************************************************
* Topline
*******************************************************************************/

#topline {
    font-size: 10px;
    color: #999;
    clear: both;
    margin: 0;
    padding: 4px;
    text-align: center;
    vertical-align: middle;
}

/******************************************************************************
* Header
*******************************************************************************/

#header {
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    background-image: url("../images/content_bkg.gif");
    position: relative;
}

#header h1 {
    margin:0 0 0 20px;
    padding:0;
}

#header h1 a {
    color:#CC6600;
    font-size:30px;
    font-weight:bold;
    letter-spacing:1pt;
    text-decoration:none;
}

#header h1 a:hover {
    color: #333;
}

.z-blockposition-search #theme_search .theme_search_input {
    margin:0;
    padding:2px;
}

.z-blockposition-search #theme_search .theme_search_button {
    margin:0;
    padding:1px 6px !important;
}

/******************************************************************************
* Navigation top
*******************************************************************************/

#navi {
    bottom: 7px;
    left: 20px;
    line-height: normal;
    position: absolute;
    text-align: center;
}

#nav {
    clear: both;
    float: left;
    height: 30px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#nav li {
    float: left;
    background: url(../images/navtabr.png) top right repeat-x;
    margin: 0;
    line-height: 30px;
    margin-left: 2px;
}

#nav .page_item a {
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: normal;
    padding: 8px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

#nav .page_item a:hover {
    background-position: 0 -14px;
    border: none;
    color: #F8981D;
}

* html #nav .page_item a:hover {
    background-position: 0 0;
    border: none;
    color: #F8981D;
}

#nav .page_item.selected a {
    text-decoration: underline;
}

/******************************************************************************
* Left(!) Sidebar
*******************************************************************************/

#leftcol #sidebar {
    color: #999999;
    padding-left: 10px;
    padding-right: 10px;
}

#leftcol #sidebar ul li {
    font-weight: normal;
    border: 0;
    text-align: left;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

#leftcol #sidebar ul ul ul.children {
    padding-left: 4px;
}

#leftcol #sidebar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

#leftcol #sidebar ul a {
    color: #000000;
    background-image: url("../images/icon.gif");
    padding: 3px;
    padding-left: 17px;
    background-repeat: no-repeat;
    background-position: 0 55%;
    text-decoration: none;
}

#leftcol #sidebar ul.navlist a {
    display: block;
}

#leftcol #sidebar ul a:link,
#leftcol #sidebar ul a:visited {
    text-decoration: none;
}

#leftcol #sidebar ul a:hover {
    background-image: url("../images/icon2.gif");
    color: #C45915;
    text-decoration: none;
}

/******************************************************************************
* Footer
*******************************************************************************/

#footer {
    background: #ffffff url(../images/bottombg.png) repeat-x top;
    font-size: 11px;
    color: #000000;
    padding: 5px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

#footer p,
#footer a,
#footer a:visited {
    color: #000000;
    font-size: 11px;
    text-decoration: none;
}

#footer a:hover {
    color: #333;
    text-decoration: underline;
}

/******************************************************************************
* Blocks
*******************************************************************************/

.z-blockposition-center {
    background: #FEFEFE; /*non-CSS3 browsers*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#F0F0F0'); /*IE*/
    background: -webkit-gradient(linear,left top, left bottom,from(#FEFEFE),to(#F0F0F0)); /*webkit*/
    background: -moz-linear-gradient(top,#FEFEFE, #F0F0F0); /*gecko*/
    background: linear-gradient(#FEFEFE, #F0F0F0); /*CSS3*/
    border:1px solid #999999;
    font-size:12px;
    margin:10px 0;
    padding:10px;
}

.z-blockposition-center h3 {
    color:#CC6600;
    font-size:14px;
    font-weight:bold;
    margin:0.5em 0;
    padding:0;
}

.z-blockposition-left h3,
.z-blockposition-right h3 {
    color:#444;
    font-size:14px;
    font-weight:bold;
    line-height:130%;
    margin:10px 0;
    padding:0;
}

.z-blockposition-left {
    width: 100%;
    padding: 3px;
}

.z-blockposition-right {
    width: 95%;
    padding: 10px 0px 5px 10px;
    margin-bottom: 5px;
    margin-right: 0px;
}

.z-blockposition-right ul li {
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.z-blockposition-right ul ul ul.children {
    padding-left: 4px;
}

.z-blockposition-right ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

.z-blockposition-right a {
    color: #4C5EA8;
    text-decoration: none;
}

.z-blockposition-right a:link,
.z-blockposition-right a:visited {
    text-decoration: none;
}

.z-blockposition-right a:hover {
    color: #C45915;
    text-decoration: none;
}

/******************************************************************************
* Module main content
*******************************************************************************/

#z-maincontent {
    display: block;
    background: #fff;
    margin: 10px 0;
}

/******************************************************************************
* Printer styles
*******************************************************************************/

@media print { /*hide the left column when printing*/
    #leftcol {
        display: none;
    }
    /*hide the right column when printing*/
    #rightcol {
        display: none;
    }
    #twocols,
    #maincol {
        width: 100%;
        float: none;
    }
}
