services:
    # Twig extension
    zikula_routes_module.twig_extension:
        class: Zikula\RoutesModule\Twig\TwigExtension
        arguments:
            - "@translator.default"
            - "@zikula_extensions_module.api.variable"
            - "@zikula_routes_module.entity_display_helper"
            - "@zikula_routes_module.workflow_helper"
            - "@zikula_routes_module.listentries_helper"
        public: false
        calls:
            - method: setContainer
              arguments:
                - "@service_container"
        tags:
            - { name: twig.extension }
