{% extends '@ZikulaCoreInstaller/structure.html.twig' %}

{% block title "Zikula Core Installer :: Doc Viewer" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12 p-5">
            {{ content|raw }}
        </div>
    </div>
</div>
{% endblock %}
