<div id="header">
    <h1>{% trans %}Zikula Application Framework{% endtrans %}</h1>
    <h2>{% trans %}Installer script{% endtrans %}</h2>
    <ol class="wizard">
        <li{% if currentstage == 'locale' %} class="active"{% endif %}>
            <a href="{{ path('install', { 'stage': 'locale' }) }}">{% trans %}Select language{% endtrans %}</a>
        </li>
        <li{% if currentstage == 'requirements' %} class="active"{% endif %}>
            {% trans %}Check requirements{% endtrans %}
        </li>
        <li{% if currentstage == 'dbcreds' %} class="active"{% endif %}>
            {% trans %}Database information{% endtrans %}
        </li>
        <li{% if currentstage == 'createadmin' %} class="active"{% endif %}>
            {% trans %}Create administrator's account{% endtrans %}
        </li>
    </ol>
    <p class="installguide">
        {% set doc_link = '<a href="%url%" class="external">%text%</a>'|replace({'%url%': 'https://docs.ziku.la/install.html', '%text%': 'installation guide'|trans }) %}
        <em>{% trans with { '%doc_link%': doc_link|raw } %}Please refer to the %doc_link% during the process.{% endtrans %}</em>
    </p>
</div>
