<div id="header">
    <h1>{% trans %}Zikula Application Framework{% endtrans %}</h1>
    <h2>{% trans %}Installer script{% endtrans %}</h2>
    <ol class="wizard">
        <li{% if currentstage == 'locale' %} class="active"{% endif %}>
            {% trans %}Language{% endtrans %}
        </li>
        <li{% if currentstage == 'dbcreds' %} class="active"{% endif %}>
            {% trans %}Database{% endtrans %}
        </li>
        <li{% if currentstage == 'emailtransport' %} class="active"{% endif %}>
            {% trans %}Email{% endtrans %}
        </li>
        <li{% if currentstage == 'createadmin' %} class="active"{% endif %}>
            {% trans %}Create admin{% endtrans %}
        </li>
        <li{% if currentstage == 'ajaxinstaller' %} class="active"{% endif %}>
            {% trans %}Install{% endtrans %}
        </li>
    </ol>
    <p class="installguide">
        {% set doc_link = '<a href="%url%" class="external">%text%</a>'|replace({'%url%': 'https://docs.ziku.la/Setup/installation.html', '%text%': 'installation guide'|trans }) %}
        <em>{% trans with { '%doc_link%': doc_link|raw } %}Please refer to the %doc_link% during the process.{% endtrans %}</em>
    </p>
</div>
