{% extends '@ZikulaCoreInstaller/structure.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/zikulacoreinstaller/css/installer.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('bundles/core/css/core.css') }}" type="text/css" />
    {% block childstylesheets '' %}
{% endblock %}
{% block javascripts %}
    {% block childjavascripts '' %}
{% endblock %}

{% block body %}
<div class="container">
    <div id="content">
        {{ include(headertemplate) }}
        <div id="maincontent" class="text-left">
            {{ showflashes() }}

            {% block content '' %}
        </div>
    </div>
    <div id="footer" class="footer">
        <ul>
            <li><strong>{% trans %}Useful resources{% endtrans %}:</strong></li>
            <li><a href="https://docs.ziku.la/Setup/installation.html">{% trans %}Installation guide{% endtrans %}</a></li>
            <li><a href="https://docs.ziku.la">{% trans %}Zikula documentation{% endtrans %}</a></li>
            <li><a href="https://zikula.slack.com/">{% trans %}Support @ Slack{% endtrans %}</a></li>
            {# custom links for each action go here #}
            {% if currentstage == 'requirements' %}
            <li class="highlight"><a href="https://en.wikipedia.org/wiki/File_system_permissions>{% trans %}File system permissions{% endtrans %}</a></li>
            {% endif %}
        </ul>
    </div>
</div>
<script>
    jQuery(document).ready(function( $ ) {
        $('a.external, #footer a').attr('target', '_blank');
    });
</script>
{% endblock %}
