#menuitemlist .dropOnClass {
    background: #BBBBBB !important;
}

#menuitemlist .dropAfterClass {
    border-bottom: 2px solid #646464 !important;
    margin-bottom: -1px !important;
    background: transparent !important;
}

#menuitemlist .dropBeforeClass {
    border-top: 2px solid #646464 !important;
    margin-top: -1px !important;
    background: transparent !important;
}

#menuitemlist li {
    position: static !important;
}

#menuitemlist li.onDragClass {
    position: relative !important;
}

#menuitemlist ol {
    margin: 0;
}
