div.z-formrow ul.blocks-modulefilter-splitlist {
    list-style-type: none;
    margin: 0 !important;
    padding: 0 0 0 30% !important;
}

div.z-formrow ul.blocks-modulefilter-splitlist li {
    background: none !important;
    width: 30%;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 15px;
    float: left;
}

/* styles for extmenu block */
.imagebutton, .imagebutton-nofloat {
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

.imagebutton {
    float: left;
}

button {
    cursor: pointer;
}

button .deletebutton {
    /* don't remove this */
}

#empty_li_repository {
    display: none;
}

ul.errorlist {
    padding: 0;
    margin: 0;
}

ul.errorlist li {
    padding: 0;
    margin: 0;
    list-style-image: url(../../../images/icons/extrasmall/error.png);
}

.activationbutton {
    display: none;
}
