body {text-align:center;}
.zk-container {text-align:left;}
* html legend {margin:0px -8px 16px 0;padding:0;}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
html>body p code {*white-space:normal;}
hr {margin:-8px auto 11px;}
.clearfix, .zk-container {display:inline-block;}
* html .clearfix, * html .zk-container {height:1%;}
fieldset {padding-top:0;}
input[type=checkbox]{border:none;}
input[type=radio]{border:none;}
legend{margin-top:0px;}
