/* Zikula Admin UI Theme */

/******** General Settings ********/
body {
    font:80% Verdana,Tahoma,Arial,sans-serif;
    color:#404040;
    line-height:1.2em;
    margin:0 auto;
    padding:0;
  }
a {
    text-decoration:none;
    color:#4088b8;
    font-weight:bold;
  }

a:hover {
    text-decoration:underline;
  }

a img {
    border:0;
  }
img {border:0px;}

p {
    margin:0 0 18px 10px;
  }
ul,ol,dl {
    font-size:0.9em;
    margin:2px 0 16px 35px;
  }
ul ul,ol ol {
    margin:4px 0 4px 35px;
  }
h1 {
    color:#4088b8;
  }
h1 a {
    text-transform:none;
    color:#4088b8;
  }
h2 {
    font-size:1.4em;
    color:#4088b8;
    border-bottom:4px solid #dadada;
    padding:0 2px 2px 5px;
    margin:0 0 10px 0;
  }
h3 {
    font-size:1.2em;
    font-weight:bold;
    color:#4088b8;
    border-bottom:1px solid #dadada;
    margin:10px 0 8px 0;
    padding:1px 2px 2px 3px;
  }
blockquote {
    font-size:0.9em;
    border:1px solid #dadada;
    margin:20px 10px;
    padding:8px;
  }

/******** Container ********/
#zk-container {
    color:#404040;
    min-width: 780px;
	max-width: 1260px;
	margin: 10px auto;
  }

/******** Header ********/
#quicknav {
    text-align:right;
    padding:5px 2px 2px 3px;
  }


#header {    
    margin-bottom : 15px;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
  }


#header h1 {
    font-size:3.2em;
    letter-spacing:-2px;
    margin:0 0 10px 25px;
    color:#4088b8;
  }

#site {
    font-size:3.2em;
    letter-spacing:-2px;
    margin:0 0 10px 15px;
    color:#4088b8;
  }

#site a {
    color:#4088b8;
    text-decoration:none;
  }


#site a:hover {
    color:#4490C3;
    text-decoration:none;
  }


#slogan {
    font-size:1.5em;
    color:#808080;
    font-weight:bold;
    font-variant:small-caps;
    font-style:normal;
    letter-spacing:-1px;
    margin:15px 0px 20px 35px;
    line-height:1.2em;
  }

/******** zk-content-container variations ********/
#zk-content-container {
    line-height:1.5em;
    width:750px;
    float:right;
    text-align:left;
    margin:0;
    padding:0;
  }

#zk-content-container h3 {
    margin:10px 0 8px;
  }

/******** Footer ********/
#footer {
    clear:both;
    text-align:right;
    color:#808080;
    font-size:0.9em;
    border-top:2px solid #dadada;
    margin:0 auto;
    padding:4px 0;
    line-height:1.4em;
  }


#footer p {
    margin:0;
    padding:0;
  }


#footer a {
    color:#808080;
  }
.left {
    float:left;
    margin:0 15px 4px 0;
  }

.right {
    float:right;
    margin:0 0 4px 15px;
  }

.textright {
    text-align:right;
  }
.center {
    text-align:center;
  }
.clear {
    clear:both;
  }
/* Navigation */
#zk-navi {
    height: 2.2em;
    line-height: 2.2em;
    margin: 0 1px;
    background: #6792AB;
	border: 1px solid #dedede;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px;
}

#zk-navi li {
    float: left;
    list-style-type: none;
    border-right: 1px solid #ffffff;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

#zk-navi li a {
    display: block;
    padding: 0 8px;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    background-color: inherit;
    color: #ffffff;
}
* html #zk-navi a {
    width: 1%;
}
 /* this hack targets IE<7 */
#zk-navi .selected, #zk-navi a:hover {
    background: #80b0da;
    color: #ffffff;
    text-decoration: none;
}
/* Dashboard */
.dashboard{
margin:6px;
}
.dash-div{
	border: 1px #ddd solid;
    margin: 0 0 0.3em 0;
    padding: 0.1em 0.1em;
    overflow: hidden;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #fafafa;
    -o-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background: -moz-linear-gradient(top,#fafafa,#f2f2f2);
    background: -webkit-gradient(linear,left top, left bottom,from(#fafafa),to(#f2f2f2));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#f2f2f2');

}
.dash-zk-content-container-div {
padding:4px;
}
.dash-title-div h2{
}
/* Various */
.blue {color:#00366;}
.box {background: url(../img/box.jpg) repeat-x 0 0 #fdfdfd;border: 1px solid #dedede;-moz-border-radius: 15px 15px 15px 15px;-webkit-border-radius: 15px 15px 15px 15px;border-radius: 15px 15px 15px 15px;margin: 2px 6px;padding: 8px 12px 8px;position: relative;overflow: hidden;width:280px;height:80px;float:right;}
.box-1 {background: url(../img/box.jpg) repeat-x 0 0 #fdfdfd;border: 1px solid #dedede;-moz-border-radius: 15px 15px 15px 15px;-webkit-border-radius: 15px 15px 15px 15px;border-radius: 15px 15px 15px 15px;margin: -8px 8px 16px;padding: 8px 12px 8px;position: relative;width:200px;height:90px;float:right;text-align:center;}

/* User Nav start */
#z-user-drop-nav{
	position:relative;	
	text-align:center;
	list-style:none;
	margin:6px auto;
	padding:2px;
	list-style:none;
	font-size:1em;
}
#z-user-drop-nav li{
 	position:relative;
 	display:inline;
	margin:0;
	padding:0;
}
#z-user-drop-nav ul.zkdropper{
	width:108px;
	font-size:1em;
	background:#eee;
	color:#003366;
	border: 1px #ddd solid;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-khtml-border-radius-bottomleft:5px;
	-khtml-border-radius-bottomright:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	margin:0;
	padding:0;
	position:absolute;
	left:0px;
	top:28px;
	opacity:.97;
	filter:alpha(opacity=97);	
}
/*ie*/
html>body #z-user-drop-nav ul.zkdropper{
	position:absolute;	
	top:18px;
}
#z-user-drop-nav ul.zkdropper a:hover{
	position:relative;
	color:#000;
	background:none;
	font-size:1em;
}
#z-user-drop-nav ul.zkdropper a{
	position:relative;
	z-index:999;
	font-weight:bold;
	margin:0;
	padding:5px 0 5px 10px;
	background:none;
	color:#4088b8;
	display:block;
	-webkit-border-top-left-radius:0;
	-webkit-border-top-right-radius:0;
	-khtml-border-radius-topleft:0;
	-khtml-border-radius-topright:0;
	-moz-border-radius-topleft:0;
	-moz-border-radius-topright:0;
}
#z-user-drop-nav li a:hover{
	color:#003366;
}
#z-user-drop-nav li a{
	font-weight:bold;
	text-decoration:none;
	color:#4088b8;
	padding:10px 10px 0 10px;
	
}
.zk-drop-1{
    border: 1px #ddd solid;
    margin: 4px 0 4px 0;
    padding: 0.1em 0.1em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #eee;
	
 }
/* User Nav End */
.draggable {margin:2px;z-index: 1000;}