* { padding:0; margin:0; outline:0; }
body {
	background:#f9ebae;
	font-family: Verdana, sans-serif;
	font-size:12px;
	line-height:14px;
	color:#1C150A;
}
input, textarea, select { font-family: Verdana, sans-serif; font-size:13px; }
textarea { overflow:hidden; }

a img { border:0; }

a { color:#ba4c32; text-decoration: underline; cursor:pointer; }
a:hover { color:#8d341f; text-decoration: none;}

.left, .alignleft { float:left; display:inline; }
.right, .alignright { float:right; display:inline; }
.link a {color:#fff;}
.spacer { font-size:0; line-height:0; clear:both; display:block; height:0; }

h1{ font-size:22px; line-height:24px; color:#fff; font-weight: normal;}
h1 a{ color:#fff; text-decoration: none; }
h2 { font-size:15px; font-weight: normal; }
h3 { font-size:12px; line-height:14px; font-weight: normal;padding-bottom:2px;padding-top:4px;font-weight:bold;}
h3 a{ text-decoration: none; }

.header { height:89px; background:url(../images/main/header.gif); white-space:nowrap; }
.header h1{ float:left; display:inline; padding-top:12px; }
.top-right-navi { float:right; white-space:nowrap; color:#fff; padding-top:15px; }
.top-right-navi a{ color:#fff; }
.top-right-navi a:hover{ font-weight:bold; }
.top-right-navi span{ color:#dca598; }
#top { height:53px; }

.navigation { height:36px;}
.navigation ul{ list-style-type: none;}
.navigation ul li{ float:left; display:inline; margin-right:2px;}
.navigation ul li a,
.navigation ul li a span { float:left; height:36px; background:url(../images/main/z-tab-sprite.gif) no-repeat 0 0; padding:0 0 0 15px;}
.navigation ul li a span { background-position:right 0; padding:0 15px 0 0;}
.navigation ul li a { line-height:36px; color:#907525; text-decoration: none; }
.navigation ul li a.active,
.navigation ul li a:hover { background-position:0 bottom;}
.navigation ul li a.active span,
.navigation ul li a:hover span{ background-position:right bottom;}
.navigation ul li a.active { font-size:12px; font-weight: bold; color:#887e42; }

.z-tabs  { height:36px; border:none;background:none !important;}
.z-tabs li > a {border:none;}
.z-tabs li > a:hover {
    background:url(../images/main/z-tab-sprite.gif) no-repeat 0 -36px !important;
    border: none; 
    text-decoration: none;
}
.z-tabs {border:none;}
.z-tabs li.active {border:none;background-position:right bottom;font-size:12px; font-weight: bold; color:#887e42; }
.z-tabs li.active a:hover {border:none;font-weight:bold:}
.z-tabs  li {border:none;}
.z-tabs  ul{ list-style-type: none;}
.z-tabs  ul li{ float:left; display:inline; margin-right:2px;border:none;}
.z-tabs  ul li a,
.z-tabs  ul li a span { float:left; height:36px; padding:0 0 0 15px;}
.z-tabs  ul li a span { background-position:right 0; padding:0 15px 0 0;}
.z-tabs  ul li a { line-height:36px; color:#907525; text-decoration: none; }
.z-tabs  ul li a.active,
.z-tabs  ul li a:hover { background-position:0 bottom;}
.z-tabs  ul li a.active span,
.z-tabs  ul li a:hover span{ background-position:right bottom;}
.z-tabs  ul li a.active { font-size:12px; font-weight: bold; color:#887e42; }


#container { padding:10px 0;}
.wrapper { width:97%; margin:0 auto; }
#content { float:left; width:100%; }
#sidebar { float:right; width:11%; }

#dash{padding-left:4px;padding-right:4px;margin-top:-2px;border:1px solid #ddd;}
#dash ul{padding-left:10px;}

.dashboard {}
.dashboard th{  background:#fffdfa url(../images/main/table.gif) repeat-x 0 0; color:#242321; text-align: left; padding:7px 10px; border-bottom:solid 1px #d2d1cb;}
.dashboard td{ background:#fbfcfc;  border-bottom:solid 1px #e0e0e0; padding:8px 10px; }
.dashboard tr.odd td{ background:#f8f8f8; }
.dashboard tr:hover td{ background:#c4705d;color:#fff; }
.dashboard tr:hover td a:hover{ background:#c4705d;color:#ddd; }

.dashboard-content { background:#fbfcfc; height:100%; padding:1px; margin-bottom:20px; }
.dashboard-content-head { background:#c96047; height:32px; color:#fff; padding: 0 10px; line-height:32px; white-space:nowrap; border-bottom:solid 1px #fff; }
.dashboard-content-head .right{ padding-top:5px; line-height:13px;}
.dashboard-content-head .right label,
.dashboard-content-head .right input { float:left; }
.dashboard-content-head .right label { padding:4px 0 0 0;}
.dashboard-content-head .right input { margin-left:5px;}

fieldset{ -moz-box-shadow: .2em .2em .2em #A0A0A0;-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
legend{text-shadow: 0 -1px 1px rgba(0,0,0,0.25);font-weight:bold;}
button{-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

.dashboard-content { padding:10px; }
.footer { height:44px; background:url(../images/main/footer.gif); line-height:44px; color:#fff;}
.footer a{ color:#fff; }
.dashboard-footer { text-align: right; padding:10px; background:#eee; border-top:solid 1px #e0e0e0; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-dashboard-content-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}
.dashboard-footer a {text-decoration:none;}

.dashboard-content { -moz-border-radius:5px; -webkit-border-radius:5px; -moz-dashboard-content-shadow: 0 0 6px #978f6c; -webkit-dashboard-content-shadow: 0 0 6px #978f6c;}
.dashboard-content p { padding-top:10px; }
.dashboard-content-head { -moz-border-radius-topleft:5px; -moz-border-radius-topright:5px; -webkit-border-top-left-radius:5px; -webkit-border-top-right-radius:5px; }

.z-accountlink{padding:8px;}
.ui-corner-all {
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
}

/* small z-tab override */
ul#admintabs li {	border-radius: .4em .4em 0 0 ;-webkit-border-radius: .4em .4em 0 0 ;-moz-border-radius: .4em .4em 0 0 ;}
ul#admintabs li > a:hover {border-radius: .4em 0 0 0 ;-webkit-border-radius: .4em 0 0 0 ;-moz-border-radius: .4em 0 0 0 ;}
ul#admintabs li#addcat #addcatlink {border-radius: .4em .4em 0 0 ;-webkit-border-radius: .4em .4em 0 0 ;-moz-border-radius: .4em .4em 0 0 ;}
ul#admintabs li#addcat a#addcatlink:hover {border-radius: .4em .4em 0 0 ;-webkit-border-radius: .4em .4em 0 0 ;-moz-border-radius: .4em .4em 0 0 ;}
ul#admintabs li > .z-admindrop:hover {border-radius: 0 .4em 0 0 ;-webkit-border-radius: 0 .4em 0 0 ;-moz-border-radius: 0 .4em 0 0 ;}


.z-admindashboard {
    margin-top:4px;
    -moz-dashboard-content-shadow: .4em .4em .4em #A0A0A0;
	border-radius: .8em .8em .8em .8em ;
	-webkit-border-radius: .8em .8em .8em .8em ;
	-moz-border-radius: .8em .8em .8em .8em ;
}
.z-datatable {
    -moz-box-shadow: .6em .6em .6em #A0A0A0;
	border-radius: .8em .8em .8em .8em ;
	-webkit-border-radius: .8em .8em .8em .8em ;
	-moz-border-radius: .8em .8em .8em .8em ;
}
.z-menulinks{font-weight:bold; 
    border-radius: .8em .8em .8em .8em ;
	-webkit-border-radius: .8em .8em .8em .8em ;
	-moz-border-radius: .8em .8em .8em .8em ;}
.z-informationmsg{
    border-radius: .6em .6em .6em .6em ;
	-webkit-border-radius: .6em .6em .6em .6em ;
	-moz-border-radius: .6em .6em .6em .6em ;
    -moz-box-shadow: .6em .6em .6em #A0A0A0;
    }
.z-button a{color:#000;}
/* ------------------------------ Styleswitcher Overrides -------------------- */
/* ---  red main color --- */
body.red { color:#1b1b1b;}
/* ---  blue --- */
body.blue {background:#DBEAF5;}
/* ---  green --- */
body.green { color:#FFFFFF; background:#87AC06;}
body.green .dashboard-content-head { background:#AFDF08; height:32px; color:#fff; padding: 0 10px; line-height:32px; white-space:nowrap; border-bottom:solid 1px #fff; }
body.green .header { height:89px; background:url(../images/green/header.gif); white-space:nowrap; }
body.green .footer { height:44px; background:url(../images/green/footer.gif); line-height:44px; color:#fff;}
body.green .footer a{ color:#fff; }
body.green .z-tabs li > a:hover {
    background:url(../images/green/z-tab-sprite.gif) no-repeat 0 -36px !important;
    border: none; 
    text-decoration: none;
}
body.green .navigation { height:36px;}
body.green .navigation ul{ list-style-type: none;}
body.green .navigation ul li{ float:left; display:inline; margin-right:2px;}
body.green .navigation ul li a,
body.green .navigation ul li a span { color:#fff; float:left; height:36px; background:url(../images/green/z-tab-sprite.gif) no-repeat 0 0; padding:0 0 0 15px;}
body.green .navigation ul li a span { background-position:right 0; padding:0 15px 0 0;}
body.green .navigation ul li a { line-height:36px; color:#907525; text-decoration: none; }
body.green .navigation ul li a.active,
body.green .navigation ul li a:hover { background-position:0 bottom;}
body.green .navigation ul li a.active span,
body.green .navigation ul li a:hover span{ background-position:right bottom;}
body.green .navigation ul li a.active { font-size:12px; font-weight: bold; color:#887e42; }
body.green .dashboard th{  background:#fffdfa url(../images/green/table.gif) repeat-x 0 0; color:#242321; text-align: left; padding:7px 10px; border-bottom:solid 1px #d2d1cb;}
body.green .dashboard td{ background:#fbfcfc;  border-bottom:solid 1px #e0e0e0; padding:8px 10px; }
body.green .dashboard tr.odd td{ background:#f8f8f8; }
body.green .dashboard tr:hover td{ background:#87ac06;color:#fff; }
body.green .dashboard tr:hover td a:hover{ background:#87ac06;color:#ddd; }
body.green  .top-right-navi span{ color:#87AC06; }
body.green h2{color:#000;}
/* ---  gray --- */
body.gray { color:#FFFFFF; background:#ddd; }
body.gray .dashboard-content-head { background:#53595f; height:32px; color:#fff; padding: 0 10px; line-height:32px; white-space:nowrap; border-bottom:solid 1px #fff; }
body.gray .dashboard-content-head h2{ color:#fff;font-weight:bold; }
body.gray .header { height:89px; background:url(../images/gray/header.gif); white-space:nowrap; }
body.gray .footer { height:44px; background:url(../images/gray/footer.gif); line-height:44px; color:#fff;}
body.gray .footer a{ color:#fff; }
body.gray .z-tabs li > a:hover {
    background:url(../images/gray/z-tab-sprite.gif) no-repeat 0 -36px !important;
    border: none; 
    text-decoration: none;
}
body.gray .navigation { height:36px;}
body.gray .dashboard a {color:#3f4040;}
body.gray .dashboard a:hover{color:#53595f;}
body.gray .navigation ul{ list-style-type: none;}
body.gray .navigation ul li{ float:left; display:inline; margin-right:2px;}
body.gray .navigation ul li a,
body.gray .navigation ul li a span { color:#fff; float:left; height:36px; background:url(../images/gray/z-tab-sprite.gif) no-repeat 0 0; padding:0 0 0 15px;}
body.gray .navigation ul li a span { background-position:right 0; padding:0 15px 0 0;}
body.gray .navigation ul li a { line-height:36px; color:#907525; text-decoration: none; }
body.gray .navigation ul li a.active,
body.gray .navigation ul li a:hover { background-position:0 bottom;}
body.gray .navigation ul li a.active span,
body.gray .navigation ul li a:hover span{ background-position:right bottom;}
body.gray .navigation ul li a.active { font-size:12px; font-weight: bold; color:#887e42; }
body.gray .dashboard td{ background:#fbfcfc;  border-bottom:solid 1px #e0e0e0; padding:8px 10px; }
body.gray .dashboard tr.odd td{ background:#f8f8f8; }
body.gray .dashboard tr:hover td{ background:#53595f;color:#fff; }/* 
body.gray .dashboard tr:hover td a:hover{ background:#eee;color:#ddd; } */
body.gray  .top-right-navi span{ color:#53595f; }
body.gray h2{color:#000;}
/* ------------------------------ Styleswitcher CSS Styling -------------------- */
#zikulaswitcher { position: absolute; right:0; top:0; margin-top:1em; margin-right:3em; }
#zikulaswitcher h2 { display: block; float: left; margin-top: 7px; color: #666666; font-family: verdana,sans-serif; font-weight: normal; font-size:14px; line-height:14px; text-transform:uppercase; }
ul#style-options { float:left; display:inline; margin:0 0 0 10px; padding:0; list-style-type:none; }
#zikulaswitcher li { margin:0 5px; padding:2px; float:left; list-style-type:none; width: 25px; height: 25px; cursor:pointer; text-indent:-9999px; border:2px solid #CCCCCC; }
#zikulaswitcher li#green { background:#87AC06; }
#zikulaswitcher li#red { background:#E3212F; }
#zikulaswitcher li#gray { background:#a5a9ac; }
body.green #zikulaswitcher li#green, body.gray #zikulaswitcher li#gray, body.red #zikulaswitcher li#red, #zikulaswitcher li:hover { border:2px solid #FFCC00; }


