<div class="navcontainer">
    {% for menu in accountMenus|default %}
        {{ knp_menu_render(menu, {template: '@ZikulaMenuModule/Override/bootstrap_fontawesome.html.twig'}) }}
    {% endfor %}
</div>
