<p>
    {% set amountOfUsers = '%count% registered user(s)'|trans({'%count%': usercount}) %}
    {% set amountOfGuests = '%count% anonymous guest(s)'|trans({'%count%': guestcount}) %}
    {% trans with {'%users%': amountOfUsers, '%guests%': amountOfGuests, '%time%': since|date('g:i:s a')} %}%users% and %guests% online since %time%.{% endtrans %}
</p>
{% if currentUser.loggedIn %}
    <p>{% trans with {'%sub%': '<strong>' ~ currentUser.uname ~ '</strong>'|raw} %}You are logged-in as %sub%.{% endtrans %}</p>
{% else %}
    {% set url = path('zikulausersmodule_registration_register') %}
    <p>{% trans %}You are an anonymous guest.{% endtrans %}
    {% if registerallowed == 1 %}
        {% set url = '<a href="' ~ url ~ '">' ~ 'register here'|trans ~ '</a>' %}
        {% trans with {'%registerLink%': url} %}You can %registerLink%{% endtrans %}
    {% endif %}
    </p>
{% endif %}
