<p>
    {% set nummeb = 'count.registered.user'|trans({count: usercount}, 'zikula') %}
    {% set nummeb = 'count.anonymous.gues'|trans({count: guestcount}, 'zikula') %}
    {% trans with {'%users%': nummeb, '%guests%': numanon, '%time%': since|date('g:i:s a')} from 'zikula' %}%users% and %guests% online since %time%.{% endtrans %}
</p>
{% if currentUser.loggedIn %}
    <p>{% trans with {'%sub%': '<strong>' ~ currentUser.uname ~ '</strong>'|raw} from 'zikula' %}You are logged-in as %sub%.{% endtrans %}</p>
{% else %}
    {% set url = path('zikulausersmodule_registration_register') %}
    <p>{% trans %}You are an anonymous guest.', 'zikula{% endtrans %}
    {% if registerallowed == 1 %}
        {% set url = '<a href="' ~ url ~ '">' ~ 'register here'|trans ~ '</a>' %}
        {% trans with {'%registerlink%': url} from 'zikula' %}You can %registerlink%{% endtrans %}
    {% endif %}
    </p>
{% endif %}
