{% extends '@ZikulaLegal/User/Policy/Display/template.html.twig' %}

{% block page_title 'Policy not available'|trans %}
{% block policy_content %}
    <p>{% trans %}The selected policy is not available.{% endtrans %}</p>
{% endblock %}
