div#menuTreeContainer {
    margin: 5px;
    padding: 5px;
    border: 1px solid #DCDCDC;
    background-color: #FAFAFA;
}

ul#adm-menutree a.unactive {
    color: #BBBBBB;
}

ul#adm-menutree li.dynamic a {
    background: #FCF2C8;
    border: 1px solid #D98A33;
}

ul#adm-menutree a {
    cursor: pointer;
}

a.activelang {
    text-decoration: underline;
    padding-left: 20px;
    background-image: url(../../../../images/icons/extrasmall/ok.gif);
    background-position: left center;
    background-repeat: no-repeat;
}
