.menutree_horizontal,
.menutree_horizontal ul {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    font-weight: bold;
    line-height: 2em;
    list-style: none outside none;
    margin: 1em 0;
    padding: 0;
}
.menutree_horizontal li {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
}
.menutree_horizontal li a {
    border-right: 1px solid #CCCCCC;
    display: block;
    padding: 2px 10px;
    text-decoration: none;
}
.menutree_horizontal li.parent > a {
    background: url("../../../../images/global/arrow_down_grey.gif") no-repeat scroll 95% 50% transparent;
    padding-right: 18px;
}
.menutree_horizontal li.parent > a:hover {
    background: url("../../../../images/global/arrow_down_black.gif") no-repeat scroll 95% 50% transparent;
}
.menutree_horizontal li ul {
    font-weight: normal;
    height: auto;
    left: -9999px;
    margin: 0;
    position: absolute;
    width: 15em;
}
.menutree_horizontal li li {
    width: 15em;
}
.menutree_horizontal li li a {
    border: none;
}
.menutree_horizontal li li.parent > a {
    background: url("../../../../images/global/arrow_right_grey.gif") no-repeat scroll 95% 50% transparent;
    padding-right: 18px;
}
.menutree_horizontal li li.parent > a:hover {
    background: url("../../../../images/global/arrow_right_black.gif") no-repeat scroll 95% 50% transparent;
}
.menutree_horizontal li ul ul {
    margin: -1.75em 0 0 15.1em;
}
.menutree_horizontal li:hover ul ul,
.menutree_horizontal li:hover ul ul ul {
    left: -9999px;
}
.menutree_horizontal li:hover ul {
    left: -1px;
    position: absolute;
}
.menutree_horizontal li li:hover ul,
.menutree_horizontal li li li:hover ul {
    left: -1px;
    top: 1.75em;
}
.menutree_horizontal li:hover {
    background: none repeat scroll 0 0 #EEEEEE;
}
