/* small z-tab override */
ul#admintabs li {	border-radius: .4em .4em 0 0 ;-webkit-border-radius: .4em .4em 0 0 ;-moz-border-radius: .4em .4em 0 0 ;}
ul#admintabs li > a:hover {border-radius: .4em 0 0 0 ;-webkit-border-radius: .4em 0 0 0 ;-moz-border-radius: .4em 0 0 0 ;}
ul#admintabs li#addcat #addcatlink {border-radius: .4em .4em 0 0 ;-webkit-border-radius: .4em .4em 0 0 ;-moz-border-radius: .4em .4em 0 0 ;}
ul#admintabs li#addcat a#addcatlink:hover {border-radius: .4em .4em 0 0 ;-webkit-border-radius: .4em .4em 0 0 ;-moz-border-radius: .4em .4em 0 0 ;}
ul#admintabs li > .z-admindrop:hover {border-radius: 0 .4em 0 0 ;-webkit-border-radius: 0 .4em 0 0 ;-moz-border-radius: 0 .4em 0 0 ;}

.z-tab{border-radius: .6em .6em 0 0 ;-webkit-border-radius: .6em .6em 0 0 ;-moz-border-radius: .6em .6em 0 0 ;}
.z-tabs li > a:hover {border-radius: .6em .6em 0 0 ;-webkit-border-radius: .6em .6em 0 0 ;	-moz-border-radius: .6em .6em 0 0 ;background:#FFFFFF !important;color:#000;}
.z-tabs li.active {border-radius: .6em .6em 0 0 ;-webkit-border-radius: .6em .6em 0 0 ;-moz-border-radius: .6em .6em 0 0 ;background:none repeat scroll 0 0 #fff;z-index:2000;}
.z-tabs li.active a:hover {border-radius: .6em .6em 0 0 ;-webkit-border-radius: .6em .6em 0 0 ;-moz-border-radius: .6em .6em 0 0 ;border-right:1px solid transparent;}

.ui-helper-hidden, .hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* RSS Styling */
.rss-title{font-weight:bold;font-size:16px;}
span.rss-item{font-weight:normal;font-style: italic;}
.rss-item {}
ul.rss-items {
    background: url("../../../../images/menubg_grey.gif") repeat-x scroll 0 0 #E6E6E6;
    border:1px solid #ccc;
    color:#aaa;
    height:auto !important;
    line-height:23px !important;
    margin-bottom:1em;
    margin-left:0 !important;
    margin-right:0 !important;
    min-height:23px !important;
    padding:0 5px !important;
}
ul.rss-items li {
    display:inline;
    padding:0 10px;
    margin:0;
	font-weight:bold;
}
ul.rss-items li:first-child {
    margin-left:10px;
}

/* UI Icon */
.z-icon-es-exit {
    background:url("../../../../images/icons/extrasmall/exit.gif") no-repeat scroll 0 50% transparent;
    padding:2px 0 2px 20px;
}

h1 {border-bottom: 1px dotted grey;margin-bottom: 8px;padding-bottom:4px;font-size: 18px;color:#302D2F;}
h2 {font-size:16px;color:#302D2F;}
h3 {font-size:14px;padding:4px;color:#302D2F;}

/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction states */
.ui-state-default, .ui-widget-content .ui-state-default a {
	font-weight:bold;
	outline:none;
}

.ui-widget {
	margin:0 0 1em;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus a:hover {
	font-weight:bold;
	outline:none;
}

.ui-box-header {
	padding:7px 4px 6px;
}

.ui-box-header .ui-icon {
	margin-top:-3px;
}

.ui-state-active, .ui-widget-content .ui-state-active {
	font-weight:bold;
	outline:none;
}

/* Component containers */

.ui-widget-header {
	font-weight: bold;
	font-size:0.9em;
	margin:0.4em;
	padding:7px;
	position:relative;
}

	/* Top Buttons */

#top-buttons {
	float:right;
	padding:9px 15px 0 0;
}

/* Icons
----------------------------------*/

/* states and images */
.ui-icon { width: 16px; height: 16px; display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }

	/* Buttons & Icons */

ul#icons {
	margin:0;
	padding:0;
}

ul#icons li, a.icon-only {
	margin:2px;
	position:relative;
	padding:4px 0;
	cursor:pointer;
	float:left;
	list-style:none;
}

a.icon-only {
	padding:5px!important;
	width:16px;
}

#sidebar #open_sidebar {
	position:absolute;
	top:10px;
	display:none;
	right:10px;
	
}

#sidebar-left #sidebar #open_sidebar {
	position:absolute;
	top:10px;
	display:none;
	right:auto;
	left:23px;
}

.wrapper-full {
	padding-right:10px!important;
}

.fixed {
	margin:0 auto!important;
}

.layout100 .fixed {
	width:auto;
}

.layout90 .fixed {
	width:90%;
}

.layout75 .fixed {
	width:75%;
}

.layout980 .fixed {
	width:980px;
}

.layout1280 .fixed {
	width:1280px;
}

.layout1400 .fixed {
	width:1400px;
}

.layout1600 .fixed {
	width:1600px;
}

#page-header .fixed {
	margin:0 auto!important;
}

#page-header .fixed #top {
	margin:0 20px;
}

#page-header .fixed {
	margin-right:20px;
}

.fixed .page-content-wrapper {
	margin:0!important;
}

a.icon-only span.ui-icon {
	position:relative!important;
	margin:0!important;
	top:0!important;
	left:0!important;
}

ul#icons span.ui-icon {
	float:left;
	margin:0 4px;
}

/* positioning */
.ui-icon-carat-1-n, .headerSortUp .ui-icon-carat-2-n-s { background-position:0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e, #navigation ul .ui-icon-carat-1-s { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }

.ui-icon-carat-1-s, .headerSortDown .ui-icon-carat-2-n-s { background-position:-64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
#sidebar-left #open_sidebar .ui-icon-circle-arrow-w, .ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
#sidebar-left #close_sidebar .ui-icon-circle-arrow-e, .ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */

.ui-corner-tl {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
}

.ui-corner-tr {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
}

.ui-corner-bl {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
}

.ui-corner-br {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
}

.ui-corner-top {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
}

.ui-corner-bottom {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
}

.ui-corner-right {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
}

.ui-corner-left {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
}

.ui-corner-all, .fixed #sidebar, .content-box {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

	/* No rounded corners */
.no-rounded .ui-corner-all, .no-rounded .no-rounded .pagination li, .no-rounded .fixed #sidebar, .no-rounded #page-content-wrapper, .no-rounded #sidebar, .no-rounded ul {
	-moz-border-radius:0!important;
	-webkit-border-radius:0!important;
}


/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* Columns */

.three-column {
	clear:both;
	float:left;
	overflow:hidden;
	position:relative;
	width:100%;
}

.three-column .three-col-mid {
	right:75%;
}

.three-column .three-col-mid2 {
	right:76%;
}

.three-col-right, .three-col-mid, .three-col-left {
	float:left;
	position:relative;
	width:100%;
}

.three-column .three-col-left {
	right:50%;
}

.three-column .col1 {
	left:98%;
	width:54%;
}

.three-column .col2 {
	left:21%;
	width:22%;
}

.three-column .col3 {
	left:77%;
	width:22%;
}

	/* Three Column same widths */

.same-width-col .col1 {
	left:109%;
	width:32%;
}

.same-width-col .col2 {
	left:43%;
	width:33%;
	
}

.same-width-col .col3 {
	left:77%;
	width:33%;
}

	/* Three Columns, two big and one small */

.two-big-col .col1 {
	left:97%;
	width:39%;
}

.two-big-col .col2 {
	left:37%;
	width:20%;
}

.two-big-col .col3 {
	left:78%;
	width:39%;
}

.col1, .col2, .col3 {
	float:left;
	padding:0 0 1em;
	position:relative;
	min-height:120px;
}

.column-right {
	float:right!important;
}


.two-column .column, .two-column .column-content-box  {
	width:49%;
	float:left;
}

.two-column .column-fixed {
	width:50%;
	float:left;
}

.content-box-col .three-col-mid {
	right:74%!important;
}

.content-box-col .col3 {
	left:77%;
	width:32%;
}

.content-box-col .col2 {
	left:43%;
	width:32%;
}

.content-box-col .col1 {
	left:108%;
	width:32%;
}

/* Portlets */

.portlet {
	margin:0 0 1em;
}

.column .portlet {
	margin:0 0 1em;
}

.portlet-content {
	margin:0;
	padding:7px;
}

.portlet-header .ui-icon { 
	position:absolute;
	top:50%;
	margin-top:-8px;
	right:5px;
	cursor:pointer;
}

.ui-sortable-placeholder {
	background:#ffffcc;
	padding:0;
	visibility:visible!important;
}

.ui-sortable-placeholder * {
	visibility: hidden;
}

#page-header, #page-header #page-header-wrapper, #page-header #page-header-wrapper {
	position:relative;
	z-index:9999;
}

	/* PAGE CONTENT */

#page_wrapper {
	width:100%;
	height:100%;
}

#page_wrapper #page-content {
	float:left;
	width:100%;
	position:relative;
	z-index:55;
}

#page_wrapper #page-content #page-content-wrapper {
	padding:0px 202px 10px 10px;
	margin:0 20px;}

#page_wrapper #page-content .no-bg-image {
	background-image:none!important;
}

/* Theme Switcher Overlay */

#theme_switcher {
	position:absolute;
	left:0;
	top:0;
	display:none;
	width:100%;
	height:100%;
	background:#333 url('../../img/loading.gif') 50% 50% no-repeat;
	z-index:99999;
	-ms-filter: "Alpha(Opacity=75)"; /* IE 8 */
    filter:alpha(opacity=75); /* IE5-7 */
    -moz-opacity: 0.75; /* Mozilla */
    opacity: 0.75; /* Webkit */

}
* html #theme_switcher { /* ie6 hack */
   position: absolute;
   height: expression(document.body.scrollHeight > document.body.
    offsetHeight ? document.body.scrollHeight : document.body.
    offsetHeight + 'px');
}

.content-box {
 	margin:0 0 20px;
 	padding:8px;
 	background:#fff;
 	border:#ddd solid 1px;
 }

.content-box .content-box-wrapper {
	padding:4px;
}

.content-box .inner-page-title {
	margin-top:0;
}

	/* SIDEBAR */
	
#page_wrapper #sidebar {
	position:absolute;
	top:0;
	right:0;
	width:200px;
	z-index:9999;
	-moz-border-radius-topright:10px;
	-webkit-border-radius-topright:10px;
	-moz-border-radius-bottomright:10px;
	-webkit-border-radius-bottomright:10px;
}

#sidebar-left #page_wrapper #sidebar {
	right:auto;
	left:0;
}

#sidebar-left #page_wrapper #page-content #page-content-wrapper {
	padding:10px 10px 10px 202px;
}

#sidebar-left #page_wrapper #page-content .wrapper-full {
	padding:10px 10px 10px 50px!important;
}

#page_wrapper #sidebar .sidebar-content {
	padding:15px 9px 15px 21px;
}

#page_wrapper #sidebar .side-menu li {
	border-bottom:#ccc dotted 1px;
}

#page_wrapper #sidebar .side-menu li a {
	padding:5px;
	display:block;
}

#page_wrapper #sidebar .side-menu li a:hover, #page_wrapper #sidebar .side-menu li a.active {
	background:#f0f0f0;
	color:#000;
}

#page_wrapper #sidebar .side-menu li a.active {
	font-weight:bold;
}
/*Settings Window */
.settings-menu li {
	border-bottom:#ccc dotted 1px;
}
.settings-menu li a {
	padding:5px;
	display:block;
}
.settings-menu li a:hover, .settings-menu li a.active {
	background:#f0f0f0;
	color:#000;
}
.settings-menu li a.active {
	font-weight:bold;
}
/* End Settings Window */
/* SIDEBAR > Box */

#page_wrapper #sidebar .box {
	background:#fbfcfd;
	border:#ececec solid 1px;
	margin:0 0 8px 0;
}

#page_wrapper #sidebar .box h3 {
	background:#f0f0f0;
	color:#484848;
	padding:8px;
	font-weight:bold;
	border-bottom:#c7c7c7 solid 1px;
}

#page_wrapper #sidebar .box .content {
	padding:8px
}

	/* SIDEBAR > Box with Links */

#page_wrapper #sidebar .with-links {
	
}

#page_wrapper #sidebar .with-links a {
	display:block;
	padding:8px 8px 8px 20px;
	border-bottom:#dcdcdd dotted 1px;
}

#page_wrapper #sidebar .with-links a:hover {
	background-color:#fff;
	color:#414344;
}

	/* Header */

#page_wrapper #page-header #page-header-wrapper {
	margin:0 20px;
	min-height:74px;
}

#page_wrapper #page-header #page-header-wrapper #top {
	height:48px;
}

#page_wrapper #page-header #page-header-wrapper #top a.logo {
	display:block;
	height:48px;
	width:197px;
	text-indent:-9999em;
	float:left;
}

#top .welcome {
	float:right;
	padding:10px 0 0;
}

#top .welcome a.btn {
	font-weight:normal;
	padding:3px 5px 4px 18px;
}

#top .welcome a.btn {
	margin-right:0;
	margin-left:8px;
}

#top .welcome a.btn span.ui-icon {
	top:1px;
}
#top .z-button{font-size:12px;}

/* Buttons */

a.btn span.ui-icon {
	left:0.2em;
	margin:0 5px 0 0;
	position:absolute;
	top:2px;
	*top:4px;
}

a.btn {
	display:block;
	float:left;
	margin:5px;
	padding:0.4em 1em 0.4em 20px;
	position:relative;
}

a.btn_no_text {
	padding:10px;
}

.ui-button {
	cursor:pointer;
	margin:0;
	padding:0.5em 1em 0.5em;
	position:relative;
	text-align:center;
	text-decoration:none;
}

	/* Dashboard Titles */

.inner-page-title {
	border-bottom:#cdcdcd solid 1px;
	margin:0 0 15px;
	text-shadow:#fff 1px 1px 0;
}

i.note {
	color:#8F8F8F;
	display:block;
	font-weight:bold;
	padding:5px 0 15px 25px;
}

.inner-page-title h2, .inner-page-title h3 {
	font-weight:bold;
	font-family:"Segoe UI",Frutiger,Tahoma,Helvetica,"Helvetica Neue",Arial,sans-serif;
	color:#000;
	font-size:2em;
	letter-spacing:-1px;
}

.inner-page-title h3 {
	font-size:1.8em;
	padding:0 0 10px;
}

.inner-page-title span {
	font-style:italic;
	color:#777;
	font-size:1.3em;
	padding:5px 0 15px;
	display:block;
	border-bottom:#fff solid 1px;
}
