<div class="form-group row">
    <div class="col-md-9 offset-md-3">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#password-generator-modal">
            <i class="fas fa-magic"></i> {% trans %}Generate a password for me{% endtrans %}
        </button>
        <div class="modal fade" id="password-generator-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-magic"></i> {% trans %}Generate password{% endtrans %}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>{% trans %}Here is your generated password{% endtrans %}</p>
                        <div class="input-group">
                            <input type="text" id="generated-password" class="form-control" readonly="readonly" />
                            <div class="input-group-append">
                                <button type="button" class="btn btn-primary" id="copy-button"><i class="fas fa-copy"></i> {% trans %}copy & close{% endtrans %}</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" id="regenerate-button"><i class="fas fa-magic"></i> {% trans %}Generate another{% endtrans %}</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> {% trans %}Close{% endtrans %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ pageAddAsset('javascript', zasset('@ZikulaZAuthModule:js/Zikula.ZAuth.PasswordGenerator.js')) }}
