/**
 * jQuery Mobile customisations
 */
.ui-panel-inner {
    padding: 0;
}

#leftPanel .z-bkey-extmenu > h4, #rightPanel .z-bkey-extmenu > h4 {
    display: none;
}

.ui-body-c, .ui-overlay-c {
    color: #333;
    text-shadow: none;
}

.ui-btn {
    text-shadow: none;
}

/**
 * Other stuff
 */
.sub {
    color: #777;
    font-size: 75%;
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    margin-top: 0px;
}

h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

/******************************************************************************
* Special styles for the Zikula Form Handler
******************************************************************************/

.z-form .form-group .z-mandatorysym, /* mandatorysym will be removed in future version */
.z-form-mandatory-flag {
    color: #f00;
    font-weight: bold;
    padding-left: 3px;
    display: inline;
}

.z-form div.form-group input[type=text].z-form-mandatory,
.z-form div.form-group select.z-form-mandatory,
.z-form div.form-group textarea.z-form-mandatory {
    width: 66%;
}

.z-form .form-group input.z-form-float,
.z-form .form-group input.z-form-int {
    text-align: right;
    max-width: 15%;
    display: inline;
}

.z-form .form-group .z-form-readonly {
    background: #FAFAFA;
    color: #AAAAAA;
    cursor: not-allowed;
}

.z-form .form-group .z-form-error {
    background: #ffe1da;
    border: 1px solid #f34f4f;
}

.z-form-validationSummary label {
    cursor: pointer;
}