.z-bkey-extmenu p.extmenuadmin {
    margin: 0.5em 0 0.5em 0;
    font-size: 0.8em;
}

.z-bkey-extmenu ul.navlist li > ul {
    margin-left: 0;
}

/*
.z-bkey-extmenu ul.navlist li > ul li a {
    margin-left: 0.5em;
}
*/