div#menuTreeContainer {
    margin: 5px;
    padding: 5px;
    border: 1px solid #DCDCDC;
    background-color: #FAFAFA;
}

div#menuTreeContainer ul.tree a.z-tree-unactive {
    color: #BBBBBB;
}

div#menuTreeContainer ul.tree li.z-tree-dynamic a {
    background: #FCF2C8;
    border: 1px solid #D98A33;
}

div#menuTreeContainer ul.tree a {
    cursor: pointer;
    display: inline-block;
    min-width: 100px;
}

a.activelang {
    text-decoration: underline;
    padding-left: 20px;
    background-image: url(../../../../images/icons/extrasmall/button_ok.png);
    background-position: left center;
    background-repeat: no-repeat;
}
