imports:
    - { resource: parameters.yml }
    - { resource: security.yml }

framework:
    #esi:             ~
    #translator:      { fallback: %locale% }
    secret:          %secret%
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: %kernel.debug%
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    templating:
        engines: ['twig']
        #assets_version: SomeVersionScheme
    default_locale:  "%locale%"
    trusted_proxies: ~
    session:
        name: _zsid
        handler_id: session.handler.legacy
        storage_id: session.storage.legacy
    fragments:       ~

# Twig Configuration
twig:
    debug:            %kernel.debug%
    strict_variables: %kernel.debug%

## Assetic Configuration
assetic:
    debug:          %kernel.debug%
    use_controller: false
    bundles:        [ ]
    #java: /usr/bin/java
    filters:
        # Enable LESS support for the Bootstrap theme
        lessphp:
            file: "%kernel.root_dir%/../vendor/leafo/lessphp/lessc.inc.php"
            apply_to: "\.less$"
        # Make sure the path to the /img/ directory is rewritten correctly
        cssrewrite:
            apply_to: "\.(css|less)$"
        #closure:
        #    jar: %kernel.root_dir%/Resources/java/compiler.jar
        #yui_css:
        #    jar: %kernel.root_dir%/Resources/java/yuicompressor-2.4.7.jar

# Doctrine Configuration
doctrine:
    dbal:
        default_connection: default
        connections:
            default:
                driver:   %database_driver%
                host:     %database_host%
                port:     %database_port%
                dbname:   %database_name%
                user:     %database_user%
                password: %database_password%
                charset:  UTF8
                path:     %database_path%

    orm:
        auto_generate_proxy_classes: %kernel.debug%
        proxy_namespace: DoctrineProxy
        proxy_dir: %kernel.cache_dir%/doctrine/orm/DoctrineProxy
        default_entity_manager: default
        auto_generate_proxy_classes: true
        entity_managers:
            # the standard distribution overrides this to be true in debug, false otherwise
            default:
                auto_mapping: true
                metadata_cache_driver: array
                query_cache_driver: array
                result_cache_driver: array
                mappings:
                    zikula_core:
                        type: annotation
                        prefix: Zikula\Core\Doctrine\Entity
                        dir: "%kernel.root_dir%/../lib/Zikula/Core/Doctrine/Entity"
                        alias: ZikulaCore # this one is optional and will default to the name set for the mapping
                        is_bundle: false
                    gedmo_translatable:
                        type: annotation
                        prefix: Gedmo\Translatable\Entity
                        dir: "%kernel.root_dir%/../vendor/gedmo/doctrine-extensions/lib/Gedmo/Translatable/Entity"
                        alias: GedmoTranslatable # this one is optional and will default to the name set for the mapping
                        is_bundle: false
                    gedmo_translator:
                        type: annotation
                        prefix: Gedmo\Translator\Entity
                        dir: "%kernel.root_dir%/../vendor/gedmo/doctrine-extensions/lib/Gedmo/Translator/Entity"
                        alias: GedmoTranslator # this one is optional and will default to the name set for the mapping
                        is_bundle: false
                    gedmo_loggable:
                        type: annotation
                        prefix: Gedmo\Loggable\Entity
                        dir: "%kernel.root_dir%/../vendor/gedmo/doctrine-extensions/lib/Gedmo/Loggable/Entity"
                        alias: GedmoLoggable # this one is optional and will default to the name set for the mapping
                        is_bundle: false
                    gedmo_tree:
                        type: annotation
                        prefix: Gedmo\Tree\Entity
                        dir: "%kernel.root_dir%/../vendor/gedmo/doctrine-extensions/lib/Gedmo/Tree/Entity"
                        alias: GedmoTree # this one is optional and will default to the name set for the mapping
                        is_bundle: false

services:
    standardfields.listener:
        class: Zikula\Core\Doctrine\StandardFields\StandardFieldsListener
        tags:
            - { name: doctrine.event_subscriber, connection: default }

stof_doctrine_extensions:
    default_locale: en_US
    orm:
        default:
            # if removed these values default to false
            translatable: false
            timestampable: true
            blameable: true
            sluggable: true
            tree: true
            loggable: true
            sortable: false
            softdeleteable: false
            uploadable: false
            reference_integrity: false

# Swiftmailer Configuration
swiftmailer:
    transport: %mailer_transport%
    host:      %mailer_host%
    username:  %mailer_user%
    password:  %mailer_password%
    spool:     { type: memory }

parameters:
    # Append the 'web/' folder to any asset path, because the application kernel of Zikula is not located in
    # the 'web' folder.
    templating.asset.path_package.class: Zikula\Bundle\CoreBundle\Templating\Asset\PathPackage
    # override stof BlameListener to set Zikula User
    stof_doctrine_extensions.event_listener.blame.class: Zikula\Bundle\CoreBundle\EventListener\BlameListener