imports:
    - { resource: parameters.yml }
    - { resource: security.yml }

framework:
    #esi:             ~
    translator:      { fallback: %locale% }
    secret:          %secret%
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: %kernel.debug%
    form:            ~
    csrf_protection: ~
    validation:      { enabled: true, enable_annotations: true, api: auto }
    templating:
        engines: ['twig']
        assets_base_urls: %assets_base_url%
        #packages:
        #    assetic: (or any other name)
        #        base_urls: /web
        #assets_version: SomeVersionScheme
    default_locale:  "%locale%"
    trusted_proxies: ~
    session:
        name: %zikula.session.name%
        handler_id: session.handler.legacy
        storage_id: session.storage.legacy
    fragments:       ~

# Twig Configuration
twig:
    debug:            %kernel.debug%
    strict_variables: %kernel.debug%

## Assetic Configuration
assetic:
    debug:          %kernel.debug%
    use_controller: false
#    bundles:        [ ] #commenting this out automatically loads all presently loaded bundles
    #java: /usr/bin/java
    filters:
        cssrewrite: ~
        #closure:
        #    jar: %kernel.root_dir%/Resources/java/compiler.jar
        #yui_css:
        #    jar: %kernel.root_dir%/Resources/java/yuicompressor-2.4.7.jar

# Doctrine Configuration
doctrine:
    dbal:
        default_connection: default
        connections:
            default:
                driver:   %database_driver%
                host:     %database_host%
                port:     %database_port%
                dbname:   %database_name%
                user:     %database_user%
                password: %database_password%
                charset:  UTF8
                path:     %database_path%
                server_version: %database_server_version%

    orm:
        proxy_namespace: DoctrineProxy
        proxy_dir: %kernel.cache_dir%/doctrine/orm/DoctrineProxy
        default_entity_manager: default
        auto_generate_proxy_classes: true
        entity_managers:
            # the standard distribution overrides this to be true in debug, false otherwise
            default:
                auto_mapping: true
                metadata_cache_driver: array
                query_cache_driver: array
                result_cache_driver: array
                mappings:
                    zikula_core:
                        type: annotation
                        prefix: Zikula\Core\Doctrine\Entity
                        dir: "%kernel.root_dir%/../lib/Zikula/Core/Doctrine/Entity"
                        alias: ZikulaCore # this one is optional and will default to the name set for the mapping
                        is_bundle: false
                    # hookstorage required in upgrade.php
                    zikula_hookstorage:
                        type: annotation
                        prefix: Zikula\Component\HookDispatcher\Storage\Doctrine\Entity
                        dir: "%kernel.root_dir%/../lib/Zikula/Component/HookDispatcher/Storage/Doctrine/Entity"
                        alias: ZikulaHookStorage # this one is optional and will default to the name set for the mapping
                        is_bundle: false
                    gedmo_translatable:
                        type: annotation
                        prefix: Gedmo\Translatable\Entity
                        dir: "%kernel.root_dir%/../vendor/gedmo/doctrine-extensions/lib/Gedmo/Translatable/Entity"
                        alias: GedmoTranslatable # this one is optional and will default to the name set for the mapping
                        is_bundle: false
                    gedmo_translator:
                        type: annotation
                        prefix: Gedmo\Translator\Entity
                        dir: "%kernel.root_dir%/../vendor/gedmo/doctrine-extensions/lib/Gedmo/Translator/Entity"
                        alias: GedmoTranslator # this one is optional and will default to the name set for the mapping
                        is_bundle: false
                    gedmo_loggable:
                        type: annotation
                        prefix: Gedmo\Loggable\Entity
                        dir: "%kernel.root_dir%/../vendor/gedmo/doctrine-extensions/lib/Gedmo/Loggable/Entity"
                        alias: GedmoLoggable # this one is optional and will default to the name set for the mapping
                        is_bundle: false
                    gedmo_tree:
                        type: annotation
                        prefix: Gedmo\Tree\Entity
                        dir: "%kernel.root_dir%/../vendor/gedmo/doctrine-extensions/lib/Gedmo/Tree/Entity"
                        alias: GedmoTree # this one is optional and will default to the name set for the mapping
                        is_bundle: false

services:
    standardfields.listener:
        class: Zikula\Core\Doctrine\StandardFields\StandardFieldsListener
        tags:
            - { name: doctrine.event_subscriber, connection: default }

stof_doctrine_extensions:
    default_locale: en_US
    orm:
        default:
            # if removed these values default to false
            translatable: true
            timestampable: true
            blameable: true
            sluggable: true
            tree: true
            loggable: true
            sortable: true
            softdeleteable: true
            uploadable: true
            reference_integrity: true
    class:
        translatable:         Gedmo\Translatable\TranslatableListener
        timestampable:        Gedmo\Timestampable\TimestampableListener
        blameable:            Gedmo\Blameable\BlameableListener
        sluggable:            Gedmo\Sluggable\SluggableListener
        tree:                 Gedmo\Tree\TreeListener
        loggable:             Gedmo\Loggable\LoggableListener
        sortable:             Gedmo\Sortable\SortableListener
        softdeleteable:       Gedmo\SoftDeleteable\SoftDeleteableListener
        uploadable:           Gedmo\Uploadable\UploadableListener
        reference_integrity:  Gedmo\ReferenceIntegrity\ReferenceIntegrityListener

parameters:
    # Append the 'web/' folder to any asset path, because the application kernel of Zikula is not located in
    # the 'web' folder.
    #templating.asset.path_package.class: Zikula\Bundle\CoreBundle\Templating\Asset\PathPackage
    twig.extension.assets.class: Zikula\Bundle\CoreBundle\Twig\Extension\AssetsExtension
    # override Stof\DoctrineExtensionsBundle\EventListener\BlameListener to set Zikula User
    stof_doctrine_extensions.event_listener.blame.class: Zikula\Bundle\CoreBundle\EventListener\BlameListener
    # zikula core stylesheet and javascript component locations
    zikula.stylesheet.bootstrap.min.path: web/bootstrap/css/bootstrap.min.css
    zikula.javascript.bootstrap.min.path: web/bootstrap/js/bootstrap.min.js
    zikula.stylesheet.fontawesome.min.path: web/font-awesome/css/font-awesome.min.css
