# security options if they work in your environment.  If you get a 500 error then they wont.
# These settings are best turned off in php.ini and will be on modern hosting environemnts.
#php_flag register_globals off
#php_flag magic_quotes_gpc off

