# ----------------------------------------------------------------------
# This file is required for short urls to function.
# ----------------------------------------------------------------------

<IfModule mod_rewrite.c>
    # Turn the rewriting engine on
    RewriteEngine On

    # By default, Apache 2.3.9 and later sets "AllowOverride" to "None".
    # In Apache 2.3.8 and earlier, it is set to "All".
    # For rewriting to work, you might need to allow overrides, such as setting to "All".
    #AllowOverride All

    # Enable RewriteBase if Zikula is installed to a sub-directory
    # RewriteBase /your/path/to/Zikula

    # Block access to vendor directory
    RewriteRule ^vendor/(.*)$ - [F,L]

    # rewrite any unknown directories and files

    # Check if the requested path is an existing directory
    RewriteCond %{REQUEST_FILENAME} -d [OR]
    # or a file
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    # or a symbolic link
    RewriteCond %{REQUEST_FILENAME} -l
    # If yes, match any URL and
    # NC: Makes the pattern comparison case-insensitive.
    # L: Stop the rewriting process immediately and don't apply any more rules.
    # --> Basically just display the file and stop the rewriting process.
    RewriteRule ^(.*)$ - [NC,L]

    # Match any URL and rewrite it to "index.php"
    # QSA: Appends any query string from the original request URL to any query string created in the rewrite target.
    # L: Stop the rewriting process immediately and don't apply any more rules.
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
