{adminheader}
<h3>{$title|safetext}</h3>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>{gt text='Variable'}</th>
            <th>{gt text='Variable value'}</th>
        </tr>
    </thead>
    <tbody>
        {section name='arrayvariables' loop=$arrayvariables}
        <tr>
            <td>{$arrayvariables[arrayvariables].key|safetext}</td>
            <td>{$arrayvariables[arrayvariables].value|safetext}</td>
        </tr>
        {/section}
    </tbody>
</table>
{adminfooter}
