/*
Admin interface stylesheet

This stylesheet implements a set of styles used throughout the admin interface
of Zikula allowing the site administrator to configure via standard css
techniques the presentation of the admin interface.

Themers can create a theme specific version of this stylesheet by creating a
copy of the file in themes/<themename>/style/Admin/admin.css. This version of
stylesheet is kept as generic as possible to avoid many potential theme clashes.
Re-styling this stylesheet requires a working knowledge of both CSS1 and CSS2.

Legacy themes support the admin stylesheet by virtue of the header of these
themes being templated in the Header_Footer module.

*/

/******************************************************************************/
/* Container for admin icons in main admin panel
/******************************************************************************/

/* style for Immediate template under the tab menu */
div.z-adminbox {
    background: #fff;
    color: #333;
    width: auto;
    border-top: 0px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 0px solid #ccc;
    padding: 10px 1% 5px 1%;
}

#z-maincontent div.z-adminbox .z-menulinks,
#z-maincontent div.z-adminbox .z-menu {
    margin-bottom: 0;
}

/* style for Immediate template under the admin menu */
div.z-admincontainer {
    background: #fff;
    color: #333;
    width: auto;
    margin-bottom: 1.25em;
    border-top: 0px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 0px 1% 5px 1%;
}

/* admin category description */
div.z-admincategorydescription {
    text-align: center;
    margin-bottom: 10px;
}

/* Style for module title and module's admin icon */
#z-maincontent div.z-adminbox h1 {
    background: none;
    color: #333333;
    line-height: 36px;
    margin: 0;
    padding: 0;
    text-align: left;
}

#z-maincontent div.z-adminbox img {
    float: left;
    margin-right: 1em;
}

#z-maincontent div.z-adminbox h1:after { /* clearfix */
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#z-maincontent div.z-admincontainer h2 {
    background: none;
    color: #333;
    text-align: left;
    border-bottom: 1px solid #cccccc;
    margin-top: 0px;
    padding-top: 0.5em;
}

/* styling for a page icon */
#z-maincontent div.z-adminpageicon {
    padding: 0;
}

#z-maincontent div.z-adminpageicon img {
    float: right;
    padding-top: 5px;
}

#z-maincontent div.z-adminpageicon+h2 {
    margin-bottom: 20px;
    padding-top: 20px;
}

/* disabled admin function links */
div.z-admincontainer a.z-disabledadminlink,
div.z-adminbox a.z-disabledadminlink {
    text-decoration: line-through;
}

/* styling for noscript category propertly selector label */
div.property_selector_noscript {
    display: inline;
}


/******************************************************************************/
/* Styling for module icon list in the admin panel
/******************************************************************************/

#z-adminiconlist {
    margin: 5px;
}

#z-adminiconlist .z-adminfloat {
    float: left;
}

#z-adminiconlist .z-adminiconcontainer {
    float: left;
    padding: 0.75em 0;
}

#z-adminiconlist .z-adminmodtitle {
    font-weight: bold;
    overflow: hidden;
}

#z-adminiconlist .z-adminiconrow .z-adminiconcontainer .z-adminicon {
    /* only for admin_admin_adminpanel_inc1.tpl */
    margin-right: 5px;
}

#z-adminiconlist .z-adminiconcontainer .z-adminicon img {
    background: inherit;
    border-color: #D9E0E6 #C8CDD2 #C8CDD2 #D9E0E6;
    border-style: solid;
    border-width: 1px;
    padding: 4px;
}

#z-adminiconlist .z-adminiconcontainer .z-adminicon img:hover {
    border: 1px solid #aaa;
}

#z-adminiconlist .z-adminlinkheader {
    white-space: nowrap;
}

#z-adminiconlist .z-adminlinkheader img {
    vertical-align: middle;
}

#z-adminiconlist .z-dragicon {
    cursor: move;
}

.z-pointericon {
    background: url("../../../images/global/arrow_down_grey.png") no-repeat scroll 50% 50% transparent;
    border: 1px solid transparent;
    cursor: pointer;
    height: 1em;
    margin-left: 0;
    padding: 0 5px;
    width: 1em;
}

.z-pointericon:hover {
    background: url("../../../images/global/arrow_down_black.png") no-repeat scroll 50% 50% transparent;
    border: 1px solid #999;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

/*****************************************************************************/
/* Styling for status security analyzer, update checker and more
/*****************************************************************************/

#z-maincontent div#z-securityanalyzer {
    background: url("../../../images/icons/large/bell.png") #FFF6BF 15px 50% no-repeat; /*non-CSS3 browsers*/
    background: url("../../../images/icons/large/bell.png") 15px 50% no-repeat, -moz-linear-gradient(top,  #FEFEF3, #FFF6BF) repeat scroll 0 0 transparent; /*gecko*/
    background: url("../../../images/icons/large/bell.png") 15px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#FEFEF3), to(#FFF6BF)) repeat scroll 0 0 transparent; /*webkit*/
    background: url("../../../images/icons/large/bell.png") 15px 50% no-repeat, linear-gradient(#FEFEF3, #FFF6BF); /*CSS3*/
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 1em 20px 1em 90px;
    border: 2px solid #ffd324;
    min-height: 2.5em;
    margin: 1em auto 2em auto;
    width: 75%;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #444;
}

/* styling for status update checker */
#z-maincontent div#z-updatechecker {
    background: url("../../../images/icons/large/agt_update-product.png") #C4E6BD 15px 50% no-repeat; /*non-CSS3 browsers*/
    background: url("../../../images/icons/large/agt_update-product.png") 15px 50% no-repeat, -moz-linear-gradient(top,  #F1FEF4, #C4E6BD) repeat scroll 0 0 transparent; /*gecko*/
    background: url("../../../images/icons/large/agt_update-product.png") 15px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#F1FEF4), to(#C4E6BD)) repeat scroll 0 0 transparent; /*webkit*/
    background: url("../../../images/icons/large/agt_update-product.png") 15px 50% no-repeat, linear-gradient(#F1FEF4, #C4E6BD); /*CSS3*/
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 1em 20px 1em 90px;
    border: 2px solid #3E9533;
    min-height: 1em;
    margin: 1em auto 2em auto;
    width: 75%;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #444;
}

/* styles for the warning message shown if any of the install directory, install.php or zrc.php are found */
#z-maincontent div#z-adminwarning {
    background: url("../../../images/icons/large/error.png") #FFCBCA 15px 50% no-repeat; /*non-CSS3 browsers*/
    background: url("../../../images/icons/large/error.png") 15px 50% no-repeat, -moz-linear-gradient(top,  #F7DCDC, #FFCBCA) repeat scroll 0 0 transparent; /*gecko*/
    background: url("../../../images/icons/large/error.png") 15px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#F7DCDC), to(#FFCBCA)) repeat scroll 0 0 transparent; /*webkit*/
    background: url("../../../images/icons/large/error.png") 15px 50% no-repeat, linear-gradient(#F7DCDC, #FFCBCA); /*CSS3*/
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 1em 20px 1em 90px;
    border: 2px solid #990000;
    min-height: 1em;
    margin: 1em auto 2em auto;
    width: 75%;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #444;
}

#z-maincontent div#z-developernotices {
    background: url("../../../images/icons/large/run.png") #C5E8F1 15px 50% no-repeat; /*non-CSS3 browsers*/
    background: url("../../../images/icons/large/run.png") 15px 50% no-repeat, -moz-linear-gradient(top,  #EAF5FA, #C5E8F1) repeat scroll 0 0 transparent; /*gecko*/
    background: url("../../../images/icons/large/run.png") 15px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#EAF5FA), to(#C5E8F1)) repeat scroll 0 0 transparent; /*webkit*/
    background: url("../../../images/icons/large/run.png") 15px 50% no-repeat, linear-gradient(#EAF5FA, #C5E8F1); /*CSS3*/
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 1em 20px 1em 90px;
    border: 2px solid #95C9EF;
    min-height: 1em;
    margin: 1em auto 2em auto;
    width: 75%;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #444;
}

div#z-developernotices a,
div#z-developernotices h3,
div#z-adminwarning a,
div#z-adminwarning h3,
div#z-updatechecker a,
div#z-updatechecker h3,
div#z-securityanalyzer a,
div#z-securityanalyzer h3 {
    color: #444;
    padding: 0;
    margin: 0;
}

div#z-developernotices a:hover,
div#z-adminwarning a:hover,
div#z-updatechecker a:hover,
div#z-securityanalyzer a:hover {
    color: #000;
    text-decoration: underline;
}

div#z-developernotices ul,
div#z-adminwarning ul,
div#z-updatechecker ul,
div#z-securityanalyzer ul {
    list-style-position: outside;
    list-style-type: disc;
    margin: 0.5em 1em 0;
}

/* Used to style the cancel delete button when asking for a confirmation */
div.canceldelete-container {
    margin: 0 auto;
    color: inherit;
    background-color: #ffffea;
    width: 30%;
    text-align: center;
    border: 1px solid #cccccc;
    padding: 10px 0px 10px 0px;
}

div.canceldelete-container h2 {
    color: gray;
    background-color: inherit;
    display: inline;
}

div.canceldelete-container img {
    float: left;
}

/* styles for the buttons on a view table */
div.z-adminviewbuttons {
    text-align: right;
    margin-bottom: 1.25em;
}

div.z-adminviewbuttons img {
    margin: 5px;
    float: right;
}
