/*
Admin interface stylesheet

This stylesheet implements a set of styles used throughout the admin interface of
Zikula allowing the site administrator to configure via standard css techniques the
presentation of the admin interface.

Themers can create a theme specific version of this stylesheet by creating a copy of
the file in themes/<themename>/style/Admin/admin.css. This version of stylesheet is
kept as generic as possible to avoid many potential theme clashes. Re-styling this
stylesheet requires a working knowledge of both CSS1 and CSS2.

Legacy themes support the admin stylesheet by virtue of the header of these themes
being templated in the Header_Footer module.

*/

/*******************************************************************************/
/* Container for admin icons in main admin panel
/*******************************************************************************/

/* style for Immediate template under the tab menu */
div.z-adminbox {
    width: auto;
    color: inherit;
    border-top: 0px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 0px solid #ccc;
    padding: 5px 1% 5px 1%;
}
div.z-adminbox .z-menulinks,
div.z-adminbox .z-menu {
    margin-bottom:0;
}
/* style for Immediate template under the admin menu */
div.z-admincontainer {
    width: auto;
    color: inherit;
    margin-bottom: 1.25em;
    border-top: 0px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 0px 1% 5px 1%;

}

/* admin category description */
div.z-admincategorydescription {
    text-align: center;
    margin-bottom: 10px;
}

/* style for Immediate template under the admin menu */
div.z-adminbox h1 {
    text-align: left;
}
div.z-admincontainer h2 {
    text-align: left;
    border-bottom: 1px solid #cccccc;
    margin-top: 0px;
    padding-top:0.5em;
}

/* styling for a page icon */
div.z-adminpageicon {
    padding: 0;
}
div.z-adminpageicon img {
    float: right;
    padding-top: 5px;
}
div.z-adminpageicon + h2 {
    margin-bottom:20px !important;
    padding-top:20px !important;
}

/* disabled admin function links */
div.z-admincontainer a.z-disabledadminlink,
div.z-adminbox a.z-disabledadminlink {
    text-decoration:line-through;
}

/* styling for noscript category propertly selector label */
div.property_selector_noscript {
    display: inline;
}

/* style the button tag */
div.z-admincontainer button {
    border: 0px;
    padding: 0px;
    background-color: transparent;
}

/*******************************************************************************/
/* style for admin tables
/*******************************************************************************/

table.z-admintable {
    width: 100%;
    color: inherit;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-top: 0px;
    margin-bottom: 1em;
    padding: 5px 5px 10px 5px;
}

table.z-admintable tr.z-admintableempty {
    background-color: #f3f3f3;
    text-align: center;
    font-weight: bold;
}

table.z-admintable caption {
    background-color: #f3f3f3;
    font-weight: bold;
    border-bottom: 2px solid #CFCFCF;
    text-transform: uppercase;
    padding:10px;
}

table.z-admintable thead tr {
    background-color: #CFCFCF;
}

/* stying for the cell elements in admin tables */
table.z-admintable tbody td,
table.z-admintable thead th {
    padding: 5px;
    border-width: 0px;
}

/* style to highlight a default row in a table */
table.z-admintable tbody tr.z-defaulttablerow {
    background-color: #add8e6;
    color: inherit;
}

table.z-admintable ul {
    margin: 0;
}

/*******************************************************************************/
/* Styling for module icon list in the admin panel
/*******************************************************************************/

#z-adminiconlist {
    margin:5px;
}
#z-adminiconlist .z-adminfloat {
    float:left;
}
#z-adminiconlist .z-adminiconcontainer {
    float:left;
    padding:0.75em 0;
}
#z-adminiconlist .z-adminmodtitle {
    font-weight:bold;
    overflow:hidden;
}
#z-adminiconlist .z-adminiconrow .z-adminiconcontainer .z-adminicon { /* only for admin_admin_adminpanel_inc1.html */
    margin-right:5px;
}
#z-adminiconlist .z-adminiconcontainer .z-adminicon img {
    background:#fff;
    border-color:#D9E0E6 #C8CDD2 #C8CDD2 #D9E0E6;
    border-style:solid;
    border-width:1px;
    padding:4px;
}
#z-adminiconlist .z-adminiconcontainer .z-adminicon img:hover {
    border:1px solid #aaa;
}
#z-adminiconlist .z-adminiconcontainer ul.infoModuleFunctions {
    background-color:#FFFFFF;
    border:1px solid #AAAAAA;
    display:block;
    left:64px;
    list-style:none outside none;
    margin:0;
    padding:6px;
    position:absolute;
    top:2.5em;
    z-index:2200; /* must be higher than the return value after dragging */
}
#z-adminiconlist .z-adminiconcontainer ul.infoModuleFunctions li {
    font-size:0.9em;
    font-weight:normal;
    line-height:1.1em;
    margin:0;
    padding:2px;
}

#z-adminiconlist .z-adminlinkheader img {
    vertical-align: middle;
}

#z-adminiconlist .z-dragicon {
    cursor: move;
}

#z-adminiconlist .z-pointericon {
    border: 1px solid transparent;
}
#z-adminiconlist .z-pointericon:hover {
    border: 1px solid #999;
    -webkit-box-shadow: #999 1px 1px 2px;
    -moz-box-shadow: #999 1px 1px 2px;
    box-shadow: #999 1px 1px 2px;
}

/*******************************************************************************/
/* Styling for status security analyzer, update checker and more
/*******************************************************************************/

div#z-securityanalyzer {
    background: #fff6bf url(../../../images/icons/large/bell.gif) center no-repeat;
    background-position: 15px 50%; /* x-pos y-pos */
    text-align: left;
    padding: 1em 20px 1em 90px !important;
    border: 2px solid #ffd324;
    min-height: 2.5em;
    margin: 1em auto 2em auto;
    width:75%;
    -webkit-box-shadow: #999 4px 4px 10px;
    -moz-box-shadow: #999 4px 4px 10px;
    box-shadow: #999 4px 4px 10px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    color: #444;
}

/* styling for status update checker */
div#z-updatechecker {
    background: #ffffea url(../../../images/icons/large/agt_update-product.gif) center no-repeat;
    background-position: 15px 50%; /* x-pos y-pos */
    text-align: left;
    padding: 1em 20px 1em 90px !important;
    border: 2px solid #32CD32;
    min-height: 1em;
    margin: 1em auto 2em auto;
    width:75%;
    -webkit-box-shadow: #999 4px 4px 10px;
    -moz-box-shadow: #999 4px 4px 10px;
    box-shadow: #999 4px 4px 10px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    color: #444;
}

/* styles for the warning message shown if any of the install directory, install.php or zrc.php are found */
div#z-adminwarning {
    background: #FFCBCA url(../../../images/icons/large/error.gif) center no-repeat;
    background-position: 15px 50%; /* x-pos y-pos */
    text-align: left;
    padding: 1em 20px 1em 90px !important;
    border: 2px solid red;
    min-height: 1em;
    margin: 1em auto 2em auto;
    width:75%;
    -webkit-box-shadow: #999 4px 4px 10px;
    -moz-box-shadow: #999 4px 4px 10px;
    box-shadow: #999 4px 4px 10px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    color: #444;
}

div#z-adminwarning a,
div#z-adminwarning h3,
div#z-updatechecker a,
div#z-updatechecker h3,
div#z-securityanalyzer a,
div#z-securityanalyzer h3 {
    color: #444;
}
div#z-adminwarning a:hover,
div#z-updatechecker a:hover,
div#z-securityanalyzer a:hover {
    color: #000;
    text-decoration: underline;
}
div#z-adminwarning ul,
div#z-updatechecker ul,
div#z-securityanalyzer ul {
    list-style-position: outside;
    list-style-type: disc;
    margin: 0.5em 1em 0;
}

/* Used to style the cancel delete button when asking for a confirmation */
div.canceldelete-container {
    margin: 0 auto;
    color: inherit;
    background-color: #ffffea;
    width: 30%;
    text-align: center;
    border: 1px solid #cccccc;
    padding: 10px 0px 10px 0px;
}

div.canceldelete-container h2 {
    color: gray;
    background-color: inherit;
    display: inline;
}
div.canceldelete-container img {
    float: left;
}

/* styles for the buttons on a view table */
div.z-adminviewbuttons  {
    text-align: right;
    margin-bottom: 1.25em;
}
div.z-adminviewbuttons img {
    margin: 5px;
    float: right;
}
