.admintabs-container {
    margin-top: 1em;
}

ul#admintabs,
ul.admintabs {
    background: url("../images/tab_bottom.gif") repeat-x scroll center bottom transparent;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
}

ul#admintabs li,ul.admintabs li {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul#admintabs li>a,
ul.admintabs li>a {
    background-color: #F3F3F3;
    border: 1px solid #CCCCCC;
    color: #666666;
    float: left;
    font-weight: bold;
    margin-right: 0.5em;
    padding: 5px 10px;
    position: relative;
    text-decoration: none;
    z-index: 1000;
}

ul#admintabs li>a.active,
ul.admintabs li>a.active {
    border-bottom: 1px solid #fff;
    background: #fff;
    color: #000;
    z-index: 2000;
}

ul#admintabs li>a:hover,
ul.admintabs li>a:hover {
    background: #fff;
    text-decoration: none;
}

ul#admintabs li>a.ajaxhover,
ul.admintabs li>a.ajaxhover {
    background: #FFFFB2;
}

ul#admintabs #ajaxNewCatForm,
ul.admintabs #ajaxNewCatForm {
    display: block;
    background-color: #F3F3F3;
    border: 1px solid #CCCCCC;
    color: #666666;
    float: left;
    font-weight: bold;
    padding: 5px 10px;
    position: relative;
    text-decoration: none;
    z-index: 1000;
}

ul#admintabs #ajaxNewCatForm input.ajaxNewCat,
ul.admintabs #ajaxNewCatForm input.ajaxNewCat {
    background-color: transparent;
    border: none;
    color: #666666;
    float: left;
    font-weight: bold;
    margin: 0;
    padding: 0;
    max-width: 8em;
}

ul#admintabs #ajaxNewCatForm a.ajaxCatImage,
ul.admintabs #ajaxNewCatForm a.ajaxCatImage {
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    background-color: transparent;
}

ul#admintabs #ajaxNewCatForm a.ajaxCatImage img,
ul.admintabs #ajaxNewCatForm a.ajaxCatImage img {
    background-color: transparent;
    border: medium none;
    margin-left: 3px;
    padding: 0;
    text-decoration: none;
}

#control_contextmenu {
    border: 1px solid #666;
    background-color: #eee;
    min-width: 100px;
}

#control_contextmenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

#control_contextmenu ul li {
    font-size: 0.9em;
    text-align: left;
    font-weight: bold;
    padding: 2px 10px 2px 10px;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
    color: #666;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
}

#control_contextmenu ul li.selected,
#control_contextmenu ul li:hover {
    color: #fff;
    background-color: #3875d7;
    cursor: pointer;
}

#control_contextmenu ul li.selected:hover {
    color: #333;
    background-color: #f3f3f3;
    cursor: pointer;
}

#control_contextmenu ul li.disabled,
#control_contextmenu ul li:hover.disabled {
    background-color: #eee;
    color: #999;
    cursor: pointer;
}

form.inplaceeditor-form {
    background-color: #F3F3F3;
    border: 1px solid #CCCCCC;
    color: #666666;
    display: block;
    float: left;
    margin-right: 0.5em;
    padding: 5px 10px;
    text-decoration: none;
}

form.inplaceeditor-form input[type="text"] {
    font-weight: bold;
    background-color: transparent;
    border: medium none;
    color: #666666;
    margin: 0 !important;
    padding: 0 !important;
    max-width: 8em;
    outline: medium none;
}