
img#theme_credits_preview {
    padding: 5px;
    margin: 10px;
    border: 1px solid #D9E0E6;
    background: #fff;
}

.marktooltip {
    border-bottom: 1px dashed #aaa;
    cursor: pointer;
    text-decoration: none;
}
