services:
    zikula_extensions_module.container.link_container:
        class: Zikula\ExtensionsModule\Container\LinkContainer
        arguments:
          - "@translator.default"
          - "@router"
          - "@zikula_permissions_module.api.permission"
        tags:
            - { name: zikula.link_container }

    zikula_extensions_module.listener.extension_services_listener:
        class: Zikula\ExtensionsModule\Listener\ExtensionServicesListener
        arguments:
          - "@event_dispatcher"
          - "@router"
          - "@translator.default"
        tags:
            - { name: kernel.event_subscriber }

    zikula_extensions_module.api.variable:
        class: Zikula\ExtensionsModule\Api\VariableApi
        arguments:
          - "%installed%"
          - "@zikula_extensions_module.extension_var_repository"
          - "@kernel"
          - "%multisites%"

    zikula_extensions_module.api.capability:
        class: Zikula\ExtensionsModule\Api\CapabilityApi
        arguments: ["@zikula_extensions_module.extension_repository"]
