<p>
    {% trans with {'%zikula-link%': '<a href="https://ziku.la">Zikula</a>'} %} %zikula-link% is an Open Source Content Application Framework built on top of Symfony.{% endtrans %}
</p>
<p>{% trans %}With Zikula you get{% endtrans %}:</p>
<ul>
    <li>
        <strong>{% trans %}Power{% endtrans %}:</strong> {% trans with {'%symfony-link%': '<a href="https://symfony.com">Symfony</a>'}%}You get the all the features of %symfony-link% PLUS{% endtrans %}:
    </li>
    <li>
        <strong>{% trans %}User Management{% endtrans %}:</strong> {% trans %}Built in User and Group management with Rights/Roles control{% endtrans %}
    </li>
    <li>
        <strong>{% trans %}Front end control{% endtrans %}:</strong> {% trans with {'%jquery-link%': '<a href="http://jquery.com">jQuery</a>', '%bootstrap-link%': '<a href="http://getbootstrap.com">Bootstrap</a>'}%}You can customise all aspects of the site's appearance through themes, with support for %jquery-link%, %bootstrap-link% and many other modern technologies{% endtrans %}
    </li>
    <li>
        <strong>{% trans %}Internationalization (i18n){% endtrans %}:</strong> {% trans %}You can mark content as being suitable for either a single language or for all languages, and can control all aspects of localisation of your site{% endtrans %}
    </li>
    <li>
        <strong>{% trans %}Extensibility{% endtrans %}:</strong> {% trans %}you get a standard application-programming interface (API) that lets you easily extend your site's functionality through modules{% endtrans %}
    </li>
    <li>
        <strong>{% trans %}More{% endtrans %}:</strong> {% trans %}Admin UI, global categories, and more!{% endtrans %}
    </li>
    <li>
        <strong>{% trans %}Support{% endtrans %}:</strong> {% trans with {'%zikula-link%': '<a href="https://ziku.la">Zikula</a>', '%github-link%': '<a href="https://github.com/zikula/core">Github</a>', '%slack-link%': '<a href="https://zikula.slack.com/">Slack</a>'} %}you can get help and support from the Zikula community of webmasters and developers at %zikula-link%, %github-link% and %slack-link%.{% endtrans %}
    </li>
</ul>
<p>
    {% trans %}Enjoy using Zikula!{% endtrans %}
</p>
<p>
    <strong>{% trans %}The Zikula team{% endtrans %}</strong>
</p>
<p>
    <em>{% trans %}Note: Zikula is Free Open Source Software (FOSS) licensed under the GNU Lesser General Public License.{% endtrans %}</em>
</p>
