<!-- Start Top Navigation Block -->
<div id="navi" class="z-clearer">
    <div class="z-block z-blockposition-{{ position|lower }} z-bkey-{{ btype|lower }} z-bid-{{ bid }}">
        {{ content|raw }}
    </div>
</div>
<!-- End Top Navigation Block -->
