<!-- Start Top Navigation Block -->
<div class="z-block z-blockposition-{{ position|lower }} z-bkey-{{ btype|lower }} z-bid-{{ bid }}">
    <div id="navi" class="z-clearer">
        {{ content|raw }}
    </div>
</div>        
<!-- End Top Navigation Block -->
