/* Semi transparent overlay that hides the background */
div#pageLockOverlay {
    background-color: #333;
    filter: Alpha(Opacity=60);
    opacity: 0.60;
}

div#pageLockOverlayLED {
    width: 10px;
    height: 10px;
    padding: 0px;
    border: 1px solid #000;
    background-color: #b0001d;
    float: right;
}
