{gt text="Group membership" assign=templatetitle}
{include file="groups_admin_menu.htm"}

<div class="z-admincontainer">
    <div class="z-adminpageicon">{img modname=core src=agt_family.gif set=icons/large alt=$templatetitle}</div>
    <h2>{$templatetitle} ({$name|varprepfordisplay})</h2>
    <table class="z-admintable">
        <thead>
            <tr>
                <th>{gt text="User name"}</th>
                <th>{gt text="User ID"}</th>
                <th>{gt text="Actions"}</th>
            </tr>
        </thead>
        <tbody>
            {section name=groupmembers loop=$groupmembers}
            <tr class="{cycle values="z-odd,z-even"}">
                <td>{$groupmembers[groupmembers].uname|varprepfordisplay} {if $groupmembers[groupmembers].name neq ''}({$groupmembers[groupmembers].name|varprepfordisplay}){/if}</td>
                <td>{$groupmembers[groupmembers].uid|varprepfordisplay}</td>
                <td>
                    {assign var="options" value=$groupmembers[groupmembers].options}
                    {section name=options loop=$options}
                    <a href="{$options[options].url|varprepfordisplay}">{img src=$options[options].imgfile modname=core set=icons/extrasmall title=$options[options].title alt=$options[options].title}</a>
                    {/section}
                </td>
            </tr>
            {sectionelse}
            <tr class="z-admintableempty"><td colspan="4">{gt text="No items found."}</td></tr>
            {/section}
        </tbody>
    </table>
    {pager rowcount=$pager.numitems limit=$pager.itemsperpage posvar=startnum shift=1}
    <h2>{gt text="Add users to group"}</h2>
    <div class="group-membership-alphanav">
        [{pagerabc posvar="letter" separator="&nbsp;|&nbsp;" names="*;A;B;C;D;E;F;G;H;I;J;K;L;M;N;O;P;Q;R;S;T;U;V;W;X;Y;Z;?" forwardvars="module,type,func,gid"}&nbsp;]
    </div>
    <br />

    {if $uids}
    <form class="z-form" action="{modurl modname="Groups" type="admin" func="adduser"}" method="post" enctype="application/x-www-form-urlencoded">
        <div>
            <input type="hidden" name="authid" value="{insert name="generateauthkey" module="Groups"}" />
            <input type="hidden" name="gid" value="{$gid|varprepfordisplay}" />
            <fieldset>
                <div class="z-formrow">
                    <label for="groups_uid">{gt text="Users to add"}</label>
                    <select id="groups_uid" name="uid[]" multiple="multiple" size="10">
                        {html_options options=$uids}
                    </select>
                </div>
            </fieldset>
            <div class="z-buttons">
                {button src=button_ok.gif set=icons/extrasmall __alt="Add" __title="Add" __text="Add"}
            </div>
        </div>
    </form>
    {else}
    <p class="z-informationmsg">{gt text="Notice: Please select one or more users to add to the group. To select multiple users, use 'Shift-Click' or 'Control-Click'."}</p>
    {/if}
</div>
