name: Build archives
on:
  push:
    branches-ignore: [gh-pages]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout sources
      uses: actions/checkout@v1

    # persist composer's internal cache directory to reduce the workflow execution time
    - name: Get Composer cache directory
      id: composer-cache
      run: echo "::set-output name=dir::$(composer config cache-files-dir)"
    - name: Cache dependencies
      uses: actions/cache@v1
      with:
        path: ${{ steps.composer-cache.outputs.dir }}
        key: ${{ runner.os }}-composer-${{ hashFiles('composer.lock') }}
        restore-keys: ${{ runner.os }}-composer-

    - name: Build release artifacts
      run: ./.github/scripts/buildReleaseArtifacts.sh

    # see https://github.com/actions/upload-artifact
    - name: Upload release artifacts
      uses: actions/upload-artifact@master
      with:
        name: release-archives
        path: './build_work/archive'
