name: Update translations
on:
  schedule:
    - cron:  '0 12 */2 * *' # run every 2 days
jobs:
  update-translations:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout sources from master branch
      uses: actions/checkout@v1
      with:
        ref: master

    # persist composer's internal cache directory to reduce the workflow execution time
    - name: Get Composer cache directory
      id: composer-cache
      run: echo "::set-output name=dir::$(composer config cache-files-dir)"
    - name: Cache dependencies
      uses: actions/cache@v1
      with:
        path: ${{ steps.composer-cache.outputs.dir }}
        key: ${{ runner.os }}-composer-${{ hashFiles('composer.lock') }}
        restore-keys: ${{ runner.os }}-composer-

    - name: Install dependencies
      run: |
        composer install

    - name: Update translations
      run: |
        php -dmemory_limit=2G bin/console translation:extract zikula en

    # see https://github.com/peter-evans/create-pull-request
    - name: Commit changes and create/update pull request
      uses: peter-evans/create-pull-request@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        commit-message: 'update translations :speech_balloon:'
        title: Translation update
        body: This is an auto-generated PR with translation updates.
        labels: translation-updates
        branch: translation-updates
        branch-suffix: none

    - name: Check outputs
      run: |
        echo "Created pull request number: ${{ env.PULL_REQUEST_NUMBER }}"
