body {
    background-color: #ddd;
    margin: 10px;
    text-align: left;
}

.zikularoutesmodule-finderform fieldset,
.zikularoutesmodule-finderform fieldset legend {
    background-color: #fff;
    border: none;
}

#zikularoutesmoduleItemContainer {
    background-color: #eee;
    height: 300px;
    overflow: auto;
    padding: 5px;
}

#zikularoutesmoduleItemContainer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#zikularoutesmoduleItemContainer a {
    color: #000;
    margin: 0.1em 0.2em;
    text-decoration: underline;
}
#zikularoutesmoduleItemContainer a:hover,
#zikularoutesmoduleItemContainer a:focus,
#zikularoutesmoduleItemContainer a:active {
    color: #900;
    text-decoration: none;
}

#zikularoutesmoduleItemContainer a img {
    border: none;
}

#zikularoutesmoduleItemContainer a img {
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    padding: 0.5em;
}
#zikularoutesmoduleItemContainer a:hover img,
#zikularoutesmoduleItemContainer a:focus img,
#zikularoutesmoduleItemContainer a:active img {
    background-color: #fff;
}
