/* view pages */
div#z-maincontent.z-module-routes table tbody tr td {
    vertical-align: top;
}

/* display pages */
.zikularoutesmodule-display.with-rightbox div.panel {
    float: left;
    width: 79%;
}
.zikularoutesmodule-display div.zikularoutesmodule-rightbox {
    float: right;
    margin: 0 1em;
    padding: .5em;
    width: 20%;
    /*border: 1px solid #666;*/
}

.zikularoutesmodule-display div.zikularoutesmodule-rightbox h3 {
    color: #333;
    font-weight: 400;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}

.zikularoutesmodule-display div.zikularoutesmodule-rightbox p.managelink {
    margin-left: 18px;
}
/* validation */
div.form-group input.required, div.form-group textarea.required {
    border: 1px solid #00a8e6;
}

.validation-advice {
    margin: 5px 0;
    padding: 5px;
    background-color: #f90;
    color: #fff;
    font-weight: 700;
}
div.zikularoutesmodule-view form.zikularoutesmodule-quicknav {
    margin: 10px 0;
    padding: 8px 12px;
    border: 1px solid #ccc;
}

div.zikularoutesmodule-view form.zikularoutesmodule-quicknav fieldset {
    padding: 3px 10px;
    margin-bottom: 0;
}

div.zikularoutesmodule-view form.zikularoutesmodule-quicknav fieldset h3 {
    margin-top: 0;
    display: none;
}

div.zikularoutesmodule-view form.zikularoutesmodule-quicknav fieldset #num {
    width: 50px;
    text-align: right;
}
