# ----------------------------------------------------------------------
# This file is required for short urls to function.
# ----------------------------------------------------------------------

# turn the rewriting engine on
RewriteEngine On

# For rewriting to work you might need allow overrides, e.g.:
#Options FollowSymlinks

# rewrite any unknown directories and files
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-L
RewriteRule ^(.*)$ index.php [NC,L]
